<div class="header">
	<div class="logo">
		<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/logo.png">
	</div>
	<div class="navBar">
		<ul>
			<li class="activeTab">Flights</li>
			<li><a jqrouter href="/bus/search">Hotels</a></li>
			<li>Activities</li>
			<li>Bus</li>
			<li class="more-tab">
				<i class="icons-more-white more"></i>
			</li>
		</ul>
	</div>
	<div class="headerRightBar">
		<div class="country">IND</div>
		<div class="rsSign">₹</div>
		<!-- if(data.loggedin){ -->
			<div class="registerSignIn"> Hi {{data.name}}</div>
		<!-- } else { -->
			<div class="registerSignIn">
				<span>Register</span> /
				<span>SIGN IN</span>
			</div>
		<!-- } -->
	</div>
</div>
