<div class="api_body">
	<ol class="breadcrumb">
	  <li><a jqrouter href="modules">Home</a></li>
	  <li class="active">{{data.moduleNname}}</li>
	</ol>
	<jq-tab value="demo" id="">
	<jq-tab-heads>
		<jq-tab-head value="info">Info</jq-tab-head>
		<jq-tab-head value="api">API Docs</jq-tab-head>
		<jq-tab-head value="demo">Demo</jq-tab-head>
		<jq-tab-head value="install">Installation</jq-tab-head>
	</jq-tab-heads>
	
	<jq-tab-pane tab="info" id="info">
	<xmp theme="united" style="display:none;">
		No info Available
	</xmp>
	</jq-tab-pane>
	<jq-tab-pane tab="api" id="api">No api documents available</jq-tab-pane>
	<jq-tab-pane tab="demo" id="demo">No Demo aailable</jq-tab-pane>
	<jq-tab-pane tab="install" id="install">No Installation details aailable</jq-tab-pane>
</jq-tab>	
</div>
