<div class="api_body">
	<div class="row">
		<div class="col-lg-12">
			<div class="input-group">
				<input type="text" class="form-control" placeholder="Search for...">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button">
						Go!
					</button> </span>
			</div>
		</div>
	</div>
	<div class="list-group" class="col-lg-10" >
		<!-- for(var i in data.list){ -->
		<a jqrouter href="module/{{data.list[i].module}}" class="list-group-item" > <h4 class="list-group-item-heading">{{data.list[i].module}}</h4>
		<p class="list-group-item-text">
			{{data.list[i].module}}
		</p> </a>
		<!-- } -->
	</div>
</div>
