<div class="listViewType">
	<span class="listView selected">List View</span><span class="listView">Timeline</span>
</div>

<div class="flightFilter">
	<span><i>13 of 150</i> flights </span>
	<span>Clear filters</span>
</div>

<div class="commonFilters">
	<div class="filterHd active">
		Price
	</div>
	<div class="filterContain">
		<div class="sliderMeter">
			<div class="fareRange">
				<jq-slider id="pricerange" min={{data.price.min}} max={{data.price.max}} value={{data.price.value}}></jq-slider>
			</div>
			<input type="text" readonly class="priceForm amount"
			 value='{{"₹" + data.price.value[0] + " - ₹"+ data.price.value[1]}}'>
			<input type="text" readonly class="priceForm amount slider-sec-input"
			value='{{"₹" + data.price.value[0] + " - ₹"+ data.price.value[1]}}'
			>
		</div>
	</div>
</div>

<div class="commonFilters">
	<div class="filterHd active">
		Stops
	</div>
	<div class="filterContain">
		<div class="stopsCheckbox">
			<input type="checkbox" id="test2">
			<label for="test2">0</label>
		</div>
		<div class="stopsCheckbox">
			<input type="checkbox" id="test3">
			<label for="test3">1</label>
		</div>
		<div class="stopsCheckbox">
			<input type="checkbox" id="test4">
			<label for="test4">2</label>
		</div>
		<div class="stopsCheckbox">
			<input type="checkbox" id="test5">
			<label for="test5">3+</label>
		</div>
	</div>
</div>

<div class="commonFilters">
	<div class="filterHd active">
		Fairs
	</div>
	<div class="filterContain">
		<div class="stopsCheckbox">
			<input type="checkbox" id="test6">
			<label for="test6">Refundable Fares only</label>
		</div>
	</div>
</div>

<div class="commonFilters">
	<div class="filterHd active">
		Airlines <i>Select all</i>
	</div>
	<div class="filterContain">
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test7">
			<label for="test7">Air India</label><i>Only</i>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test8">
			<label for="test8">Go Air</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test9">
			<label for="test9">IndiGo</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test10">
			<label for="test10">Jet Airways</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test11">
			<label for="test11">JetKonnect</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test12">
			<label for="test12">SpiceJet</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test13">
			<label for="test13">JetKonnect</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test14">
			<label for="test14">JetKonnect</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test15">
			<label for="test15">JetKonnect</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test16">
			<label for="test16">JetKonnect</label>
		</div>
		<div class="aerlineCheckbox">
			<span>Show All</span>
		</div>
	</div>
</div>

<div class="commonFilters">
	<div class="filterHd active">
		Departure Time
	</div>
	<div class="filterContain">
		<div class="sliderMeter">
			<div class="fareRange"></div>
			<input type="text" readonly class="priceForm amount">
			<input type="text" readonly class="priceForm amount slider-sec-input">
		</div>
	</div>
</div>

<div class="commonFilters">
	<div class="filterHd active">
		Landing Time
	</div>
	<div class="filterContain">
		<div class="sliderMeter">
			<div class="fareRange"></div>
			<input type="text" readonly class="priceForm amount">
			<input type="text" readonly class="priceForm amount slider-sec-input">
		</div>
	</div>
</div>

<div class="commonFilters">
	<div class="filterHd active">
		Maximum Duration
	</div>
	<div class="filterContain">
		<div class="sliderMeter">
			<div class="fareRange"></div>
			<input type="text" readonly class="priceForm amount">
			<input type="text" readonly class="priceForm amount slider-sec-input">
		</div>
	</div>
</div>

<div class="commonFilters">
	<div class="filterHd active">
		Airports
	</div>
	<div class="filterContain">
		<div class="aerlineCheckbox">
			<span class="cityHd">Mumbai</span>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test17">
			<label for="test17">BOM: Chhatrapati Shivaji…</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test18">
			<label for="test18">DEL: Indira Gandhi Inter…</label>
		</div>
	</div>
</div>

<div class="commonFilters">
	<div class="filterHd active">
		Layover Airports <i>Select all</i>
	</div>
	<div class="filterContain">
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test19">
			<label for="test19">Kolkata (CCU)</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test20">
			<label for="test20">Ahmedabad (AMD)</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test21">
			<label for="test21">Agra (AGR)</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test22">
			<label for="test22">Jaipur (JAI)</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test23">
			<label for="test23">Nagpur (NAG)</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test24">
			<label for="test24">Pune (PNQ)</label>
		</div>
	</div>
</div>

<div class="commonFilters">
	<div class="filterHd active">
		Layover Duration
	</div>
	<div class="filterContain">
		<div class="sliderMeter">
			<div class="fareRange"></div>
			<input type="text" readonly class="priceForm amount">
			<input type="text" readonly class="priceForm amount slider-sec-input">
		</div>
	</div>
</div>

<div class="commonFilters">
	<div class="filterHd active">
		Flight Quality <i>Select all</i>
	</div>
	<div class="filterContain">
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test25">
			<label for="test25">Remove Red-Eye Flights</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test26">
			<label for="test26">Remove Change Terminal Flights</label>
		</div>
		<div class="aerlineCheckbox">
			<input type="checkbox" id="test27">
			<label for="test27">Remove Change Airport Flights</label>
		</div>
	</div>
</div>