<div class="searchBarMain">
	<include src="at.flights.header.html" data=data />
</div>
<div class="containWrapper">
	<!-- // start here -->
	<div class="leftBar flights">
		<include src="at.flights.filter.html" data=data.filterData />
	</div>
	<!-- // end here -->

	<!-- // start here -->
	<div class="rightBar flights" >
		<include src="at.flights.results.html" data=data />
	</div>
	<!-- // end here -->
</div>
