<div class="searchBar">
	<!-- // start here -->
	<div class="formBar formBarTop">
		<!-- // start here -->
		<div class="left-single-search-bar">
			<div class="formLocation">
				<div class="toWidth">
					<div class="tag textInput il ir">
						<input type="text" placeholder="Origin">
						<div class="icon-left">
							<i><i class="icons-location"></i> </i>
						</div>
						<div class="icon-right">
							<i><i class="icons-plus"></i> </i>
						</div>
					</div>
				</div>
				<div class="interchange">
					<i class="icons-interchange"></i>
				</div>
				<div class="toWidth">
					<div class="tag textInput il ir">
						<input type="text" placeholder="Destination">
						<div class="icon-left">
							<i><i class="icons-destination"></i> </i>
						</div>
						<div class="icon-right">
							<i><i class="icons-plus"></i> </i>
						</div>
					</div>
				</div>
			</div>
			<div class="formCalender">
				<div class="calDiv">
					<div class="tag textInput il ir">
						<input type="text" placeholder="Departing">
						<div class="icon-left">
							<i><i class="icons-calendar"></i> </i>
						</div>
					</div>
				</div>
				<div class="calDiv">
					<div class="tag textInput il ir">
						<input type="text" placeholder="Returning">
						<div class="icon-left">
							<i><i class="icons-calendar"></i> </i>
						</div>
						<div class="icon-right">
							<i><i class="icons-close"></i> </i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="right-single-search-bar">
			<div class="formGuest">
				<div class="dropdownDiv">
					<div class="tag textInput il dropdown flightPessengerCount" data-fieldtype="flightPessengerCount">
						<input type="text" placeholder="1 Adult">
						<div class="icon-left">
							<i><i class="icons-customer"></i> </i>
						</div>
						<ul class="ui-flightCountBox">
							<li>
								<span class="label">Adults</span><span class="plus">+</span><span class="input">
									<input type="text" class="Adults" value="0">
								</span><span class="minus">-</span>
							</li>
							<li>
								<span class="label">Children</span><span class="plus">+</span><span class="input">
									<input type="text" class="Children" value="0">
								</span><span class="minus">-</span>
							</li>
							<li>
								<span class="label">Infants</span><span class="plus">+</span><span class="input">
									<input type="text" class="Infants" value="0">
								</span><span class="minus">-</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="formButton">
				<div class="buttonDiv">
					<button class="button fill" type="button">
						Search Flights
					</button>
				</div>
			</div>
		</div>
		<!-- // end here -->
	</div>
	<!-- // end here -->

	<!-- // start here -->
	<div class="formBar formBarBot">
		<div class="textDiv">
			<div class="regularNav">
				<a href="#" title="">Regular</a>/ <a href="#" title="">Multicity</a>
			</div>
			<div class="regularNav">
				<label>Class:</label>
				<span>Economy</span>
			</div>
			<div class="regularNav">
				<input type="checkbox" id="test1">
				<label for="test1">Non-stop flights only</label>
			</div>
			<div class="regularNav">
				<div class="recentSearches">
					<i class="icons-search"></i>Recent searches
				</div>
			</div>
		</div>
	</div>
	<!-- // end here -->
</div>
