@import "http://fonts.googleapis.com/css?family=Open+Sans:400;300";
@import "http://fonts.googleapis.com/css?family=Raleway:900";
@import "http://fonts.googleapis.com/css?family=Roboto+Slab";
/* line 1, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
.boxtree {
  position: relative;
}
/* line 3, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
.boxtree .item > jq-repeat-panel {
  display: list-item;
  position: relative;
}
/* line 6, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
.boxtree .item > jq-repeat-panel::before, .boxtree .item > jq-repeat-panel::after {
  content: "";
  position: absolute;
  left: -54px;
}
/* line 11, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
.boxtree .item > jq-repeat-panel::before {
  border-top: 1px solid #000;
  top: calc(50% - 7px);
  width: 50px;
  height: 0;
}
/* line 17, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
.boxtree .item > jq-repeat-panel::after {
  border-left: 1px solid #000;
  width: 0px;
  top: 2px;
  height: 100%;
}
/* line 23, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
.boxtree .item > jq-repeat-panel:last-child::after {
  height: 8px;
}
/* line 26, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
.boxtree .item > jq-repeat-panel:first-of-type::after {
  margin-top: 8px;
}
/* line 32, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
.boxtree ul {
  position: relative;
  list-style: none;
  padding-left: 74px;
}
/* line 37, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
.boxtree [boxtree-node] {
  left: 4px;
  position: absolute;
  top: calc(50% - 17px);
}
/* line 42, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
.boxtree jq-repeat-remove {
  position: absolute;
  top: calc(50% - 17px);
  left: -28px;
}

/* line 51, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
.divEntity, .divRelation, .divValue {
  float: left;
}

/* line 55, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
at-query {
  display: inline-block;
}

/* line 58, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
at-query .divValue .btn-group.bootstrap-select.value {
  width: 300px;
}

/* line 62, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
jq-repeat-default {
  display: none;
}

/* line 69, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
at-query .divValue jq-repeat-push {
  position: absolute;
  right: 0px;
}
/* line 74, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
at-query .divValue jq-repeat {
  position: relative;
  width: 350px;
  display: inline-block;
}
/* line 80, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
at-query .divValue jq-repeat-panel {
  position: relative;
  width: 320px;
  display: inline-block;
}
/* line 85, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
at-query .divValue jq-repeat-panel jq-repeat-remove {
  display: block;
  float: right;
  left: 340px;
  position: absolute;
  right: 0;
  top: 7px;
}
/* line 95, ../../../../../../lib/aertrip/assignment/boxtree/_boxtree.scss */
at-query .holder {
  cursor: pointer;
  width: 30px;
}
