//background color
$background: #f6f6f6;


//Green Shades
$green : #00a67c;
$dark-green:	#006c51;
$light-green : #00cc99;
$x-light-green : #cbe9da;
$x-x-light-green: #e5f2ef;
/**New Grayscale Color Add**/
$xx-light-green: #acded1;
$xx-x-light-green: #009966;
$xx-x-x-light-green: #caded9;
$xx-x-x-x-light-green: #b2e4d7;
$xx-x-x-x-x-light-green: #8ec1b4;
$xx-x-x-x-x-x-light-green: #ced9d7;
$xx-x-x-x-x-x-x-light-green: #00a185;
$xx-x-x-x-x-x-x-x-light-green: #33d6ad;
$xxx-light-green: #15c7ac;
$xxx-x-light-green: #e5faf5;



//Black Shades
$black : #000000;
$x-black : #303030;
$gray : #333333;
$light-gray : #666666;
$x-light-gray : #999999;
$x-x-light-gray: #cccccc;
$x-x-x-light-gray:#dfdfdf;
$x-x-x-x-light-gray:#f5f5f5;
$x-x-x-x-x-light-gray:#f2f2f2;
//New Add Grayscale
$xx-gray : #494949;
$xx-x-gray : #e5e5e5;
$xx-light-gray : #7b7b7b;
$xx-x-light-gray : #e0e0e0;
$xx-x-x-light-gray:	#d6d6d6;
$xx-x-x-x-light-gray: #313131;
$xx-x-x-x-x-light-gray:	#b2b2b2;
$xx-x-x-x-x-x-light-gray: #e8e8e8;
$xx-x-x-x-x-x-x-light-gray:	#e6e6e6;
$xx-x-x-x-x-x-x-x-light-gray: #dadada;
$xx-x-x-x-x-x-x-x-x-light-gray: #bec2c2;
$xx-x-x-x-x-x-x-x-x-x-light-gray: #b4b4b4;
$xx-x-x-x-x-x-x-x-x-x-x-light-gray:	#dddddd;
$xx-x-x-x-x-x-x-x-x-x-x-x-light-gray: #414042;
$xx-x-x-x-x-x-x-x-x-x-x-x-x-light-gray:	#e9e9e9;
$xx-x-x-x-x-x-x-x-x-x-x-x-x-x-light-gray: #bdbdbd;
$xxx-gray : #dcdcdc;
$xxx-x-gray : #dbdbdb;
$xxx-x-x-gray : #a1a1a1;
$xxx-x-x-x-gray : #eeeeee;
$xxx-x-x-x-x-gray : #d9d9d9;
$xxx-x-x-x-x-x-gray : #cfcfcf;
$xxx-x-x-x-x-x-x-gray : #979797;
$xxx-x-x-x-x-x-x-x-gray : #878787;
$xxx-x-x-x-x-x-x-x-x-gray : #e1e1e1;
$xxx-x-x-x-x-x-x-x-x-x-gray : #ededed;


//Red Shades
$purered: #ff0000;
$red: #ff3333;
$light-red:	#ea4b35;
$x-red:	#f44336;
$xx-red: #fb8181;
$dark-red: #cf1900;
$x-dark-red: #c23824;
$x-x-dark-red: #ff5252;


//Blue Shades
$blue: #1e88e5;
$light-blue: #ace9da;
$x-light-blue: #b5d5f1;
$x-x-light-blue: #3c5b9b;
$x-x-x-light-blue: #2daae1;
$x-x-x-x-light-blue: #227fbb;


//Transparent Bg
$transparent:transparent;

//White Shades
$white: #ffffff;
$x-white: #f8f8f8;
$xx-white: #f0f0f0;


//Maroon Shades
$maroon: #9c55b8;


//Chochlate Shades
$choch: #e87e04;


//Yellow Shades
$yellow : #ffb300;
$dark-yellow : #f8b908;
$x-yellow : #fb8c00;
$x-x-yellow : #f8d6ac;
$x-x-x-yellow : #ffbd00;
$x-x-x-x-yellow : #f2c500;
$x-x-x-x-x-yellow : #ffeb99;
$x-x-x-x-x-x-yellow : #ffff99;


//Social Shades
$fb: #3c578f;
$fb-dark: #263f72;
$google: #de513b;
$google-dark: #c54835;
$twitter: #45b0e3;
$twitter-dark: #40a2d1;
$linkedin: #0077b3;
$linkedin-dark: #006699;


//Shadow color and shadow
$gray-shdow-color : rgba(0, 0, 0, 0.12);

//Dropdown Color settings
$dropdown-background-color: $white;
$dropdown-shadow-color : $gray-shdow-color;
$drodown-border-color: $x-x-x-light-gray;
$dropdown-option-background-hover-color: $light-green;
$dropdown-option-hover-color: $white;

$dropdown-flightCount-option-seprate-border-color: $x-x-light-gray;
$dropdown-flightCount-option-hover-color: $black;
$dropdown-flightCount-option-hover-background: $white;
$dropdown-flightCount-option-input-color: $light-green;
$dropdown-flightCount-option-input-background: $x-x-x-x-light-gray;
$dropdown-flightCount-plus-minus-color: $x-light-gray;
$dropdown-flightCount-plus-minus-hover-color: $black;


// textfield color settings
$textinput-border-color : $x-x-light-gray;
$textInput-background-color : $white;
$textInput-focus-border-color : $light-green;
$textInput-focus-error-color : $red;
$textInput-focus-warning-color : $yellow;
$textInput-text-color : $black;
$textInput-disabled-border-color : $x-x-x-light-gray;
$textInput-disabled-text-color : $x-x-light-gray;
$textInput-disabled-background-color : $x-x-x-x-light-gray;
$textInput-embed-label-background-color : $light-green;
$textInput-embed-label-hover-background-color : $x-light-gray;
$textInput-embed-label-color : $white;


// Button color settings
$button-border-color : $green;
$button-hover-dropshadow-color : $dark-green;
$button-disabled-border-color : $x-x-light-gray;
$button-hover-color :  $white;

$button-filled-background-color : $light-green;
$button-filled-color :  $white;
$button-filled-disabled-background-color: $x-x-light-gray;
$button-filled-disabled-color: $white;

$button-line-background-color : transparent;
$button-line-color :  $light-green;
$button-line-disabled-background-color: transparent;
$button-line-disabled-color:  $x-x-light-gray;

$button-text-hover: $dark-green;
$button-text-color :  $light-green;
$button-text-disabled-color:  $x-x-light-gray;


// Checkbox Color Settings
$checkbox-bg: $white;
$checkbox-border-color: $x-x-light-gray;
$checkbox-checked-bg: $light-green;
$checkbox-checked-color: $white;
$checkbox-disabled-bg-color: $white;
$checkbox-disabled-color: $x-x-light-gray;

// Radio Color settings
$radio-bg: $white;
$radio-border-color: $x-x-light-gray;
$radio-checked-bg: $light-green;
$radio-checked-color: $white;
$radio-disabled-bg-color: $white;
$radio-disabled-color: $x-x-light-gray;

//Map color settings
$zoom-in-out-border-color: $x-x-light-gray;
$zoom-in-out-background-color: $white;
$zoom-in-out-hover-background-color: $x-x-x-x-x-light-gray;
$resize-background-color: $light-green;


//Pagination color settings
$pagination-background-color: $white;
$pagination-selected-background-color: $light-green;
$pagination-border-color: $x-x-light-gray;
$pagination-font-color : $black;
$pagination-hover-font-color : $white;
$pagination-hover-border-color: $light-green;





