.addon-inprocess-drop{
	padding: 0 0 0 0;
	width: 443px;
  	overflow: hidden;
  	background: $white;
  	border-radius: 3px;
  	border: 1px solid $xx-x-gray;
  	box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.12);
  	
  			.location-heading{
  				width: 443px / 443px * 100%;
  				padding: 16px 0 6px 0;
  				overflow: hidden;
  				
  					.going-hd{
  						width: 220px / 443px * 100%;
  						padding:0 0 0 22px;
  						float:left;
  						font-size: 16px;
						color: $black;
						font-weight: 400;
  					}
  					
  					.returning-hd{
  						@extend .going-hd;
  						width: 201px / 443px * 100%;
  						padding: 0 0 0 0;
  					}
  			}
  			
  			.journey-all-info{
  				width: 443px / 443px * 100%;
  				padding: 0 0 0 0;
  				
  					.going-journey-info{
  						width: 220px / 443px * 100%;
  						padding: 0 0 8px 22px;
  						float:left;
  						
  							.all-acces-info{
  								 padding: 0 0 8px 0;
  								
  									span:nth-child(1){
		  								display: block;
										font-size: 14px;
										color: $light-gray;
										font-weight: 400;
										padding: 0 0 0 15px;
		  							}
		  							
		  							span:nth-child(2){
		  								display: block;
										font-size: 14px;
										color: $black;
										font-weight: 400;
										padding: 0 0 0 15px;
		  							}
  							}
  					}
  					
  					.returning-journey-info{
  						@extend .going-journey-info;
  						width: 201px / 443px * 100%;
  						padding: 0 0 0 0;
  					}
  			}
  			
  			.price-total-bottom{
  				width: 443px / 443px * 100%;
  				padding: 0 0 0 0;
  				overflow: hidden;
  				border-top:1px solid $xx-x-gray;
  				line-height: 40px;
  				
  					.price-bot{
  						width: 220px / 443px * 100%;
  						padding:0 0 0 22px;
  						float:left;
  						font-size: 16px;
						color: $black;
						font-weight: 400;
  					}
  					
  					.total-rs{
  						@extend .price-bot;
  						width: 180px / 443px * 100%;
  						padding: 0 20px 0 0;
						text-align: right;
  					}
  			}
}