.arrival-perf-popup{
    border:1px solid $xxx-x-x-x-x-x-gray;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;

        h3{
          padding: 0 0 7px 0;
          margin: 0;
          font-size: 14px;
          color: $black;
          font-weight: 600;
          line-height: 26px;
        }

        .arrival-graph-main{
            overflow: hidden;

                .time-left-label{
                  width:75px;
                  float:left;

                      label{
                          padding-right: 5px;
                          font-size: 14px;
                          color: $light-gray;
                          text-align: right;
                          display: block;
                      }

                      .ontime-padding{padding-top:15px;}
                      .late-padding{padding-top:12px;}
                      .can-padding{padding-top:5px;}
                }

                .time-right-data{
                  width:205px;
                  float:left;

                      .per-graph-meter-main{
                          padding:0;

                              .per-graph-meter{
                                  padding:0;
                                  position: relative;
                                  margin: 0 0 10px 5px;
                                  top: 14px;

                                      .righttime-meter{
                                        background: $light-green;
                                        height: 22px;
                                        display: inline-block;
                                        margin: -4px 0 0 0;
                                      }

                                      .late-meter{
                                        @extend .righttime-meter;
                                        background: $x-x-x-yellow;
                                      }

                                      .cancelled-meter{
                                        @extend .righttime-meter;
                                        background: $purered;
                                      }

                                      i{
                                        font-style:normal;
                                        font-size:12px;
                                        color:$black;
                                        position: relative;
                                        top: -7px;
                                      }
                                }
                      }

                      .graph-box{
                        width:195px / 195px * 100%;
                        height: 111px;
                        padding:0 5px 0 5px;
                        margin: -96px 0 0 0;

                            .per-box-span{
                                width:45px / 200px * 100%;
                                padding:0;
                                margin:0;
                                float: left;
                                height: 111px;
                                display:inline-block;
                                border-left:1px solid $x-x-light-gray;
                            }

                            .per-box-span-last{
                                @extend .per-box-span;
                                width:44px / 200px * 100%;
                                border-right:1px dashed $x-x-light-gray;
                            }
                      }

                      .graph-percentage{
                        width:200px / 200px * 100%;
                        height:auto;
                        padding: 0 0 8px 0;

                            .per-name{
                                font-size: 12px;
                                font-weight: 300;
                                color: $light-gray;
                                width: 38px;
                                display: inline-block;
                            }

                            .fifty-per{text-align: center;}
                            .hun-per{text-align: right;}
                      }
                }
        }

        .bottom-text{
          font-size: 12px;
          color: $light-gray;
          font-weight: 400;
          padding: 0;
          margin: 0;
        }
}