.squareWhiteBox{
    padding: 30px;
    width: 100%;
    height:auto;
    background: $white;
    border:1px solid $xx-x-light-gray;
    box-shadow: 0 1px 8px 1px $gray-shdow-color;
}

.squareNormalWhiteBox{
  @extend .squareWhiteBox;
  background: $white;
  box-shadow: none;
  border-color:$x-x-light-gray;
}

.squareBlackBox{
  @extend .squareWhiteBox;
  border:none;
  background: $xx-gray;
  box-shadow: none;
}

.squareTransBox{
  @extend .squareWhiteBox;
  border:1px solid $xx-light-green;
  box-shadow: none;
  background: $transparent;
}

.squareGreenBox{
  @extend .squareTransBox;
  background: $x-light-green;
}

.roundedGreenBox{
  width: 100%;
  height:auto;
  overflow: hidden;
  border:5px solid $light-green;
  border-radius:15px;

      .headingBar{
        padding: 0 0 0 30px;
        height:60px;
        background:$light-green;
        line-height: 58px;
      }

      .contentBar{
        height:auto;
        background:$white;
      }
}

.roundedGrayBox{
  @extend .roundedGreenBox;
  border-color:$x-x-light-gray;

      .headingBar{
        background:$x-x-light-gray;
      }
}