.busSemiSleeper{
    padding:0;
    overflow: hidden;
    width:375px;

        ul{
            list-style:none;
            padding: 0;
            margin: 0;

                li{
                    padding: 0 13px 0 0;
                    float: left;
                    cursor: pointer;

                        i{display:inline-block;}
                }

                .centerSeat{
                    padding: 0;
                    margin: 0 0 0 342px;
                }

                .sleeperSeat{
                    padding: 0 11px 0 0;
                }

                .sleeperSeatAvl{
                    padding: 0 11px 0 0;
                }

                .last{
                    @extend li;
                    padding: 0 0 0 0;
                    margin: 0;
                }
        }
}