.bus-return-dest-tab{
      border-top: 1px solid $x-x-light-gray;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid $x-x-light-gray;
      overflow: hidden;

          i{
            display: block;
            float: right;
            opacity: 0.4;
            margin: 10px 10px 0 0;
            cursor: pointer;
          }

          h3{
            padding: 27px 0 33px 0;
            margin: 0;
            font-weight: 400;
            font-size: 24px;
            text-align: center;
            color: $light-green;

                b{
                  font-size: 18px;
                  color: $light-gray;
                  font-weight: 400;
                }
          }

          .hd-date-price{
              padding: 9px 0 10px 33px;

                  h3{
                    padding: 0;
                    margin: 0;
                    font-size: 20px;
                    display: inline-block;
                    text-align: left;

                        b{color: $x-light-gray; font-size:18px;}
                  }

                  span{
                    font-size: 20px;
                    color: $black;
                    font-weight: 600;
                    padding: 0 0 0 14px;
                  }
          }

          .bus-choach-details-box{
              padding: 0 0 10px 33px;
              overflow: hidden;

                  .bus-name-seat{
                      padding: 0 10px 0 0;
                      border-right: 1px solid #dedede;
                      float: left;
                      line-height: 20px;

                          span:nth-child(1){
                            display: block;
                            font-size: 14px;
                            color: $black;
                            font-weight: 400;
                          }

                          span:nth-child(2){
                            display: block;
                            font-size: 14px;
                            color: $x-light-gray;
                            font-weight: 400;
                          }
                  }

                  .bus-time-seatno{
                      @extend .bus-name-seat;
                      padding:0 0 0 10px;
                      border:none;

                           span:nth-child(1){
                              color: $x-light-gray;
                            }

                            span:nth-child(2){
                              color: $black;
                            }
                  }
          }

          .skip-h3-padd{padding: 19px 0 4px 0 !important;}

          h5{
            text-align: center;
            padding: 0 0 18px 0;
            margin: 0;
            font-weight: 400;
            color: $xxx-light-green;
            font-size: 14px;
            cursor: pointer;
          }
}

.return-selected{
      border-bottom: 3px solid $light-green !important;
      background: $white !important;

        i{display:none !important;}

        h3{margin: -2px 0 0 0 !important;}
}