.busOnlySleeperSeats{
    padding:0;
    overflow: hidden;
    width:386px;

        ul{
            list-style:none;
            padding: 0;
            margin: 0;

                li{
                    padding: 0 14px 0 0;
                    float: left;
                    cursor: pointer;

                        i{display:inline-block;}
                }

                .centerSeat{
                    padding: 0;
                    margin: -27px 0 0 358px;
                }

                .sleeperSeat{
                    padding: 0 10px 0 0;
                }

                .sleeperSeatAvl{
                    padding: 0 11px 0 0;
                }

                .last{
                    @extend li;
                    padding: 0 0 0 0;
                    margin: 0;
                }

                .midSep{
                      margin: 24px 0 0 0;
                      /* overflow: hidden; */
                      float: left;
                }
        }
}