.bus-travellers-tab{
    padding:0;

        .dest-name-loc{
            font-size: 14px;
            color: #333333;
            text-align: center;
            line-height: 40px;
            border-bottom: 1px dashed #c2c2c2;
        }

        .ul-tab-margin{margin:0 0 0 23% !important;}
}