.busBookingTabs{
    padding: 0 0 0 0;
    margin: 0 auto;
    height: auto;
    background:$white;

        .busBookingData{
            width:943px / 943px * 100%;
            display: flex;
            padding: 13px 0 13px 0;

                .busCompany{
                    width:248px / 943px * 100%;
                    float:left;
                    padding: 0 0 0 15px;
                    line-height: 24px;

                        .busName{
                            color:$black;
                            font-size:15px;
                            font-weight: 600;
                        }

                        .busClass{
                            color:$x-light-gray;
                            font-size:14px;
                        }
                }

                .pickupPoints{
                    @extend .busCompany;
                    width:80px / 943px * 100%;
                    padding: 0 0 0 0;

                        .timings{
                            color:$black;
                            font-size:20px;
                            font-weight: 600;
                        }

                        .points{
                            color:$light-green;
                            font-size:13px;
                            cursor: pointer;
                        }
                }

                .busDuration{
                    @extend .busCompany;
                    width:76px / 943px * 100%;
                    padding: 0 0 0 0;
                    color:$black;
                    font-size:16px;
                }

                .dropPoints{
                    @extend .pickupPoints;
                }

                .busSeats{
                    @extend .busCompany;
                    width:90px / 943px * 100%;
                    padding: 0 0 0 0;

                        .seatLeft{
                            color:$gray;
                            font-size:14px;
                        }

                        .windowLeft{
                            color:$x-light-gray;
                            font-size:14px;
                        }
                }


                .busStarRatings{
                    @extend .busCompany;
                    width:105px / 943px * 100%;
                    padding: 0 0 0 0;

                        .busStar{
                            color:$gray;
                            font-size:14px;
                        }

                        .busReviews{
                            color:$x-light-gray;
                            font-size:14px;
                        }
                }

                .ticketPrice{
                    @extend .busCompany;
                    width:90px / 943px * 100%;
                    padding: 0 0 0 0;
                    font-size: 24px;
                    color:$black;
                    font-weight: 600;
                    line-height: 45px;
                }

                .busBookButtons{
                    @extend .busCompany;
                    width:112px / 943px * 100%;
                    padding: 4px 18px 0 0;
                    text-align: right;
                }

                .busMore{
                    @extend .busCompany;
                    width:25px / 943px * 100%;
                    padding: 0 0 0 0;

                        span{
                            display: inline-block;
                            margin: 12px 0 0 0;
                            cursor: pointer;

                                i{display: inline-block;}
                        }
                }
        }
}