.button{
	height: 35px;
	display:inline-block;
	position:relative;
	@extend .radius5px ;
	@extend .border-box;
	padding: 0 15px;
	border: 1px solid $button-filled-background-color;
	outline: none;
	cursor:pointer;
	font-size:14px;
	font-weight:600;
	transition: all .2s;
	white-space: nowrap;
	
	&.fill{
		background: $button-filled-background-color;
		color: $button-filled-color;
		border: 1px solid $green;
		&.disabled, &[disabled="disabled"]{
			background: $button-filled-disabled-background-color;
			color: $button-filled-disabled-color;
			border: 1px solid $button-disabled-border-color;
			&:hover{
				@include box-shadow(0 0 0 $button-hover-dropshadow-color);
			}
		}
	}
	
	&.line{
		background: $button-line-background-color;
		color: $button-line-color;
		&.disabled, &[disabled="disabled"]{
			background: $button-line-disabled-background-color;
			color: $button-line-disabled-color;
			border: 1px solid $button-disabled-border-color;
			&:hover{
				@include box-shadow(0 0 0 $button-hover-dropshadow-color);
			}
		}
	}
	
	&.text{
		border: 0 none;
		line-height: 20px;
		height: 25px;
		background: none;
		color:$button-text-color;
		text-decoration:underline;
		&:hover,&.hover{
			@include box-shadow(none);
			background: none;
			color: $button-text-hover;
		}
		
		&.disabled, &[disabled="disabled"]{
			background: none;
			color: $button-text-disabled-color;
			border: 0;
			&:hover{
				@include box-shadow(none);
			}
		}
	}
	
	
	&:hover,&.hover{
			@include box-shadow(0 1px 0 $button-hover-dropshadow-color);
			background: $button-filled-background-color;
			color: $button-hover-color;
			border: 1px solid $button-border-color;
	}
}