.cabFareSummaryTable{
    border:1px solid $xx-x-gray;
    width:763px / 763px * 100%;

        .topHdRow{
            border-bottom:1px solid $xx-x-gray;
            background: $x-white;
            overflow: hidden;

                .leftInfo{
                    width:325px / 763px * 100%;
                    float:left;

                        .particularsHd{
                            line-height: 50px;
                            margin: 0;
                            color: $black;
                            font-size: 14px;
                            font-weight: 600;
                            padding: 0 0 0 20px;
                        }
                }

                .centerInfo{
                    @extend .leftInfo;
                    width:254px / 763px * 100%;

                        .dayTimeHd{
                            @extend .particularsHd;
                            padding:0 0 0 0;
                            line-height: 30px;
                        }

                        .timeInfo{
                            font-size: 14px;
                            color: $black;
                            font-weight: 400;
                            line-height: 6px;
                        }
                }

                .rightInfo{
                    @extend .centerInfo;
                    width:182px / 763px * 100%;
                }
        }

        .summaryData{
            @extend .topHdRow;
            background: $white;

                .leftInfo{
                    width:325px / 763px * 100%;
                    float:left;

                        span{
                            font-size: 14px;
                            color: $black;
                            line-height: 30px;
                            padding: 0 0 0 20px;
                        }
                }

                .centerInfo{
                    @extend .leftInfo;
                    width:254px / 763px * 100%;
                    font-size: 14px;
                    color: $black;
                    line-height: 30px;
                    padding: 0 0 0 0;
                }

                .rightInfo{
                    @extend .centerInfo;
                    width:182px / 763px * 100%;
                    font-size: 14px;
                    color: $black;
                    line-height: 30px;
                    padding: 0 0 0 0;
                }
        }

        .bottomNone{border-bottom:none !important;}
}