/* Base for label styling */

[type="checkbox"] {
	outline:none;
  &:not(:checked), &:checked {
    position: absolute;
    left: -9999px;
  }
  &:not(:checked) + label, &:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  &:not(:checked) + label:before, &:checked + label:before {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $checkbox-border-color;
    background: $checkbox-bg;
    @extend .radius5px ;
	  @extend .border-box;
  }
  &:not(:checked) + label:after, &:checked + label:after {
    content: '✔';
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    width: 16px;
    height: 16px;
    @extend .radius5px;
	  @extend .border-box;
    color: $checkbox-checked-color;
    background: $checkbox-checked-bg;
    background: $checkbox-checked-bg;
    transition: all .2s;
    text-align: center;
    line-height: 16px;
  }
  &:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  &:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  &:disabled {
    &:not(:checked) + label:before {
      background-color: $checkbox-disabled-bg-color;
    }
    &:checked + label {
      &:before {
      	color: $checkbox-disabled-color;
      }
      &:after {
        background-color: $checkbox-disabled-bg-color;
        color: $checkbox-disabled-color;
        border: 1px solid $checkbox-border-color;
      }
    }
    + label {
      color: $checkbox-disabled-color;
    }
  }
}
