.saveCouponWidget{
 	height:50px;
 	border:1px solid $light-green;
 	background:$x-x-light-green;
 	border-radius:5px;
 	cursor: pointer;

 		.codeCoupon{
 			border:1px dashed $light-green;
 			color:$light-green;
 			width: 76px;
			font-size: 14px;
			padding: 6px;
			margin: 10px 0 0 9px;
			display: inline-block;
 		}
 			
 			.saveRs{
 				font-size:14px;
 				color:$light-gray;
 				display: inline-block;
 				padding: 0 0 0 15px;

 					i{
 					 font-style: normal;
 					 color:$light-green;
 					}
 			}
}