.cards-pay-details{
    width:471px;
    height:233px;
    background: url("scss/skin/blackNwhite/img/common/securePayment/cardsBg.png") no-repeat;

        .cards-left-details{
            width:366px;
            height:233px;
            float:left;

                h3{
                  font-size: 20px;
                  color: $light-green;
                  font-weight: 600;
                  margin: 0;
                  padding: 20px 0 0 20px;
                }

                .card-num-det{
                    padding: 33px 0 0 0;
                    margin: 0 12px 0 12px;

                        label{
                            font-size: 14px;
                            color: $light-gray;
                            display: block;
                            padding: 0 0 0 10px;
                            margin: 0;
                            line-height: 28px;
                        }

                        .visa-margin{margin: 3px 23px 0 0;}
                }

                .card-other-det{
                    @extend .card-num-det;
                    padding: 10px 0 0 0;

                        .name-on-card{
                            width: 184px;
                            float: left;
                            padding: 0 9px 0 0;
                        }

                        .card-expiry{
                            @extend .name-on-card;
                            width: 70px;
                        }

                        .card-year{
                            @extend .name-on-card;
                            width: 70px;
                            padding: 0 0 0 0;
                        }
                }
        }

        .cards-right-details{
            @extend .cards-left-details;
            width:105px;

                .card-cvv{
                    @extend .card-num-det;
                    padding: 0 0 0 0;
                    margin: 78px 17px 0 34px;
                }
        }
}