.dash-activities-tabs{
	padding: 0 0 0 0;
    border: 1px solid #e1e1e1;
    background: $white;
    cursor: pointer;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.12);
    
    	.cases-box{
    		width:130px;
    		text-align: center;
    		
    			span:nth-child(1){
    				display:block;
    				margin: 18px 0 0 44px;
    				
    					i{display:block;}
    			}
    			
    			span:nth-child(2){
    				padding: 9px 0 1px 0;
    				display:block;
    				font-size: 16px;
					color: #00cc99;
					font-weight: 400;
       			}
    	}
    	
    	.cumminities-box{
    		@extend .cases-box;
    		
    			span:nth-child(2){
    				padding: 6px 0 1px 0;
       			}
    	}
    	
    	
    	.gift-cards-box{
    		width:135px;
    		padding: 23px 20px 23px 20px;
    		
    			span:nth-child(1){
    				display:inline-block;
    				margin: 2px 15px 0 0;
 					float: left;
    				
    					i{display:block;}
    			}
    			
    			span:nth-child(2){
    				  padding: 0 0 0 0;
					  margin: 0 0 0 0;
					  font-size: 16px;
					  color: #00cc99;
					  line-height: 18px;
					  font-weight: 400;
       			}
    	}
    	
    	.green-message-box{
    		padding: 25px 19px 25px 19px;
    		
    			span:nth-child(1){
    				display:inline-block;
    				margin: 0 0 0 0;
    				
    					i{display:block;}
    			}
    	}
}