.dash-flight-details-tab{
	width:888px / 888px * 100%;
	overflow: hidden;
	
		.date-week-sec{
			width:68px / 888px * 100%;
			float:left;
			padding: 2px 0 12px 15px;
			
				.date-div{
					  font-size: 30px;
					  color: $black;
					  padding: 0;
					  margin: 0;
					  line-height: 34px;
					  font-weight: 400;
				}
				
				.week-div{
					  padding: 0 5px 0 5px;
					  display: -webkit-inline-box;
					  margin: 0;
					  font-size: 12px;
					  color: $white;
					  background: $light-green;
					  line-height: 14px;
					  cursor: pointer;
					  border-radius: 5px;
					  text-transform: uppercase;
				}
		}
		
		.booking-trav-icon{
			@extend .date-week-sec;
			width:60px / 888px * 100%;
			padding: 0 0 0 0;
			
				i{display:block;}
				.flights-ico-margin{  margin: 12px 0 0 0;}
		}
		
		.dest-place-sec{
			@extend .date-week-sec;
			width:280px / 888px * 100%;
			padding: 0 0 0 0;
			
				.dest-names{
					font-size: 16px;
					color: $black;
					font-weight: 400;
					padding: 0 0 0 0;
					line-height: 42px;
					margin: 0 0 0 0;
					
						b{
							font-weight: 400;
  							color: $x-x-light-gray;
						}	
				}
				
				.flying-status{
					padding: 0 0 0 0;
					margin: 0 0 0 0;
					font-size: 14px;
					color: $x-light-gray;
					font-weight: 400;
					line-height: 0;	
				}
		}
		
		.booking-id-date-sec{
			@extend .date-week-sec;
			width:160px / 888px * 100%;
			padding: 12px 0 0 0;
			
				.booking-id-date-pro{
					padding:0 0 0 0;
					margin:0 0 0 0;
					line-height: 18px;
					
						span{
							font-size: 12px;
							color: $light-gray;
							font-weight: 400;
						}
				}
		}
		
		.status-labels-sec{
			width:304px / 888px * 100%;
			float:right;
			
				.status-label-div{
					  text-align: right;
  					  padding: 6px 9px 0 0;
				}
		}
}


.dash-flight-details--gray-tab{
	@extend .dash-flight-details-tab;
	
		.date-week-sec{
			float:left;
			
				.date-div{
					  opacity:0.6;
				}
				
				.week-div{
					  background: $xxx-x-x-x-x-x-x-x-gray;
					  opacity:0.6;
				}
		}
}