.dash-profile-pref-box{
	padding: 0 10px 0 10px;
    border: 1px solid $xxx-x-x-x-x-x-x-x-x-gray;
    width: 250px / 270px * 100%;
    background: $white;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.12);
    
    	h3{
    	  margin: 0 0 0 0;
		  padding: 0 0 8px 0;
		  font-weight: 400;
		  font-size: 18px;
		  color: $light-green;
		  line-height: 40px;
    	}
    	
    	.profile-comp-status{
    		width: 250px / 270px * 100%;
    		height:23px;
    		margin:0 0 19px 0;
    		background:$xx-x-gray;
    		
    			span{
				  margin: 0;
				  line-height: 23px;
				  font-size: 14px;
				  color: $white;
				  padding: 2px 10px 3px 10px;
				  background: $light-green;
    			}
    	}
    	
    	.allinfo-percent{
    		width: 250px / 270px * 100%;
    		padding: 0 0 14px 0;
    		
    			span:nth-child(1){
    				width: 70px / 250px * 100%;
    				display:inline-block;
    				font-size: 20px;
  					color: $x-light-gray;
  					font-weight: 300;
    			}
    			
    			span:nth-child(2){
    				width: 180px / 250px * 100%;
    				font-size: 14px;
  					color: $light-green;
  					font-weight: 400;
  					cursor: pointer;
    			}
    	}
}