.dashboard-wallet-box{
	padding:0 0 0 0;
	border:1px solid #e1e1e1;
	width:270px / 270px * 100%;
	background: $white;
	box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.12);
	
		.dash-wallet-top{
			overflow: hidden;
			width:270px / 270px * 100%;
			
				.wallet-name{
					padding: 0 0 0 8px;
					width:62px / 270px * 100%;
					float:left;
					font-size: 18px;
  					color: #999999;
  					font-weight: 400;
  					line-height: 60px;
				}
				
				.wallet-amt{
					padding: 0 8px 0 0;	
					width:192px / 270px * 100%;
					float:right;
					font-size: 40px;
				    color: #666666;
				    text-align: right;
				    font-weight: 300;
				    
				    	i{
				    	font-style:normal;
				    	font-size: 25px;
				    	}
				}
		}
		
		.dash-wallet-payment-button{
			@extend .dash-wallet-top;
			
				.payment-amt{
					padding: 0 0 0 8px;
					width:130px / 270px * 100%;
					float:left;
					font-weight: 300;
  					color: #666666;
  					font-size: 26px;
  					line-height: 36px;
					
						i{
				    	font-style:normal;
				    	font-size: 20px;
				    	font-weight: 400;
				    	}
				}
				
				.payment-button{
					padding: 0 8px 0 0;	
					width:124px / 270px * 100%;
					float:right;
					text-align: right;
				}	
		}
		
		.dash-wallet-hist-voucher{
			@extend .dash-wallet-top;
			line-height: 32px;
			
				.tran-history{
					padding: 0 0 0 8px;
					width:130px / 270px * 100%;
					float:left;
					font-size: 14px;
  					color: #00cc99;
  					font-weight: 400;
  					cursor: pointer;
				}
				
				.redeem-voucher{
					@extend .tran-history;
					padding: 0 8px 0 0;	
					width:124px / 270px * 100%;
					float:right;
					text-align: right;
				}	
		}
		
		.dash-wallet-alert-on-off{
			@extend .dash-wallet-top;
			border-top: 1px solid #e5e5e5;
			line-height: 30px;
			
				.balance-alert{
					padding: 0 0 0 8px;
					width:130px / 270px * 100%;
					float:left;
					font-size: 12px;
					color: #999999;
					font-weight: 400;
				}
				
				.on-off{
					@extend .balance-alert;
					padding: 0 8px 0 0;	
					width:124px / 270px * 100%;
					float:right;
					text-align: right;
				}	
		}
		
		.dash-wallet-payment-date{
			@extend .dash-wallet-top;
			width:262px / 270px * 100%;
			border-top: 1px solid #e5e5e5;
			font-size: 14px;
			color: #666666;
			padding: 0 0 0 8px;
			line-height: 40px;
		}
		
		.dash-wallet-periodic-pay-ledger{
			@extend .dash-wallet-top;
			border-top: 1px solid #e5e5e5;
			
				span:nth-child(1){
					width:87px / 270px * 100%;
					border-right: 1px solid #d8d8d8;
					padding: 5px 0 5px 0;
				  	font-size: 14px;
				  	color: #00cc99;
				  	text-align: center;
				  	display: inline-block;
				  	cursor: pointer;
				}
				
				span:nth-child(2){
					width:87px / 270px * 100%;
					border-right: 1px solid #d8d8d8;
					padding: 5px 0 5px 0;
				  	font-size: 14px;
				  	color: #00cc99;
				  	text-align: center;
				  	display: inline-block;
				  	cursor: pointer;
				}
				
				span:nth-child(3){
					width:86px / 270px * 100%;
					border-right: none;
					padding: 5px 0 5px 0;
				  	font-size: 14px;
				  	color: #00cc99;
				  	text-align: center;
				  	line-height: 18px;
				  	overflow: hidden;
				  	display: inline-block;
				  	cursor: pointer;
				}
		}
}