.destinationDetails{
    margin:0 auto;

        .destinationData{
            overflow: hidden;

                .companyDetails{
                    width:200px / 740px * 100%;
                    float:left;
                    padding:0 0 0 11px;

                      .companyLogo{
                        width:60px / 200px * 100%;
                        float:left;

                          img{  padding: 3px 0 0 0;}
                      }

                      .nameClass{
                        width:140px / 200px * 100%;
                        float:left;

                          .name{
                              font-size: 14px;
                              color: $black;
                              font-weight: bold;
                              line-height: 16px;
                          }

                          .class{
                            font-size:12px;
                            color:$x-light-gray;
                          }
                      }
                }


                .companyDetails1{
                    @extend .companyDetails;
                    width:120px / 740px * 100%;

                      .companyLogo{
                        width:50px / 120px * 100%;
                      }

                      .nameClass{
                        width:70px / 120px * 100%;
                      }

                      .ratingBar{
                        width:100px / 100px * 100%;
                        height: 4px;
                        background: #999;
                        overflow: hidden;
                        margin: 50px 0 0 0;
                        float: none;

                            .greenBar{
                                float: left;
                                height: 4px;
                                background:$light-green;
                            }

                            .yellowBar{
                              @extend .greenBar;
                              background:$x-x-x-yellow;
                            }

                            .redBar{
                              @extend .greenBar;
                              background:$purered;
                            }
                      }
                }

                .destinationToDiv{
                    width: 150px / 740px * 100%;;
                    float: left;
                    text-align: right;

                        .toName{

                              .icon{
                                padding:0;

                                    i{display:inline-block;}
                              }

                              .place{
                                font-size: 24px;
                                color:$light-green;
                              }

                              .time{
                                font-size: 24px;
                                color:$black;
                              }
                        }

                        .toDate{
                          font-size:14px;
                          color:$light-gray;
                        }

                        .toAddress{
                          font-size:12px;
                          color:$x-light-gray;
                          padding: 0 0 0 3px;
                        }
                }

                .destinationToDiv1{
                    @extend .destinationToDiv;
                    width: 210px / 740px * 100%;;
                }

                .durationDiv{
                  width:120px / 740px * 100%;
                  height:20px;
                  float: left;
                  margin:20px 38px 0 38px;

                      .duration{
                          font-size:11px;
                          color:$x-light-gray;
                          text-align: center;
                          line-height: 18px;
                          border-bottom: 1px dashed $light-green;

                              i{
                              display:inline-block;
                              margin: 0 5px 0 0;
                              }
                      }

                      .airbus{
                          @extend .duration;
                          border:none;
                      }
                }

                .destinationFromDiv{
                    @extend .destinationToDiv;
                    width: 171px / 740px * 100%;
                    text-align: left;

                        .toAddress{
                          padding: 0 0 0 0;
                        }
                }
        }
        
    
        .layOver{
          height:15px;
          padding: 10px 0 5px 0;



              .left{
                  width: 410px / 740px * 100%; 
                  float: left;
                  height: 1px;
                  border-top: 1px dashed $light-green;
                  margin: 7px 0 7px 0;
              }

              .center{
                  float: left;
                  height: 15px;
                  width: 99px / 740px * 100%;
                  font-size:12px;
                  color:$x-light-gray;
                  text-align: center;
              }

              .right{
                @extend .left;
                width: 231px / 740px * 100%;
              }


              .left1{
                  @extend .left;
                  width: 390px / 740px * 100%; 
              }

              .right1{
                @extend .left;
                width: 251px / 740px * 100%;
              }

              .full{
                  @extend .left;
                  width: 740px / 740px * 100%; 
              }
        }
}