.diff-flights-det-popup{
	border:1px solid $xxx-x-x-x-x-x-x-gray;
	border-radius:10px;
	overflow: hidden;

		.first-detail-box{
			width:270px / 1080px * 100%;
			float:left;
			border-right: 1px solid;
  			border-color: $xx-x-x-x-x-x-light-green;
  			background: $x-x-light-green;
  			cursor: pointer;
  			padding: 20px 0 32px 0;

  				.top-hd-div{
  					padding: 0 12px 18px 12px;
  					overflow: hidden;

  						span:nth-child(1){
  							padding: 0;
							float: left;
							font-size: 20px;
							color: $xx-x-light-green;
							font-weight: 600;
  						}

  						span:nth-child(2){
  							padding: 0;
						    float: right;
						    font-weight: 600;
						    color: $black;
						    font-size: 21px;

						    	i{
						    	font-size:15px;
						    	font-style:normal;
						    	}
  						}
  				}

  				.detail-data-text-div{
  					padding: 0 12px 22px 12px;
					margin: 0;
					clear: both;

						h4{
						  margin: 0;
						  padding: 0 0 11px 0;
						  font-weight: 600;
						  font-size: 14px;
						  color: $black;
						}

						p{
						  margin: 0;
						  padding: 0 0 12px 0;
						  font-size: 14px;
						  font-weight: 400;
						  color: $light-gray;
						}
  				}

  				.select-button-div{
  					padding: 0 0 0 12px;
				    margin: -35px 0 0 0;
				    top: 17px;
				    position: relative;
				    display: none;
  				}
		}

		.first-detail-box:hover{
			cursor: pointer;

				.select-button-div{
					display:block;
				}
		}

		.second-detail-box{
			@extend .first-detail-box;
			border-color: $xx-x-gray;
			width:269px / 1080px * 100%;
			background: $white;

				.top-hd-div{

  						span:nth-child(1){
							color:	$light-green;
  						}
  				}
		}

		.last-detail-box{
			@extend .first-detail-box;
			border: none;
			width:269px / 1080px * 100%;
			background: $white;

				.top-hd-div{

  						span:nth-child(1){
							color:	$light-green;
  						}
  				}
		}
}