.dropdownBox{
  border-width: 1px;
  border-color: $drodown-border-color;
  border-style: solid;
  border-radius: 3px;
  background-color: $dropdown-background-color;
  box-shadow: 2.5px 4.33px 5px 0px $dropdown-shadow-color;
  margin: 0;
  padding: 0;
  position:absolute;
  z-index: 2;
  min-width:calc(100% - 2px);
  li:hover, li.ui-state-focus{
  	 	background-color: $dropdown-option-background-hover-color;
  	 	color: $dropdown-option-hover-color;
  	 }
}

.ui-autocomplete{
  @extend .dropdownBox;
  li{
  	 height: 26px;
  	 line-height: 26px;
  	 list-style: none;
  	 margin: 0;
  	 padding:0 15px;
  	 font-size: 14px;
  	 transition: all .2s;
  	 white-space:nowrap;
  }
}
.ui-flightCountBox{
  @extend .dropdownBox;
  display:none;
  li{
  	 height: 40px;
  	 line-height: 40px;
  	 list-style: none;
  	 margin: 0;
  	 padding:0 10px;
  	 font-size: 14px;
  	 transition: all .2s;
  	 white-space:nowrap;
  	 span{
  	 	@extend .border-box;
  	 	display: inline-block;
  	 	float: left;
  	 	border-bottom: 1px solid $dropdown-flightCount-option-seprate-border-color;
  	 	height: 40px;
  	 }
  	 &:nth-last-child(1) span{
  	 	border-bottom: 0 none;	
  	 }
  	 .label{
  	 	width:calc(100% - 82px);
  	 	padding:0 0 0 0;
  	 	
  	 }
  	 .plus,.minus{
  	 	width: 29px;
  	 	text-align: center;
  	 	cursor: pointer;
  	 	color: $dropdown-flightCount-plus-minus-color;
  	 	font-family: monospace;
  	 	font-size: 18px;
  	 	&:hover{
  	 		color:$dropdown-flightCount-plus-minus-hover-color;
  	 	}
  	 }
  	 .input{
  	 	padding:8px 0 0 0;
	  	 input{
	  	 	width: 24px;
	  	 	height: 24px;
	  	 	line-height:24px;
  	 		@extend .radius0;
	  	 	text-align: center;
	  	 	display: block;
	  	 	margin: 0;
	  	 	padding: 0;
	  	 	text-indent: 0;
	  	 	color: $dropdown-flightCount-option-input-color;
	  	 	background: $dropdown-flightCount-option-input-background;
	  	 }
  	 }
  }
  li:hover, li.ui-state-focus{
  	 	 background-color: $dropdown-flightCount-option-hover-background;
  	 	color: $dropdown-flightCount-option-hover-color;
  }
}

.ui-helper-hidden-accessible{
	display: none;
}
