.fareBreakUp{
    width:100%;
    height:auto;

        .breakUpHd{
            font-size: 16px;
            font-weight: 400;
            line-height: 36px;
            color:$black;
            padding: 10px 0 0 0;
            text-transform: uppercase;
        }

        .baseFareDiv{
            border-top:1px dashed $xx-x-x-x-x-x-light-gray;
            border-bottom:1px dashed $xx-x-x-x-x-x-light-gray;
            line-height: 35px;
            color: $black;
            font-size:14px;
            opacity:0.8;

                span:first-child{
                      width: 130px;
                      padding: 0 0 0 10px;
                }

                span:last-child{
                      width: 115px;
                      float: right;
                      text-align: right;
                      padding: 0 8px 0 0;
                }
        }

        .discountDiv{
          @extend .baseFareDiv;
          border-bottom:0 dashed $xx-x-x-x-x-x-light-gray;
        }

        .baseFareDivBus{
            @extend .baseFareDiv;
            border-bottom:0 dashed $xx-x-x-x-x-x-light-gray;
            line-height: 24px;
            padding: 3px 0 3px 0;
        }       

        .taxFees{
            @extend .baseFareDiv;
            border:none;
            color: $light-green;
            opacity:1;
            line-height: 30px;
        }

        .otherFees{
            @extend .taxFees;
            border:none;
            color: $black;
            opacity:0.7;
            line-height: 28px;

                span:first-child{
                      padding: 0 0 0 15px;
                      width: 120px;
                }
        }

        .fareTotal{
            @extend .baseFareDiv;
            border-top:1px solid $x-x-light-gray;
            border-bottom:1px solid $x-x-light-gray;
            line-height: 50px;
            margin: 0 0 0 0;
            opacity:1;
            font-weight: 400;

                 span:first-child{
                      font-size:18px;
                      color:$black;
                 }

                 span:last-child{
                      font-size:24px;
                      color:$black;

                        i{
                            font-size: 18px;
                            font-style: normal;
                         }
                 }
        }

        .busSeatsBox{
            padding:17px 10px 10px 10px;
            overflow: hidden;

              .seatsIcons{
                  width: 50px / 265px * 100%;
                  float: left;
                  cursor: pointer;

                      .iconsBox{
                          float: right;
                          margin: 0 0 10px 0;

                              i{display:block;}
                      }
              }

              .seatsSection{
                  @extend .seatsIcons;
                  width: 205px / 265px * 100%;
                  cursor: text;

                      .textBox{
                          padding:0 0 9px 20px;
                          font-size: 14px;
                          line-height: 28px;
                          color:$x-light-gray;
                      }
              }

        }

        .cancelPolicies{
            padding: 0 0 0 10px;
            font-size: 14px;
            line-height: 32px;
            color:$light-green;
            cursor: pointer;
        }

        .note{
            padding: 5px 0 0 10px;
            font-size: 12px;
            line-height: 18px;
            color:black;
            cursor: pointer;
            opacity: 0.5;
        }
}