.flightPopUpDetails{
    width:575px;
    border: 1px solid $xx-x-x-x-x-x-x-x-x-x-x-x-x-x-light-gray;
    border-radius: 10px;
    display: flex;

        .dataSection{
            width:500px / 575px * 100%;
            float:left;
            padding:15px;
            margin: 7px 0 0 0;

                .companyDetails{
                    width:98px / 500px * 100%;
                    float:left;
                    line-height: 20px;

                        .companyLogo{
                            width:34px / 98px * 100%;
                            float:left;

                                img{
                                    padding:0 0 0 0;
                                }
                        }

                        .nameClass{
                            @extend .companyLogo;
                            width:64px / 98px * 100%;

                                .name{
                                    font-size: 14px;
                                    color: $black;
                                    font-weight: 400;
                                    line-height: 14px;
                                }

                                .class{
                                    @extend .name;
                                    font-size: 12px;
                                    color:$x-light-gray;
                                }
                        }
                }

                .destinationToDiv{
                    @extend .companyDetails;
                    width:140px / 500px * 100%;  
                    text-align: right;

                    .toName{    

                        .icon{
                            padding:0;

                                i{display:inline-block;}
                        }

                        .place{
                            font-size: 24px;
                            color: $light-green;
                        }

                        .time{
                            font-size: 24px;
                            color: $black;
                        }
                    }


                    .toDate {
                      font-size: 14px;
                      color: $light-gray;
                    }
                }

                .durationDiv{
                    @extend .companyDetails;
                    width:120px / 500px * 100%;  
                    font-size: 11px;
                    color: $x-light-gray;
                    text-align: center;
                    line-height: 40px;

                        i{
                        display:inline-block;
                        margin: 0 5px -1px 0
                        }
                }

                .destinationFromDiv{
                    @extend .destinationToDiv;
                    text-align: left;
                }

                .layOver{
                  height:15px;
                  padding: 10px 0 15px 0;
                  width:500px / 500px * 100%;
                  overflow: hidden;

                      .left{
                          width:136px / 500px * 100%;   
                          float: left;
                          height: 1px;
                          border-top: 1px dashed $light-green;
                          margin: 7px 0 7px 0;
                      }

                      .center{
                          float: left;
                          height: 15px;
                          width:214px / 500px * 100%;  
                          font-size:12px;
                          color:$x-light-gray;
                          text-align: center;

                            i{
                                display:inline-block;
                                margin: 0 0 -1px 5px;
                            }
                      }

                      .right{
                        @extend .left;
                        width: 150px / 500px * 100%;
                      }                     

                      .full{
                          @extend .left;
                          width:500px / 500px * 100%; 
                      }
                }
        }

        .iconSection{
            width:42px / 575px * 100%;
            float:left;
            border-left: 1px solid $xx-x-gray;

                .only{
                    text-align: center;
                    padding: 5px 0 4px 0;

                        .numberBox {
                            margin: 0 0 0 0;

                                span{
                                    width: 14px;
                                    height: 14px;
                                    color: white;
                                    display: block;
                                    font-size: 10px;
                                    border-radius: 3px;
                                    text-align: center;
                                    line-height: 14px;
                                    background: $x-red;
                                    margin: 3px 0 0 13px;
                                }
                        }

                        .onlyText {
                          padding: 0;
                          font-size: 10px;
                          text-transform: uppercase;
                          color: $x-red;
                          line-height: 16px;
                        }
                }

                .icons{
                    cursor:pointer;
                    text-align: center;
                    padding: 0 0 0 0;
                    margin: 0 0 6px 0;

                        i{display:inline-block;}
                }
        }
}