.flightIntMultiplePopup{
    border: 1px solid $x-x-light-gray;
    display: flex;

        .leftFlightSmallTab{
            width:172px / 517px * 100%;
            float: left;

                .destTopHd{
                    background: $x-x-light-green;
                    border-right: 1px solid $xx-x-x-x-x-x-light-green;
                    border-bottom: 1px solid $xx-x-gray;

                        span:nth-child(1){
                            padding: 7px 6px 2px 15px;
                            margin: 0 0 0 0;
                            display: inline-block;
                        }

                        span:nth-child(2){
                              padding: 0 0 0 0;
                              display: inline-block;
                              color: $green;
                              overflow: hidden;
                              font-size: 14px;
                              font-weight: 600;
                              line-height: 20px;
                        }
                }

                .flightDetTab{
                    border-right: 1px solid $x-x-light-gray;
                    border-bottom: 1px solid $xx-x-gray;

                        .flightDetailMain{
                            padding: 10px 0 10px 0;
                            overflow: hidden;

                                .companyId{
                                    padding: 0 15px 0 15px;
                                    text-align: right;
                                    float: left;

                                        .logo{
                                            padding:0;
                                        }

                                        .flightNo{
                                            padding:0;
                                            color: $light-gray;
                                            font-size: 10px;
                                        }
                                }

                                .toDetails{
                                    @extend .companyId;
                                    padding: 0 0 0 0;
                                    text-align: left;

                                        .timeI{
                                            font-size: 16px;
                                            color: $black;
                                            line-height: 11px;
                                        }

                                        .durationI{
                                            font-size: 12px;
                                            color: $light-gray;
                                            line-height: 19px;
                                        }

                                        .destI{
                                            font-size: 12px;
                                            color: $x-light-gray;
                                            line-height: 8px;
                                        }
                                }
                        }

                        .flightDetailMargin{
                              margin: -6px 0 0 0;
                        }
                }

                .flightDetIntLayover{
                      padding: 0 0 0 0;
                      margin: -8px 0 0 0;
                      overflow: hidden;
                      width:172px / 172px * 100%;

                        .leftBor{
                            float: left;
                            height: 1px;
                            border-top: 1px dashed $light-green;
                            margin: 8px 0 0 9px;
                            width:47px / 172px * 100%;
                        }

                        .centerTxt{
                              float: left;
                              height: 15px;
                              width:73px / 172px * 100%;
                              font-size: 12px;
                              color: $x-light-gray;
                              text-align: center;
                        }

                        .rightBor{
                            @extend .leftBor;
                            width:31px / 172px * 100%;
                        }
                }

                .whiteTab{background: $white;}
                .greenTab{background: $x-light-green;}
                .lastNone{border-bottom:none !important;}
        }

        .leftFlightBigTab{
            @extend .leftFlightSmallTab;
            width:172px / 861px * 100%;
        }

        .rightFlightSmallTab{
            @extend .leftFlightSmallTab;
            width:173px / 517px * 100%;
            float: right;

                .destTopHd{
                    border-right: none;
                }

                .flightDetTab{
                    border-right: none;
                }
        }

        .rightFlightBigTab{
            @extend .rightFlightSmallTab;
            width:172px / 861px * 100%;
        }
}