.flightReturnsDetails{
    width:940px / 940px * 100%;

        .airlinesTab{
            width:940px / 940px * 100%;
            overflow: hidden;

                ul{
                    list-style:none;
                    padding: 0;
                    margin: 0;

                        li{
                          float: left;
                          width:133px / 940px * 100%;
                          background: $background;
                          height: 60px;
                          cursor:pointer;
                          border-right: 1px solid $xx-x-x-light-green;
                          border-bottom: 1px solid $x-x-light-gray;

                                div{
                                    float:left;

                                        img{padding: 14px 9px 0 9px;}

                                        .ticketPrice{
                                            display:block;
                                            line-height: 40px;
                                            font-size:16px;
                                            color:$black;
                                        }

                                        .savePrice{
                                            display:block;
                                            font-size:12px;
                                            color:$x-light-gray;
                                            line-height: 0;
                                        }
                                }
                        }

                        .activeTab{
                            color: $black;
                            background: $white;
                            width:134px / 940px * 100%;
                            border-bottom: 1px solid $white;
                            border-right: 1px solid $x-x-light-gray;
                            border-left: 1px solid $x-x-light-gray;
                            font-size: 16px;
                            line-height: 58px;
                            text-align: center;
                        }

                        .firstTab{
                            width:134px / 940px * 100%;
                            border-left: 1px solid $xx-x-x-light-green;
                        }
                }
        }

        .airlinesDetails{
            width:940px / 940px * 100%;
            height: 78px;
            background: $white;

                .firstFlight{
                    width:304px / 940px * 100%;
                    border-left: 1px solid $x-x-light-gray;
                    border-bottom: 1px solid $x-x-light-gray;
                    float:left;
                    height: 78px;

                        .number{
                          float: left;
                        }

                        .companyLogo{
                            float: left;

                                img{padding:20px 10px 0 0;}
                        }

                        .destinationText{
                            float: left;

                                .stnsDetails{
                                    display: block;
                                    font-size: 23px;
                                    padding: 13px 0 3px 0;

                                        i{color:$light-green;   font-style: normal;}
                                }

                                .stopsDuration{
                                    display: block;
                                    font-size: 12px;
                                    color: $x-light-gray;

                                        i{
                                        display:inline-block;
                                        margin: 0 0 -1px 0;
                                        }
                                }
                        }
                }

                .returnFlight{
                    @extend .firstFlight;
                    border-left: 1px dashed $x-x-light-gray;
                }

                .returnFlightLast{
                    @extend .firstFlight;
                    width:328px / 940px * 100%;
                    border-left: 1px dashed $x-x-light-gray;
                    border-right: 1px solid $x-x-light-gray;
                }

                .priceBookMore{
                    @extend .firstFlight;
                    width:328px / 940px * 100%;
                    border-left: 1px solid $xx-x-x-x-light-green;
                    border-right: 1px solid $xx-x-x-x-x-light-green;
                    border-bottom: 1px solid $xx-x-x-x-x-light-green;
                    background:$x-light-green;
                    padding-top: 21px;
                    height:57px;

                        .priceTotal{
                            width:185px / 328px * 100%;
                            float: left;
                            font-size: 30px;
                            text-align: right;
                            line-height: 32px;

                                i{
                                  font-size: 20px;
                                  font-style: normal;
                                }
                        }

                        .clickButton{
                            width:98px / 328px * 100%;
                            float: left;
                            text-align: right;
                        }

                        .returnMore{
                            width:25px / 328px * 100%;
                            float: left;
                            padding:10px 0 0 20px;
                            cursor: pointer;

                                i{display:block;}
                        }
                }
        }
}