.flights-price-gone-up{
    overflow: hidden;

        .top-hd-box{
          padding: 0;
          overflow: hidden;
          line-height: 60px;
          font-size: 24px;
          color: $white;
          font-weight: 300;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;

              span:nth-child(1){
                  padding: 0 0 0 20px;
                  float: left;
              }

              span:nth-child(2){
                  padding: 0 20px 0 0;
                  float: right;

                      i{
                        margin: 0 0 0 12px;
                        display: inline-block;
                      }
              }
        }

        .goneup-bg{background: #ff5252;}
        .dipped-bg{background: #00cc99;}

        .flights-all-details-box{
          padding: 0;
          border-top: none;
          border-bottom: 1px solid;
          border-left: 1px solid;
          border-right: 1px solid;
          border-color: #979797;
          background: #fff;
          border-bottom-right-radius: 5px;
          border-bottom-left-radius: 5px;

              .goneup-text{
                  font-size: 14px;
                  color: #666666;
                  font-weight: 400;
                  padding: 20px 20px 28px 20px;
              }

              .flights-title-hd{
                  padding:0 0 0 0;
                  width:588px / 588px * 100%;
                  overflow: hidden;

                      .first-blank{
                          padding:0 0 0 20px;
                          width:70px / 588px * 100%;
                          float:left;
                      }

                      .journey-hd{
                          padding:0 0 0 0;
                          width:120px / 588px * 100%;
                          float:left;
                          font-size: 12px;
                          color: #666666;
                          font-weight: 400;
                      }

                      .selected-fare-hd{
                          @extend .journey-hd;
                          width:97px / 588px * 100%;
                          text-align:right;
                      }

                      .change-hd{
                          @extend .journey-hd;
                          width:129px / 588px * 100%;
                          text-align:right;
                      }

                      .update-fare-hd{
                          @extend .journey-hd;
                          width:129px / 588px * 100%;
                          text-align:right;
                          padding:0 20px 0 0;
                      }
              }


              .flights-goneup-data{
                  padding: 10px 0 10px 0;
                  width:588px / 588px * 100%;
                  overflow: hidden;
                  border-top: 1px solid #e5e5e5;
                  border-bottom: 1px solid #d8d8d8;

                      .logo-data{
                          padding:0 0 0 20px;
                          width:70px / 588px * 100%;
                          float:left;

                              .flight-comp-logo{
                                width:70px / 70px * 100%;
                              }

                              .flight-comp-name{
                                width:70px / 70px * 100%;
                                font-size: 12px;
                                color: $black;
                                opacity: 0.5;
                              }
                      }

                      .journey-data{
                          padding:0 0 0 0;
                          width:120px / 588px * 100%;
                          float:left;
                          line-height: 21px;

                              .flight-dest-to{
                                font-size: 16px;
                                color: #333333;
                                font-weight: 400;
                              }

                              .change-flight{
                                font-weight: 400;
                                color: #00cc99;
                                font-size: 12px;
                                cursor: pointer;
                              }
                      }

                      .selected-fare-data{
                          @extend .journey-data;
                          width:97px / 588px * 100%;
                          text-align:right;

                              .selected-fare-price{
                                  font-size: 16px;
                                  color: $black;
                                  font-weight: 600;
                              }

                              .selected-seats{
                                  font-size: 12px;
                                  color: #999999;
                                  font-weight: 400;
                                  cursor: pointer;
                              }
                      }

                      .change-data{
                          @extend .journey-data;
                          width:129px / 588px * 100%;
                          text-align:right;

                              .change-fare-price{
                                  font-size: 16px;
                                  font-weight: 600;

                                      b{color: $black; font-weight: 600;}
                                      .red-price{color: #ff1744; font-weight: 600;}
                                      .green-price{color: #00cc99; font-weight: 600;}
                              }

                              .change-seats{
                                  font-size: 12px;
                                  color: #999999;
                                  font-weight: 400;
                                  cursor: pointer;
                              }
                      }

                      .update-fare-data{
                          @extend .journey-data;
                          width:129px / 588px * 100%;
                          text-align:right;
                          padding:0 20px 0 0;

                              .update-fare-price{
                                  font-size: 16px;
                                  color: $black;
                                  font-weight: 600;
                              }

                              .update-seats{
                                  font-size: 12px;
                                  color: #999999;
                                  font-weight: 400;
                                  cursor: pointer;
                              }
                      }
              }

              .border-none{border:none !important;}

              .flight-goneup-total{
                  @extend .flights-goneup-data;
                  padding: 8px 0 9px 0;
                  border: none;
                  background:#e5e5e5;

                      span{
                        font-size: 16px;
                        color: $black;
                        font-weight: 600;

                            b{font-size: 20px; font-weight: 600;}
                      }
              }

              .flight-goneup-button{
                  padding: 20px 0 20px 0;
                  overflow: hidden;

                      span:nth-child(1){
                          padding: 0 0 0 20px;
                          float: left;
                      }

                      span:nth-child(2){
                          padding: 0 20px 0 0;
                          float: right;
                      }
                }
        }
}