.flightBookingTabs{
    padding: 0 0 0 0;
    margin: 0 auto;
    height: auto;
    border: 1px solid;

        .bookingData{
              padding: 16px 0 10px 0;
              overflow: auto;

                    .companyInfo{
                        width:119px / 943px * 100%;
                        height: auto;
                        float:left;
                        text-align: left;

                            .logo{
                                padding:0;

                                    img{padding: 0 0 0 25px;}
                            }

                            .name{
                                padding: 0 0 0 25px;
                                font-size: 12px;
                                opacity: 0.5;
                                color:$black;
                                margin: -4px 0 7px 0;
                            }
                    }

                    .destinationTime{
                        @extend .companyInfo;
                        width:100px / 943px * 100%;

                            .time{
                                padding:0;
                                font-size: 20px;
                                font-weight: 600;

                                    i{
                                    font-style: normal;
                                    font-size: 12px;
                                    color: $black;
                                    opacity: 0.5;
                                    padding: 0 0 0 3px;
                                    }
                            }

                            .destination{
                                padding:0;
                                font-size: 12px;
                                opacity: 0.5;
                                color:$black;
                                line-height: 12px;
                                text-transform: uppercase;
                            }
                    }

                    .duration{
                        @extend .companyInfo;
                        width:109px / 943px * 100%;

                            .durationTime{
                                padding:0;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 28px;
                            }

                            .durationStop{
                                padding:0;
                                font-size: 12px;
                                opacity: 0.5;
                                color:$black;
                                line-height: 6px;
                            }
                    }

                    .only{
                        @extend .companyInfo;
                        width:44px / 943px * 100%;

                            .numberBox{
                                margin: 7px 0 0 0;

                                    span{
                                      width: 14px;
                                      height: 14px;
                                      color: $white;
                                      display: block;
                                      font-size: 10px;
                                      border-radius: 3px;
                                      text-align: center;
                                      line-height: 14px;
                                      background: $x-red;
                                      margin: 3px 0 0 6px;
                                    }
                            }

                            .onlyText{
                                padding:0;
                                font-size: 11px;
                                text-transform: uppercase;
                                color:$x-red;
                                line-height: 16px;
                            }
                    }

                    .icons{
                        @extend .companyInfo;
                        width:41px / 943px * 100%;
                        cursor: pointer;

                            span:nth-child(1){
                                display: inline-block;
                                margin: 7px 0 0 0;
                                vertical-align: middle;
                            }

                            i{
                                display: block;
                            }
                    }

                    .price{
                        @extend .companyInfo;
                        width:184px / 943px * 100%;
                        text-align: right;
                        color:$black;
                        line-height:35px;

                            span:nth-child(1){
                                display: inline-block;
                                font-size: 16px;
                                font-weight: 600;
                            }

                            span:nth-child(2){
                                display: inline-block;
                                font-size: 20px;
                                font-weight: 600;
                                padding: 0 20px 0 0;
                            }

                            .inPrice{
                                font-size: 24px !important;
                                line-height: 0;

                                    i{font-size: 18px; font-style: normal;}
                            }

                            .offPrice{
                                font-size: 12px !important;
                                color:$x-light-gray;
                                display:block;
                                line-height: 0;
                                text-decoration: line-through;
                                padding: 0 20px 0 0;
                            }
                    }

                    .priceIndicator{
                        @extend .price;
                        width:151px / 943px * 100%;
                    }

                    .bookButton{
                        @extend .companyInfo;
                        width:80px / 943px * 100%;
                        text-align: right;
                        padding:0 17px 0 0;
                    }

                    .more{
                        @extend .companyInfo;
                        width:25px / 943px * 100%;

                            span{
                                display: inline-block;
                                margin: 12px 0 0 0;
                                cursor: pointer;
                            }

                            i{
                                display: block;
                            }
                    }

                    .companyInfoIndicator{
                        @extend .companyInfo;
                        width:84px / 943px * 100%;
                    }

                    .resultIndicatorBar{
                        @extend .companyInfo;
                        width:585px / 943px * 100%;

                            .grayBar{
                                margin: 9px 15px 0 15px;
                                height: 4px;
                                width:555px / 585px * 100%;
                                border-left:3px solid $xxx-x-x-gray;
                                border-right:3px solid $xxx-x-x-gray;
                                background:$xx-x-x-x-x-x-x-x-x-x-x-x-x-light-gray;

                                    .timeSession{
                                        width:67px / 555px * 100%;
                                        height: 4px;
                                        float:left;
                                        border-right:3px solid $xxx-x-x-gray;
                                    }
                            }

                            .cirlceBar{
                                margin: -10px 0 0 0;
                                z-index: 1;
                                position: relative;

                                    .circle{
                                        width: 10px;
                                        height: 10px;
                                        border-radius: 50%;
                                        float:left;
                                        position: absolute;
                                        cursor:pointer;
                                        border: 3px solid;
                                    }

                                    .circleGray{background:$x-x-light-gray; border-color:$x-light-gray;}
                                    .circleGreen{background:$light-green; border-color:$green;}

                                    .circleOverlay{z-index: -1;}
                            }

                            .timingBar{
                                padding: 0 0 0 0;
                                overflow: hidden;

                                    .firstTimingText{
                                        float:left;
                                        font-size: 12px;
                                        line-height: 35px;
                                        color: $light-gray;
                                        padding: 0 7.7% 0 0;
                                    }

                                    .secondLastTimingText{
                                        @extend .firstTimingText;
                                        padding: 0 5.6% 0 0;
                                    }

                                    .lastTimingText{
                                        @extend .firstTimingText;
                                        padding: 0 0 0 0;
                                    }

                                    .timingsText{
                                        @extend .firstTimingText;
                                        width:67px / 555px * 100%;
                                        padding: 0 0 0 0;
                                    }
                            }
                    }

                    .indicatorTimeLine{width:100% !important;   padding: 8px 0 23px 0;}

                    .optionsDiv{
                        @extend .companyInfo;
                        width:106px / 943px * 100%;
                        text-align: right;

                            .opNumber{
                                font-size: 30px;
                                float: left;
                                color: $light-green;
                                font-weight: 600;
                                line-height: 28px;
                                 width:40px / 106px * 100%;
                            }

                            .opText{
                                @extend .opNumber;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: normal;
                                width:56px / 106px * 100%;
                            }
                    }

                    .optionsDivInt{
                        @extend .companyInfo;
                        width:126px / 943px * 100%;
                        text-align: right;
                        float: right;

                            .opNumberInt{
                                font-size: 30px;
                                float: left;
                                color: $light-green;
                                font-weight: 600;
                                line-height: 28px;
                            }

                            .opTextInt{
                                @extend .opNumberInt;
                                font-size: 12px;
                                font-weight: 400;
                                line-height: normal;
                                width:56px / 106px * 100%;
                                text-align: left;
                                padding: 0 0 0 9px;
                            }
                    }
        }

        .internationalTabPadd{padding-bottom: 9px !important;}
        .internationalTabPadd1{padding-bottom: 17px !important;}
        .internationalTabPadd2{padding-bottom: 17px !important;}

        .downArrow{
            /* width: 30px; */
            /* height: 30px; */
            /* float: right; */
            right: 0;
            /* top: 50px; */
            /* clear: both; */
            /* padding: 0; */
            cursor: pointer;
            /* z-index: 1; */
            position: absolute;
            margin: -16px 5% 0 0;

                i{display:inline-block;}
        }

        .borderNone{border:none !important;}
}

.borderNone{border:none !important;}