.flight-det-all-info{
    margin:0 0 17px 0;

        .destinationData{
            overflow: hidden;

                .companyDetails{
                    width:150px / 1130px * 100%;
                    float:left;
                    padding:0 0 0 11px;

                      .companyLogo{
                        width:49px / 139px * 100%;
                        float:left;

                          img{  padding: 3px 0 0 0;}
                      }

                      .nameClass{
                        width:70px / 150px * 100%;
                        padding:0 0 0 20px;
                        float:left;

                          .name{
                              font-size: 14px;
                              color: $black;
                              font-weight: bold;
                              line-height: 16px;
                          }

                          .class{
                            font-size:12px;
                            color:$x-light-gray;
                          }
                      }
                }

                .destinationToDiv{
                    width: 205px / 1130px * 100%;;
                    float: left;
                    text-align: right;

                        .toName{

                              .icon{
                                padding:0;

                                    i{display:inline-block;}
                              }

                              .place{
                                font-size: 24px;
                                color:$light-green;
                              }

                              .time{
                                font-size: 24px;
                                color:$black;
                              }
                        }

                        .toDate{
                          font-size:14px;
                          color:$light-gray;
                        }

                        .toAddress{
                          font-size:12px;
                          color:$x-light-gray;
                          padding: 0 0 0 3px;
                        }
                }

                .durationDiv{
                  width:120px / 1130px * 100%;
                  height:20px;
                  float: left;
                  margin:20px 50px 0 50px;

                      .duration{
                          font-size:11px;
                          color:$x-light-gray;
                          text-align: center;
                          line-height: 18px;
                          border-bottom: 1px dashed $light-green;

                              i{
                              display:inline-block;
                              margin: 0 5px 0 0;
                              }
                      }

                      .airbus{
                          @extend .duration;
                          border:none;
                      }
                }

                .destinationFromDiv{
                    @extend .destinationToDiv;
                    width: 174px / 1130px * 100%;
                    text-align: left;

                        .toAddress{
                          padding: 0 0 0 0;
                        }
                }
                
                .person-info-kg-cabin{
                    float: left;
                    width: 180px / 1130px * 100%;
                    border-left: 1px solid #e5e5e5;
  					min-height: 36px;
  					margin: 7px 0 0 0;
  					padding: 0 0 0 25px;
  					
  						.check-info-kg{
  							margin: -6px 0 0 0;
  							
  								.check-in{
  									width: 72px / 180px * 100%;
  									font-size: 14px;
									font-weight: 400;
									color: #333;
									display: inline-block;
  								}
  								
  								.person-info{
  									@extend .check-in;
  									display: inline;
  								}
  						}
  						
  						.cabin-info-kg{
  							@extend .check-info-kg;
  							margin: 0 0 0 0;
  							padding: 3px 0 0 0;
  						}
                }
                
                .weather-info{
                	@extend .person-info-kg-cabin;
                	width: 137px / 1130px * 100%;
                	
                		.weather-icon{
                			width: 56px / 137px * 100%;
                			float:left;
                			
                				i{display:block;}
                		}
                		
                		.weather-report{
                			float:left;
                			margin: -6px 0 0 0;
                			
                				span:nth-child(1){
                					  display: block;
									  color: #333333;
									  font-size: 14px;
									  font-weight: 400;
									  
									  		b{font-weight: 300; font-size: 22px;}
                				}
                				
                				span:nth-child(2){
                					  display: block;
									  color: #333333;
									  font-size: 14px;
									  font-weight: 400;
                				}
                		}
                }
        }
        
    
        .layOver{
          height:15px;
          padding: 10px 0 5px 0;



              .left{
                  width: 373px / 1130px * 100%; 
                  float: left;
                  height: 1px;
                  border-top: 1px solid #e6e6e6;
                  margin: 7px 0 7px 0;
              }

              .center{
                  float: left;
                  margin: -4px 0 0 0;
                  width: 211px / 1130px * 100%;
                  text-align: center;
                  
                  		span{
                  			font-size:12px;
                  			color:$x-light-gray;
                  			position: relative;
  							top: -2px;
                  		
                  				b{  color: #666; font-weight: 600;}
                  				i{font-style:normal;}
                  		
                  		}
              
                  		i{display:inline-block; margin: 0 5px 0 5px;}
              }

              .right{
                @extend .left;
                width: 545px / 1130px * 100%;
              }
        }
}