.flightsReturnsDepartureTab{
    border: 1px solid;

        .departureTabMain{
            padding: 15px 0 15px 0;
            overflow: hidden;

                .flightsCompanyInfo{
                      float: left;
                      width:70px / 470px * 100%;
                      padding:0 0 0 19px;

                            .companyLogo{
                                padding:0;
                            }

                            .companyName{
                                padding: 0 0 0 0;
                                font-size: 12px;
                                color: $black;
                                opacity: 0.5;
                                line-height: 12px;
                            }
                }

                .flightsDepartTime{
                    @extend .flightsCompanyInfo;
                    width:87px / 470px * 100%;
                    padding:0 0 0 0;
                    color: $black;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 36px;
                }

                .flightsArriveTime{
                    @extend .flightsDepartTime;
                    width:94px / 470px * 100%;
                }

                .flightsDurationTime{
                    @extend .flightsCompanyInfo;
                    width:100px / 470px * 100%;
                    padding: 1px 0 0 0;

                        .durationTime{
                            font-size: 16px;
                            color: $black;
                            font-weight: 400;
                        }

                        .destination{
                            font-size: 12px;
                            color:$black;
                            opacity:0.5;
                        }
                }

                .flightsPrice{
                    @extend .flightsDurationTime;
                    width:97px / 470px * 100%;
                    text-align:right;
                    margin: 0 0 0 -20px;
                    padding: 0 0 0 0;

                        .discountPrice{
                            font-size: 20px;
                            color: $black;
                            font-weight: 400;

                                i{
                                  font-size: 18px;
                                  font-style: normal;
                                }
                        }

                        .netPrice{
                            font-size: 12px;
                            color:$x-light-gray;
                            text-decoration: line-through;
                        }

                        .hdk{
                            font-size: 12px;
                            text-transform: uppercase;
                            padding: 2px 0 0 0;
                            color:$black;
                        }

                        .hdkPrice{
                            font-size: 20px;
                            line-height: 23px; 
                            color:$black;
                        }

                        .onlyPrice{
                            font-size: 20px;
                            color:$black;
                            line-height: 39px;

                                i{
                                  font-size: 18px;
                                  font-style: normal;
                                }
                        }
                }
        }

        .departureLayover{
            padding:0 0 0 0;
            margin: -2px 0 0 0;
            overflow: hidden;

                .layoverTime{
                    width:161px / 470px * 100%;
                    float: left;
                    font-size: 12px;
                    text-align: right;
                    color: $x-light-gray;
                }

                .layoverSep{
                    border-top:1px dashed $light-green;
                    width:169px / 470px * 100%;
                    float: left;
                    margin: 8px 0 0 5px;
                }
        }
}