.header {
  max-width: 100%;
  min-width: 1280px;
  height: 40px;
  background: rgba(0, 0, 0, 0.7);

  		.logo{
  			width:auto;
  			float:left;
  			cursor: pointer;

  				img{padding:11px 11px 0 11px;}
  		}

  		.navBar{
  			float:left;
  			width:auto;
  			height:40px;

  				ul{
  					list-style:none;
  					padding: 0;
  					margin: 0;

  						li{
  							float:left;
  							cursor: pointer;
  							height: 40px;
                width: 120px;
                text-align: center;
  							border-width: 0 1px 0 0;
                opacity: 1;
                font-size: 14px;
                font-weight: 400;
                color: $white;
                line-height: 40px;
                text-transform: uppercase;
  							//border-image: url(scss/skin/blackNwhite/img/common/seperation.png) 0 1 0 0;
                background: url('scss/skin/blackNwhite/img/common/seperation.png') no-repeat top right;

    								i{display:inline-block;}
    					}

  						.activeTab{
  	  					color: $black;
  							background: $white;
    					}

              .more-tab{
                  width: 58px;
                  i{
                    margin-top: 18px;
                  }
              }

    					.flightT{margin: 0 5px -3px 0;}
              
              .none{display:none;}
  				}
  		}

  		.headerRightBar{
  			width:auto;
  			float:right;
  			height:40px;

  				.country{
  					@extend .logo;
  					height:40px;
  					font-size: 14px;
  					line-height: 40px;
  					color:$white;
  					font-weight: 300;
  					padding: 0 22px 0 22px;
  					border-width: 0 1px 0 1px;
					  //border-image: url(scss/skin/blackNwhite/img/common/seperation.png) 0 1 0 1;
            background: url('scss/skin/blackNwhite/img/common/seperation.png') no-repeat top left;
  				}

  				.rsSign{
  					@extend .country;
  					border-width: 0 1px 0 0;
					  //border-image: url(scss/skin/blackNwhite/img/common/seperation.png) 0 1 0 0;
            background: url('scss/skin/blackNwhite/img/common/seperation.png') no-repeat top left;
  				}

  				.registerSignIn{
  					@extend .country;
  					border: none;
  					text-transform: uppercase;
  				}
  		}
}
