.labels{
  padding: 2px 10px 3px 10px;
  width: auto;
  font-size: 12px;
  color: $white;
  border-radius: 5px;
  cursor:pointer;
  font-weight: 400;
}

.labelsShowings{
  @extend .labels;
  padding: 8px 15px 9px 15px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.label-status{
	@extend .labels;
	font-size: 14px;
	padding: 3px 15px 4px 15px;
}

.arrivalLabelBg{background: $light-green;}
.refundableLabelBg{background: $x-light-gray;}
.showingLabelBg{background: $xx-light-gray;}
.inprocess-label-bg{background: $x-x-x-x-yellow;}
.canc-succ-label-bg{background: $light-green;}
.reschedule-label-bg{background: $light-red;}