/* Base for label styling */
.zoom-in-out{
	width:24px;
	height:48px;
	border: 1px solid $zoom-in-out-border-color;
	background: $zoom-in-out-background-color;
	div{
		width:22px;
		height:23px;
		position:relative;
		cursor:pointer;
		transition: all 0.2s;
		&:hover{
			background: $zoom-in-out-hover-background-color;
		}
		
		&:after{
			content: "";
			position: absolute;
			left: 6px;
		}
	}
	.in{
		border-bottom: 1px solid $zoom-in-out-border-color;	
		&:after{
			@extend .icons-plus-light-gray;
			top:6px;
		}
	}
	.out{
		&:after{
			@extend .icons-minus-light-gray;
			top:11px;
		}
	}
}

.resize{
	width: 23px;
	height: 23px;
	background:$resize-background-color;
	@extend .radius23px;
	position: relative;
	cursor:e-resize;
	&:after{
		@extend .icons-Resize;	
		content: "";
		position: absolute;
		left: 4px;
		top: 7px;
	}
	
}

