.meal-booking-drop{
	padding: 12px 10px 7px 10px;
	width: 325px;
  	overflow: hidden;
  	background: $white;
  	border-radius: 3px;
  	border: 1px solid $xx-x-gray;
  	box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.12);
  	
  			.types-hd-section{
  				padding: 0 0 11px 0;
  				font-weight: 400;
  				width:325px / 325px * 100%;
  				
  					span:nth-child(1){
  						width:196px / 325px * 100%;
  						display: inline-block;
						font-size: 12px;
						text-align: right;
						color: $black;
  					}
  					
  					span:nth-child(2){
  						width:61px / 325px * 100%;
  						display: inline-block;
						font-size: 12px;
						text-align: right;
						color: $black;
						text-transform: uppercase;
  					}
  					
  					span:nth-child(3){
  						width:62px / 325px * 100%;
  						display: inline-block;
						font-size: 12px;
						text-align: right;
						color: $black;
						text-transform: uppercase;
  					}
  			}
  	
  			.types-food-row{
  				padding: 0 0 5px 0;
  				width:325px / 325px * 100%;
  				
  					span:nth-child(1){
  						width:143px / 325px * 100%;
  						display: inline-block;
  						font-size: 14px;
					  	color: $gray;
					  	font-weight: 400;
  					}
  					
  					span:nth-child(2){
  						width:77px / 325px * 100%;
  						display: inline-block;
  						font-size: 14px;
					  	color: $black;
					  	font-weight: 400;
  					}
  					
  					span:nth-child(3){
  						width:65px / 325px * 100%;
  						display: inline-block;
  					}
  					
  					span:nth-child(4){
  						width:34px / 325px * 100%;
  					}
  			}
}