.multipleFlightDepatureTab{
    border: 1px solid;
    cursor: pointer;

        .departureTabMain{
            padding: 12px 0 13px 0;
            overflow: hidden;

                .flightsCompanyInfo{
                      float: left;
                      width:47px / 313px * 100%;
                      padding:0 0 0 10px;

                            .companyLogo{
                                padding:0;

                                    img{padding: 6px 0 0 0;}
                            }
                }

                .flightsDepartTime{
                    float: left;
                    width:58px / 313px * 100%;
                    padding:0 0 0 0;
                    color: $black;
                    font-size: 16px;
                    font-weight: 600;

                        .companyName{
                            padding: 0 0 0 0;
                            font-size: 12px;
                            color: $black;
                            opacity: 0.5;
                            line-height: 12px;
                        }
                }

                .flightsArriveTime{
                    @extend .flightsDepartTime;
                    width:58px / 313px * 100%;
                }

                .flightsDurationTime{
                    float: left;
                    width:81px / 313px * 100%;
                    padding: 1px 0 0 0;

                        .durationTime{
                            font-size: 14px;
                            color: $black;
                            font-weight: 400;
                        }

                        .destination{
                            font-size: 12px;
                            color:$black;
                            opacity:0.5;
                        }
                }

                .flightsPrice{
                    @extend .flightsDurationTime;
                    width:59px / 313px * 100%;
                    text-align:right;
                    margin: 0 0 0 -10px;
                    padding: 0 0 0 0;

                        .discountPrice{
                            font-size: 18px;
                            color: $black;
                            font-weight: 400;

                                i{
                                  font-size: 16px;
                                  font-style: normal;
                                }
                        }

                        .netPrice{
                            font-size: 12px;
                            color:$x-light-gray;
                            text-decoration: line-through;
                        }

                        .hdk{
                            font-size: 12px;
                            text-transform: uppercase;
                            padding: 2px 0 0 0;
                            color:$black;
                        }

                        .hdkPrice{
                            font-size: 20px;
                            line-height: 23px; 
                            color:$black;
                        }

                        .onlyPrice{
                            font-size: 20px;
                            color:$black;
                            line-height: 40px;

                                i{
                                  font-size: 18px;
                                  font-style: normal;
                                }
                        }
                }
        }

        .departureLayover{
            padding:0 0 0 0;
            margin: -3px 0 0 0;
            overflow: hidden;

                .layoverTime{
                    width:161px / 470px * 100%;
                    float: left;
                    font-size: 12px;
                    text-align: right;
                    color: $x-light-gray;
                }

                .layoverSep{
                    border-top:1px dashed $light-green;
                    width:169px / 470px * 100%;
                    float: left;
                    margin: 8px 0 0 6px;
                }
        }
}