.pagination{
	height: 20px;
	display:inline-block;
	margin:0 auto;
	padding:0;
	font-size:14px;
	
	&:after{
		content:"";
		clear: both;
	}
	
	li{
		list-style: none;
		float: left;
		width: 20px;
		height: 20px;
		margin-right: 20px;
		text-align:center;
		line-height:18px;
		background: $pagination-background-color;
		border: 1px solid $pagination-border-color;
		@extend .border-box;
		cursor:pointer;
		color:$pagination-font-color;
		transition: all 0.2s;
		
		&:nth-last-child(1){
			margin-right:0;
		}
		
		&:hover,&.selected{
			background: $pagination-selected-background-color;
			color: $pagination-hover-font-color;
			border: 1px solid $pagination-hover-border-color;
		}
	}
}