.passenger-info-box{
	width:1130px / 1130px * 100%; 
	border-bottom: 1px solid $xx-x-gray;
	min-height: 40px;
	
		.salutaion-icons{
			width:41px / 1130px * 100%; 
			float:left;
			
				i{display:block; margin: 14px 0 0 11px;}
		}
		
		.passenger-name{
			width:767px / 1130px * 100%; 
			float:left;
			padding: 0 0 0 0;
		    line-height: 40px;
		    font-size: 14px;
		    font-weight: 400;
		    color: $black;
		    cursor: pointer;
		}
		
		.booking-staus{
			@extend .passenger-name;
			width:93px / 1130px * 100%; 
			color: $light-green;
		}
		
		.ticket-no{
			@extend .passenger-name;
			width:164px / 1130px * 100%; 
			font-size: 18px;
		}
		
		.pnr-no{
			@extend .passenger-name;
			width:65px / 1130px * 100%; 
			float:right;
			font-size: 18px;
		}
}