.payment-rec-type2{
	background: #fff;
  	border: 1px solid #d4d4d4;
  	box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.12);
  	
  		.pay-rec-type2-main-data{
  			margin: 0 5px 0 5px;
  			overflow: hidden;
  			border-bottom:1px dashed #cccccc;
  			
  				.addon-rec-left{
  					float:left;
  					width:282px;
  					margin: 0 5px 0 0;
  					border-right:1px dashed #cccccc;
  					
  						.addon-rec-top-details{
							padding: 8px 0 18px 0;
							
								span:nth-child(1){
									width: 105px;
									display: inline-block;
									font-size: 12px;
									color: #999999;
									font-weight: 400;
								}
								
								span:nth-child(2){
									width: 95px;
									display: inline-block;
									font-size: 14px;
									color: #333333;
									font-weight: 600;
									text-transform: uppercase;
								}
								
								span:nth-child(3){
									float: right;
								    display: inline-block;
								    font-size: 14px;
								    cursor: pointer;
								    color: #00cc99;
								    font-weight: 400;
								    padding: 2px 10px 0 0;
								}
						}
						
						.addon-rec-fare-details{
							padding: 0 0 11px 0;
								
								.fare-amt-div{
									padding: 0 0 5px 0;
									margin: 0 0 0 0;
									
										span:nth-child(1){
											width: 120px;
											text-align: right;
											color: #666666;
											opacity:0.8;
											text-transform: uppercase;
											font-weight: 400;
											font-size: 14px;
											display: inline-block;
											
												b{color:#00cc99; font-weight: 400;}
										}
										
										.opacity-none{
											opacity:1 !important;
										}
										
										span:nth-child(2){
											margin: 0 0 0 25px;
											color: #333333;
											font-size: 14px;
											font-weight: 400;
											opacity:0.8;
											
												b{font-size:20px; font-weight: 400;}
										}
								}
						}
  				}
  				
  				.resch-rec-right{
  					@extend .addon-rec-left;
  					border:none;
  					margin: 0 0 0 0;
  					
  						.addon-rec-top-details{
							
								span:nth-child(1){
									width: 93px;
								}
						}
  				}
  		}
  		
  		
  		.rec-cards-details{
			border-bottom:1px dashed #cccccc;
			overflow: hidden;
			padding: 8px 0 8px 0;
					
				.amt-date-time{
					  float: left;
					  width: 245px;
					  padding: 0 0 0 20px;
							  
					  		span:nth-child(1){
					  			display:block;
					  			font-size: 14px;
							  	color: #00cc99;
							  	text-transform: uppercase;
							  	font-weight: 400;
					  		}
							  		
					  		span:nth-child(2){
					  			display:block;
					  			font-weight: 400;
  								font-size: 12px;
  								color: #999999;
  								
  									i{color:#00cc99; font-style:normal; cursor: pointer;}
					  		}
				}
						
				.card-type-no{
					  float: left;
					  
					  		span:nth-child(1){
					  			display:block;
							  			
					  				i{display:block;}
					  		}
							  		
					  		span:nth-child(2){
					  			display:block;
					  			font-size:12px;
					  			color:#999999;
					  			font-weight:400;
					  		}
				}
						
				.paid-amt-rs{
					  float: right;
  					  padding: 5px 30px 0 0;
  					  color:#333333;
  					  font-size:20px;
				}
		}
  		
  		.pay-rec-type2-bottom{
  			margin:0 5px 0 5px;
  			overflow: hidden;
  			
  				.amt-paid-div{
  					  float: left;
					  font-size: 14px;
					  color: #666666;
					  width: 272px;
					  font-weight: 400;
					  padding: 27px 0 33px 16px;
					  text-transform: uppercase;
  				}
  				
  				.rs-button-div{
  					 float: right;
  					 padding: 23px 15px 0 0;
  					 
  					 	span:nth-child(1){
  					 		text-align: right;
						    font-size: 20px;
						    color: #333333;
						    margin: 0 17px 0 0;
						    font-weight: 400;
  					 	}
  					 	
  					 	span:nth-child(2){
  					 		text-align: right;
  					 	}
  				}
  		}
}




.payment-rec-type3{
	@extend .payment-rec-type2;
	background: none;
	border:none;
	box-shadow: none;
	
		.pay-rec-type3-topbg{
			height: 8px;
  			background: url("scss/skin/blackNwhite/img/common/paymentReceipts/receipt-type3-top.png") no-repeat;
		}
		
		.pay-rec-type3-main-data-bg{
			background: url("scss/skin/blackNwhite/img/common/paymentReceipts/receipt-type3-mid.png") repeat-y;
		}
		
		.pay-rec-type3-bottombg{
			height: 121px;
  			background: url("scss/skin/blackNwhite/img/common/paymentReceipts/receipt-type3-bottom.png") no-repeat;
  			
  				.company-logo {
					margin: 0 auto;
					width: 227px;
					height: 56px;
					cursor: pointer;
					top: 20px;
					position: relative;
					background: url("scss/skin/blackNwhite/img/common/paymentReceipts/comlogo.png") no-repeat;
				}
		}
}



.payment-rec-type5{
	@extend .payment-rec-type3;
	
		.pay-rec-type3-topbg{
  			background: url("scss/skin/blackNwhite/img/common/paymentReceipts/receipt-type5-top.png") no-repeat;
		}
		
		.pay-rec-type2-main-data{
			margin:0 8px 0 8px;
		}
		
		.rec-cards-details{
			margin:0 8px 0 8px;
		}
		
		.pay-rec-type3-main-data-bg{
			background: url("scss/skin/blackNwhite/img/common/paymentReceipts/receipt-type5-mid.png") repeat-y;
		}
		
		.pay-rec-type3-bottombg{
  			background: url("scss/skin/blackNwhite/img/common/paymentReceipts/receipt-type5-bottom.png") no-repeat;
		}
}