.payment-rec-type1{
	width:289px;
	
		.pay-type1-top{
			height:8px;
			margin: 0 0 0 -2px;
			background: url("scss/skin/blackNwhite/img/common/paymentReceipts/receipt-type1-top.png") no-repeat;
		}
		
		.pay-type1-mid{
			height:auto;
			background: url("scss/skin/blackNwhite/img/common/paymentReceipts/receipt-type1-mid.png") repeat-y;
			
				.rec-type1-main-data{
					margin: 0 12px 0 10px;
					
						.rec-data-top-details{
							padding:4px 0 0 0;
							
								span:nth-child(1){
									display: inline-block;
									font-size: 12px;
									color: #999999;
									font-weight: 400;
								}
								
								span:nth-child(2){
									width: 135px;
									display: inline-block;
									font-size: 14px;
									color: #333333;
									font-weight: 400;
									text-align:center;
									text-transform: uppercase;
									
										i{color:#ff3333; font-style:normal;}
								}
								
								span:nth-child(3){
									float: right;
								    display: inline-block;
								    font-size: 14px;
								    cursor: pointer;
								    color: #00cc99;
								    font-weight: 400;
								    padding: 2px 0 0 0;
								}
						}
						
						.rec-data-fare-details{
							padding: 0 0 11px 0;
							border-bottom:1px dashed #c7c7c7;
							
								h3{
									padding: 19px 0 15px 0;
  									margin: 0 0 0 0;
									color:#333333;
									opacity:0.5;
									font-size:14px;
									text-align: center;
									font-weight: 400;
								}
								
								.fare-amt-div{
									padding: 0 0 5px 0;
									margin: 0 0 0 0;
									
										span:nth-child(1){
											width: 120px;
											text-align: right;
											color: #666666;
											text-transform: uppercase;
											font-weight: 400;
											font-size: 14px;
											display: inline-block;
											
												b{color: #00cc99; font-weight: 400;}
												i{color:#333333; font-style:normal;}
										}
										
										span:nth-child(2){
											margin: 0 0 0 25px;
											color: #333333;
											font-size: 14px;
											font-weight: 400;
											
												i{color:#ff3333; font-size: 20px; font-style:normal;}
										}
								}
						}
						
						.refund-amt-bot-text{
							  font-size: 14px;
							  color: #ff3333;
							  text-align: center;
							  line-height: 50px;
						}
						
						
						.rec-data-total-details{
							@extend .rec-data-fare-details;
							
								.fare-amt-div{
									padding: 11px 0 4px 0;
									margin: 0 0 0 0;
										
										span:nth-child(2){
											font-size: 20px;
										}
								}
						}
						
						
						.rec-data-cards-details{
							@extend .rec-data-fare-details;
							padding: 10px 0 10px 0;
							
								.fare-amt-div{
									padding: 0 0 0 0;
									margin: 0 0 0 0;
										
										span:nth-child(1){
											
												i{
												display:block;
												float: right;
												}
												
												.paid-amt-color{color:00cc99; font-weight: 400;}
												
												.paid-time-date{
													font-size: 12px;
													color: #999999;
													font-weight: 400;
												}
											
										}
										
										span:nth-child(2){
											font-size: 20px;
											
												.card-sm-number{
													font-size: 12px;
													color: #999999;
													position: relative;
													top: -8px;
													font-weight: 400;
												}
												
												.view-rec{
													font-size: 12px;
													color: #00cc99;
  													cursor: pointer;
  													font-weight: 400;
												}
										}
										
								}
						}
				}
		}
		
		.pay-type1-bottom{
			height:124px;
			background: url("scss/skin/blackNwhite/img/common/paymentReceipts/receipt-type1-bottom.png") no-repeat;
			
				.company-logo{
					margin: 0 auto;
					width: 227px;
					height: 56px;
					cursor: pointer;
					top: 20px;
  					position: relative;
					background: url("scss/skin/blackNwhite/img/common/paymentReceipts/comlogo.png") no-repeat;
				}
		}
		
		
		
		
		.add-on-rec-type{
			@extend .pay-type1-mid;
			background: #fff;
  			border: 1px solid #d4d4d4;
  			
  				.rec-type1-main-data{
  						
  						.rec-data-top-details{
  							padding: 8px 0 18px 0;
  						}
  						
  						.rec-data-fare-details{
  							
  								span:nth-child(1){
  									opacity:0.8;
  									
  										b{font-weight:600; opacity:1;}
  								}
  								
  								span:nth-child(2){
  									opacity:0.8;
  									
  										b{font-weight:600; opacity:1;   font-size: 20px;}
  								}
  						}
  						
  						.rec-amt-paid-div{
		  					@extend .rec-data-fare-details;
		  					padding: 28px 0 20px 0;
		  					border:none;
		  					
		  						span:nth-child(1){
  									opacity:1;
  									width: 150px !important;
  								}
  								
  								span:nth-child(2){
  									opacity:1;
  									font-weight: 400;
  								}
		  				}
		  				
		  				
		  				.rec-button-div{
		  					@extend .rec-data-fare-details;
		  					padding: 0 0 20px 0;
							text-align: center;
		  					border:none;
		  				}
  				}
		}
}




.payment-rec-type6{
	@extend .payment-rec-type1;
		
		.pay-type1-bottom{
			background: url("scss/skin/blackNwhite/img/common/paymentReceipts/receipt-type6-bottom.png") no-repeat;
		}
		
		.pay-type1-mid{
		
				.refund-amt-bot-text{
					border-bottom:1px dashed #c7c7c7;
				}
		}
		
		.add-on-rec-type{
			border:none;
			background: url("scss/skin/blackNwhite/img/common/paymentReceipts/receipt-type1-mid.png") repeat-y;
		}
}