.paymentReceipt{
    width:397px;
    overflow: hidden;

        .paymentReceiptTop{
            background: url('scss/skin/blackNwhite/img/common/paymentReceipts/receiptbgtop.png') no-repeat;
            height:90px;
        }

        .paymentReceiptMidData{
            background: url('scss/skin/blackNwhite/img/common/paymentReceipts/receiptbgmid.png') repeat-y;

                .container{
                    margin: 0 26px 0 40px;
                    position: relative;
                    top: -35px;

                        .detailsBox{
                            padding: 15px 0 10px 0;
                            margin: 0 13px 0 13px;
                            height:auto;
                            border-bottom: 1px dashed $x-x-light-gray;

                                .nameDetials{
                                    font-size: 14px;
                                    text-align: center;
                                    text-transform: uppercase;
                                    color: $gray;
                                    opacity: 0.5;
                                    font-weight: 400;
                                }

                                .cardTypeName{
                                    @extend .nameDetials;
                                    font-size: 12px;
                                }

                                .outputDetials{
                                    @extend .nameDetials;
                                    font-size: 24px;
                                    opacity: 1;
                                    padding: 2px 0 0 0;
                                    text-transform: none;

                                        i{
                                            display:inline-block;
                                            margin: 10px 0 0 0;
                                        }

                                        .fareBrkUp{
                                            padding: 10px 0 0 0;
                                            opacity: 0.8;
                                            font-size: 14px;
                                            text-align: left;

                                                label{
                                                    color: $black;
                                                    font-weight: 400;
                                                    padding: 0 20px 0 0;
                                                    width: 138px;
                                                    text-align: right;
                                                    float: left;
                                                }

                                                span{
                                                    color: $gray;
                                                }
                                        }
                                }

                                .companyLogo{
                                    margin: 0 auto;
                                    width: 227px;
                                    height: 56px;
                                    cursor: pointer;
                                    background: url('scss/skin/blackNwhite/img/common/paymentReceipts/comlogo.png') no-repeat;
                                }
                        }


                        .borderNone{border:none !important;}
                }
        }       

         .paymentReceiptBottom{
            background: url('scss/skin/blackNwhite/img/common/paymentReceipts/receiptbgbottom.png') no-repeat;
            height:52px;
        }
}