.photosListbox{
  height:130px;
  width:100%;
  position: relative;

  figcaption {
    height: 130px;
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    background: rgba(0,0,0,0.4);
    transition: .4s background linear;

        .numberBox{
          width: 24px;
          height: 24px;
          background: $light-red;
          text-align: center;
          font-size: 14px;
          color:$white;
          line-height: 24px;
          z-index: 1;
          position: absolute;
          border:1px solid $dark-red;
        }

        .hotelName{
            padding: 68px 0 0 10px;
            float: left;

              h3{
              color:$white;
              font-size:16px;
              display: inline-block;
              }

              span{
              color:$dark-yellow;
              font-style: normal;
              font-size: 14px;
              font-weight: bold;
              margin: 0 0 0 2px;

                  i{
                  display: inline-block;
                  }
              }

              .startIcon{
                background: url("scss/skin/blackNwhite/img/photos/star.png") no-repeat;
                width: 72px;
                height: 15px;
                margin: -12px 0 0 0;
                cursor: pointer;
              }
              .startIcon2{
                background: url("scss/skin/blackNwhite/img/photos/star2.png") no-repeat;
                width: 72px;
                height: 15px;
                margin: -12px 0 0 0;
                cursor: pointer;
              }
        }

        .hotelPrice{
            float: right;
            padding: 98px 7px 0 0;
            color:$white;
            font-size: 23px;
        }
  }
.from{
  position:absolute;
  right:10px;
  bottom:29px;
  font-size:12px !important;
  color:#fff !important;
  font-weight: normal !important;
}
  figcaption:hover, .hover{
    background: rgba(0, 204, 153, 0.2);
    transition: .4s background linear;
  }

  figcaption.selected{
    background: rgba(0, 204, 153, 0.4);
    transition: .4s background linear;
  }
}