.pinned{
    padding: 0 20px 0 20px;
    font-size: 14px;
    color: $white;
    line-height: 26px;
    transform: skew(20deg); 
    cursor: pointer;
    display: -webkit-inline-box;

        .skew{
              transform: skew(-20deg) !important; 
        }
}

.pinnedBg{background: $red;}
.bestBg{background: $light-green;}
.cheapestBg{background: $x-yellow;}
.fastestBg{background: $blue;}