.places-search-main{
	min-width:305px;
	height:168px;
	overflow:auto;
	float: none !important;
	border: 1px solid $xx-x-x-x-x-x-x-light-gray;
	
		.place-name{
			padding: 0 10px 0 15px;
		    color: $xx-x-x-x-x-x-x-x-x-x-x-x-light-gray;
			font-size: 14px;
		    line-height: 26px;
		    cursor: pointer;
		    background: $white;
		}
		
		.place-name:hover{
		    color: $black;
		    font-weight:bold;
		    background: $xxx-x-light-green;
		}
}