/* Base for label styling */

[type="radio"] {
  outline:none;
  &:not(:checked), &:checked {
    position: absolute;
    left: -9999px;
  }
  &:not(:checked) + label, &:checked + label {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
  }
  &:not(:checked) + label:before, &:checked + label:before {
    content: '';
    position: absolute;
    left: 0; 
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $radio-border-color;
    background: $radio-bg;
    @extend .radius8px;
	@extend .border-box;
  }
  &:checked + label:before {
   background: $radio-checked-bg;
   border: 1px solid $radio-checked-bg;
  }
  &:not(:checked) + label:after, &:checked + label:after {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    font-size: 12px;
    width: 8px;
    height: 8px;
    @extend .radius4px ;
	@extend .border-box;
    background: $radio-checked-color;
    transition: all .2s;
    text-align: center;
    line-height: 16px;
  }
  &:not(:checked) + label:after {
    opacity: 0;
    transform: scale(0);
  }
  &:checked + label:after {
    opacity: 1;
    transform: scale(1);
  }
  &:disabled {
    &:not(:checked) + label:before {
      background-color: $radio-disabled-bg-color;
    }
    &:checked + label {
      &:before {
      	color: $radio-disabled-color;
      	background-color: $radio-disabled-bg-color;
      	border: 1px solid $radio-border-color;
      }
      &:after {
        background-color: $radio-disabled-color;
      }
    }
    + label {
      color: $radio-disabled-color;
    }
  }
}
