.receiptHoverTabs{
    width:571px / 571px * 100%;
    float:left;
    height:118px;
    background:$white;
    border: 1px solid $light-green;

        .lineText{
            width:367px / 571px * 100%;
            padding: 0 0 0 0;
            float:left;

                h3{
                    color: $light-green;
                    font-size: 20px;
                    font-weight: 400;
                    padding: 0 0 0 20px;
                    margin: 0;
                    line-height: 60px;
                }

                p{
                    font-size: 14px;
                    color: $gray;
                    padding: 0 0 0 20px;
                    margin: 0;
                }
        }

        .lineText1{
            @extend .lineText;
            width:265px / 571px * 100%;
        }

        .socailBoxFb{
            width:101px / 571px * 100%;
            float:left;
            height:118px;
            cursor: pointer;
            border-left:1px solid $light-green;

                div:first-child{
                    padding: 20px 0 0 0;
                    text-align: center;
                    line-height: 57px;
                    color: $x-x-light-blue;
                    display: block;
                    font-size: 14px;

                        i{display:block; margin:0 auto;}
                }

                div:last-child{
                    padding: 20px 0 0 0;
                    margin: -118px 0 0 0;
                    text-align: center;
                    line-height: 57px;
                    color: $white;
                    font-size: 14px;
                    background: $x-x-light-blue;

                            i{display:block; margin:0 auto;}
                }
        }

        .socailBoxFb:hover > div:first-child, .socailBoxFb > div:last-child {
            visibility: hidden;
            z-index: 0;
        }

        .socailBoxFb:hover > div:last-child {
            visibility: visible;
            z-index: 1;
        }

        .socailBoxTwitter{
            @extend .socailBoxFb;

                div:first-child{
                    padding: 29px 0 0 0;
                    color: $x-x-x-light-blue;
                }

                div:last-child{
                    padding: 29px 0 0 0;
                    color: $white;
                    background: $x-x-x-light-blue;
                }
        }

        //Hotel start here//
        .stepsBoxHotel{
            @extend .socailBoxFb;

                div:first-child{
                    padding: 35px 0 0 0;
                    color: $light-green;
                }

                div:last-child{
                    padding: 35px 0 0 0;
                    color: $white;
                    background: $light-green;
                }
        }
        //Hotel end here//


        //Activity start here//
        .stepsBoxActivity{
            @extend .stepsBoxHotel;

                div:first-child{
                    padding: 28px 0 0 0;
                }

                div:last-child{
                    padding: 28px 0 0 0;
                }
        }
        //Activity end here//


        //Bus start here//
        .stepsBoxBus{
            @extend .stepsBoxHotel;

                div:first-child{
                    padding: 35px 0 0 0;
                }

                div:last-child{
                    padding: 35px 0 0 0;
                }
        }
        //Bus end here//

        //Car start here//
        .stepsBoxCar{
            @extend .stepsBoxHotel;

                div:first-child{
                    padding: 34px 0 0 0;
                }

                div:last-child{
                    padding: 34px 0 0 0;
                }
        }
        //Car end here//

        //Flight start here//
        .stepsBoxFlight{
            @extend .stepsBoxHotel;

                div:first-child{
                    padding: 21px 0 0 0;
                }

                div:last-child{
                    padding: 21px 0 0 0;
                }
        }
        //Flight end here//

        //Ferry start here//
        .stepsBoxFerry{
            @extend .stepsBoxHotel;

                div:first-child{
                    padding: 30px 0 0 0;
                }

                div:last-child{
                    padding: 30px 0 0 0;
                }
        }
        //Ferry end here//
}