.rqst-status-drop{
	padding: 0 0 0 0;
	width: 187px;
  	overflow: hidden;
  	background: $white;
  	border-radius: 3px;
  	border: 1px solid $xx-x-gray;
  	box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.12); 	
  	
  		.rqst-menu-list{
  			padding:10px;
  			border-bottom: 1px solid #e9e9e9;
  			
  				ul{
  				  margin: 0;
				  padding: 0;
				  list-style: none;
				  
				  	li{
				  		font-size: 14px;
						color: #000;
						font-weight: 400;
						padding: 0 0 12px 0;
						cursor: pointer;
				  	}
				  	
				  	li:last-child{padding: 0 0 2px 0;}
  				}
  				
  				.rqst-info{
  					padding:0 0 0 0;
  					line-height: 17px;
  					
  						span{
  							font-size: 12px;
						  	color: #666666;
						  	font-weight: 400;
  						}
  				}
  				
  				.total-amt-price{
  					@extend .rqst-info;
  					
  						span{font-size: 14px;}
  				}
  		}
  		
  		.border-none{border:none !important;}
}