.request-main-rows{
	width:1170px / 1170px * 100%;
	min-height: 63px;
  	border-radius: 5px;
  	border: 1px solid;
  	
  		.request-name{
  			 float: left;
			 font-size: 16px;
			 color: #666666;
			 font-weight: 400;
			 line-height: 63px;
			 padding: 0 0 0 15px;
  		}
  		
  		.status-more-all-right{
  			 float: right;
  			 padding: 0 20px 0 0;
  			 
  			 	.status-type{
  			 		float: left;
				  	font-size: 16px;
				  	color: #666666;
				  	line-height: 63px;
				  	font-weight: 400;
  			 	}
  			 	
  			 	.button-div{
  			 		padding: 13px 0 0 20px;
  			 		float: left;
  			 	}
  			 	
  			 	.total-amt-rs{
  			 		float: left;
  					line-height: 60px;
  					
  						span:nth-child(1){
  							  font-size: 16px;
							  color: #333;
							  font-weight: 400;
  						}
  						
  						span:nth-child(2){
  							  font-size: 24px;
  						}
  			 	}
  			 	
  			 	.more-icon{
  			 		float: left;
  			 		margin: 25px 0 0 15px;
  					cursor: pointer;
  			 		
  			 			i{display:block;}
  			 	}
  		}
  		
  		.rqst-text-info{
  			  font-size: 14px;
			  margin: -10px 0 0 0;
			  color: #666;
			  font-weight: 400;
			  padding: 0 230px 15px 15px;
  		}
}

.inprocess-row{
	background:$white;
	border-color:#f2c500;
}

.completed-row{
	background:$white;
	border-color:#00cc99;
}

.aborted-row{
	background:	none;
	border-color:#cccccc;
}

.on-hold-row{
	background:$white;
	border-color:#cccccc;
}

.done-row{
	background:$white;
	border-color:#f2c500;
}

.confirm-order-row{
	background:$white;
	border-color:#ff3333;
}