.roomsGuestBox{
  width:auto;
  height: auto;
  overflow: hidden;
  background:$white;
  border-radius:3px;
  box-shadow: 0px 1px 8px 1px $gray-shdow-color;

      .headingDiv{
          overflow: hidden;

            .adultsHd{
              margin:0 0 0 106px;
              padding: 0px 0 14px 0;
              width:125px;
              color:$black;
              font-size:14px;
              line-height: 15px;
              font-weight: 400;
              float:left;
            }

            .childrenHd{
              @extend .adultsHd;
              margin:0 0 0 0;
              width:auto;
            }
      }

      .containDiv{
          margin: 0 0 10px 0;
          border-bottom:1px solid $xx-x-gray;
          overflow: hidden;
          line-height: 42px;

            .roomDiv{
              width: 105px;
              font-weight: 600;
              color:$black;
              font-size:14px;
              float:left;

                i{
                  margin: 0 4px -1px 0;
                  display: inline-block;
                  opacity: 0.4;
                  cursor: pointer;
                }
            }

            .adultsDiv{
              width: 126px;
              float:left;

                i{
                  display: inline-block;
                  margin: 0 -2px 0 0;
                }
            } 

            .childrenDiv{
              width: 190px;
              float:left;

                .no-passen{
                  float: left;
                  width: 61px;
                  margin: 16px 0 0 0;

                    i{
                      display: inline-block;
                    }

                    .numberSpan{
                      margin: 0 0 0 4px;
                      position: absolute;
                    }

                }
            }

            .ageDiv{
              width: 59px;
              float:left;
              margin: 16px 0 0 0;

                  i{
                    display: inline-block;
                    margin: 0 0 0 0;
                  }

                  .numberSpan{
                    margin: 0 0 0 4px;
                    position: absolute;
                  }

                  label{
                      margin: -33px 0 0 -10px;
                      display: block;
                      position: absolute;
                      width: 59px;
                      text-align: right;
                  }
            }
      }

      .addRooms{
        font-size: 14px;
        color: $light-green;
        font-weight: 600;
        cursor: pointer;
      }

      .recentSearchesDiv{
          padding: 10px;
          cursor: pointer;
          border-bottom:1px solid $xx-x-gray;

            .fromTo{
              padding: 0 0 0 10px;
              color:$black;
              font-weight: 400;
              line-height: 28px;

                .NameAdj{margin: 0 0 0 12px;}

                i{
                font-style: normal;
                margin: -1px 0 0 0;
                position: absolute;
                }
            }

            .journey-date{
              padding: 0 0 0 10px;
              font-weight: 300;
              line-height: 19px;
              color:$light-gray;
            }

            .cityName{ 
              @extend .fromTo;
              line-height: 22px;
            }
      }
      
      .recentSearchesDiv:hover{background:#e5faf5;}

      .search-hover{
        background: #e5faf5;
      }
      .last{border:none !important;}
}

.roomsGuestBox-padd{padding:10px;}