.searchBar{
    padding:13px 0 3px 0;
    margin: 0 auto;
    min-width:1170px;
    max-width:1330px;
    height:auto;
    
        .formBar{
            clear: both;
            padding: 0 0 10px 0;

                .left-single-search-bar{
                    width: 864px / 1170px * 100%;
                    float:left;

                        .formLocation{
                            width: 526px / 864px * 100%;
                            float:left;
                            padding: 0 10px 0 0;
                            border-right: 1px dashed $xx-x-x-x-x-x-x-x-x-light-gray;

                                div{
                                    float:left;
                                }

                                .toWidth{
                                    width: 241px / 526px * 100%;
                                }

                                .interchange{
                                    padding: 10px 13px 0 13px;
                                    opacity: 0.6;
                                    text-align: center;

                                        i{display:inline-block;}
                                }
                        }

                        .formLocation1{
                            @extend .formLocation;
                            width: 686px / 864px * 100%;

                                .toWidth{
                                    width: 322px / 686px * 100%;
                                }

                                .interchange{
                                    padding: 10px 10px 0 10px;
                                }
                        }

                         .formCalender{
                            @extend .formLocation;
                            width: 319px / 864px * 100%;
                            padding: 0 0 0 0;

                                .cal{width:140px;}

                                .calDiv{
                                    padding: 0 9px 0 10px;
                                    margin:0 0 0 0;
                                    width: 140px / 319px * 100%;
                                }
                        }

                        .singleCalender{
                            @extend .formCalender;
                            width: 166px / 864px * 100%;

                                .calDiv{
                                    width: 140px / 166px * 100%;
                                    padding: 0 0 0 13px;
                                }
                        }

                        .multiple-left-margin{
                            margin: 0 0 10px 0;
                            overflow: hidden;
                        }
                }

                .right-single-search-bar{
                    width: 306px / 1170px * 100%;
                    float:left;

                        .formGuest{
                            @extend .formLocation;
                            width: 154px / 306px * 100%;
                            border:none;
                            float: left;

                                .dropdownDiv{
                                    padding: 0 0 0 10px;
                                    width: 140px / 153px * 100%;
                                }

                                .adultOutput{
                                    @extend .dropdownDiv;
                                    font-size: 14px;
                                    color: $black;
                                    line-height: 36px;

                                        i{display: inline-block;   margin: 0 5px -3px 0;}
                                }
                        }

                        .formButton{
                            @extend .formLocation;
                            width: 152px / 306px * 100%;
                            border:none;
                            float:right;
                            text-align: right;
                            padding: 0;

                                .buttonDiv{
                                    float:right;
                                }
                        }
                }


                .formMultipleData{
                    @extend .formLocation;
                    width: 865px / 1170px * 100%;

                        .destinationData{
                            width: 182px / 865px * 100%;

                                .destinationNumber{
                                    float:left;
                                    margin: 0 9px 0 0;
                                }

                                .destinationName{
                                    @extend .destinationNumber;

                                        .placeName{
                                            display:block;
                                            font-size: 20px;
                                            color: $light-green;
                                            line-height: 18px;
                                        }

                                        .placeDate{
                                            @extend .placeName;
                                            font-size: 14px;
                                            color: $light-gray;
                                        }
                                }
                        }

                        .destinationData1{
                            width: 135px / 865px * 100%;

                                .destinationNumber{
                                    float:left;
                                    margin: 0 9px 0 0;
                                }

                                .destinationName{
                                    @extend .destinationNumber;

                                        .placeName{
                                            display:block;
                                            font-size: 20px;
                                            color: $light-green;
                                            line-height: 18px;
                                        }

                                        .placeDate{
                                            @extend .placeName;
                                            font-size: 14px;
                                            color: $light-gray;
                                        }
                                }
                        }
                }

                .borderNone{border:none !important;}

                .textDiv{
                    padding: 0 0 0 0;
                    border:none;

                        .regularNav{
                            height: 25px;
                            padding: 0 45px 0 0;
                            line-height: 30px;
                            font-size:14px;
                            color:$black;
                            float:left;

                                a{
                                 text-decoration: none;
                                 width: 50px;
                                 color:$black;
                                 height: 26px;
                                 display: inline-block;
                                }

                                .active-nav{
                                 text-decoration: none;
                                 font-weight:bold;
                                 border-bottom:2px solid $light-green;
                                }

                                label{
                                    opacity:0.8;
                                }

                                span{
                                    @extend label;
                                    font-weight: bold;
                                    cursor: pointer;
                                }

                                .recentSearches{
                                    font-weight:400;
                                    cursor: pointer;
                                      i{
                                      display:inline-block;
                                      margin: 0 10px -1px 0;
                                      }
                                }
                              .days{
                                font-weight:400;
                                cursor: pointer;
                                line-height: 38px;

                                i{
                                  display:inline-block;
                                  margin: 0 10px -1px 0;
                                }
                              }
                              .price, .duration, .type, .show-only, .neighbour, .ammenities{
                                font-weight:400;
                                cursor: pointer;
                                line-height: 32px;

                                i{
                                  display:inline-block;
                                  margin: 0 10px -1px 0;
                                  position: relative;
                                  top: -4px;
                                }
                              }

                                .showMore{
                                    color:$light-green;
                                    cursor: pointer;
                                    line-height: 18px;
                                    padding: 5px 0 0 0;
                                    border-bottom: 1px solid $light-green;
                                }
                        }
                }
        }


        .add-new-flight{
            padding: 0;
            font-size: 14px;
            width: 90px;
            color: $light-green;
            border: 1px dashed $light-green;
            border-radius: 5px;
            text-align: center;
            line-height: 26px;
            cursor: pointer;
            clear: both;
            position: relative;
            top: 10px;
        }

        .formBarTop{padding:0 0 0 0;}
        .formBarBot{padding: 10px 0 35px 0;}
        .form-overflow{overflow: hidden;}
}