.barSlider{
    border: none;
    height: 4px;
    margin: 0 0 0 0;
    background: rgb(0, 204, 153);
}

.barSlider1{
   left: 0%;
   width: 100%;
   height: 4px;
   border: none;
   background: rgb(0, 204, 153);
}


.sliderLeftCircle{
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 8px 1px;
  cursor: pointer;
  outline: none;
  border: none;
  margin: -3px 0px 0px 0;
  padding: 0px;
  background: white;
}


.sliderRightCircle{
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 8px 1px;
  cursor: pointer;
  outline: none;
  border: none;
  margin: -3px 0px 0px 0;
  background: white;
}