.social-fb-buttons{
    width:auto;
    border-radius: 3px;
    background: $fb;
    overflow: hidden;
    cursor: pointer;

        .social-icon{
            width: 46px;
            height: 40px;
            background: $fb-dark;
            display: inline-block;
            text-align: center;

                i{
                display:inline-block;
                margin: 10px 0 0 0;
                }
        }

        .social-text{
            width: auto;
            color: $white;
            padding: 0 15px 0 15px;
            position: absolute;
            line-height: 40px;
            font-size: 14px;
        }
}

.social-google-buttons{
  @extend .social-fb-buttons;
  background: $google;

      .social-icon-google{
          @extend .social-icon;
          background: $google-dark;
      }
}

.social-twitter-buttons{
  @extend .social-fb-buttons;
  background: $twitter;

      .social-icon-twitter{
          @extend .social-icon;
          background: $twitter-dark;
      }
}

.social-linkedin-buttons{
  @extend .social-fb-buttons;
  background: $linkedin;

      .social-icon-linkedin{
          @extend .social-icon;
          background: $linkedin-dark;
      }
}
