.tabs-share-drop{
    padding: 12px 20px 12px 20px;
    overflow: hidden;
    background: $white;
    border-radius: 3px;
    border: 1px solid $xx-x-gray;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.12);

        ul{
          margin: 0 0 0 0;
          list-style: none;
          padding: 0;

              li{
                padding: 0;
                color: $black;
                font-size: 14px;
                font-weight: 400;
                line-height: 30px;
                cursor: pointer;
              }
        }
}