.textInput{
	width: 100%;
	height: 35px;
	position:relative;
	input,select,textarea{
		line-height: 35px;
		width:inherit;
		height:inherit;
		border: 1px solid $textinput-border-color;
		background-color:$background;
		text-indent: 10px;
		@extend .radius5px ;
		@extend .border-box;
		color:$textInput-text-color;
		font-size:14px;
		transition: all .2s;
		position:relative;
		z-index:0;
		&:focus{
			border-color:$textInput-focus-border-color;
			outline: none;
		}
		option{
			text-indent: 10px;
		}
	}
	select{text-indent:6px;}
	&.focus{
		input,select,textarea{
			border-color:$textInput-focus-border-color;
			outline: none;
		}
	}
	&.error{
		input,select,textarea{
			border-color:$textInput-focus-error-color;
			outline: none;
		}
	}
	&.warning{
		input,select,textarea{
			border-color:$textInput-focus-warning-color;
			outline: none;
		}
	}
	&.disabled{
		input,select,textarea{
			border-color:$textInput-disabled-border-color;
			background-color:$textInput-disabled-background-color;
			color:$textInput-disabled-text-color;
			&:focus{
				border-color:$textInput-disabled-border-color;
				outline: none;
			}
		}
		&.focus{
			border-color:$textInput-focus-border-color;
			outline: none;
		}
		.icon-left, .icon-right{
			opacity:0.6;	
		}
	} 
	&.il{
		input,select{
			text-indent:33px;
		}
	} 
	&.ir{
		input,select{
			padding-right:33px;
		}
	} 
	.icon-left, .icon-right{
		position: absolute;
		left: 0;
		top: 0;
		width:33px;
		height:32px;
		z-index: 1;
		text-align: center;
		display: table;
		i{
			display: table-cell;
			vertical-align:middle;
			margin: 4px 0 0 0;
			i{
				display: inline-block;
			}
		}
	}
	.icon-right{
		left: auto;
		top: 0;
		right: 0;
	}
	&.ll{
		padding-left: 32px;
		.icon-left{
			left: 32px;
		}
		input,select{
			padding-right:33px;
			width:calc(100% - 33px);
			width:-webkit-calc(100% - 33px);
		}
	}
	.label-left{
		position: absolute;
		left: 0;
		top: 0;
		width:35px;
		height:35px;
		z-index: 0;
		text-align: center;
		display: table;
		background:$textInput-embed-label-background-color;
		transition: all .2s;
		cursor:pointer;
		& > i{
			display: table-cell;
			vertical-align:middle;
			width:100%;
			height:100%;
			text-indent:-2px;
			font-style: normal;
			font-size:16px;
			font-weight:400;
			color: $textInput-embed-label-color;
			& + i{
				display: none;
				vertical-align:middle;
				i{
					display: inline-block;
					font-style: normal;
				}	
			}
		}
		
		&:hover{
			background-color: $textInput-embed-label-hover-background-color;
			& > i{
				display: none;
				& + i{
						display: table-cell;
					}
				}
			}
		}
		
}


.numberInput{
	padding: 2px 0 2px 4px;
  	width: 35px;
	color: $black;
	font-size: 14px;
	outline: none;
	border-radius: 5px;
	background:$x-white;
	border:1px solid $xx-x-x-light-gray;
}
