.travellerTable{
    background:$white;
    border:1px solid $xxx-x-x-x-gray;
    border-radius: 5px;
    overflow: hidden;

        .tabsName{
            background: $white;
            border-bottom: 1px solid $light-green;

                ul{
                    padding: 0;
                    margin: 0 0 0 35%;
                    list-style:none;
                    overflow: hidden;
                    line-height: 40px;

                        li{
                            float:left;
                            font-size: 14px;
                            width: auto !important;
                            padding: 0 15px 0 15px;
                            font-weight: bold;

                                a{
                                color:$light-green;
                                text-decoration:none;
                                padding: 0 0 9px 0;
                                }
                        }
                }

                ul li.selected a, ul li.selected a:hover {
                        position: relative;
                        top: 0;
                        border-bottom:2px solid $light-green;
                        color:$light-green;
                 }
        }

        .tableDiv{
            padding: 10px;

                .single-flight-details{
                    border-bottom: 1px solid $xx-x-gray;
                    padding: 0 0 20px 0;

                        h3{
                          font-size: 20px;
                          color: $gray;
                          font-weight: 600;
                          padding: 0 0 15px 10px;
                          margin: 0;
                        }

                        img{
                            float: left;
                            padding: 0 10px 0 0;
                        }

                        .row-details-div{
                            padding: 0 0 5px 10px;
                            overflow: hidden;

                                label{
                                    padding: 0;
                                    font-size: 14px;
                                    color: $black;
                                    font-weight: 400;
                                    line-height: 35px;
                                    float: left;
                                    width:200px / 1150px * 100%;

                                        i{display:inline-block; margin: 0 18px 0 0;}
                                }

                                .seat-det-forms{
                                    float: left;
                                    width:220px / 1150px * 100%;
                                    margin: 0 10px 0 0;

                                        .seat-width{
                                            width:156px / 220px * 100%;
                                            float: left;

                                                .select-radius{
                                                    border-top-left-radius: 5px;
                                                    border-bottom-left-radius: 5px;
                                                    border-top-right-radius: 0;
                                                    border-bottom-right-radius: 0;
                                                }
                                        }

                                        .seat-output{
                                            width:60px / 220px * 100%;
                                            float: left;

                                                .input-radius{
                                                    border-left: none;
                                                    border-top-left-radius: 0;
                                                    border-bottom-left-radius: 0;
                                                    border-top-right-radius: 5px;
                                                    border-bottom-right-radius: 5px;
                                                }
                                        }
                                }

                                .seat-det-forms-second{
                                    @extend .seat-det-forms;
                                    width:339px / 1150px * 100%;
                                }
                        }
                }

                .return-flight-details{
                    @extend .single-flight-details;
                    border:none;
                    padding: 13px 0 0 0;
                }
        }

        .travellers-footer{
            padding:0;
            border-top: 1px solid $x-x-light-gray;
            box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
            overflow: hidden;

                .footer-text{
                    float:left;
                    padding:10px;

                        span:nth-child(1){
                            display:block;
                            font-size: 14px;
                            color: $gray;
                            font-weight: 400;
                            line-height: 22px;
                        }

                        span:nth-child(2){
                            display:block;
                            font-size: 12px;
                            color: $light-gray;
                            font-weight: 400;
                            text-decoration: underline;
                        }
                }

                .price-button{
                    float:right;
                    padding: 10px 20px 0 0;

                        .price-footer-div{
                              float: left;
                              font-size: 24px;
                              color: $gray;
                              line-height: 36px;
                              padding: 0 20px 0 0;
                        }

                        .button-footer-div{float:left;}
                }
        }

        .noBorder{border:none !important;}
}