.travellers-popup{
    padding: 20px;
    overflow: hidden;
    background: $white;
    border-radius: 3px;
    border:1px solid $x-x-light-gray;
    box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.12);

        h3{
          padding: 0 0 6px 0;
          margin: 0;
          color: $light-green;
          font-weight: 400;
          font-size: 16px;
        }

        ul{
          list-style: none;
          padding: 0;
          margin: 0;

                li{
                    padding:0;
                    font-size: 14px;
                    color: $light-gray;
                    line-height: 30px;
                    cursor: pointer;

                        i{display:inline-block;   margin: 0 10px 0 0;}
                }
        }
}