.ui-tabs-vertical { 
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: $white;
    border:1px solid $xx-x-x-x-x-x-x-light-gray;
    //box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.12);

        i{
            display: inline-block;
            margin: 12px 0 0 -12px;
            position: absolute;
        }

        .topHd{
            width:100%;
            background:$light-green;
            line-height: 40px;
            text-align: center;
            font-size: 16px;
            color:$white;
        }

        .ui-tabs-nav {
           padding: 0;
           margin: 0;
           float: left;
           width: 94px;
           height: auto;
           background:$x-x-x-x-x-light-gray;

                ul{

                    li {
                     padding: 0 0 0 0;
                     margin: 0;
                     width: 100%;
                     font-size: 14px;
                     cursor: pointer;
                     list-style: none;
                     border-radius: 0;
                     background: $x-x-x-x-x-light-gray;

                        a {
                         text-decoration:none;
                         color:$black;
                         display: block;
                         padding: 0 0 0 10px !important;
                         line-height: 40px;
                         outline: none;
                         float:none;
                         float: none !important;
                         border-top: 1px solid $xx-x-x-x-x-x-x-x-light-gray;
                         border-right: 1px solid $xx-x-x-x-x-x-x-x-light-gray;
                         border-bottom: 0 solid $xx-x-x-x-x-x-x-x-light-gray;
                         border-left: 0 solid $xx-x-x-x-x-x-x-x-light-gray;
                         overflow: hidden;
                        }                         
                    }

                    :hover{
                     border-top: 1px solid $xx-x-x-x-x-x-x-x-light-gray;
                     border-right: 0 solid $xx-x-x-x-x-x-x-x-light-gray;
                     border-bottom: 0 solid $xx-x-x-x-x-x-x-x-light-gray;
                     border-left: 0 solid $xx-x-x-x-x-x-x-x-light-gray;
                     background: $white;
                    }

                    .ui-tabs-active {
                        padding: 0;
                        margin:0;
                        background: $white;
                    }
                }
        }


        //Flight Reciept Css Start here
        /*.ui-tabs-Receipt {
           padding: 0;
           margin: 0;
           float: left;
           width: 223px;
           height: auto;
           background:$x-x-x-x-x-light-gray;

                ul{

                    li {
                     padding: 0 0 0 0;
                     margin: 0;
                     width: 100%;
                     font-size: 14px;
                     cursor: pointer;
                     list-style: none;
                     border-radius: 0;
                     background: $x-x-x-x-x-light-gray;
                     box-shadow: none;
                     cursor: pointer;
                     border-right: 1px solid $xx-x-x-x-x-x-x-x-light-gray;

                        a {
                         color:$black;
                         display: block;
                         padding: 0 0 0 10px !important;
                         line-height: 40px;
                         outline: none;
                         float: none !important;
                         border-top: 0 solid $xx-x-x-x-x-x-x-x-light-gray;
                         border-right: 0 solid $xx-x-x-x-x-x-x-x-light-gray;
                         border-bottom: 1px solid $xx-x-x-x-x-x-x-x-light-gray;
                         border-left: 0 solid $xx-x-x-x-x-x-x-x-light-gray;
                         overflow: hidden;
                        }                         
                    }

                    :hover{
                     border-top: 0 solid $xx-x-x-x-x-x-x-x-light-gray;
                     border-right: 1px solid $xx-x-x-x-x-x-x-x-light-gray;
                     border-bottom: 0 solid $xx-x-x-x-x-x-x-x-light-gray;
                     border-left: 0 solid $xx-x-x-x-x-x-x-x-light-gray;
                     background: #f2f2f2;
                    }

                    .ui-tabs-active {
                        padding: 0;
                        margin:0;
                        cursor: pointer;
                        background: $white;
                        border-right: 1px solid $white;
                    }

                    .ui-tabs-active:hover {
                        padding: 0;
                        margin:0;
                        cursor: pointer;
                        background: $white;
                        border-right: 1px solid $white;
                    }
                }
        }*/
        //Flight Reciept Css End here

        .ui-tabs-panel {
           padding: 10px;
           float: right;
           width: 162px;
           font-size: 14px;
        }
}