body * ::-webkit-scrollbar {
	height: 5px !important;
	overflow: visible !important;
	width: 5px !important;
}
body * > ::-webkit-scrollbar-thumb {
	background:#f0f0f0 !important;
	background-clip: padding-box !important;
	border: 0px solid transparent !important;
	border-image: initial !important;
}
 
body *:hover > ::-webkit-scrollbar-thumb {
	background: #d1d3d4 !important;
	background-clip: padding-box !important;
}
  
::-webkit-scrollbar-thumb:window-inactive {
	background: transparent !important;
	background-clip: padding-box !important;
}
 
::-webkit-scrollbar-button {
	height: 0px !important;
	width: 0px !important;
}
 
::-webkit-scrollbar-track {
	background: #f0f0f0 ;
}
 
::-webkit-scrollbar-corner {
	background: transparent !important;
} 
::-webkit-scrollbar {
	height: 10px !important;
	overflow: visible !important;
	width: 10px !important;
}

::-webkit-scrollbar-thumb {
	background:#898989;
	background-clip: padding-box !important;
	border: 0px solid transparent !important;
	border-image: initial !important;
	border-radius:5px;
}
 
::-webkit-scrollbar-thumb:hover {
	background: #898989 !important;
	background-clip: padding-box !important;
} 