<jq-slider id="sampleslider"
rx-min="model.min"  rx-value="model.value"  rx-max="model.max"
rx-on-change="mychangefun"
></jq-slider>


<hr/>
Date Value Changed to = {model.value}
<hr/>
<input rx-value="model.value">
<hr/>


<jq-slider id="sampleslider2"
min="50"  value="70,80"  max="90" tooltipsplit=true 
></jq-slider>

