	.flightsReceipt{
	margin: 0 auto;
	width: 100%;

		.flightRecCont{
			width:1170px / 1170px * 100%;
			padding: 20px 0 20px 0;
			overflow: hidden;

				.recLeftCont{
					width: calc(100% - 405px);
					float:left;
					background: $white;
					margin: 0 0 20px 0;

						.dataBox{
							border-bottom:1px solid $xx-x-gray;
							padding: 30px 20px 10px 20px;

								.paraDiv{
									padding: 0 0 20px 0;
									line-height: 24px;

										span{
											display:block;
											font-size: 14px;
  											color: $x-light-gray;

  												.bookid{
  													font-size: 16px;
  													color: $black;
  													font-weight: 400;
  												}

  												.impNote{
  													@extend .bookid;
  													font-size: 14px;
  												}

  												i{
  													color:$red;
  													font-style: normal;
  												}
										}
								}

								h3{
								  font-size: 18px;
								  color: $black;
								  font-weight: 400;
								  margin: -10px 0 0 0;
								}

								h4{
								  font-size: 16px;
								  color: #00cc99;
								  font-weight: 400;
								  margin: 0 0 0 0;
								  padding: 10px 0 2px 0;
								}

								.locationHd{
									padding: 10px 0 10px 0;

										span:nth-child(1){
										  font-weight: 400;
										  color: $light-green;
										  font-size: 16px;
										  display: inline-block;

										  	i{
										  		font-style: normal;
  												color: $x-light-gray;
										  	}
										}

										span:nth-child(2){
										  font-weight: 400;
										  color: $light-green;
										  font-size: 14px;
										  display: inline-block;
										  float: right;
										}
								}

								.flightLocDetails{
									  padding: 20px 0 10px 0;
								}

								.insuranceBox{
									  padding: 0 0 10px 0;

									  		ul{
									  		 list-style: none;
									  		 padding: 10px 0 10px 0;
  											 margin: 0;

									  		 		li{
									  		 			padding:0;
									  		 			font-size: 14px;
  														color: $gray;

  															i{
  																display: inline-block;
  																margin: 0 10px 0 0;
  															}
									  		 		}
									  		}

									  		.special-rqst-list{
									  			padding-left:17px;
  												list-style-type: disc;
									  		}
								}

								.travellerBox{
									  padding: 0 0 10px 0;

									  		ul{
									  		 list-style: none;
									  		 padding: 10px 0 10px 0;
  											 margin: 0;
  											 overflow: hidden;

									  		 		li{
									  		 			padding: 0 0 8px 0;
									  		 			font-size: 14px;
  														color: $gray;
  														float: left;

  															i{
  																display: inline-block;
  																margin: 0 10px 0 0;
  															}
									  		 		}

									  		 		.leftLi{width:199px / 771px * 100%;}
									  		 		.centerLi{width:356px / 771px * 100%;}
									  		 		.rightLi{width:170px / 771px * 100%;}
									  		}
								}


								//hotel receipt start here
								.hotel-name{
									padding:0 0 0 0;
									line-height: 40px;

										span{
											font-size: 16px;
											color: #999999;
											font-weight: 400;
										}

										span:nth-child(1){color: #00cc99;}
								}

								.hotel-info{
									width:724px / 724px * 100%;
									border-bottom: 1px dashed #cccccc;
									border-top: 1px dashed #cccccc;
									overflow: hidden;
									padding: 4px 0 4px 0;

										.checkout-info{
											width:294px / 724px * 100%;
											float:left;
											border-right: 1px dashed #cccccc;

												.check-in{
													 float: left;
													 width:65px / 294px * 100%;

													 	span{
													 		display: block;
														    text-align: right;
														    font-size: 14px;
														    font-weight: 400;
														    color: #666;
														    line-height: 20px;
													 	}

													 	span:nth-child(2){
														    font-size: 24px;
														    font-weight: 400;
														    color: #000;
														    padding: 6px 0 0 0;
													 	}
												}

												.hotel-nights{
													float: left;
													width:144px / 294px * 100%;
													text-align: center;
													font-size: 14px;
													color: #000;
													line-height: 66px;
												}

												.check-out{
													@extend .check-in;
												}
										}

										.hotel-address{
											padding: 15px 0 0 30px;
											float:left;
											font-size: 14px;
											color: #666;
											font-weight: 400;
										}
								}

								.hotel-room-info{
									width:724px / 724px * 100%;
									border-bottom: 1px dashed #cccccc;

										h4{
										  font-size: 14px;
										  color: #000;
										  opacity: 0.8;
										  font-weight: 400;
										}

										.room-ammenities{
											width:724px / 724px * 100%;
											overflow: hidden;
											padding: 0 0 10px 0;

												.room-picture{
													float:left;
													padding:0 20px 0 0;
												}

												.room-amen-info{
													float:left;

														.ament-hd{
															  font-size: 14px;
															  color: #333;
															  font-weight: 600;
															  padding: 2px 0 0 0;
														}

														.ament-text-data{
															@extend .ament-hd;
															color: #666;
															font-weight: 500;
														}
												}
										}

								}
								//hotel receipt start here	


								//Activites receipt start here
								.activity-name{	
									@extend .hotel-name;
									padding:0 0 0 20px;
								}

								.activities-booked-info{
									padding:0 0 0 20px;
									overflow:hidden;

										.activity-pic{
											padding:0 20px 0 0;
											float:left;
											overflow: hidden;
										}

										.ticket-info{
											padding:0 0 0 0;
											float:left;

												.ticket-sec-info{
													padding: 0 0 8px 0;
													/* line-height: 20px; */
													margin: -5px 0 0 0;

														span{
															font-size: 14px;
															color: #666;
															font-weight: 400;
														}

														span:nth-child(2){
															color: #000;
														}
												}
										}
								}
								//Activites receipt start here
						}

						.lastBox{
							border:none !important;
						}
				}

				.recRightCont{
					width: 386px;
  					float: right;

						.recCardDiv{float: right;}

						.printButton{
							padding:0;
							text-align: center;
						}
				}
		}

		.bookCabBanner{
			padding:0;
		}

		.recSocialCont{
			width:1170px / 1170px * 100%;
			margin: 50px 0 50px 0;
			display: inline-block;

				.leftSocial{
					width:571px / 1170px * 100%;
					float:left;
					background:$white;
				}

				.rightSteps{
					@extend .leftSocial;
					float:right;
				}
		}
}