[module="activitiesResult"]{
  .searchBar .formBar .left-single-search-bar{
    width:82.84615%;
  }
  .searchBar .formBar .right-single-search-bar {
    width: 17.15385%;
  }

  .activities-result {
    width: 1170px / 1170px * 100%;

    .activities-filters {
      border: 1px solid #e0e0e0;
      background: #e5f2ef;
      line-height: 34px;
      padding: 0 0 0 20px;
      margin: 25px 0 0 0;

      span {
        font-size: 14px;
        color: #009966;
        font-weight: 600;
        cursor: pointer;
        padding: 0 25px 0 0;
      }
    }

    //left section start here
    .activities-search-box {
      border-bottom: 1px solid #d0d0d0;

      input {
        border: none !important;
      }
    }

    .activities-types-box {
      border-bottom: 1px solid #d0d0d0;
    }
    //left section end here
    .activities-leftBar {
      width: 25.64103%;
      height: auto;
      float: left;
      border-left: 1px solid #c6c6c6;
      border-right: 1px solid #c6c6c6;
    }
    .activities-rightBar {
      float: right;
      width: 74.10256%;
      border-bottom: 1px solid #dddddd;
      border-right: 1px solid #dddddd;
      background: #fff;
      &:after{
        content:"";
        clear:both;
        display:block;
      }

      .slider{
        width:100%;
        position:relative;
        overflow: hidden;
        ul,li{
          list-style: none;
          margin:0;
          padding:0;
        }
        img{
          width:100%;
        }
        .pegnination-left{
          @extend .icons-white-pagination-left;
          position:absolute;
          top:calc(50% - 11px);
          left:11px;
          cursor:pointer;
        }
        .pegnination-right{
          @extend .icons-white-pagination-left;
          position:absolute;
          top:calc(50% - 11px);
          right:11px;
          @include rotate(180deg);
          cursor:pointer;
        }
      }

      .details{
        width:calc(100% - 364px);
        position:relative;
        top:-63px;
        .dis{
          padding:0 9px;
          .heart{
            @extend .icons-heart-sm;
          }
          .title{
            font-size:26px;
            color:#fff;
          }
          .table{
            line-height: 22px;
            font-size:14px;
            padding:14px 0;
            span:nth-child(1){
              color:#666666;
            }
          }
        }
        .tabs{
          height:41px;
          @include box-sizing(border-box);
          border:1px solid #00cc99;
          border-width:1px 0 1px 0;
          padding:0 65px;
          .tab{
            line-height:37px;
            padding:0 14px;
            color:#00cc99;
            @include box-sizing(border-box);
            display:inline-block;
            &.active{
              border-bottom:2px solid #00cc99;
            }
          }
        }
        .tabContainers{
          padding:0 9px 14px;
          line-height:22px;
          color:#333333;
          h3{
            font-weight: normal;
            font-size:20px;
          }
          ul{
            margin:5px;
            padding-left:16px;
          }

        }
        .book{
          @include box-shadow(-3px 3px 5px 0 rgba(0,0,0,0.2));
          position:absolute;
          width:364px;
          right:-364px;
          top:20px;
          .blackStrip{
            background: rgba(0,0,0,0.5);
            height:39px;
            &:after{
              content:"";
              clear:both;
              display:block;
            }
            .rating{
              background: url("scss/skin/blackNwhite/img/photos/star2.png") no-repeat 8px center;
              width: 80px;
              height: 39px;
              cursor: pointer;
            }
            .price{
              color: #eee;
              font-size: 18px;
              line-height: 39px;
              padding-right:8px;
              span{
                font-weight: bold;
                font-size: 24px;
              }
            }
          }
          .solidbg{
            background: #f6f6f6;
            padding:10px;
          }
          .form{
            border-bottom: 1px solid #cccccc;
            padding-bottom: 20px;
            .tourStartDate,.options{
              width:146px;
              margin:32px 10px 0 0;
              float: left;
              &:after{
                content:attr(label);
                clear:both;
                display:block;
                position: absolute;
                top: -23px;
                left: 10px;
                color:#666666;
                font-size: 14px;
              }
            }
            &:after{
              content:"";
              clear:both;
              display:block;
            }
          }


          .form2{
            border-bottom: 1px solid #cccccc;
            padding: 20px 0;
            .adult,.child,.infant{
              width: 108px;
              margin:21px 10px 0 0;
              float: left;
              &:nth-last-child(1){
                margin-right: 0;
              }
              &:after{
                content:attr(label);
                clear:both;
                display:block;
                position: absolute;
                top: -23px;
                left: 10px;
                color:#666666;
                font-size: 14px;
              }
            }
            &:after{
              content:"";
              clear:both;
              display:block;
            }
          }
          .tollbar{
            padding: 20px 0;
            a{
              font-size: 14px;
              color: #00cc99;
              text-decoration: none;
              line-height: 35px;
            }
          }

          .optionDetails{
            padding-top: 18px;
            .title{
              font-size: 20px;
              line-height: 22px;
            }
            .code{
              color: #999999;
              font-size: 12px;
              line-height: 20px;
            }
            .summary{
              color: #999;
              font-size: 14px;
              line-height: 22px;
              border-bottom: 1px solid #cccccc;
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }
}

