.book-det-top-main{
	min-height: 64px;
  	background: $white;
  	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12);
  	
  		.flight-book-det-top{
  			padding: 0 55px 0 55px;
  			margin: 0 auto;
  			min-width: 1170px;
  			max-width: 1330px;
  			overflow: hidden;
  			
  				.book-det-left-data{
  					width:890px / 1170px * 100%;
  					float:left;
  				}
  				
  				.book-det-right-data{
  					width:280px / 1170px * 100%;
  					float:left;
  					
  						span{
						  	line-height: 64px;
						  	font-size: 14px;
						  	float: right;
						  	color: $light-green;
						  	cursor: pointer;
						  	padding: 0 0 0 30px;
  						}
  				}
  		}
}

.book-addon-rqst-top{
	@extend .book-det-top-main;
	background: #f2c500;
  	box-shadow: none;
	
		.flight-addon-rqst-top{
  			padding: 0 55px 0 55px;
  			margin: 0 auto;
  			min-width: 1170px;
  			max-width: 1330px;
  			overflow: hidden;
  			
  				.flight-addon-left-data{
  					width:890px / 1170px * 100%;
  					float:left;
  					
  						span{
  							font-size: 24px;
							color: #fff;
							line-height: 62px;
							font-weight: 400;
  						}
  				}
  				
  				.flight-addon-right-data{
  					width:280px / 1170px * 100%;
  					float:left;
  					padding: 14px 0 0 0;
  					
  						.rqst-button{
							  float: right;
							  
							  		button{
							  			background: #d9b100;
							  			border-color: #fff;
							  		}
							  		
							  		button:hover{
										box-shadow:none;
									}
  						}
  						
  						.cencel-sec{
  							  float: right;
							  font-size: 14px;
							  color: #fff;
							  padding: 9px 0 0 20px;
							  cursor: pointer;
  						}
  				}
  		}
}

.booking-details{
	width:1170px / 1170px * 100%;
	
		.book-det-mobile-info-box{
			margin: 20px 0 22px 0;
			min-height: 64px;
		  	background: $white;
		  	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12);
		  	
		  		.mobile-info-text{
		  			float: left;
		  			padding: 14px 0 0 17px;
		  			
		  				span{
		  					display: block;
							font-size: 16px;
							color: $light-gray;
							font-weight: 400;
		  				}
		  				
		  				span:nth-child(2){
		  					font-size: 12px;
		  				}
		  		}
		  		
		  		.mobile-info-number{
		  			float: right;
		  			font-size: 22px;
					color: $light-gray;
					font-weight: 400;
					padding: 17px 20px 0 0;
		  		}
		}
		
		.book-det-seperation-box{
			margin:0 0 0 0;
			padding: 0 0 20px 0;
				
				.book-det-heading-main{
					margin:0 0 0 0;
					overflow: hidden;
					padding: 0 0 11px 0;
					
						.heading-name-stops{
							  float: left;
							  
							  	span:nth-child(1){
							  		margin:0 0 0 0;
							  		padding: 0 0 0 2px;
							  		display: inline-block;
							  		
							  			h3{
										  font-size: 24px;
										  color: $light-green;
										  font-weight: 600;
										  padding: 0 0 0 0;
										  margin: 0 0 0 0;
										  
										  		b{
										  			font-weight: 600;
													font-size: 16px;
													color: $x-light-gray;
													padding: 0 0 0 0;
										  		}
										}
							  	}
							  	
							  	span:nth-child(2){
							  		margin:0 0 0 0;
							  		padding: 0 0 0 0;
							  		display: inline-block;
							  	}
						}
						
						.journey-date{
							float: right;
							font-size: 16px;
							color: $x-light-gray;
							font-weight: 400;
						}
				}
				
				.book-det-data{
					margin:0 0 0 0;
					padding: 0 0 0 0;
					
						.pass-ticket-status-box{
							background:$white;
							border: 1px solid $xxx-x-x-x-gray;
							border-bottom-right-radius: 5px;
							border-bottom-left-radius: 5px;
							padding: 0 20px 0 20px;
							
								.pass-section-heading{
									width:1130px / 1130px * 100%; 
									border-bottom: 1px solid $xx-x-gray;
									min-height: 40px;
									overflow: hidden;
									
										.salutaion-sec{
											width:41px / 1130px * 100%; 
											float:left;
										}
										
										.passenger-name-sec{
											width:767px / 1130px * 100%; 
											float:left;
											font-size: 14px;
										  	color: $x-light-gray;
										  	line-height: 40px;
										  	font-weight: 400;
										} 
										
										.booking-staus-sec{
											@extend .passenger-name-sec;
											width:93px / 1130px * 100%; 
										}
										
										.ticket-no-sec{
											@extend .passenger-name-sec;
											width:164px / 1130px * 100%; 
										}
										
										.pnr-no-sec{
											@extend .passenger-name-sec;
											width:65px / 1130px * 100%; 
											float:right;
										}
								}
								
								.last-none-border{border:none !important;}
						}
						
						.pass-flight-info-box{
							@extend .pass-ticket-status-box;
							padding: 30px 20px 13px 20px;
							border-top-left-radius: 5px;
							border-top-right-radius: 5px;
							
								.passenger-info-data-box{margin:0 0 17px 0;}
						}
				}
		}
}