.bus{
	padding:0;

		//left data start here

		.busType{
			  padding: 0 0 15px 0;
		}

		.travelsBus{padding-right: 15% !important;}

		.departsHdBus{
			width:80px / 943px * 100% !important; 
			padding: 0 0 0 0 !important;
		}
		
		//left data end here



	
		//right data start here
		.busSeatsLayout{
			padding: 0 11.4% 0 11.4%;
			width:506px / 656px * 100%;

				.titleText{
					color:$gray;
					font-size:14px;
					line-height: 38px;
				}

				.bookSeatsLayout{
					padding:4%;
					width:466px / 506px * 100%;
					background: #f8f8f8;
					border: 1px solid #d7d7d7;
					border-radius: 10px;
					overflow: hidden;

							.deckLable{
								width:89px / 466px * 100%;
								float:left;
								margin: 0 0 0 -35px;

									span{
										float:right;

											i{display:block;}
									}
							}

							.deck{
								float:right;
								width:375px / 466px * 100%;
							}
				}

				.selectPickPoint{
					width:227px / 506px * 100%;
					padding: 10px 0 10px 0;
				}
		}

		.busOnlySeatsLayout{
			@extend .busSeatsLayout;
			padding: 0 7.6% 0 7.6%;
			width:516px / 656px * 100%;

				.bookSeatsLayoutSeats{
					@extend .bookSeatsLayout;
					width:516px / 516px * 100%;

							.deckLableSeats{
								width:51px / 516px * 100%;
								float:left;
								margin: 0 0 0 -25px;

									span{
										float:right;

											i{display:block;}
									}
							}

							.deckSeats{
								float:right;
								width:465px / 516px * 100%;
							}
				}
		}

		.busOnlySleeperLayout{
			@extend .busSeatsLayout;
			padding: 0 12% 0 12%;
			width:495px / 656px * 100%;

				.bookSeatsLayoutSleeperSeats{
					@extend .bookSeatsLayout;
					width:445px / 495px * 100%;

							.deckLableSleeperSeats{
								width:67px / 445px * 100%;
								float:left;
								margin: 0 0 0 -40px;

									span{
										float:right;

											i{display:block;}

											.verticleUpper{
												  text-transform: uppercase;
												  font-style: normal;
												  margin: 0 0 0 -20px;  
												  font-size: 15px;
												  color:$light-gray;
												  line-height: 14px;
											}

											.verticleLower{
												@extend .verticleUpper;
												margin: 15px 0 0 7px;
											}
									}
							}

							.deckSleeperSeats{
								float:right;
								width:378px / 445px * 100%;
							}
				}
		}

		.layoutMargin{margin:0 0 10px 0}

		.return-dest-box{
			width:656px / 656px * 100%;
			overflow: hidden;
  			margin: 0 0 10px 0;

				.left-data-dest-box{
					width:327px / 656px * 100%;
					float:left;
					border-right: 1px solid $x-x-light-gray;
					border-left: 1px solid $x-x-light-gray;
				}

				.right-data-dest-box{
					@extend .left-data-dest-box;
					border-left: none;
				}
		}
		//right data end here
}
