.cabsReceipt{
	margin: 0 auto;
	width: 100%;

		.bookCabBanner{
			padding:0;
		}

		.receiptMainDiv{
			padding:0 0 0 0;
			background: $white;
			width:1170px / 1170px * 100%;

					.receiptBox{
						paddinf:0;
						padding: 50px 64px 50px 64px;

							.tabs-titles{
							    float: left;
								margin: 0 0 0;
								border: 1px solid #e5e5e5;
								border-right: none;
								width:223px / 1170px * 100%;
								list-style: none;
								padding: 0;

							    	li{
									  font-weight: 400;
									  color: #000;
									  font-size: 14px;
									  line-height: 50px;
									  cursor: pointer;
									  padding: 0 0 0 30px;
									  background: #f2f2f2;
									}

									li.current{
									    font-weight: 400;
									    background: #fff;
									    padding: 0 0 0 20px;
									    border-left: 10px solid #00cc99;
									}
							}


							.tabs-contents{
							      background: #fff;
								  margin: 0 0 0 19.05983%;
								  padding: 0 0 0 0;
								  border: 1px solid #e5e5e5;
								  list-style: none;

							    	li{
									    display:none;

									    	.toContent{
									    		  padding: 20px 40px 10px 40px;

									    		  		.topHdBar{
									    		  			padding:0 0 0 0;
									    		  			width:738px / 738px * 100%;
									    		  			border-bottom: 1px dashed #c7c7c7;
									    		  			overflow: hidden;

									    		  				.hdByLine{
									    		  					width:553px / 738px * 100%;
									    		  					float:left;
									    		  					font-size: 20px;
  																	color: #000;
  																	padding: 0 0 8px 0;
  																	margin: 0;
									    		  				}

									    		  				.poweredBy{
									    		  					@extend .hdByLine;
									    		  					width:87px / 738px * 100%;
									    		  					font-size: 14px;
  																	padding: 0 0 0 0;
  																	line-height: 34px;
  																	text-align: right;
									    		  				}

									    		  				.cabLogo{
									    		  					float:right;
									    		  					text-align: right;
									    		  					cursor: pointer;
									    		  				}
									    		  		}

									    		  		.viewTarrif{
									    		  			padding:0 0 0 0;
									    		  			width:738px / 738px * 100%;
									    		  			line-height: 50px;
  															color: #00cc99;
  															font-size: 14px;
									    		  		}

									    		  		.cabFareSummaryBox{
									    		  			  margin: 0 0 30px 0;
									    		  		}

									    		  		.recFormMainDiv{
									    		  			padding:0;

									    		  				.recform{
									    		  					padding: 0 0 20px 0;

									    		  						label{
									    		  						  font-size: 14px;
																		  color: #000;
																		  padding: 0 0 0 0;
																		  font-weight: 400;
																		  display: inline-block;
																		  width:131px / 738px * 100%;
									    		  						}

									    		  						.numberCab{
									    		  							height: 29px;
  																			width: 54px;
																			padding-left: 10px;
									    		  						}

									    		  						span{
									    		  							font-size: 14px;
																			color: #666666;
																			padding: 0 0 0 10px;

																				i{
																					color:#ff6633;
																					font-style: normal;
																				}
									    		  						}

									    		  						.pickUpInput{
									    		  							width:120px / 738px * 100%;
									    		  							display: inline-block;
									    		  						}

									    		  						.enterAreaInput{
									    		  							@extend .pickUpInput;
									    		  							width:170px / 738px * 100%;
									    		  							padding: 0 18px 0 0;
									    		  						}

									    		  						.enterAreaSelect{
									    		  							@extend .pickUpInput;
									    		  							width:238px / 738px * 100%;
									    		  						}

									    		  						.emailInput{
									    		  							@extend .pickUpInput;
									    		  							width:281px / 738px * 100%;
									    		  						}

									    		  						.mobileInput{
									    		  							@extend .pickUpInput;
									    		  							width:184px / 738px * 100%;
									    		  						}

									    		  						.textAreaInput{
									    		  							display: inline-block;
									    		  							width:429px / 738px * 100%;
									    		  							margin: -10px 0 0 0;

									    		  								.textHeight{height: 107px;}
									    		  						}

									    		  						.confirmButton{
									    		  							display: inline-block;
									    		  						}
									    		  				}
									    		  		}
									    	}
									}

									li:first-child{
									    display:block;
									}
							}
					}
		}
}