.dashboard{
	padding:0;
	width:1170px / 1170px * 100%;
	
		h3{
			padding:0;
			font-size: 30px;
			color: $gray;
			margin: 0;
			line-height: 80px;
			font-weight: 400;
			
				b{
					font-weight: 400;
			  		color: $light-green;
			  	}
		}
		
		.dashboard-left-data{
			width: calc(100% - 282px);
			float: left;
			
				.dash-mybooking-hd-box{
					width:890px / 890px * 100%;
					padding: 0 0 0 0;
				  	border: 1px solid $xxx-x-x-x-x-x-x-x-x-gray;
				  	overflow: hidden;
				  	line-height: 50px;
				  	background: $white;
				  	
				  		.mybooking-hd-text{
				  		  	padding: 0 0 0 18px;
				  			float:left;
				  			font-size: 18px;
  							color: $gray;
  							font-weight: 400;
				  		}
				  		
				  		.mybooking-fliter-sort{
				  			float:right;
				  			
				  				span{
				  					padding: 0 30px 0 0;
									font-size: 14px;
									color: $light-green;
									cursor: pointer;
				  				}
				  		}
				}
				
				.dash-upcoming-box{
					@extend .dash-mybooking-hd-box;
					line-height: 28px;
					border-top:none;
					background: $xxx-x-x-x-x-x-x-x-x-x-gray;
					
						span:nth-child(1){
							font-size:12px;
							color:$x-light-gray;
							float:left;
							padding: 0 0 0 19px;
						}
						
						span:nth-child(2){
							float:right;
							margin: 12px 10px 0 0;
  							cursor: pointer;
							
								i{display:block;}
						}
				}
				
				.dash-flight-details-box{
					@extend .dash-mybooking-hd-box;
					border-top:none;
					padding: 0 0 0 0;
  					margin: 0 0 10px 0;
  						
  						.flight-book-info-tabs{
  							border-bottom:1px solid $xx-x-x-light-gray;
  						}
				}
				
				.dash-flight-details-box-gray{
					@extend .dash-mybooking-hd-box;
					border-top:none;
					background: none;
					margin:0 0 50px 0;
					
						.flight-book-info-tabs{
  							border-bottom:1px solid $xx-x-x-light-gray;
  						}
				}
		}
		
		.dashboard-right-data{
			margin:0 0 0 0;
			width: 270px;
			float:right;
			
				.dash-widgets-main-div{
					margin:0 0 10px 0;
					
						.activities-boxes{
							float:left;
							margin: 0 0 10px 0;
						}
						
						.activities-boxes-right{
							float:right;
						}
				}
		}
}