.flightsReturns{
	padding:0;

		//left data start here

		//left data end here



	
		//right data start here
		.roundDiscount{
			border: 1px solid $xx-light-green;
			color:$light-gray;
			font-size: 14px;
  			text-align: center;
  			line-height: 34px;

  				b{
  				color:$black;
  				font-weight: 400;
  				}
		}

		.flightsReturnDataTab{
			padding:0 0 23px 0;
		}

		.allFlightsTiming{
			width:940px / 940px * 100%;

				.departureFlights{
					width:470px / 940px * 100%;
					float:left;

						.flightsHeadings{
							padding:0 0 15px 0;
							overflow: hidden;

								.number{
		                          float: left;
		                          margin: 0 10px 0 0;
		                        }

		                        .depHd{
		                        	float:left;
		                        	line-height: 20px;
		                        	font-size: 24px;
		                        	color:$light-green;
		                        	padding: 0 10px 0 0;
		                        }

		                        .depDate{
		                        	@extend .depHd;
		                        	font-size: 18px;
		  							line-height: 22px;
		  							color:$x-light-gray;
		                        }
						}

						.sectionBox{
							width:470px / 470px * 100%;
							box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.12);
							background: $x-x-light-green;
							overflow: hidden;
  							line-height: 34px;

								.airlineHeading{
									float: left;
									font-size: 14px;
									color: $xx-x-light-green;
									padding: 0 0 0 20px;
									font-weight: bold;
									width:69px / 470px * 100%;
								}

								.departHeading{
									@extend .airlineHeading;
									padding: 0 0 0 0;
									width:87px / 470px * 100%;
								}

								.arriveHeading{
									@extend .airlineHeading;
									padding: 0 0 0 0;
									width:93px / 470px * 100%;
								}

								.durationHeading{
									@extend .airlineHeading;
									padding: 0 0 0 0;
									width:112px / 470px * 100%;
								}

								.priceHeading{
									@extend .airlineHeading;
									padding: 0 0 0 15px;
									margin: 0 4.6% 0 0;
									float: right;
									width: auto;
									line-height: 28px;
									border-top: 3px solid $green;

										i{
											display: inline-block;
  											margin: 0 0 0 12px;
  											cursor:pointer;
										}
								}
						}

						.departureDetailsBox{
							margin: 0 0 10px 0;
						}

						.greenBg{
							background:$x-light-green;
							border-color:$xx-light-green;
						}

						.whiteBg{
							background:$white;
							border-color:$xxx-x-gray;
						}
				}

				.returnFlights{
					@extend .departureFlights;

						.returnDetailsBox{
							margin: 0 0 10px 0;
						}
				}
		}
		//right data end here
}
