.flightsInternational{
	padding:0;

		//left data start here
		
		//left data end here



	
		//right data start here
		.internationalTabPadd{padding-bottom: 9px !important;}
		.internationalTabPadd1{padding-bottom: 17px !important;}
		.internationalTabPadd2{padding-bottom: 17px !important;}

		.internationalDestHd{
			font-size: 20px;
		  	color: $light-green;
		  	line-height: 48px;
		  	padding: 0 0 0 11px;

		  		i{
		  		  color: $x-light-gray;
  				  font-style: normal;
  				  font-size: 14px;
		  		}

		  		label{margin:0 0 0 15px;}
		}

		//right data end here
}
