.flights{
	padding:0;

		//left data start here
		.listViewType{
			border-bottom: 1px solid $xx-x-x-x-x-x-x-x-x-x-x-light-gray;

				.listView{
					width:112px / 224px * 100%;
					line-height: 44px;
					color:$black;
					text-align:center;
					font-size:14px;
					cursor:pointer;
					display: inline-block;
				}

				.listView:hover{
					background:	$light-gray;
					color:$white;
				}

				.listView:hover, .selected{
					background:	$light-gray;
					color:$white;
				}
		}


		.flightFilter{
			@extend .listViewType;

				span:nth-child(1){
					line-height: 35px;
					font-size: 12px;
					width:114px / 224px * 100%;
					color:$light-gray;

						i{
						font-style:normal;
						color:$black;
						padding: 0 0 0 16px;
						}
				}

				span:nth-child(2){
					line-height: 35px;
					width:97px / 224px * 100%;
					font-size: 12px;
					color:$light-green;
					padding: 0 18px 0 0;
					text-align:right;
				}
		}

		.commonFilters{
			@extend .listViewType;
			display: block;
			padding: 6px 0 5px 0;

				.filterHd {  
				  padding:0 0 0 16px;
				  font-size: 14px;
				  color:$black;
				  cursor: pointer;
				  background: url("scss/skin/blackNwhite/img/common/filters/arrow.png") no-repeat;
				  background-position : 0 5px;

				  		i{
				  		  color: $x-light-gray;
						  font-size: 11px;
						  font-style: normal;
						  float: right;
						  padding: 3px 15px 0 0;
				  		}
				}
				  
				.filterContain {  
				  padding: 5px 10px 10px 16px;

				  		i{
				  		  font-size: 11px;
						  cursor: pointer;
						  color:$light-green;
						  font-style: normal;
						  float: right;
						  padding: 0 0 0 0;
				  		}

				  		.stopsCheckbox{
				  			  font-size: 13px;
  							  padding: 6px 14px 0 0;
  							  display:inline-block;
				  		}

				  		.aerlineCheckbox{
				  			@extend .stopsCheckbox;
				  			display:block;
				  			padding: 6px 10px 0 0;

				  				span{
								  font-size: 12px;
								  cursor: pointer;
								  color:$light-green;
				  				}

				  				.cityHd{
				  				  font-size: 14px;
								  color: $xx-x-x-x-x-x-x-x-x-x-x-x-light-gray;
				  				}
				  		}


				  		.sliderMeter{
				  			margin: 14px 7px 0 0;
				  			width:195px / 224px * 100%;
				  			position: relative;

				  				.priceForm{
						  			border: none;
									color: $black;
									opacity: 0.7;
									font-size: 12px;
									padding: 18px 0 0 0;
									margin: 0 0 0 0;
									background: none;
						  		}

						  		.slider-sec-input{
						  			margin: 0 0 0 50px;
									position: absolute;
						  		}
				  		}
				}

				.active {
				  background: url("scss/skin/blackNwhite/img/common/filters/arrow.png") no-repeat;
				  background-position : 0 -9px;
				}
		}

		.paginationFilters{
			text-align: center;
  			padding: 6px 0 5px 0;
  			border-bottom: 1px solid $xx-x-x-x-x-x-x-x-x-x-x-light-gray;
		}

		.viewFilters{
			text-align: left;
  			padding: 6px 0 5px 0;
  			border-bottom: 1px solid $xx-x-x-x-x-x-x-x-x-x-x-light-gray;

  				span{
  					display: inline-block;
  					margin: 0 0 0 15px;

  						label{font-size:14px;}
  				}
		}
		//left data end here



	
		//right data start here
		.rightSectionHd{
			height: auto;
		  	line-height: 34px;
			background:$x-x-light-green;
			overflow: hidden;
			box-shadow: 0 1px 8px 1px $gray-shdow-color;

				.airlineHd{
					width:94px / 943px * 100%;
					float: left;
					font-size: 14px;
		 			color: $xx-x-light-green;
		  			padding: 0 0 0 25px;
		  			font-weight: bold;
				}

				.departsHd{
					@extend .airlineHd;
					width:100px / 943px * 100%;
					padding: 0 0 0 0;
				}

				.durationHd{
					@extend .airlineHd;
					width:109px / 943px * 100%;
					padding: 0 0 0 0;
				}

				.priceHd{
					@extend .airlineHd;
					float: right;
					width: auto;
		  			padding: 0 0 0 15px;
		  			margin: 0 14.2% 0 0;
		  			border-top: 3px solid $green;

		  				i{
		  					display: inline-block;
  							margin: 0 0 0 8px;
  							cursor: pointer;
		  				}

		  				.arrow-margin{margin:0 8px 0 0 !important;}
				}

				.price-left-arrow{padding: 0 15px 0 15px !important;}
		}	

		.bookingDataMain{
			margin:0 0 10px 0;
			box-shadow: 0 0 5px 0 $gray-shdow-color;

				.pinnedBorder{border-color: $xx-red}
				.bestBorder{border-color: $light-blue;}
				.cheapestBorder{border-color: $x-x-yellow;}
				.fastestBorder{border-color: $x-light-blue;}
				.normalBorder{border-color: $xx-x-light-gray;}

				.indicatorBoxBorder{
					  border-top: 1px solid;
					  border-bottom: 0 solid;
					  border-right: none;
					  border-left: none;
					  border-color: $xx-x-light-gray;
				}



				.tabSeperator{
					border-bottom: 1px solid $x-x-light-gray;
					cursor:pointer;
					background:$white;
					overflow: auto;
				}

				.tabSeperator1{
					border-bottom: 1px solid $x-x-light-gray;
					cursor:pointer;
					background:$white;
					position: relative;
				}

				.tabSeperatorIndicator{
					cursor:pointer;
					background:$white;
				}

				.tabSeperator:hover	.button, .button:hover, .button.hover { 
					background: $button-filled-background-color;
					color: $button-hover-color;
					border: 1px solid $green;
				}

				.tabSeperatorIndicator:hover	.button, .button:hover, .button.hover { 
					background: $button-filled-background-color;
					color: $button-hover-color;
					border: 1px solid $green;
				}

				.borderNone{border:none !important;}

				.resultdetailbox{
					margin: 0 0 10px 0;
					height:auto;
					cursor: auto;

						.hiddenDataDiv{
							border-top: 1px dashed $xx-x-x-x-x-x-x-x-x-x-light-gray;
							border-bottom: 1px dashed $xx-x-x-x-x-x-x-x-x-x-light-gray;
							overflow: hidden;

								.leftData{
									width:656px / 943px * 100%;
									float:left;
									padding: 0 10px 20px 10px;
									border-right: 1px dashed $xx-x-x-x-x-x-x-x-x-x-light-gray;

										.infoButton{
											padding:0 0 12px 0;
											text-align: center;
											width:923px / 943px * 100%;

												ul{
				  									list-style: none;
				  									margin: -3px 0 0 0;
													display: inline-block;

				  										li{
				  										  float: left;
														  padding: 0 25px 0 0;

				  										  		a{
					  										  	  text-decoration: none;
					  										  	  font-size:14px;
					  										  	  color:$light-green;
					  										  	  line-height: 30px;
					  										  	  padding: 0 10px 0 10px;
				  										  		}
				  										}
				  								}

				  								ul li.selected a, ul li.selected a:hover {
							                        position: relative;
							                        top: 0;
							                        border-top:3px solid $light-green;
							                        color:$light-green;
							                 	}
										}
								}

								.rightData{
									width:245px / 943px * 100%;
									float:left;
									padding:0 10px 0 10px;
								}
						}

						.socialActivity{
							padding: 7px 0 0 25px;

  								span{
  									font-size:16px;
  									padding: 0 25px 0 0;
  									color:$light-green;
  									cursor: pointer;
  								}
						}
				}
		}

		.pinnedTabMargin{margin-top:30px !important;}
		.pinnedMainDivTop{ 
			margin: 11px 0 0 15px;
  			position: absolute;
		}
		.pinnedMainDiv{ 
			margin: 1px 0 0 15px;
  			position: absolute;
		}
		//right data end here
}
