.flightsTimelineView{
	padding:0;

		//left data start here

		//left data end here

	
		//right data start here
		.timelineContainer{
			padding:0;
			width:943px / 943px * 100%;

				.leftContain{
					width:691px / 943px * 100%;
					float:left;
					position: relative;

						.topTimelineBox{
							width:691px / 691px * 100%;
  							margin: 1px 0 0 0;
  							background: $x-x-light-green;
  							border-bottom: 1px solid $x-x-light-gray;
  							border-left: 1px solid $xx-x-light-gray;

  								.timelineHours{
  									  border-bottom: 2px solid $light-green;
  									  height: 63px;

  									  		.firstTimeView{
			  									width:96px / 691px * 100%;
			  									float:left;
			  									text-align: right;
			  									color: $xx-x-light-green;
			  									font-size: 12px;

			  										span:nth-child(1){
			  											display: block;
			  											padding: 28px 0 0 0;
			  										}

			  										span:nth-child(2){
			  											display: block;
			  											padding: 0 0 0 0;
			  										}
			  								}

			  								.otherTimeView{
			  									@extend .firstTimeView;
			  									width:87px / 691px * 100%;
			  								}
  								}
						}

						.timelineTab{
							margin: 0 0 10px 0;
							width:691px / 691px * 100%;
							height: 70px;
							border-top: 1px solid $xx-x-light-gray;
							border-bottom: 1px solid $xx-x-light-gray;
							background:$white;
							box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.12);

								.timeDurationTab{
									  width:86px / 691px * 100%;
									  height: 70px;
									  float:left;
									  border-right: 1px solid $xx-white;
								}
						}

						.flightsKJetConnect{
							margin: -66px 0 0 47%;
							position: absolute;
							width: 154px;
							height: 40px;
							color: $white;
							text-align: center;
							line-height: 40px;
							font-size: 14px;
							background: $maroon;
							cursor: pointer;
						}

						.flightsSpiceJet{
							@extend .flightsKJetConnect;
							width: 134px;
							margin-left:27%;
							background: $x-dark-red;
						}

						.flightsJetAirways{
							@extend .flightsKJetConnect;
							width: 116px;
							margin-left:63%;
							background: $choch;
						}

						.flightsAirIndia{
							@extend .flightsKJetConnect;
							width: 123px;
							margin-left:7%;
							background: $xx-x-x-x-x-x-x-light-green;
						}

						.flightsIndigo{
							@extend .flightsKJetConnect;
							width: 138px;
							margin-left:19%;
							background: $x-x-x-x-yellow;
						}

						.flightsMerge{
							@extend .flightsKJetConnect;
							width: auto;
							margin-left:41%;
							background: none;

								.gA{
									width: 47px;
									background: $x-x-x-x-light-blue;
									display: inline-block;
								}

								.lhr{
									display: inline-block;
									width: 36px;
									background: $x-x-light-gray;
								}
						}

						.timeLineIndLogo{
							  font-size: 14px;
							  background: $x-x-x-x-light-blue;
							  line-height: 24px;
							  color: $white;
							  padding: 0 10px 0 10px;
							  position: absolute;
						}

						.timeLineIndTab{
							  position: relative;
  							  top: -81px;
						}
				}

				.dragLeftBar{
					  width: 2px;
					  background: $light-green;
					  height: 100%;
					  position: absolute;
					  /* clear: both; */
					  /* display: block; */
					  /* float: right; */
					  margin: 30px 0 0 0;
					  /* top: 0; */
					  /* bottom: 0; */
				}

				.dragRightBar{
					  @extend .dragLeftBar;
					  right: -1px;
  					  top: 0;
				}

				.takeOffSign{
					  top: 0;
					  /* bottom: 0; */
					  margin: 8px 0 0 0;
					  position: absolute;
					  font-size: 14px;
					  color: $white;
					  line-height: 24px;
					  padding: 0 10px 0 10px;
					  background: $light-green;
					  border-radius: 10px;
					  border-bottom-left-radius: 0;
					  cursor: pointer;
				}

				.landingSign{
					@extend .takeOffSign;
					right: -1px;
					border-radius: 10px;
					border-bottom-right-radius: 0;
				}

				.rightContain{
					width:252px / 943px * 100%;
					float:right;

						.topDestName{
							height: 65px;
  							margin: 1px 0 0 0;
  							background: #e5f2ef;
  							text-align: right;
  							border-bottom: 1px solid $x-x-light-gray;
  							border-right: 1px solid $xx-x-light-gray;

  								span{
  									padding: 25px 10.8% 0 0;
									display: inline-block;
									color: $light-gray;
  									font-size: 12px;
  								}
						}

						.dataTab{
							padding:17px 0 18px 0;
							margin: 0 0 10px 0;
							width:252px / 252px * 100%;
							border-top: 1px solid $xx-x-light-gray;
							border-bottom: 1px solid $xx-x-light-gray;
							border-right: 1px solid $xx-x-light-gray;
							background:$white;
							display: flex;
							box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.12);

								.amtDiv{
									width:105px / 252px * 100%;
									float:left;
									font-size: 20px;
  									color: $black;
  									text-align: right;
  									line-height: 35px;
								}

								.buttDiv{
									width:101px / 252px * 100%;
									float:left;
									text-align: right;
									padding: 0 17px 0 0;
								}

								.moreDiv{
									width:25px / 252px * 100%;
									float:left;

										span{
											display: inline-block;
  											margin: 12px 0 0 0;
  											cursor: pointer;

  												i{display:block;}
										}
								}
						}

						.resultdetailbox{
							margin: 0 0 10px 0;
							height:auto;
							cursor: auto;

								.hiddMainData{
									position: absolute;
									right: 0;
									margin: 0 auto;
									z-index: 2;
									width:943px / 943px * 100%;
									background: $white;

										.hiddenDataDiv{
											border-top: 1px dashed $xx-x-x-x-x-x-x-x-x-x-light-gray;
											border-bottom: 1px dashed $xx-x-x-x-x-x-x-x-x-x-light-gray;
											overflow: hidden;

												.leftData{
													width:656px / 943px * 100%;
													float:left;
													padding: 0 10px 20px 10px;
													border-right: 1px dashed $xx-x-x-x-x-x-x-x-x-x-light-gray;

														.infoButton{
															padding:0 0 42px 0;
															text-align: center;
															width:656px / 943px * 100%;

																ul{
								  									list-style: none;
								  									margin: -4px 0 0 0;
								  									position: absolute;
																	display: inline-block;

								  										li{
								  										  float: left;
																		  padding: 0 25px 0 0;

								  										  		a{
									  										  	  text-decoration: none;
									  										  	  font-size:14px;
									  										  	  color:$light-green;
									  										  	  line-height: 30px;
									  										  	  padding: 0 10px 0 10px;
								  										  		}
								  										}
								  								}

								  								ul li.selected a, ul li.selected a:hover {
											                        position: relative;
											                        top: 0;
											                        border-top:3px solid $light-green;
											                        color:$light-green;
											                 	}
														}
												}

												.rightData{
													width:245px / 943px * 100%;
													float:left;
													padding:0 10px 0 10px;
												}
										}

										.socialActivity{
											padding: 7px 0 0 25px;

				  								span{
				  									font-size:16px;
				  									padding: 0 25px 0 0;
				  									color:$light-green;
				  									cursor: pointer;
				  								}
										}
								}
						}
				}
		}
		//right data end here
}
