.flightsMultipleCity{
	padding:0;

		//left data start here

		//left data end here



	
		//right data start here
		.nopadding{
			padding:0 0 0 0;
		}

		.MultipleFlightsMain{
			border-top: 1px solid $x-x-light-gray;
			padding: 0 0 25px 0;
		}

		.doshedBorder{
            border-bottom: 1px dashed $x-x-light-gray !important;
		}

		.noBorder{
            border-bottom: none !important;
		}

		.allFlightsTiming{
			width:940px / 940px * 100%;

				.multiFlightsLeft{
					width:313px / 940px * 100%;
					float:left;

						.flightsHeadings{
							padding:0 0 10px 0;
							overflow: hidden;

								.number{
		                          float: left;
		                          margin: 0 10px 0 0;
		                        }

		                        .depHd{
		                        	float:left;
		                        	line-height: 20px;
		                        	font-size: 16px;
		                        	color:$light-green;
		                        	padding: 0 10px 0 0;
		                        }

		                        .depDate{
		                        	@extend .depHd;
		                        	font-size: 14px;
		  							line-height: 22px;
		  							color:$x-light-gray;
		                        }
						}

						.sectionBox{
							width:313px / 313px * 100%;
							box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.12);
							background: $x-x-light-green;
							overflow: hidden;
  							line-height: 34px;

								.airlineHeading{
									float: left;
									font-size: 12px;
									color: $xx-x-light-green;
									padding: 0 0 0 10px;
									font-weight: bold;
									width:48px / 313px * 100%;
								}

								.departHeading{
									@extend .airlineHeading;
									padding: 0 0 0 0;
									width:57px / 313px * 100%;
								}

								.arriveHeading{
									@extend .airlineHeading;
									padding: 0 0 0 0;
									width:59px / 313px * 100%;
								}

								.durationHeading{
									@extend .airlineHeading;
									padding: 0 0 0 0;
									width:65px / 313px * 100%;
								}

								.priceHeading{
									@extend .airlineHeading;
									padding: 0 0 0 15px;
									margin: 0 4% 0 0;
									float: right;
									width: auto;
									line-height: 28px;
									border-top: 3px solid $green;

										i{
											display: inline-block;
  											margin: 0 0 0 9px;
  											cursor:pointer;
										}
								}
						}

						.departureDetailsBox{
							margin: 0 0 10px 0;
						}

						.greenBg{
							background:$x-light-green;
							border-color:$xx-light-green;
						}

						.whiteBg{
							background:$white;
							border-color:$xxx-x-gray;
						}
				}

				.multiFlightsCenter{
					@extend .multiFlightsLeft;

						.returnDetailsBox{
							margin: 0 0 10px 0;
						}
				}

				.multiFlightsRight{
					@extend .multiFlightsLeft;

						.returnDetailsBox{
							margin: 0 0 10px 0;
						}
				}
		}
		//right data end here
}
