.hotel-result{
	width:1170px / 1170px * 100%;

		.hotel-filters{
			border: 1px solid #e0e0e0;
  			background: #e5f2ef;
  			line-height: 34px;
  			padding: 0 0 0 20px;
  			margin:25px 0 0 0;

  				span{
  					font-size: 14px;
					color: #009966;
					font-weight: 600;
					cursor: pointer;
					padding: 0 25px 0 0;
  				}
		}

		//left section start here
		.hotel-search-box{
			border-bottom:1px solid #d0d0d0;

				input{border:none !important;}
		}

		.hotel-types-box{
			border-bottom:1px solid #d0d0d0;
		}
		//left section end here



		//right section start here

		//right section end here
}