.searchBarMain{
	width:100%;
	margin:0 auto;
	display:inline-block;
	box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12);
	background: rgba(255, 255, 255, 0.8);
}

.containWrapper{
  	margin: 0 auto;
  	min-width: 1170px;
  	max-width: 1330px;
 	height: auto;
 	display: flex;

 		.leftBar{
 			width:229px / 1170px * 100%;
 			height:auto;
 			float:left;
 			border-right: 1px solid $xx-x-x-x-x-x-x-x-x-x-x-light-gray;
 			border-top: 1px solid $xx-x-x-x-x-x-x-x-x-x-x-light-gray;
 		}

 		.rightBar{
 			float:right;
 			width:940px / 1170px * 100%;
 			border:none;
 		}

 		.hotel-leftBar{
 			width:300px / 1170px * 100%;
 			height:auto;
 			float:left;
 			border-left: 1px solid #c6c6c6;
  			border-right: 1px solid #c6c6c6;
 		}

 		.hotel-rightBar{
 			float:right;
 			width:867px / 1170px * 100%;
 			border-bottom: 1px solid #dddddd;
  			border-right: 1px solid #dddddd;
  			height: 947px;
  			background: url("scss/skin/blackNwhite/img/common/map.png");
 		}
}

.payCartWrapPadding{padding: 0 55px 3px 55px;}
.recieptsWrapPadding{padding: 0 55px 3px 55px;}