body {
	background:$background;
}

.stepsHeading{
  	margin: 0 0 20px 0;
	max-width: 100%;
  	min-width: 1280px;
  	height: auto;
  	line-height: 60px;
  	text-align: center;
  	font-size:20px;
  	color:$gray;
  	background: $white;
  	box-shadow: 0 3px 8px 0 $gray-shdow-color;

  		i{
  		color:$light-green;
  		font-style: normal;
  		}
}


.collTab{
	margin: 0 auto;
	width: 100%;

		.tabHd{
			line-height: 18px;

				  span{
		            padding: 0 13px 0 0;
		            color: $white;
		            opacity: 0.6;
		            font-size: 20px;
		          }

		          h3{
		            display: inline-block;
		            color: $white;
		            font-size: 20px;
		            text-transform: uppercase;
		            font-weight: 400;
		            margin:0 0 0 0;
		          }
		}

		.tabContent{
			padding:25px 60px 20px 60px;
			overflow: hidden;

				//login Tab
				.logInDetails{
					overflow: hidden;
		 						
						.logInDiv{
							width:365px;
							height: auto;
							float: left;

								.formDiv{
									padding: 0 0 10px 0;

									  	label{
		 									color: $black;
											font-size: 14px;
											font-weight: 400;
											line-height: 29px;
		 								}

		 								.inputWidth{width: 249px;}
								}
						}

						.orDiv{
							width:15px;
							float:left;

								.topSepration{
									margin: 0 0 0 6px;
									border-left:1px solid $xx-x-gray;
									height: 62px;
								}

								.or{
									line-height: 22px;
									color:$x-light-gray;
									font-size:12px;
								}

								.bottomSepration{
									@extend .topSepration;
									height: 108px;
								}
						}

						.socialDiv{
							width: 210px;
	 						float: left;
	 						margin: 5px 0 0 75px;

	 							div{
	 								margin: 0 0 10px 0;
	 							}
						}
				}
				//login Tab


				//Traveller Details Tab
				.travellerDetails{
					padding:0 0 20px 0;
					margin: 0 0 20px 0;
					border-bottom:1px dashed $xx-x-x-x-x-light-gray;

						.adultBar{
							padding: 0 0 0 0;
  							margin: 0 0 20px 0;

								label{
									text-transform: uppercase;
									font-weight: bold;
									font-size: 14px;
									display: inline-block;
									line-height: 35px;
									width: 85px;
 								}

 								.dob-label{
 									display: block;
									width: 150px;
									margin: 0 0 0 0;
									font-size: 14px;
									color: $light-gray;
									font-weight: 300;
									text-transform: none;
 								}

 								.formDiv{
 									  margin: 0 8px 0 0;
									  display: inline-block;

									  		.selectWidth{width: 70px;}
									  		.inputWidth{width: 288px;}
									  		.dayWidth{width: 70px;}
									  		.monthWidth{width: 100px;}
									  		.yearWidth{width: 80px;}
 								}

 								.frequentText{
 									font-size: 14px;
									color: $light-green;
									font-weight: 400;
 								}
 						}

 						.adultBarDob{margin: -20px 0 20px 85px !important;}

 						.travellerContent{
 							margin: 0 0 0 89px;

 								.withoutPadding{padding:0 !important;}
 								.dobDiv{
 									padding: 13px 0 0 0;

 										label{
 											font-size: 14px;
 											color:$light-gray;
 											display: block;
 											line-height: 24px
 										}

 										.formDiv{
											  margin: 0 8px 0 0;
											  display: inline-block;

											  		.dayWidth{width: 70px;}
											  		.monthWidth{width: 100px;}
											  		.yearWidth{width: 80px;}
											  		.mobileWidth{
											  			width: 204px;
											  			float: left;
											  		}

											  		.mobile-text{
											  			  float: left;
														  font-size: 12px;
														  color: $x-light-gray;
														  line-height: 35px;
														  padding: 0 0 0 20px;
											  		}
										}
 								}
 										
 								.info{
 									color: $light-green;
 									font-size:14px;
 									line-height: 50px
 								}

 								.bookingTable{
 									height:auto;
 								}
 						}
 				}
 				//Traveller Details Tab


 				//Coupons Code Details Tab
 				.couponsCode{
 					padding:0;

 						.applyCoupons{
 							padding:0;

 								.formDiv{
 									display:inline-block;
 									padding: 0 16px 0 0;
 								}
 								.couponCodeWidth{width:288px;}

 								.orFollowings{
 									color: $black;
									opacity: 0.5;
									font-size: 14px;
									line-height: 44px;
 								}
 						}

 						.typesCoupons{
 							@extend .travellerDetails;
 							overflow: hidden;
 							margin: 0 240px 20px 0;

 								.saveCouponsDiv{
 									float:left;
 									width: 230px;
 									height:auto;
 									margin: 0 30px 0 0;

 										.saveCouponWidget{
 											height:50px;
 											border:1px solid $light-green;
 											background:$x-x-light-green;
 											border-radius:5px;

 												.codeCoupon{
 													border:1px dashed $light-green;
 													color:$light-green;
 													width: 76px;
													font-size: 14px;
													padding: 6px;
													margin: 10px 0 0 9px;
													display: inline-block;
 												}

 												.saveRs{
 													font-size:14px;
 													color:$light-gray;
 													display: inline-block;
 													padding: 0 0 0 15px;

 														i{
 														font-style: normal;
 														color:$light-green;
 														}
 												}
 										}

 										.xWhite{background:$x-white !important;}
 										.saveCouponText{
 											font-size:13px;
 											color:$light-gray;
 											font-weight: 400;
  											text-align: justify;
  											padding: 5px;
 											line-height: 20px;
 										}
 								}

 								.bankLable{
 									font-weight:400;
 								}

 								.perPassenger{
 									font-size: 14px;
									padding: 0 0 0 25px;
									line-height: 26px;
									color:$light-gray;

										a{
										color:$light-green;
										text-decoration:none;
										}
 								}

 								.noteCoupon{
 									font-size: 14px;
 									color:$black;

  										i{
  										color:$red;
  										font-style: normal;
  										}
 								}
 						}
 				}
 				//Coupons Code Details Tab


 				//Itinerary Details Tab
 				.iteneraryDetails{
 					height:auto;
 					display: flex;

 						.leftData{
 							width:740px / 1170px * 100%;
 							float: left;
 							padding: 20px 50px 40px 50px;
 							border-right:1px dashed $xx-x-x-x-x-light-gray;

 								.locationHd{
 									 padding: 0 0 10px 0;

 										h3{
 											font-size: 24px;
  											display: inline-block;
  											color:$light-green;
  											font-weight: 600;
  											padding: 4px 0 0 0;
  											margin: 0 0 0 0;
 										}

 										span{
 											color:$x-light-gray;
 											font-size: 14px;
											line-height: 42px;
											padding: 0 0 0 10px;
											position: absolute;
 										}
 								}

 								.flightData{
 									padding:0;
 								}

 								//activities start here
 								.activities-booked-info{
									padding:0 0 0 0;
									overflow:hidden;

										.activity-pic{
											padding:0 20px 0 0;
											float:left;
											overflow: hidden;
										}

										.ticket-info{
											padding:0 0 0 0;
											float:left;

												.ticket-sec-info{
													padding: 0 0 8px 0;
													/* line-height: 20px; */
													margin: -5px 0 0 0;

														span{
															font-size: 14px;
															color: #666;
															font-weight: 400;
														}

														span:nth-child(2){
															color: #000;
														}
												}
										}
								}
 								//activities start here
 						}

 						.activities-leftData{padding-top: 10px !important; padding-bottom: 10px !important;}

 						.rightData{
 							width:265px / 1170px * 100%;
							float: left;
							padding: 0 25px 0 30px;
 						}
 				}
 				//Itinerary Details Tab


 				//Secure Payment Tab
 				.pay-full-payment{
 					border: 2px solid $light-green;
 					overflow: hidden;
 					margin: 0 0 10px 0;

 						.radio-div{
 							padding:0 30px 0 20px;
 							float:left;
 							font-size: 14px;
  							line-height: 38px;
 						}

 						.amount-div{
 							@extend .radio-div;
 							font-size: 20px;
 							color:$black;
 							line-height: 35px;
 						}
 				}

 				.pay-partial-amount{
 					@extend .pay-full-payment;
 					border: 1px solid $xx-x-gray;
 					padding: 8px 0 8px 0;

 						.amount-form{
 							float:left;
 							width:140px;
 						}
 				}

 				.payment-opt-main-div{
 					border: 1px solid $xx-x-gray;
 					position: relative;

 						.tabs-titles{
							float: left;
							margin: 0 0 0;
							width:223px / 1170px * 100%;
							list-style: none;
							padding: 0;
							background: $x-x-x-x-x-light-gray;
  							height: 100%;
  							position: absolute;

							   	li{
								  font-weight: 400;
								  color: $black;
								  font-size: 14px;
								  line-height: 50px;
								  cursor: pointer;
								  border-bottom: 1px solid $xxx-x-x-x-x-gray;
  								  border-right: 1px solid $xxx-x-x-x-x-gray;
								  padding: 0 0 0 30px;
								  background: $x-x-x-x-x-light-gray;
								}

								li.current{
								    font-weight: 400;
								    background: $white;
								    padding: 0 0 0 20px;
								    border-left: 10px solid $light-green;
								    border-right: 1px solid $white;
  									border-bottom: none;
								}
						}


						.tabs-contents{
						   background: $white;
						   margin: 0 0 0 19.05983%;
						   padding: 0 0 0 0;
						   border-left: 0 solid $xx-x-gray;
						   list-style: none;

								li{
								   display:none;
								   min-height: 560px;

								   		.wallet-tab{
								   			padding:0 25px 0 25px;
								   			width:766px / 806px * 100%;

								   				.wallet-amt-details{
								   					width:766px / 766px * 100%;
								   					border-bottom: 1px dashed $xx-x-x-x-x-light-gray;
								   					overflow: hidden;
  													padding: 18px 0 15px 0;

								   						.avl-credits{
								   							width:172px / 766px * 100%;
								   							float:left;

								   								.credits-text{
								   									font-size: 14px;
																	color: $light-gray;
																	padding: 0;
																	margin: 0;
								   								}

								   								.credits-amt{
								   									margin: 0;
																	padding: 12px 0 0 0;
																	font-size: 24px;
																	font-weight: 600;
																	color: $black;

																		i{
																		font-size:18px;
																		font-style:normal;
																		}
								   								}
								   						}

								   						.minus-eqaul-mark{
								   							width:80px / 766px * 100%;
								   							float:left;

								   								i{
								   									display: block;
  																	margin: 23px 0 0 0;
								   								}
								   						}
								   				}

								   				.wallet-tran-pass-details{
								   					width:766px / 766px * 100%;
								   					padding: 0 0 15px 0;
								   					overflow: hidden;

								   						.tran-pass-text{
								   							font-size: 14px;
															color: $light-gray;
															padding: 15px 0 0 0;
															font-weight: 400;
															line-height: 30px;
								   						}

								   						.tran-pass-input{
								   							width:204px;
								   							float:left;
								   						}

								   						.question-circle{
								   							float: left;
															height: 17px;
															width: 17px;
															background: $x-light-gray;
															border-radius: 50px;
															margin: 9px 0 0 13px;
															cursor: pointer;
															font-size: 14px;
															color: $white;
															text-align: center;
								   						}
								   				}

								   				.card-details{
								   					@extend .wallet-tran-pass-details;
								   				}

								   				.wallet-policy-label{
								   					@extend .wallet-tran-pass-details;

								   						label{
								   							font-size: 14px;
														    color: $black;
														    font-weight: 400;

														    	i{
														    		color:$light-green;
														    		font-style:normal;
														    	}
								   						}
								   				}

								   				.wallet-make-payment{
								   					@extend .wallet-tran-pass-details;

								   						.payment-button{
								   							float:left;
								   							padding: 0 20px 0 0;

								   								i{display:inline-block;}
								   						}

								   						.payment-total{
								   							@extend .payment-button;
								   							padding: 0 7px 0 0;
															font-size: 14px;
															color: $light-gray;
															line-height: 39px;
								   						}

								   						.payment-amt{
								   							@extend .payment-button;
								   							font-size: 24px;
															font-weight: 600;
															color: $black;

																i{
																font-size:18px;
																font-style:normal;
																line-height: 33px;
																}
								   						}
								   				}

								   				.net-select-bank{
													width:432px;
													padding: 0 0 15px 0;						   					
								   				}

								   				.store-card-box{
								   					@extend .wallet-tran-pass-details;
								   					border-bottom:1px dashed $xx-x-x-x-x-light-gray;
								   					padding: 0 0 6px 0;
  													margin: 0 0 15px 0;
  													overflow: hidden;

  														.card-radio-box{
  															width:43px / 766px * 100%;
  															float:left;
  															line-height: 48px;
  														}

  														.card-icon{
  															float:left;
  															width:67px / 766px * 100%;

  																i{display:block;}
  														}

  														.card-num-name{
  															float:left;
  															width:237px / 766px * 100%;
  															padding: 0 0 0 14px;

  																.card-number{
  																	font-size: 18px;
																 	color: $black;
																  	font-weight: 600;
																  	line-height: 22px;
																  	text-transform: uppercase;
  																}

  																.card-name{
  																	@extend .card-number;
  																	font-size:12px;
  																	color:$x-light-gray;
  																	font-weight: 300;
  																}
  														}

  														.card-cvv-input{
  															float:left;
  															width:54px / 766px * 100%;
  														}

  														.card-delete{
  															float:right;
  															color: $light-green;
															font-size: 12px;
															line-height: 46px;
															padding: 0 10px 0 0;
															cursor:pointer;
  														}
								   				}

								   				.amex-ezeclick{
								   					@extend .wallet-tran-pass-details;

								   						h4{
								   						  font-size: 14px;
														  color: $black;
														  font-weight: 400;
														  line-height: 20px;
														  padding: 0;
														  margin: 0;
								   						}

								   						p{
								   						  color: #666666;
														  line-height: 22px;
														  padding: 5px 0 0 0;
														  margin: 0;
														  font-size: 14px;
								   						}

								   						span{
								   							padding:0;

								   								i{display:inline-block;}
								   						}
								   				}

								   				.emi-light-text{
								   					font-size: 14px;
													color: $light-gray;
													font-weight: 400;
													padding: 0 0 15px 0;

														i{
														 	color:$light-green;
														 	font-style:normal;
														 }


														 b{
														 	color:$red;
														 	font-weight: 400;
														 }
								   				}

								   				.emi-months{
								   				   margin: 0 0 15px 0;
												   border: 1px solid $xx-x-x-light-gray;
												   border-radius: 5px;
												   width: 430px;
												   overflow: hidden;

												   		.months-div{
												   			width: 142px;
												   			float:left;
												   			border-right: 1px solid $xx-x-x-light-gray;
												   			padding: 10px 0 10px 0;
												   			cursor: pointer;
												   			color: $light-gray;
												   			text-align: center;
												   			font-weight: 400;

												   				span:nth-child(1){
												   					display: block;
																	font-size: 18px;
																	line-height: 21px;
												   				}

												   				span:nth-child(2){
																	font-size: 14px;
																	display: block;
												   				}
												   		}

												   		.months-div:hover{
												   			background: $xx-x-x-x-x-x-x-x-light-green;
												   			color: $white;
												   		}

												   		.month-div-last{
												   			@extend .months-div;
												   			border:none;
												   			width: 144px;
												   		}
								   				}
								   		}

								   		.conv-fee-tran{
								   			padding: 0 0 0 35px;
											border: 1px solid $x-x-x-x-x-yellow;
											background: $x-x-x-x-x-x-yellow;
											font-size: 14px;
											color: $x-x-dark-red;
											line-height: 24px;
											margin: 0 0 15px 0;
								   		}
								}

								li:first-child{
								   display:block;
								   min-height: 560px;
								}
						}
 				}
 				//Secure Payment Tab


				.couponsCodeLast{
 					border:none !important;
 					margin: 0 240px 0 0 !important;
 				}

 				.travellerDetailsLast{
 					border:none !important;
 					margin: 0 0 0 0 !important;
 				}
 		}

 		.tabContentIten{padding:0 0 0 0 !important;}

 		.marginTab{ margin: 0 0 10px 0;}
}