

.support_Cases{
    float:left;
	
	min-width:1200px;
	margin-left:40px;
}


.supportTopmain{
    float:left;
	width:100%
    
}

.contact_text{
	margin:5px;
	float:left;
}

.tab_here{
    float:right;	
	margin:5px;
}


.cases_header{
     float:left;
	 text-align:center;
	 font-size:36px;
	 color:#999;
     width:100%;

}

.body_content{
     float:left;
     width:96%;
     margin:2%;
	 
}

.online_book1{
    float:left;
	width:100%;
	
    border-style:groove;
    border-width: 1px;
	
}

.plain1{
     float:left;
	 width:50px;
	 margin:3px;	

}

.online_1{
    float:left;
    width:100px;

}


.mum_del1{
    float:left;
	width:200px;

}


.case_status1{
    width:200px;	
}

.req_time1{
	 float:left;
	  margin-left:200px;
	 width:300px;	
	
}

.req_time_top1{
    

}

.closed_req_time1{
    margin-left:22px;	
}

.ravi_head1{
     float:left;
     margin-left:20px;
	 width:120px;	
	
}

.head_img1{
	 float:left;
	 width:20px;
	 margin:3px;	

}

.head_text1{
	float:left;
}

.bar_code1{
	float:left;
	width:150px;
	
}


.online_book2{

	  float:left;
	width:100%;
	margin-top:10px;
	
    border-style:groove;
    border-width: 1px;
}

.plain2{
     float:left;
	 width:50px;
	 margin:3px;	

}

.online_2{
    float:left;
    width:100px;

}


.mum_del2{
    float:left;
	width:200px;

}


.case_status2{
    width:200px;	
}

.req_time2{
	 float:left;
	  margin-left:200px;
	 width:300px;	
	
}

.req_time_top2{
    

}

.closed_req_time2{
    margin-left:22px;	
}

.ravi_head2{
     float:left;
     margin-left:20px;
	 width:120px;	
	
}

.head_img2{
	 float:left;
	 width:20px;
	 margin:3px;	

}

.head_text2{
	float:left;
}

.bar_code2{
	float:left;
	width:150px;
	
}


.leftCont{
	float:left;
  width:580px;	
  
  
}

.left_top{
    float:left;
    width:570px;	
	font-size:12px;
 
	
	padding:4px;
	 border-style:groove;
    border-width: 1px;
}

.book_voucher{
	float:left;
	margin-left:10px;
		width:225px;
		padding-top:5px;
		
}


.bvid_bookingStatus{
  float:left;
  	margin-left:10px;
		width:225px;
		padding-top:5px;
}



.bv_id{
    float:left;
		margin-left:5px;
	width:225px;
}

.booking_status{
    float:left;
	margin-left:5px;	
    width:225px;
}

.head_phone{
   float:right;
    width:50px;
	 margin:3px;	
   	
	
}


.full_phoneSupport{
	
  float:left;
    width:566px;	
	font-size:14px;
 
	
	padding:6px;
	 border-style:groove;
    border-width: 1px;	
	padding-top:20px;
	padding-bottom:20px;
	
}

.call_miss{

	 float:left;
    width:50px;
	 margin:3px;	
   	
}

.miss_phone_text{
	  float:left;
		margin-left:5px;
	width:225px;
}

.phone_head{
    font-size:16px;
    float:left;
	margin-left:5px;	
    width:225px;
}


.phone_num{
    float:left;	
	 
	margin-left:5px;	
    width:225px;
}


.date_time{
	float:right;
	margin-right:20px;
	 width:225px;
}

.date{
	
	float:right;
	margin-right:20px;
}

.time{
	float:right;
	margin-right:20px;
}

.cancel_flight_book{
	  float:left;
    width:566px;	
	font-size:14px;
 
	
	padding:6px;
	 border-style:groove;
    border-width: 1px;	
	padding-top:20px;
	padding-bottom:20px;
	
	
}


.msg_img{
	 float:left;
    width:50px;
	 margin:3px;	
   	
	
	
}





.cancel_bar{
	
	  float:left;
		margin-left:5px;
	width:225px;
	
	
}

.cancel_head{
	font-size:16px;
    float:left;
	margin-left:5px;	
    width:225px;
	
}

.cancel_info{
	  float:left;	
	 
	margin-left:5px;	
    width:225px;
}


.date_time_cancel{
	
		float:right;
	margin-right:20px;
	 width:225px;
}

.cance_date{
	
	
	float:right;
	margin-right:20px;
}


.cancel_time{
	float:right;
	margin-right:20px;
	
}


.flight_search1{
		  float:left;
    width:566px;	
	font-size:14px;
  
	
	padding:6px;
	 border-style:groove;
    border-width: 1px;	
	padding-top:20px;
	padding-bottom:20px;
	
}


.flight_icon1{
		 float:left;
    width:50px;
	 margin:3px;	
   	
	
	
}

.flight_search_text1{
	
	  float:left;
		margin-left:5px;
	width:225px;
}


.flight_search_head1{
	font-size:16px;
    float:left;
	margin-left:5px;	
    width:225px;
	
}



.flight_info1{
		  float:left;	
	 
	margin-left:5px;	
    width:225px;
	
}

.flight_date_time1{
		float:right;
	margin-right:20px;
	 width:225px;
	
}


.flight_date1{
	float:right;
	margin-right:20px;
	
}


.flight_time1{
		float:right;
	margin-right:20px;
	
	
}





.flight_search2{
	
		  float:left;
    width:566px;	
	font-size:14px;
    
	
	padding:6px;
	 border-style:groove;
    border-width: 1px;	
	padding-top:20px;
	padding-bottom:20px;
}




.flight_icon2{
	
	 float:left;
    width:50px;
	 margin:3px;	
	
}




.flight_search_text2{
	  float:left;
		margin-left:5px;
	width:225px;
	
}



.flight_search_head2{
	
	font-size:16px;
    float:left;
	margin-left:5px;	
    width:225px;
	
	
}



.flight_info2{
	
	  float:left;	
	 
	margin-left:5px;	
    width:225px;
	
	
}


.flight_date_time2{
		float:right;
	margin-right:20px;
	 width:225px;
	
	
}

.flight_date2{
	float:right;
	margin-right:20px;
	
	
}




.flight_time2{
		float:right;
	margin-right:20px;
	
	
}





.cancel_flight_book2{
	
	  float:left;
    width:566px;	
	font-size:14px;
   
	
	padding:6px;
	 border-style:groove;
    border-width: 1px;	
	padding-top:20px;
	padding-bottom:20px;
	
	
}


.msg_img2{
	
	
	 float:left;
    width:50px;
	 margin:3px;
	
}

.cancel_bar2{
	
	 float:left;
		margin-left:5px;
	width:225px;
		
}

.cancel_head2{
	font-size:16px;
    float:left;
	margin-left:5px;	
    width:225px;
	
	
}

.cancel_info2{
	
	 float:left;	
	 
	margin-left:5px;	
    width:225px;
	
}
	
	
.date_time_cancel2{
	
		float:right;
	margin-right:20px;
	 width:225px;
}



.cance_date2{
	float:right;
	margin-right:20px;
	
	
}


.cancel_time2{

	float:right;
	margin-right:20px;
	
}



.flight_search3{
	
	  float:left;
    width:566px;	
	font-size:14px;

	
	padding:6px;
	 border-style:groove;
    border-width: 1px;	
	padding-top:20px;
	padding-bottom:20px;
	
}


.flight_icon3{
	
	 float:left;
    width:50px;
	 margin:3px;
}


.flight_search_text3{

 float:left;
		margin-left:5px;
	width:225px;


}


.flight_search_head3{

	font-size:16px;
    float:left;
	margin-left:5px;	
    width:225px;
}



.flight_info3{
	
	 float:left;	
	 
	margin-left:5px;	
    width:225px;
	
	
}


.flight_date_time3{
	
		float:right;
	margin-right:20px;
	 width:225px;
	
}


.flight_date3{
	float:right;
	margin-right:20px;
}

.flight_time3{
	float:right;
	margin-right:20px;
	
}


/*  end   */

.right_Cont{
	float:right;
  width:576px;	
  
  height:579px;	
   border-style:groove;
    border-width: 1px;	
	
}





.right_top{
    float:left;
    width:568px;	
	font-size:12px;
    
	
	padding:4px;
	 border-style:groove;
    border-width: 1px;
}

.subject_search{
	float:left;
	margin-left:10px;
		width:225px;
		padding-top:5px;
		
}


.date_time_num{
  float:right;
  	margin-left:10px;
		width:225px;
		padding-top:5px;
}



.date_to_chat{
    float:right;
		margin-right:5px;
	width:225px;
}

.chat_with{
    float:right;
	margin-right:5px;	
    width:225px;
}


.chat_work{
	
		float:right;
  width:576px;	
  background-color:#999;
  height:533px;	
   border-style:groove;
    border-width: 1px;	
	text-align:center;
}

.user1{
	float:left;
	width:576px;
	background:#C60;
	
}

.user1_text{
	float:left;
	width:200px;
	margin:4px;
}

.user1_date{
     float:left;
	 width:100%	;
	 text-align: left;
	 margin-left:2px;
	 
	
}

.user2{
	float:right;
	width:576px;
	background:#0F3;
	
}

.user2_text{
	float:right;
	width:200px;
	margin:4px;
}

.user2_date{
     float:right;
	 width:100%	;
	 text-align:right;
	 margin-right:2px;
	 
	 
	
}

.user1_chat{
	float:left;
	width:576px;
	background:#C60;
	
}  

.user1_text1{
	float:left;
	width:200px;
	margin:4px;
}

.user1_date1{
     float:left;
	 width:100%;
	text-align: left;
	 margin-left:2px;
	 
}


.user2_chat{
	float:right;
	width:576px;
	background:#0F3;
	
}

.user2_text2{
	float:right;
	width:200px;
	margin:4px;
}

.user2_date2{
     float:right;
	 width:100%;
	 text-align:right;
	 margin-right:2px;
	 
	 
	
}


  
  
  
    

.user1_chat1{
	float:left;
	width:576px;
	background:#C60;
	
}  

.user1_text_more{
	float:left;
	width:200px;
	margin:4px;
}

.user1_date_more{
     float:left;
	 width:100%	;
	 text-align: left;
	 margin-left:2px;
	 
	
}


.user2_chat1{
	float:right;
	width:576px;
	background:#0F3;
	
}

.user2_text_more{
	float:right;
	width:200px;
	margin:4px;
}

.user2_date_more{
     float:right;
	 width:100%	;
	 text-align:right;
	 margin-right:2px;
	 
	
}

.fotter{
	float:left;
     background:#000;
	 height:30px;
	 color:#FFF;	
  
	 min-width:1280px;
   	 font-size:20px;
     text-align:center;
}