@mixin all-retina-sprites($map, $map2x, $map3x) {

  @media (min--moz-device-pixel-ratio: 1.5),
    (-o-min-device-pixel-ratio: 3/2),
    (-webkit-min-device-pixel-ratio: 1.5),
    (min-device-pixel-ratio: 1.5),
    (min-resolution: 1.5dppx) {

    $base-class: sprite-map-name($map);

    .#{$base-class}-all-retina-sprites {
      background-image: sprite-url($map2x);
      @include background-size(ceil(image-width(sprite-path($map2x)) / 2) auto);
    }

    @each $sprite in sprite-names($map) {
      .#{$base-class}-#{$sprite} {
      //  @extend .#{$base-class}-all-retina-sprites;

        $position: sprite-position($map2x, $sprite);
        background-position: nth($position, 1) nth($position, 2) / 2;
      }
    }

  }
  
   @media (min--moz-device-pixel-ratio: 2),
    (-o-min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx) {

    $base-class: sprite-map-name($map);

    .#{$base-class}-all-retina-sprites {
      background-image: sprite-url($map3x);
      @include background-size(ceil(image-width(sprite-path($map3x)) / 3) auto);
    }

    @each $sprite in sprite-names($map) {
      .#{$base-class}-#{$sprite} {
      //  @extend .#{$base-class}-all-retina-sprites;

        $position: sprite-position($map3x, $sprite);
        background-position: nth($position, 1) nth($position, 2) / 3;
      }
    }

  }
}
