// Sprite set: icons
// ----------------------------------------

//$icon2x-layout: smart;
@import "icons/icons/*.png";
@include all-icons-sprites(true);

//$icon2x-layout: smart;
@import "icons/icon2x/*.png";


//$icon3x-layout: smart;  
@import "icons/icon3x/*.png";


@import "compass-retina-sprites";



@include all-retina-sprites($icons-sprites, $icon2x-sprites, $icon3x-sprites); 

.iconWrapper{
	width : 100px;
	height : 100px;
	vertical-align: middle;
	float:left;
	.icon{
		margin:auto auto;
		display: block;
	}
}