<include src='includes/header.html' data={} />

<div class="stepsHeading">Animation Coming Soon...</div>
<div class="containWrapper recieptsWrapPadding">
	<div class="flightsReceipt">
		<div class="flightRecCont">
			<div class="recLeftCont">
				<!-- // start here -->
				<div class="dataBox">
					<div class="paraDiv">
						<span><b class="bookid">Your booking id is 999999999999. All details will be sent to your email.</b></span>
						<span>Thank you for booking with Aertrip. Use the above booking id in all future communication with Aertrip.</span>
					</div>
					<div class="paraDiv">
						<span><i>IMPORTANT NOTE:</i> <b class="impNote">Your e-ticket will be delivered to your inbox within 2 (two) hours from now.<br> If you do not receive your e-ticket please check your junk / spam folder or email us @ talk@Aertrip.com</b></span>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="dataBox lastBox">
					<h3>Specail Request</h3>
					<h4>ITC Hotels</h4>
					<div class="insuranceBox"> 
						<ul class="special-rqst-list">
							<li>Specific room views, such as Ocean or Garden in specific room categories </li>
							<li>Cots</li>
							<li>Rollaway beds</li>
							<li>Specific room numbers or location</li>
							<li>High or low level floor</li>
							<li>A smoking room</li>
						</ul>
					</div>
				</div>
				<!-- // end here -->
			</div>

			<div class="recRightCont">
				<div class="recCardDiv">
					<div class="paymentReceipt">
						<div class="paymentReceiptTop"></div>
						<div class="paymentReceiptMidData">
							<div class="container">
								<div class="detailsBox">
									<div class="cardTypeName">PAYMENT RECEIPT</div>
									<div class="outputDetials"><i class="icons-visa-receipts"></i></div>
								</div>
								<div class="detailsBox">
									<div class="nameDetials">CREDIT CARD</div>
									<div class="outputDetials">1234 xxxx xxxx 4321</div>
								</div>
								<div class="detailsBox">
									<div class="nameDetials">Total Charge</div>
									<div class="outputDetials">₹ 29,973.00</div>
								</div>
								<div class="detailsBox borderNone">
									<div class="nameDetials">FARE BREAK UP</div>
									<div class="outputDetials">
										<div class="fareBrkUp">
											<label>SEAT</label>
											<span>₹ 22,089.00</span>
										</div>
										<div class="fareBrkUp">
											<label>MEAL</label>
											<span>₹ 7,785.00</span>
										</div>
										<div class="fareBrkUp">
											<label>BAGGAGE</label>
											<span>₹ 132.00</span>
										</div>
										<div class="fareBrkUp">
											<label>OTHERS</label>
											<span>₹ 258.00</span>
										</div>
									</div>
								</div>
								<div class="detailsBox borderNone">
									<div class="companyLogo"></div>
								</div>
							</div> 
						</div>
						<div class="paymentReceiptBottom"></div>
					</div>
				</div>
				<div class="printButton">
					<button class="button fill" type="button">Print your ticket & invoice</button>
				</div>
			</div>
		</div>
		<div class="bookCabBanner">
			<a href="#"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/cab/cabbanner.png" width="100%"></a>
		</div>
		<div class="recSocialCont">
			<!-- // start here -->
			<div class="leftSocial">
				<!-- // start here -->
				<div class="receiptHoverTabs">
					<div class="lineText">
						<h3>Let the know youâ€™re coming</h3>
						<p>Go to social settings and connect to facebook<br> and change auto-post settings</p>
					</div>
					<div class="socailBoxFb">
						<div>
							<i class="icons-facebook-blue"></i>
							Share
						</div>
						<div>
							<i class="icons-facebook-white"></i>
							Share
						</div>
					</div>
					<div class="socailBoxTwitter">
						<div>
							<i class="icons-twitter-blue"></i>
							Tweet
						</div>
						<div>
							<i class="icons-twitter-white"></i>
							Tweet
						</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="rightSteps">
				<!-- // start here -->
				<div class="receiptHoverTabs">
					<div class="lineText1">
						<h3>Next Steps:</h3>
						<p>More in Delhi</p>
					</div>
					<div class="stepsBoxHotel">
						<div>
							<i class="icons-hotel-medium-green"></i>
							Hotel
						</div>
						<div>
							<i class="icons-hotel-medium-white"></i>
							Hotel
						</div>
					</div>
					<div class="stepsBoxActivity">
						<div>
							<i class="icons-activity-medium-green"></i>
							Activities
						</div>
						<div>
							<i class="icons-activity-medium-white"></i>
							Activities
						</div>
					</div>
					<div class="stepsBoxBus">
						<div>
							<i class="icons-bus-medium-green"></i>
							Car
						</div>
						<div>
							<i class="icons-bus-medium-white"></i>
							Car
						</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
			<!-- // end here -->
		</div>
	</div> 
</div>

