<include src='includes/header.html' data={} />

<div class="stepsHeading">Animation Coming Soon...</div>
<div class="containWrapper recieptsWrapPadding">
	<div class="flightsReceipt">
		<div class="flightRecCont">
			<div class="recLeftCont">
				<!-- // start here -->
				<div class="dataBox">
					<div class="paraDiv">
						<span><b class="bookid">Your booking id is 999999999999. All details will be sent to your email.</b></span>
						<span>Thank you for booking with Aertrip. Use the above booking id in all future communication with Aertrip.</span>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="dataBox">
					<h3>Your itinerary</h3>
					<div class="activity-name">
						<span>4x4 Dubai Desert Safari,</span>
						<span>Dubai,</span>
						<span>United Arab Emirates</span> 
					</div>
					<div class="activities-booked-info">
						<div class="activity-pic">
							<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/activities/activities-img.png">
						</div>
						<div class="ticket-info">
							<div class="ticket-sec-info">
								<span>Tour code:</span>
								<span>2168DXB007</span>
							</div>
							<div class="ticket-sec-info">
								<span>Option code:</span>
								<span>ENSAF30</span>
							</div>
							<div class="ticket-sec-info">
								<span>Travel Date: </span>
								<span>Wednesday, December 10, 2014</span>
							</div>
							<div class="ticket-sec-info">
								<span>Location:</span>
								<span>Dubai, United Arab Emirates</span>
							</div>
							<div class="ticket-sec-info">
								<span>Duarion:</span>
								<span> 5 hours (approx.)</span>
							</div>
							<div class="ticket-sec-info">
								<span>Travellers:</span>
								<span>1 adult</span>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="dataBox lastBox">
					<h3>Travellers</h3>
					<div class="travellerBox">
						<ul>
							<li class="leftLi"><i class="icons-checkmark"></i>Mr. Thomas Frett</li>
							<li class="centerLi">
								<i class="icons-checkmark"></i>Itinerary emailed at <a href="#">thomasfrett@gmail.com</a>
							</li>
							<li class="rightLi"><i class="icons-checkmark"></i>Already in travellers’ list</li>
						</ul>
					</div>
				</div>
				<!-- // end here -->
			</div>

			<div class="recRightCont">
				<div class="recCardDiv">
					<div class="paymentReceipt">
						<div class="paymentReceiptTop"></div>
						<div class="paymentReceiptMidData">
							<div class="container">
								<div class="detailsBox">
									<div class="cardTypeName">PAYMENT RECEIPT</div>
									<div class="outputDetials"><i class="icons-visa-receipts"></i></div>
								</div>
								<div class="detailsBox">
									<div class="nameDetials">CREDIT CARD</div>
									<div class="outputDetials">1234 xxxx xxxx 4321</div>
								</div>
								<div class="detailsBox">
									<div class="nameDetials">Total Charge</div>
									<div class="outputDetials">₹ 9,300</div>
								</div>
								<div class="detailsBox borderNone">
									<div class="nameDetials">FARE BREAK UP</div>
									<div class="outputDetials">
										<div class="fareBrkUp">
											<label>4x4 Dubai Desert Safari</label>
											<span>₹ 8,300</span>
										</div>
										<div class="fareBrkUp">
											<label>Taxes and Service fee</label>
											<span>₹ 1,000</span>
										</div>
									</div>
								</div>
								<div class="detailsBox borderNone">
									<div class="companyLogo"></div>
								</div>
							</div> 
						</div>
						<div class="paymentReceiptBottom"></div>
					</div>
				</div>
				<div class="printButton">
					<button class="button fill" type="button">Print your ticket & invoice</button>
				</div>
			</div>
		</div>
		<div class="bookCabBanner">
			<a href="#"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/cab/cabbanner.png" width="100%"></a>
		</div>
		<div class="recSocialCont">
			<!-- // start here -->
			<div class="leftSocial">
				<!-- // start here -->
				<div class="receiptHoverTabs">
					<div class="lineText">
						<h3>Let the know youâ€™re coming</h3>
						<p>Go to social settings and connect to facebook<br> and change auto-post settings</p>
					</div>
					<div class="socailBoxFb">
						<div>
							<i class="icons-facebook-blue"></i>
							Share
						</div>
						<div>
							<i class="icons-facebook-white"></i>
							Share
						</div>
					</div>
					<div class="socailBoxTwitter">
						<div>
							<i class="icons-twitter-blue"></i>
							Tweet
						</div>
						<div>
							<i class="icons-twitter-white"></i>
							Tweet
						</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="rightSteps">
				<!-- // start here -->
				<div class="receiptHoverTabs">
					<div class="lineText1">
						<h3>Next Steps:</h3>
						<p>More in Delhi</p>
					</div>
					<div class="stepsBoxHotel">
						<div>
							<i class="icons-hotel-medium-green"></i>
							Hotel
						</div>
						<div>
							<i class="icons-hotel-medium-white"></i>
							Hotel
						</div>
					</div>
					<div class="stepsBoxActivity">
						<div>
							<i class="icons-activity-medium-green"></i>
							Activities
						</div>
						<div>
							<i class="icons-activity-medium-white"></i>
							Activities
						</div>
					</div>
					<div class="stepsBoxBus">
						<div>
							<i class="icons-bus-medium-green"></i>
							Car
						</div>
						<div>
							<i class="icons-bus-medium-white"></i>
							Car
						</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
			<!-- // end here -->
		</div>
	</div> 
</div>

