<include src='includes/header.html' data={} />
<div module="activitiesResult">
<!-- // start here -->
<div class="searchBarMain">
    <div class="searchBar">
        <!-- // start here -->
        <div class="formBar formBarTop">
            <!-- // start here -->
            <div class="left-single-search-bar">
                <div class="formLocation">
                    <div class="tag textInput il ir">
                        <input type="text" placeholder="Origin">
                        <div class="icon-left">
                            <i><i class="icons-location"></i> </i>
                        </div>
                    </div>
                </div>
                <div class="formCalender">
                    <div class="calDiv">
                        <div class="tag textInput il ir">
                            <input type="text" placeholder="Departing">
                            <div class="icon-left">
                                <i><i class="icons-cal-dep"></i> </i>
                            </div>
                        </div>
                    </div>
                    <div class="calDiv">
                        <div class="tag textInput il ir">
                            <input type="text" placeholder="Returning">
                            <div class="icon-left">
                                <i><i class="icons-cal-arr"></i> </i>
                            </div>
                            <div class="icon-right">
                                <i><i class="icons-close"></i> </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // end here -->

            <!-- // start here -->
            <div class="right-single-search-bar">
                <div class="formGuest">
                    <div class="textDiv">
                            <div class="regularNav">
                                <div class="days">
                                    <i class="icons-day"></i>3 Days
                                </div>
                            </div>
                        </div>
                </div>
                <div class="formButton">
                    <div class="buttonDiv">
                        <button class="button fill" type="button">Modify Search</button>
                    </div>
                </div>
            </div>
            <!-- // end here -->
        </div>
        <!-- // end here -->
        <!-- // start here -->
        <div class="formBar formBarBot">
            <div class="textDiv">
                    <div class="regularNav">
                    <div class="price">
                        <i class="icons-down-small-arrow"></i>Price per adult
                    </div>
                </div>
                <div class="regularNav">
                    <div class="duration">
                        <i class="icons-down-small-arrow"></i>Duration
                    </div>
                </div>
                <div class="regularNav">
                    <div class="type">
                        <i class="icons-down-small-arrow"></i>Type
                    </div>
                </div>
            </div>
        </div>
        <!-- // end here -->
    </div>
</div>
<!-- // end here -->
    
    <!-- // start here -->
    <div class="containWrapper">
        <div class="activities-result">

            <!-- // start here -->
            <div class="activities-filters">
                <span>Sort by:</span>
                <span>Price</span>
                <span>Stars</span>
                <span>Reviews</span>
                <span>Best Sellers</span>
                <span>Name</span>
                <span>Distance</span>
            </div>
            <!-- // end here -->

            <!-- // start here -->
            <div class="activities-leftBar">

                <!-- // start here -->
                <div class="activities-search-box">
                    <div class="tag textInput il">
                        <input type="text" placeholder="Search activity name, description">
                        <div class="icon-left">
                            <i><i class="icons-search"></i> </i>
                        </div>
                    </div>
                </div>
                <!-- // end here -->

                <!-- // start here -->
                <div class="activities-types-box">
                    <div class="photosListbox">
                        <img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/activities.png" width="100%" height="100%">
                        <figcaption>
                            <div class="hotelName">
                                <div>
                                    <h3>ITC Grand Central</h3>
                                    <span class="from">From</span>
                                </div>
                                <div class="startIcon2"></div>
                            </div>
                            <div class="hotelPrice">₹ 65,000</div>
                        </figcaption>
                    </div>
                </div>
                <!-- // end here -->

                <!-- // start here -->
                <div class="activities-types-box">
                    <div class="photosListbox">
                        <img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/activities.png" width="100%" height="100%">
                        <figcaption>
                            <div class="hotelName">
                                <div>
                                    <h3>ITC Grand Central</h3>
                                    <span class="from">From</span>
                                </div>
                                <div class="startIcon2"></div>
                            </div>
                            <div class="hotelPrice">₹ 65,000</div>
                        </figcaption>
                    </div>
                </div>
                <!-- // end here -->

                <!-- // start here -->
                <div class="activities-types-box">
                    <div class="photosListbox">
                        <img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/activities.png" width="100%" height="100%">
                        <figcaption>
                            <div class="hotelName">
                                <div>
                                    <h3>ITC Grand Central</h3>
                                    <span class="from">From</span>
                                </div>
                                <div class="startIcon2"></div>
                            </div>
                            <div class="hotelPrice">₹ 65,000</div>
                        </figcaption>
                    </div>
                </div>
                <!-- // end here -->

                <!-- // start here -->
                <div class="activities-types-box">
                    <div class="photosListbox">
                        <img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/activities.png" width="100%" height="100%">
                        <figcaption>
                            <div class="hotelName">
                                <div>
                                    <h3>ITC Grand Central</h3>
                                    <span class="from">From</span>
                                </div>
                                <div class="startIcon2"></div>
                            </div>
                            <div class="hotelPrice">₹ 65,000</div>
                        </figcaption>
                    </div>
                </div>
                <!-- // end here -->

                <!-- // start here -->
                <div class="activities-types-box">
                    <div class="photosListbox">
                        <img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/activities.png" width="100%" height="100%">
                        <figcaption>
                            
                            <div class="hotelName">
                                <div>
                                    <h3>ITC Grand Central</h3>
                                    <span class="from">From</span>
                                </div>
                                <div class="startIcon2"></div>
                            </div>
                            <div class="hotelPrice">₹ 65,000</div>
                        </figcaption>
                    </div>
                </div>
                <!-- // end here -->

                <!-- // start here -->
                <div class="activities-types-box">
                    <div class="photosListbox">
                        <img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/activities.png" width="100%" height="100%">
                        <figcaption>
                            <div class="hotelName">
                                <div>
                                    <h3>ITC Grand Central</h3>
                                    <span class="from">From</span>
                                </div>
                                <div class="startIcon2"></div>
                            </div>
                            <div class="hotelPrice">₹ 65,000</div>
                        </figcaption>
                    </div>
                </div>
                <!-- // end here -->

                <!-- // start here -->
                <div class="activities-types-box">
                    <div class="photosListbox">
                        <img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/activities.png" width="100%" height="100%">
                        <figcaption>
                            <div class="hotelName">
                                <div>
                                    <h3>ITC Grand Central</h3>
                                    <span class="from">From</span>
                                </div>
                                <div class="startIcon2"></div>
                            </div>
                            <div class="hotelPrice">₹ 65,000</div>
                        </figcaption>
                    </div>
                </div>
                <!-- // end here -->

                <!-- // start here -->
                <div class="activities-types-box">
                    <div class="photosListbox">
                        <img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/activities.png" width="100%" height="100%">
                        <figcaption>
                            <div class="hotelName">
                                <div>
                                    <h3>ITC Grand Central</h3>
                                    <span class="from">From</span>
                                </div>
                                <div class="startIcon2"></div>
                            </div>
                            <div class="hotelPrice">₹ 65,000</div>
                        </figcaption>
                    </div>
                </div>
                <!-- // end here -->

                <!-- // start here -->
                <div class="activities-types-box">
                    <div class="photosListbox">
                        <img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/activities.png" width="100%" height="100%">
                        <figcaption>
                            <div class="hotelName">
                                <div>
                                    <h3>ITC Grand Central</h3>
                                    <span class="from">From</span>
                                </div>
                                <div class="startIcon2"></div>
                            </div>
                            <div class="hotelPrice">₹ 65,000</div>
                        </figcaption>
                    </div>
                </div>
                <!-- // end here -->

            </div>
            <!-- // end here -->




            <!-- // start here -->
            <div class="activities-rightBar">
                <div class="slider">
                    <ul>
                        <li><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/activity-slider/slider1.png"></li>
                    </ul>
                    <div class="pegnination-left"></div>
                    <div class="pegnination-right"></div>
                </div>

                <div class="details">
                    <div class="book">
                        <div class="blackStrip">
                            <div class="fl rating"></div>
                            <div class="price fr">From ₹<span>3,475</span></div>
                        </div>
                        <div class="solidbg">
                            <div class="form">
                                <div class="tag textInput ir tourStartDate" label="Tour start date">
                                    <input type="text">
                                    <div class="icon-right">
                                        <i><i class="icons-calendar"></i></i>
                                    </div>
                                </div>
                                <div class="tag textInput options" label="Select Option">
                                    <select>
                                        <option>Safari Only</option>
                                        <option>Safari Only</option>
                                        <option>Safari Only</option>
                                    </select>
                                </div>
                            </div>
                            <div class="optionDetails">
                                <div class="title">Safari Only</div>
                                <div class="code">Code : <val>ENSAF</val></div>
                                <div class="summary">Travel by 4x4 across the deserts of Dubai on this exhilarating excursion! Get an adrenaline rush sand boarding on the Dubai desert, enjoy a camel ride and get a henna tattoo! Complete your experience with a delicious barbecue dinner under the Arabian stars and live folk and belly dance performances. It's a must-do experience when you're visiting Dubai!</div>
                            </div>
                            <div class="form2">
                                <div class="tag textInput adult" label="Adult (12+)">
                                    <select>
                                        <option>Safari Only</option>
                                        <option>Safari Only</option>
                                        <option>Safari Only</option>
                                    </select>
                                </div>
                                <div class="tag textInput child" label="Child (2-12)">
                                    <select>
                                        <option>Safari Only</option>
                                        <option>Safari Only</option>
                                        <option>Safari Only</option>
                                    </select>
                                </div>
                                <div class="tag textInput infant" label="Infant (0-2)">
                                    <select>
                                        <option>Safari Only</option>
                                        <option>Safari Only</option>
                                        <option>Safari Only</option>
                                    </select>
                                </div>
                            </div>
                            <div class="tollbar">
                                <button class="button fill" type="button">Button</button>
                                <a href="#" class="fr">Cancellation Policy</a>
                            </div>
                        </div>
                    </div>
                    <div class="dis">
                        <div class="heart"></div>
                        <div class="title">4x4 Dubai Desert Safari</div>
                        <div class="table">
                            <div><span>Tour code: </span><span>2168DXB007</span></div>
                            <div><span>Category: </span><span>4WD, ATV & Off-Road Tours</span></div>
                            <div><span>Location: </span><span>Dubai, United Arab Emirates</span></div>
                            <div><span>Duarion:</span><span> 5 hours (approx.)</span></div>
                        </div>
                    </div>

                    <div class="tabs">
                        <div class="tab active">Overview</div>
                        <div class="tab">More Info</div>
                        <div class="tab">User’s  Photos</div>
                        <div class="tab">Reviews</div>
                    </div>
                    <div class="tabContainers">
                        <div class="tabContainer">
                            <p>Travel by 4x4 across the deserts of Dubai on this exhilarating excursion! Get an adrenaline rush sand boarding on the Dubai desert, enjoy a camel ride and get a henna tattoo! Complete your experience with a delicious barbecue dinner under the Arabian stars and live folk and belly dance performances. It's a must-do experience when you're visiting Dubai!<br />
                            </p>
                            <h3>Schedule Details</h3>
                            <p>Departure point<br />
                                Centrally located Dubai hotels</p>
                            <p>Departure time: 3:40pm<br />
                                Hotel pickups commence approximately 30 - 60 minutes prior to this time, exact pickup time will be advised on reconfirmation.</p>
                            <p>Duration: 5 hours (approx.)<br />
                                Return details<br />
                                Returns to original departure point at approximately 9.00pm<br />
                            </p>
                            <h3>Highlights</h3>
                            <ul>
                                <li>Dubai 4x4 desert safari</li>
                                <li>Take in scenic views as you drive across the desert by 4WD vehicle</li>
                                <li>Visit a camel farm and learn how to ride a camel</li>
                                <li>Experience an adrenaline rush as you go sand boarding down the Dubai desert dunes</li>
                                <li>Get a henna tattoo on your hand or feet</li>
                                <li>Enjoy a delicious BBQ dinner under the Arabian stars</li>
                                <li>Watch live folk and belly dance performances<br />
                                </li>
                            </ul>
                            <h3>What you can expect</h3>
                            <p>After a pickup from your centrally located Dubai hotel, relax in an air-conditioned 4x4 vehicle as you head to the desert that surrounds the city. Admire views of the barren yet enchanting landscape on the way, and listen to your guide's tales about the region and its fascinating geology.<br />
                                First stop on your desert rendezvous is a traditional camel farm to see herds of the magnificent hump- backed herbivores. After showing off your balancing skills on a camel ride around the enclosures, learn about the different types of camels that are commonly seen in the desert around Dubai.<br />
                                Continue by 4x4 across the desert plains to the campsite in the desert and try your hand at a popular local pastime: sandboarding! Learn to master the art of 'surfing on sand' and race your friends and fellow travelers down the sand dunes during in an adrenaline-rushing experience.<br />
                                Show off your balance skills on a camel ride or relax and take a seat outside to watch your show as the sun sets over the craggy canyons and sun-baked plains. Get a henna tattoo design on your hands or feet, watch a traditional tanoura folk dance, and feast on a delicious barbecue dinner.<br />
                                After dinner, smoke a shisha (Arabic water pipe), if you wish, and watch a live belly-dance performance around the campfire. Relax under a canopy of twinkling stars and enjoy an experience that could be straight out of One Thousand and One Nights! Your tour then finishes with a drop-off at your Dubai hotel.<br />
                                Please note: The belly dancer does not perform during Ramadan.</p>
                            <p>Sample Menu<br />
                                First course (choose from following selection):</p>
                            <ul>
                                <li> Hummus, green salad with tomatoes and cucumbers, olives, coleslaw and Arabic bread</li>
                            </ul>
                            <p>Second course (choose from following selection):</p>
                            <ul>
                                <li>    Lamb chops, marinated chicken, beef burgers, barbequed potatoes, sautéed onions, steamed rice</li>
                            </ul>
                            <p>  and lentil curry Third course:</p>
                            <ul>
                                <li>  Arabic coffee and dates</li>
                            </ul>
                        </div>
                    </div>

                </div>


            </div>
            <!-- // end here -->

        </div>
    </div>
    <!-- // end here -->




</div>