<ul class="sm-slider"><li> <span></span> <div> <h3></h3> </div> </li><li> <span></span> <div> <h3></h3> </div> </li><li> <span></span> <div> <h3></h3> </div> </li><li> <span></span> <div> <h3></h3> </div> </li><li> <span></span> <div> <h3></h3> </div> </li><li> <span></span> <div> <h3></h3> </div> </li></ul>
<include src='includes/header.html' data={} />
<div module="activitiesHome">
<!-- // start here -->
<div class="searchBarMain">
    <div class="searchBar">
        <!-- // start here -->
        <div class="formBar formBarTop">
            <!-- // start here -->
            <div class="left-single-search-bar">
                <div class="formLocation">
                    <div class="tag textInput il ir">
                        <input type="text" placeholder="Origin">
                        <div class="icon-left">
                            <i><i class="icons-location"></i> </i>
                        </div>
                    </div>
                </div>
                <div class="formCalender">
                    <div class="calDiv">
                        <div class="tag textInput il ir">
                            <input type="text" placeholder="Departing">
                            <div class="icon-left">
                                <i><i class="icons-cal-dep"></i> </i>
                            </div>
                        </div>
                    </div>
                    <div class="calDiv">
                        <div class="tag textInput il ir">
                            <input type="text" placeholder="Returning">
                            <div class="icon-left">
                                <i><i class="icons-cal-arr"></i> </i>
                            </div>
                            <div class="icon-right">
                                <i><i class="icons-close"></i> </i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- // end here -->

            <!-- // start here -->
            <div class="right-single-search-bar">
                <div class="formGuest">
                    <div class="textDiv">
                            <div class="regularNav">
                                <div class="days">
                                    <i class="icons-day"></i>3 Days
                                </div>
                            </div>
                        </div>
                </div>
                <div class="formButton">
                    <div class="buttonDiv">
                        <button class="button fill" type="button">Search Hotel</button>
                    </div>
                </div>
            </div>
            <!-- // end here -->
        </div>
        <!-- // end here -->

        <!-- // start here -->
        <div class="formBar formBarBot">
            <div class="textDiv">
                <div class="regularNav">
                    <div class="recentSearches">
                        <i class="icons-search"></i>Recent searches
                    </div>
                </div>
            </div>
        </div>
        <!-- // end here -->
    </div>
</div>
<!-- // end here -->

</div>