<h3 style="margin: 50px 0 -40px 50px;">Payment Receipt Type 1 Cancelled Stamp</h3>
<div style="width: 289px; margin: 50px;">
	<div class="payment-rec-type6">
		<div class="pay-type1-top"></div>
		<!-- // start here -->
		<div class="add-on-rec-type">
			<div class="rec-type1-main-data">
				<div class="rec-data-top-details">
					<span>12 Oct 2014</span>
					<span><i>Cancellation</i></span>
					<span>Credit Note</span>
				</div>
				
				<div class="rec-data-fare-details">
					<div class="fare-amt-div">
						<span>Base Fare</span>
						<span>₹ 22,089.00</span>
					</div>
					<div class="fare-amt-div">
						<span><b>Taxes & fees</b></span>
						<span>₹ 7,785.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Discounts</span>
						<span>( ₹ 132.00 )</span>
					</div>
					<div class="fare-amt-div">
						<span>Insurance</span>
						<span>₹ 258.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Convenience Fee</span>
						<span>₹ 630</span>
					</div>
					<div class="fare-amt-div">
						<span><i>Total Refund</i></span>
						<span><i>₹ 3,000</i></span>
					</div>
				</div>
				
				<div class="refund-amt-bot-text">Refund amount in process</div>
			</div>
		</div>
		<!-- // end here -->
		
		<div class="pay-type1-bottom">
			<div class="company-logo"></div>
		</div>
		
	</div>
</div>



<h3 style="margin: 50px 0 -40px 50px;">Payment Receipt Type 1 Cancelled</h3>
<div style="width: 289px; margin: 50px;">
	<div class="payment-rec-type1">
		<div class="add-on-rec-type">
			<div class="rec-type1-main-data">
				<div class="rec-data-top-details">
					<span>12 Oct 2014</span>
					<span><i>Cancellation</i></span>
					<span>Credit Note</span>
				</div>
				
				<div class="rec-data-fare-details">
					<div class="fare-amt-div">
						<span>Base Fare</span>
						<span>₹ 22,089.00</span>
					</div>
					<div class="fare-amt-div">
						<span><b>Taxes & fees</b></span>
						<span>₹ 7,785.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Discounts</span>
						<span>( ₹ 132.00 )</span>
					</div>
					<div class="fare-amt-div">
						<span>Insurance</span>
						<span>₹ 258.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Convenience Fee</span>
						<span>₹ 630</span>
					</div>
					<div class="fare-amt-div">
						<span><i>Total Refund</i></span>
						<span><i>₹ 3,000</i></span>
					</div>
				</div>
				
				<div class="refund-amt-bot-text">Refund amount in process</div>
				
			</div>
		</div>
	</div>
</div>



<h3 style="margin: 50px 0 -40px 50px;">Payment Receipt Type 5</h3>
<div style="width: 874px; margin: 50px;">
	<div class="payment-rec-type5">
		<div class="pay-rec-type3-topbg"></div>
		<!-- // start here -->
		<div class="pay-rec-type3-main-data-bg">
			<div class="pay-rec-type2-main-data">
				<div class="addon-rec-left">
					<div class="addon-rec-top-details">
						<span>12 Oct 2014</span>
						<span>Booking</span>
						<span>Invoice</span>
					</div>
					<div class="addon-rec-fare-details">
						<div class="fare-amt-div">
							<span>Base Fare</span>
							<span>₹ 22,089.00</span>
						</div>
						<div class="fare-amt-div">
							<span><b>Taxes &amp; fees</b></span>
							<span>₹ 7,785.00</span>
						</div>
						<div class="fare-amt-div">
							<span>Discounts</span>
							<span>( ₹ 132.00 )</span>
						</div>
						<div class="fare-amt-div">
							<span>Insurance</span>
							<span>₹ 258.00</span>
						</div>
						<div class="fare-amt-div">
							<span>Convenience Fee</span>
							<span>₹ 630</span>
						</div>
						<div class="fare-amt-div">
							<span class="opacity-none">Total</span>
							<span class="opacity-none"><b>₹ 3,000</b></span>
						</div>
					</div>
				</div>
				
				<div class="addon-rec-left">
					<div class="addon-rec-top-details">
						<span>12 Oct 2014</span>
						<span>Add ON</span>
						<span>Invoice</span>
					</div>
					<div class="addon-rec-fare-details">
						<div class="fare-amt-div">
							<span>Base Fare</span>
							<span>₹ 22,089.00</span>
						</div>
						<div class="fare-amt-div">
							<span><b>Taxes &amp; fees</b></span>
							<span>₹ 7,785.00</span>
						</div>
						<div class="fare-amt-div">
							<span>Discounts</span>
							<span>( ₹ 132.00 )</span>
						</div>
						<div class="fare-amt-div">
							<span>Insurance</span>
							<span>₹ 258.00</span>
						</div>
						<div class="fare-amt-div">
							<span>Convenience Fee</span>
							<span>₹ 630</span>
						</div>
						<div class="fare-amt-div">
							<span class="opacity-none">Total</span>
							<span class="opacity-none"><b>₹ 3,000</b></span>
						</div>
					</div>
				</div>
				
				<div class="resch-rec-right">
					<div class="addon-rec-top-details">
						<span>12 Oct 2014</span>
						<span>Rescheduling</span>
						<span>Invoice</span>
					</div>
					<div class="addon-rec-fare-details">
						<div class="fare-amt-div">
							<span>Base Fare</span>
							<span>₹ 22,089.00</span>
						</div>
						<div class="fare-amt-div">
							<span><b>Taxes &amp; fees</b></span>
							<span>₹ 7,785.00</span>
						</div>
						<div class="fare-amt-div">
							<span>Discounts</span>
							<span>( ₹ 132.00 )</span>
						</div>
						<div class="fare-amt-div">
							<span>Insurance</span>
							<span>₹ 258.00</span>
						</div>
						<div class="fare-amt-div">
							<span>Convenience Fee</span>
							<span>₹ 630</span>
						</div>
						<div class="fare-amt-div">
							<span class="opacity-none">Total</span>
							<span class="opacity-none"><b>₹ 9,000</b></span>
						</div>
					</div>
				</div>
			</div>
			
			<!-- // start here -->
			<div class="rec-cards-details">
				<div class="amt-date-time">
					<span>Paid Amount</span>
					<span>16 Oct 2014 | 12:35 PM  <i>(View Receipt)</i></span>
				</div>
				<div class="card-type-no">
					<span><i class="icons-visa-sm"></i></span>
					<span>1234 xxxx xxxx 4321</span>
				</div>
				<div class="paid-amt-rs">₹ 12,000</div>
			</div>
			<!-- // end here -->
			
		</div>
		<!-- // end here -->
		
		<div class="pay-rec-type3-bottombg">
			<div class="company-logo"></div>
		</div>
	</div>
</div>







<h3 style="margin: 50px 0 -40px 50px;">Payment Receipt Type 4</h3>
<div style="width: 874px; margin: 50px;">
	<div class="payment-rec-type2">
		<!-- // start here -->
		<div class="pay-rec-type2-main-data">
			<div class="addon-rec-left">
				<div class="addon-rec-top-details">
					<span>12 Oct 2014</span>
					<span>Booking</span>
					<span>Invoice</span>
				</div>
				<div class="addon-rec-fare-details">
					<div class="fare-amt-div">
						<span>Base Fare</span>
						<span>₹ 22,089.00</span>
					</div>
					<div class="fare-amt-div">
						<span><b>Taxes &amp; fees</b></span>
						<span>₹ 7,785.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Discounts</span>
						<span>( ₹ 132.00 )</span>
					</div>
					<div class="fare-amt-div">
						<span>Insurance</span>
						<span>₹ 258.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Convenience Fee</span>
						<span>₹ 630</span>
					</div>
					<div class="fare-amt-div">
						<span class="opacity-none">Total</span>
						<span class="opacity-none"><b>₹ 3,000</b></span>
					</div>
				</div>
			</div>
			
			<div class="addon-rec-left">
				<div class="addon-rec-top-details">
					<span>12 Oct 2014</span>
					<span>Add ON</span>
					<span>Invoice</span>
				</div>
				<div class="addon-rec-fare-details">
					<div class="fare-amt-div">
						<span>Base Fare</span>
						<span>₹ 22,089.00</span>
					</div>
					<div class="fare-amt-div">
						<span><b>Taxes &amp; fees</b></span>
						<span>₹ 7,785.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Discounts</span>
						<span>( ₹ 132.00 )</span>
					</div>
					<div class="fare-amt-div">
						<span>Insurance</span>
						<span>₹ 258.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Convenience Fee</span>
						<span>₹ 630</span>
					</div>
					<div class="fare-amt-div">
						<span class="opacity-none">Total</span>
						<span class="opacity-none"><b>₹ 3,000</b></span>
					</div>
				</div>
			</div>
			
			<div class="resch-rec-right">
				<div class="addon-rec-top-details">
					<span>12 Oct 2014</span>
					<span>Rescheduling</span>
					<span>Invoice</span>
				</div>
				<div class="addon-rec-fare-details">
					<div class="fare-amt-div">
						<span>Base Fare</span>
						<span>₹ 22,089.00</span>
					</div>
					<div class="fare-amt-div">
						<span><b>Taxes &amp; fees</b></span>
						<span>₹ 7,785.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Discounts</span>
						<span>( ₹ 132.00 )</span>
					</div>
					<div class="fare-amt-div">
						<span>Insurance</span>
						<span>₹ 258.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Convenience Fee</span>
						<span>₹ 630</span>
					</div>
					<div class="fare-amt-div">
						<span class="opacity-none">Total</span>
						<span class="opacity-none"><b>₹ 9,000</b></span>
					</div>
				</div>
			</div>
		</div>
		<!-- // end here -->
		
		<!-- // start here -->
		<div class="rec-cards-details">
			<div class="amt-date-time">
				<span>Paid Amount</span>
				<span>16 Oct 2014 | 12:35 PM  <i>(View Receipt)</i></span>
			</div>
			<div class="card-type-no">
				<span><i class="icons-visa-sm"></i></span>
				<span>1234 xxxx xxxx 4321</span>
			</div>
			<div class="paid-amt-rs">₹ 12,000</div>
		</div>
		<!-- // end here -->
		
		<!-- // start here -->
		<div class="pay-rec-type2-bottom">
			<div class="amt-paid-div">Amount to be paid</div>
			<div class="rs-button-div">
				<span>₹ 12,000</span>
				<span><button class="button fill" type="button">Make Payment</button></span>
			</div>
		</div>
		<!-- // end here -->
	</div>
</div>




<h3 style="margin: 50px 0 -40px 50px;">Payment Receipt Type 2</h3>
<div style="width: 582px; margin: 50px;">
	<div class="payment-rec-type2">
		<!-- // start here -->
		<div class="pay-rec-type2-main-data">
			<div class="addon-rec-left">
				<div class="addon-rec-top-details">
					<span>12 Oct 2014</span>
					<span>Add ON</span>
					<span>Invoice</span>
				</div>
				<div class="addon-rec-fare-details">
					<div class="fare-amt-div">
						<span>Base Fare</span>
						<span>₹ 22,089.00</span>
					</div>
					<div class="fare-amt-div">
						<span><b>Taxes &amp; fees</b></span>
						<span>₹ 7,785.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Discounts</span>
						<span>( ₹ 132.00 )</span>
					</div>
					<div class="fare-amt-div">
						<span>Insurance</span>
						<span>₹ 258.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Convenience Fee</span>
						<span>₹ 630</span>
					</div>
					<div class="fare-amt-div">
						<span class="opacity-none">Total</span>
						<span class="opacity-none"><b>₹ 3,000</b></span>
					</div>
				</div>
			</div>
			
			<div class="resch-rec-right">
				<div class="addon-rec-top-details">
					<span>12 Oct 2014</span>
					<span>Rescheduling</span>
					<span>Invoice</span>
				</div>
				<div class="addon-rec-fare-details">
					<div class="fare-amt-div">
						<span>Base Fare</span>
						<span>₹ 22,089.00</span>
					</div>
					<div class="fare-amt-div">
						<span><b>Taxes &amp; fees</b></span>
						<span>₹ 7,785.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Discounts</span>
						<span>( ₹ 132.00 )</span>
					</div>
					<div class="fare-amt-div">
						<span>Insurance</span>
						<span>₹ 258.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Convenience Fee</span>
						<span>₹ 630</span>
					</div>
					<div class="fare-amt-div">
						<span class="opacity-none">Total</span>
						<span class="opacity-none"><b>₹ 9,000</b></span>
					</div>
				</div>
			</div>
		</div>
		<!-- // end here -->
		
		<!-- // start here -->
		<div class="pay-rec-type2-bottom">
			<div class="amt-paid-div">Amount to be paid</div>
			<div class="rs-button-div">
				<span>₹ 12,000</span>
				<span><button class="button fill" type="button">Make Payment</button></span>
			</div>
		</div>
		<!-- // end here -->
	</div>
</div>




<h3 style="margin: 50px 0 -40px 50px;">Payment Receipt Type 3</h3>
<div style="width: 582px; margin: 50px;">
	<div class="payment-rec-type3">
		<div  class="pay-rec-type3-topbg"></div>
		
		<!-- // start here -->
		<div class="pay-rec-type3-main-data-bg">
			<div class="pay-rec-type2-main-data">
				<div class="addon-rec-left">
					<div class="addon-rec-top-details">
						<span>12 Oct 2014</span>
						<span>Add ON</span>
						<span>Invoice</span>
					</div>
					<div class="addon-rec-fare-details">
						<div class="fare-amt-div">
							<span>Base Fare</span>
							<span>₹ 22,089.00</span>
						</div>
						<div class="fare-amt-div">
							<span><b>Taxes &amp; fees</b></span>
							<span>₹ 7,785.00</span>
						</div>
						<div class="fare-amt-div">
							<span>Discounts</span>
							<span>( ₹ 132.00 )</span>
						</div>
						<div class="fare-amt-div">
							<span>Insurance</span>
							<span>₹ 258.00</span>
						</div>
						<div class="fare-amt-div">
							<span>Convenience Fee</span>
							<span>₹ 630</span>
						</div>
						<div class="fare-amt-div">
							<span class="opacity-none">Total</span>
							<span class="opacity-none"><b>₹ 3,000</b></span>
						</div>
					</div>
				</div>
				
				<div class="resch-rec-right">
					<div class="addon-rec-top-details">
						<span>12 Oct 2014</span>
						<span>Rescheduling</span>
						<span>Invoice</span>
					</div>
					<div class="addon-rec-fare-details">
						<div class="fare-amt-div">
							<span>Base Fare</span>
							<span>₹ 22,089.00</span>
						</div>
						<div class="fare-amt-div">
							<span><b>Taxes &amp; fees</b></span>
							<span>₹ 7,785.00</span>
						</div>
						<div class="fare-amt-div">
							<span>Discounts</span>
							<span>( ₹ 132.00 )</span>
						</div>
						<div class="fare-amt-div">
							<span>Insurance</span>
							<span>₹ 258.00</span>
						</div>
						<div class="fare-amt-div">
							<span>Convenience Fee</span>
							<span>₹ 630</span>
						</div>
						<div class="fare-amt-div">
							<span class="opacity-none">Total</span>
							<span class="opacity-none"><b>₹ 9,000</b></span>
						</div>
					</div>
				</div>
			</div>
			
			<div class="rec-cards-details">
				<div class="amt-date-time">
					<span>Paid Amount</span>
					<span>16 Oct 2014 | 12:35 PM  <i>(View Receipt)</i></span>
				</div>
				<div class="card-type-no">
					<span><i class="icons-visa-sm"></i></span>
					<span>1234 xxxx xxxx 4321</span>
				</div>
				<div class="paid-amt-rs">₹ 12,000</div>
			</div>
		</div>
		<!-- // end here -->
		
		<div  class="pay-rec-type3-bottombg">
			<div class="company-logo"></div>
		</div>
		
	</div>
</div>




<h3 style="margin: 50px 0 -40px 50px;">Payment Receipt Type 1 Paid</h3>
<div style="width: 397px; margin: 50px;">
	<div class="payment-rec-type1">
		<div class="pay-type1-top"></div>
		<div class="pay-type1-mid">
			<div class="rec-type1-main-data">
				<div class="rec-data-top-details">
					<span>12 Oct 2014</span>
					<span>Booking</span>
					<span>Invoice</span>
				</div>
				
				<div class="rec-data-fare-details">
					<h3>FARE BREAK UP</h3>
					<div class="fare-amt-div">
						<span>Base Fare</span>
						<span>₹ 22,089.00</span>
					</div>
					<div class="fare-amt-div">
						<span><b>Taxes & fees</b></span>
						<span>₹ 7,785.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Discounts</span>
						<span>( ₹ 132.00 )</span>
					</div>
					<div class="fare-amt-div">
						<span>Insurance</span>
						<span>₹ 258.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Convenience Fee</span>
						<span>₹ 630</span>
					</div>
				</div>
				
				<div class="rec-data-total-details">
					<div class="fare-amt-div">
						<span>Total</span>
						<span>₹ 29,973</span>
					</div>
				</div>
				
				<div class="rec-data-cards-details">
					<div class="fare-amt-div">
						<span>
							<i class="icons-visa-sm"></i>
						</span>
						<span>
							<b class="card-sm-number">1234 xxxx xxxx 4321</b>
						</span>
					</div>
					
					<div class="fare-amt-div">
						<span><b class="paid-amt-color">Paid Amount</b></span>
						<span>₹ 29,973 </span>
					</div>
					
					<div class="fare-amt-div">
						<span><b class="paid-time-date">16 Oct 2014 | 12:35 PM</b></span>
						<span><b class="view-rec">(View Receipt)</b></span>
					</div>
				</div>
				
			</div>
		</div>
		<div class="pay-type1-bottom">
			<div class="company-logo"></div>
		</div>
	</div>
</div>



<h3 style="margin: 50px 0 -40px 50px;">Payment Receipt Type 1</h3>
<div style="width: 397px; margin: 50px;">
	<div class="payment-rec-type1">
		<div class="add-on-rec-type">
			<div class="rec-type1-main-data">
				<div class="rec-data-top-details">
					<span>12 Oct 2014</span>
					<span>ADD ON</span>
					<span>Debt Note</span>
				</div>
				
				<div class="rec-data-fare-details">
					<div class="fare-amt-div">
						<span>Base Fare</span>
						<span>₹ 22,089.00</span>
					</div>
					<div class="fare-amt-div">
						<span><b>Taxes & fees</b></span>
						<span>₹ 7,785.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Discounts</span>
						<span>( ₹ 132.00 )</span>
					</div>
					<div class="fare-amt-div">
						<span>Insurance</span>
						<span>₹ 258.00</span>
					</div>
					<div class="fare-amt-div">
						<span>Convenience Fee</span>
						<span>₹ 630</span>
					</div>
					<div class="fare-amt-div">
						<span><b>Total</b></span>
						<span><b>₹ 3,000</b></span>
					</div>
				</div>
				
				<div class="rec-amt-paid-div">
					<div class="fare-amt-div">
						<span>Amount to be paid</span>
						<span>₹ 12,000</span>
					</div>
				</div>
				
				<div class="rec-button-div">
					<button class="button fill" type="button">Make Payment</button>
				</div>
				
			</div>
		</div>
	</div>
</div>



<h3 style="margin: 50px 0 -40px 50px;">Payment Receipt</h3>
<div style="width: 397px; margin: 50px;">
	<div class="paymentReceipt">
		<div class="paymentReceiptTop"></div>
		<div class="paymentReceiptMidData">
			<div class="container">
				<div class="detailsBox">
					<div class="cardTypeName">PAYMENT RECEIPT</div>
					<div class="outputDetials"><i class="icons-visa-receipts"></i></div>
				</div>
				<div class="detailsBox">
					<div class="nameDetials">CREDIT CARD</div>
					<div class="outputDetials">1234 xxxx xxxx 4321</div>
				</div>
				<div class="detailsBox">
					<div class="nameDetials">Total Charge</div>
					<div class="outputDetials">₹ 9,300</div>
				</div>
				<div class="detailsBox borderNone">
					<div class="nameDetials">FARE BREAK UP</div>
					<div class="outputDetials">
						<div class="fareBrkUp">
							<label>4x4 Dubai Desert Safari</label>
							<span>₹ 8,300</span>
						</div>
						<div class="fareBrkUp">
							<label>Taxes and Service fee</label>
							<span>₹ 1,000</span>
						</div>
					</div>
				</div>
				<div class="detailsBox borderNone">
					<div class="companyLogo"></div>
				</div>
			</div> 
		</div>
		<div class="paymentReceiptBottom"></div>
	</div>
</div>