<include src='includes/header.html' data={} />

<!-- // start here -->
<div class="book-det-top-main">
	<div class="flight-book-det-top">
		<!-- // start here -->
		<div class="book-det-left-data">
			<div class="dash-flight-details-tab">
				<div class="date-week-sec">
					<div class="date-div">28</div>
					<div class="week-div">Jun</div>
				</div>
							
				<div class="booking-trav-icon">
					<i class="icons-flight-medium-blue flights-ico-margin"></i>
				</div>
							
				<div class="dest-place-sec">
					<div class="dest-names">Mumbai → Dubai</div>
					<div class="flying-status">You are flying</div>
				</div>
							
				<div class="booking-id-date-sec">
					<div class="booking-id-date-pro">
						<span>Booking ID :</span>
						<span>23242525</span>
					</div>
					<div class="booking-id-date-pro">
						<span>Booking Date  :</span>
						<span>23/12/2012</span>
					</div>
				</div>			
				<div class="status-labels-sec"></div>
			</div>
		</div>
		<!-- // end here -->
	
		<div class="book-det-right-data">
			<span>More</span>
			<span>Insurance</span>
			<span>Requests</span>
		</div>
	</div>	
</div>
<!-- // end here -->

<!-- // start here -->
<div class="book-addon-rqst-top" style="display: none;">
	<div class="flight-addon-rqst-top">
		<div class="flight-addon-left-data">
			<span>Total Add Ons price =</span>
			<span>₹ 10,780</span>
		</div>
		<div class="flight-addon-right-data">
			<span class="cencel-sec">Cancel</span>
			<span class="rqst-button">
				<button class="button fill" type="button">Request</button>
			</span>
		</div>
	</div>
</div>
<!-- // end here -->

<!-- // start here -->
<div class="containWrapper">
	<div class="booking-details">
		
		<!-- // start here -->
		<div class="book-det-mobile-info-box">
			<div class="mobile-info-text">
				<span>Mobile Number for communication</span>
				<span>(This number will be used for notifing customer about this booking)</span>
			</div>
			<div class="mobile-info-number"> +91 92-88812120</div>
		</div>
		<!-- // end here -->
		
		
		<!-- // start here -->
		<div class="book-det-seperation-box">
			<div class="book-det-heading-main">
				<div class="heading-name-stops">
					<span><h3>Mumbai → New Delhi <b>| 3 Stops</b></h3></span>
					<span><label class="labels refundableLabelBg">Non Refundable</label></span>
				</div>
				<div class="journey-date">Tuesday, 23 Oct 2013</div>
			</div>
			
			<div class="book-det-data">
				
				<!-- // start here -->
				<div class="pass-flight-info-box">
					<!-- // start here -->
					<div class="passenger-info-data-box">
						<div class="flight-det-all-info">
							<div class="destinationData">
								<div class="companyDetails">
									<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
									<div class="nameClass">
										<div class="name">GoAir</div>
										<div class="class">S2-4061</div>
										<div class="class">Economy</div>
									</div>
								</div>
								<div class="destinationToDiv">
									<div class="toName">
										<span class="icon"><i class="icons-airplane-takeoff"></i></span>
										<span class="place">BOM</span>
										<span class="time">06:20</span>
									</div>
									<div class="toDate">23 Oct 2013</div>
									<div class="toAddress">Chhatrapati Shivaji Airport,<br /> Mumbai, Terminal 1B</div>
								</div>
								<div class="durationDiv">
									<div class="duration"><i class="icons-time"></i>2h 15 m</div>
									<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
								</div>
								<div class="destinationFromDiv">
									<div class="toName">
										<span class="time">08:35</span>
										<span class="place">BBI</span>
										<span class="icon"><i class="icons-airplane-landing"></i></span>
									</div>
									<div class="toDate">23 Oct 2013</div>
									<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
								</div>
								
								<div class="person-info-kg-cabin">
									<div class="check-info-kg">
										<span class="check-in">Check-in</span>
										<span class="person-info">15 KG/person</span>
									</div>
									<div class="cabin-info-kg">
										<span class="check-in">Cabin</span>
										<span class="person-info">7 KG/person</span>
									</div>
								</div>
								
								<div class="weather-info">
									<div class="weather-icon">
										<i class="icons-cloudy-weather"></i>
									</div>
									<div class="weather-report">
										<span><b>31°</b>/ 20°</span>
										<span>Cloudy</span>
									</div>
								</div>
							</div>
							
							<div class="layOver">
								<div class="left"></div>
								<div class="center">
									<i class="icons-flight-sm-light"></i>
									<span><b>Change Plane :</b></span>
									<span>Layover: <i>30m</i></span>
									<i class="icons-flight-sm-light"></i>
								</div>
								<div class="right"></div>
							</div>
						</div>
					</div>
					<!-- // end here -->
					
					<!-- // start here -->
					<div class="passenger-info-data-box">
						<div class="flight-det-all-info">
							<div class="destinationData">
								<div class="companyDetails">
									<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
									<div class="nameClass">
										<div class="name">GoAir</div>
										<div class="class">S2-4061</div>
										<div class="class">Economy</div>
									</div>
								</div>
								<div class="destinationToDiv">
									<div class="toName">
										<span class="icon"><i class="icons-airplane-takeoff"></i></span>
										<span class="place">BOM</span>
										<span class="time">06:20</span>
									</div>
									<div class="toDate">23 Oct 2013</div>
									<div class="toAddress">Chhatrapati Shivaji Airport,<br /> Mumbai, Terminal 1B</div>
								</div>
								<div class="durationDiv">
									<div class="duration"><i class="icons-time"></i>2h 15 m</div>
									<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
								</div>
								<div class="destinationFromDiv">
									<div class="toName">
										<span class="time">08:35</span>
										<span class="place">BBI</span>
										<span class="icon"><i class="icons-airplane-landing"></i></span>
									</div>
									<div class="toDate">23 Oct 2013</div>
									<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
								</div>
								
								<div class="person-info-kg-cabin">
									<div class="check-info-kg">
										<span class="check-in">Check-in</span>
										<span class="person-info">15 KG/person</span>
									</div>
									<div class="cabin-info-kg">
										<span class="check-in">Cabin</span>
										<span class="person-info">7 KG/person</span>
									</div>
								</div>
								
								<div class="weather-info">
									<div class="weather-icon">
										<i class="icons-sunny-weather"></i>
									</div>
									<div class="weather-report">
										<span><b>33°</b>/ 18°</span>
										<span>Sunny</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- // end here -->
					
				</div>
				<!-- // end here -->
				
				
				
				<!-- // start here -->
				<div class="pass-ticket-status-box" style="display:none;">
					<!-- // start here -->
					<div class="pass-section-heading">
						<div class="salutaion-sec">&nbsp;</div>
						<div class="passenger-name-sec">Passenger</div>
						<div class="booking-staus-sec">Status</div>
						<div class="ticket-no-sec">Ticket No.</div>
						<div class="pnr-no-sec">PNR No.</div>
					</div>
					<!-- // end here -->
					
					<!-- // start here -->
					<div class="passenger-info-box">
						<div class="salutaion-icons">
							<i class="icon icons-man"></i>
						</div>
						<div class="passenger-name">Mr. Thomas Frett</div>
						<div class="booking-staus">Booked</div>
						<div class="ticket-no">1234567890123</div>
						<div class="pnr-no">U38LXY</div>
					</div>
					<!-- // end here -->
					
					<!-- // start here -->
					<div class="passenger-info-box">
						<div class="salutaion-icons">
							<i class="icon icons-woman"></i>
						</div>
						<div class="passenger-name">Mrs. Barbara Frett</div>
						<div class="booking-staus">Booked</div>
						<div class="ticket-no">1234567890123</div>
						<div class="pnr-no">U38LXY</div>
					</div>
					<!-- // end here -->
					
					<!-- // start here -->
					<div class="passenger-info-box">
						<div class="salutaion-icons">
							<i class="icon icons-child"></i>
						</div>
						<div class="passenger-name">Mr. John Frett</div>
						<div class="booking-staus">Booked</div>
						<div class="ticket-no">1234567890123</div>
						<div class="pnr-no">U38LXY</div>
					</div>
					<!-- // end here -->
					
					<!-- // start here -->
					<div class="passenger-info-box last-none-border">
						<div class="salutaion-icons">
							<i class="icon icons-infant"></i>
						</div>
						<div class="passenger-name">Ms. Teddy Frett</div>
						<div class="booking-staus">Booked</div>
						<div class="ticket-no">1234567890123</div>
						<div class="pnr-no">U38LXY</div>
					</div>
					<!-- // end here -->
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="pass-ticket-status-box">
					<!-- // start here -->
					<div class="pass-section-heading">
						<div class="salutaion-sec">&nbsp;</div>
						<div class="passenger-name-sec">Passenger</div>
						<div class="booking-staus-sec">Status</div>
						<div class="ticket-no-sec">Ticket No.</div>
						<div class="pnr-no-sec">PNR No.</div>
					</div>
					<!-- // end here -->
				</div>
				<!-- // end here -->
				
			</div>
		</div>
		<!-- // end here -->
		
		
		
		
		
		<!-- // start here -->
		<div class="book-det-seperation-box">
			<div class="book-det-heading-main">
				<div class="heading-name-stops">
					<span><h3>Mumbai → New Delhi <b>| Non-Stops</b></h3></span>
				</div>
				<div class="journey-date">Tuesday, 24 Oct 2013</div>
			</div>
			
			<div class="book-det-data">
			
				<!-- // start here -->
				<div class="pass-flight-info-box">
					
					<!-- // start here -->
					<div class="passenger-info-data-box">
						<div class="flight-det-all-info">
							<div class="destinationData">
								<div class="companyDetails">
									<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
									<div class="nameClass">
										<div class="name">GoAir</div>
										<div class="class">S2-4061</div>
										<div class="class">Economy</div>
									</div>
								</div>
								<div class="destinationToDiv">
									<div class="toName">
										<span class="icon"><i class="icons-airplane-takeoff"></i></span>
										<span class="place">BOM</span>
										<span class="time">06:20</span>
									</div>
									<div class="toDate">23 Oct 2013</div>
									<div class="toAddress">Chhatrapati Shivaji Airport,<br /> Mumbai, Terminal 1B</div>
								</div>
								<div class="durationDiv">
									<div class="duration"><i class="icons-time"></i>2h 15 m</div>
									<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
								</div>
								<div class="destinationFromDiv">
									<div class="toName">
										<span class="time">08:35</span>
										<span class="place">BBI</span>
										<span class="icon"><i class="icons-airplane-landing"></i></span>
									</div>
									<div class="toDate">23 Oct 2013</div>
									<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
								</div>
								
								<div class="person-info-kg-cabin">
									<div class="check-info-kg">
										<span class="check-in">Check-in</span>
										<span class="person-info">15 KG/person</span>
									</div>
									<div class="cabin-info-kg">
										<span class="check-in">Cabin</span>
										<span class="person-info">7 KG/person</span>
									</div>
								</div>
								
								<div class="weather-info">
									<div class="weather-icon">
										<i class="icons-sunny-weather"></i>
									</div>
									<div class="weather-report">
										<span><b>33°</b>/ 18°</span>
										<span>Sunny</span>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- // end here -->
					
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="pass-ticket-status-box">
					<!-- // start here -->
					<div class="pass-section-heading">
						<div class="salutaion-sec">&nbsp;</div>
						<div class="passenger-name-sec">Passenger</div>
						<div class="booking-staus-sec">Status</div>
						<div class="ticket-no-sec">Ticket No.</div>
						<div class="pnr-no-sec">PNR No.</div>
					</div>
					<!-- // end here -->
					
					<!-- // start here -->
					<div class="passenger-info-box">
						<div class="salutaion-icons">
							<i class="icon icons-man"></i>
						</div>
						<div class="passenger-name">Mr. Thomas Frett</div>
						<div class="booking-staus">Booked</div>
						<div class="ticket-no">1234567890123</div>
						<div class="pnr-no">U38LXY</div>
					</div>
					<!-- // end here -->
					
					<!-- // start here -->
					<div class="passenger-info-box">
						<div class="salutaion-icons">
							<i class="icon icons-woman"></i>
						</div>
						<div class="passenger-name">Mrs. Barbara Frett</div>
						<div class="booking-staus">Booked</div>
						<div class="ticket-no">1234567890123</div>
						<div class="pnr-no">U38LXY</div>
					</div>
					<!-- // end here -->
					
					<!-- // start here -->
					<div class="passenger-info-box">
						<div class="salutaion-icons">
							<i class="icon icons-child"></i>
						</div>
						<div class="passenger-name">Mr. John Frett</div>
						<div class="booking-staus">Booked</div>
						<div class="ticket-no">1234567890123</div>
						<div class="pnr-no">U38LXY</div>
					</div>
					<!-- // end here -->
					
					<!-- // start here -->
					<div class="passenger-info-box last-none-border">
						<div class="salutaion-icons">
							<i class="icon icons-infant"></i>
						</div>
						<div class="passenger-name">Ms. Teddy Frett</div>
						<div class="booking-staus">Booked</div>
						<div class="ticket-no">1234567890123</div>
						<div class="pnr-no">U38LXY</div>
					</div>
					<!-- // end here -->
				</div>
				<!-- // end here -->
				
			</div>
		</div>
		<!-- // end here -->
		
		
		
			
			
			
		<!-- // start here -->	
		<div class="book-det-seperation-box">
			
			<div class="book-det-heading-main">
				<div class="heading-name-stops">
					<span><h3>Payment</h3></span>
				</div>
			</div>
			
			<div class="book-det-data">
				<div class="payment-rec-type1">
					<div class="pay-type1-top"></div>
					<div class="pay-type1-mid">
						<div class="rec-type1-main-data">
							<div class="rec-data-top-details">
								<span>12 Oct 2014</span>
								<span>Booking</span>
								<span>Invoice</span>
							</div>
							
							<div class="rec-data-fare-details">
								<h3>FARE BREAK UP</h3>
								<div class="fare-amt-div">
									<span>Base Fare</span>
									<span>₹ 22,089.00</span>
								</div>
								<div class="fare-amt-div">
									<span><b>Taxes &amp; fees</b></span>
									<span>₹ 7,785.00</span>
								</div>
								<div class="fare-amt-div">
									<span>Discounts</span>
									<span>( ₹ 132.00 )</span>
								</div>
								<div class="fare-amt-div">
									<span>Insurance</span>
									<span>₹ 258.00</span>
								</div>
								<div class="fare-amt-div">
									<span>Convenience Fee</span>
									<span>₹ 630</span>
								</div>
							</div>
							
							<div class="rec-data-total-details">
								<div class="fare-amt-div">
									<span>Total</span>
									<span>₹ 29,973</span>
								</div>
							</div>
							
							<div class="rec-data-cards-details">
								<div class="fare-amt-div">
									<span>
										<i class="icons-visa-sm"></i>
									</span>
									<span>
										<b class="card-sm-number">1234 xxxx xxxx 4321</b>
									</span>
								</div>
								
								<div class="fare-amt-div">
									<span><b class="paid-amt-color">Paid Amount</b></span>
									<span>₹ 29,973 </span>
								</div>
								
								<div class="fare-amt-div">
									<span><b class="paid-time-date">16 Oct 2014 | 12:35 PM</b></span>
									<span><b class="view-rec">(View Receipt)</b></span>
								</div>
							</div>
							
						</div>
					</div>
					<div class="pay-type1-bottom">
						<div class="company-logo"></div>
					</div>
				</div>
			</div>
		</div>
		<!-- // end here -->
		
		
	</div>
</div>
<!-- // end here -->

