<include src='includes/header.html' data={} />

<!-- // start here -->
<div class="searchBarMain">
	<div class="searchBar">
		<!-- // start here -->
		<div class="formBar formBarTop">
			<div class="formLocation1">
				<div class="toWidth">
					<div class="tag textInput il ir">
						<input type="text" placeholder="Origin">
						<div class="icon-left">
							<i><i class="icons-location"></i> </i>
						</div>
					</div>
				</div>
				 <div class="interchange">
					<i class="icons-interchange"></i>
				</div>
				<div class="toWidth">
					<div class="tag textInput il ir">
						<input type="text" placeholder="Destination">
						<div class="icon-left">
							<i><i class="icons-destination"></i> </i>
						</div>
					</div>
				</div> 
			</div>
			<div class="formCalender borderNone">
				<div class="calDiv">
					<div class="tag textInput il ir">
						<input type="text" placeholder="Departing">
						<div class="icon-left">
							<i><i class="icons-calendar"></i> </i>
						</div>
					</div>
				</div>
				<div class="calDiv">
					<div class="tag textInput il ir">
						<input type="text" placeholder="Returning">
						<div class="icon-left">
							<i><i class="icons-calendar"></i> </i>
						</div>
						<div class="icon-right">
						 	<i><i class="icons-close"></i> </i>
						</div>
					</div>
				</div>
			</div>
			<div class="formButton">
				<div class="buttonDiv">
					<button class="button fill" type="button">Search Bus</button>
				</div>
			</div>
		</div>
		<!-- // end here -->
		<!-- // start here -->
		<div class="formBar formBarBot">
			<div class="textDiv">
				<div class="regularNav">
					<div class="recentSearches">
						<i class="icons-search"></i>Recent searches
					</div>
				</div>
			</div>
		</div>
		<!-- // end here -->
	</div>
</div>
<!-- // end here -->

<div class="containWrapper">
	<!-- // start here -->
	<div class="leftBar flights bus">	
		<div class="flightFilter">
			<span><i>32 of 32</i> Buses </span>
			<span>Clear filters</span>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Fare</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Departure Time</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Arrival Time</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Duration</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Bus Type <i>Select all</i></div>
			<div class="filterContain">
				<div class="busType">
					<div class="aerlineCheckbox">
						<input type="checkbox" id="test1"> <label for="test1">Seater</label><!-- // <i>Only</i> -->
					</div>
					<div class="aerlineCheckbox">
						<input type="checkbox" id="test2"> <label for="test2">Semi-Sleeper</label>
					</div>
					<div class="aerlineCheckbox">
						<input type="checkbox" id="test3"> <label for="test3">Sleeper</label>
					</div>
				</div>
				<div class="busType">
					<div class="aerlineCheckbox">
						<input type="checkbox" id="test4"> <label for="test4">Non A/C</label><!-- // <i>Only</i> -->
					</div>
					<div class="aerlineCheckbox">
						<input type="checkbox" id="test5"> <label for="test5">A/C</label>
					</div>
				</div>
				<div class="busType">
					<div class="aerlineCheckbox">
						<input type="checkbox" id="test6"> <label for="test6">Push Back</label><!-- // <i>Only</i> -->
					</div>
					<div class="aerlineCheckbox">
						<input type="checkbox" id="test7"> <label for="test7">Push Back</label>
					</div>
				</div>
				<div class="aerlineCheckbox">
					<span>Show All</span>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Star Ratings</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Boarding Points <i>Select all</i></div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test8"> <label for="test8">Andheri (E)</label>
				</div>				
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test9"> <label for="test9">Andheri (E) Bisleri</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test10"> <label for="test10">Andheri (E) Vinayak Travels</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test11"> <label for="test11">Andheri East</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test12"> <label for="test12">Bandra (E) Kalanagar Bus... </label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test13"> <label for="test13">Bandra East</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test14"> <label for="test14">Bandra-(E)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test15"> <label for="test15">Belapur C.B.D</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test16"> <label for="test16">Bendi Bazar</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test17"> <label for="test17">Borivali</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test18"> <label for="test18">Borivali (E)</label>
				</div>
				<div class="aerlineCheckbox">
					<span>Show All</span>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Dropping Points <i>Select all</i></div>
			<div class="filterContain">		
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test19"> <label for="test19">Allwin X Road</label>
				</div>				
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test20"> <label for="test20">Ameerpet</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test21"> <label for="test21">Ameerpet Opp. JC Brothers</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test22"> <label for="test22">Aramgard</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test23"> <label for="test23">Ashok Nagar</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test24"> <label for="test24">Ashok Nagar B.H.E.L</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test25"> <label for="test25">B.H.E.L</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test26"> <label for="test26">B.H.E.L – Opp Moghal...</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test27"> <label for="test27">Balanagar</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test28"> <label for="test28">Balnagar</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test29"> <label for="test29">Barathnagar</label>
				</div>
				<div class="aerlineCheckbox">
					<span>Show All</span>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Travels <i>Select all</i></div>
			<div class="filterContain">		
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test30"> <label for="test30">Akbar Travels</label>
				</div>				
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test31"> <label for="test31">Empire (A P Travels)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test32"> <label for="test32">Empire Express (KGN) Travels</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test33"> <label for="test33">Jabbar Travels</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test34"> <label for="test34">Kesineni Travels</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test35"> <label for="test35">N T R Express- II</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test36"> <label for="test36">N T R Express-I</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test38"> <label for="test38">Neeta Tours and Travels</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test39"> <label for="test39">Omer Travels</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test40"> <label for="test40">SVR Tours and Travels (C)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test41"> <label for="test41">SVR Travels (Citizen Travels)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test42"> <label for="test42">Sankalp Kareema Travels...</label>
				</div>
				<div class="aerlineCheckbox">
					<span>Show All</span>
				</div>
			</div>
		</div>

	</div>
	<!-- // end here -->

	<!-- // start here -->
	<div class="rightBar flights bus">
		<div class="return-dest-box">
			<!-- // start here -->
			<div class="left-data-dest-box">
				<div class="bus-return-dest-tab return-selected">
					<i class="icons-close"></i>
					<h3>Mumbai  → Hyderabad <b>1 Nov 2013</b></h3>
				</div>
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="right-data-dest-box">
				<div class="bus-return-dest-tab">
					<i class="icons-close"></i>
					<h3>Hyderabad → Mumbai <b>3 Nov 2013</b></h3>
				</div>
			</div>
			<!-- // end here -->
		</div>

		<div class="rightSectionHd">
			<div class="airlineHd travelsBus">Travels</div>
			<div class="airlineHd departsHdBus">Depart</div>
			<div class="airlineHd departsHdBus">Duration</div>
			<div class="airlineHd departsHdBus">Arrive</div>
			<div class="airlineHd departsHdBus">Seats</div>
			<div class="airlineHd departsHdBus">Ratings</div>
			<div class="priceHd">Price<i class="icons-green-up-arrow"></i></div>
		</div>

		<!-- // start here -->
		<div class="bookingDataMain">
			<div class="flightBookingTabs normalBorder">
				<!-- // start here -->
				<div class="tabSeperator">
					<div class="busBookingTabs resultboxdiv">
						<div class="busBookingData">
							<div class="busCompany">
								<div class="busName">Yash Yatra Tour Organiser Mumbai</div>
								<div class="busClass">Mercedes Multi-Axle Semi-sleeper (2+2)</div>
							</div>
							<div class="pickupPoints">
								<div class="timings">02:05</div>
								<div class="points">Pickup points</div>
							</div>
							<div class="busDuration">02h 30m</div>
							<div class="dropPoints">
								<div class="timings">04:35</div>
								<div class="points">Drop points</div>
							</div>
							<div class="busSeats">
								<div class="seatLeft">13 left</div>
								<div class="windowLeft">Window: 1</div>
							</div>
							<div class="busStarRatings">
								<div class="busStar">Stars</div>
								<div class="busReviews">18 Reviews</div>
							</div>
							<div class="ticketPrice">₹ 1,330</div>
							<div class="busBookButtons">
								<button class="button line" type="button">View Seats</button>
							</div>

							<div class="busMore">
								<span>
									<i class="icons-more-verticle"></i>
								</span>
							</div>
						</div>
					</div>

					<div class="resultdetailbox">
	                	<div class="hiddenDataDiv">
		                	<!-- // start here -->
		                	<div class="leftData">
		                		<div class="busSeatsLayout">
		                			<div class="titleText">Photos & Videos of Mecedes Multi-Axle Semi-sleeper (2+2)</div>
		                			<div class="bookSeatsLayout">
		                				<div class="deckLable">
		                					<span>
		                						<i class="icons-bus-stering"></i>
		                					</span>
		                				</div>
		                				<!-- // start here -->
		                				<div class="deck">
		                					<div class="busSemiSleeper">
												<ul>
													<li><i class="icons-bus-female-chair-available"></i></li>
													<li><i class="icons-bus-female-chair-available"></i></li>
													<li><i class="icons-bus-female-chair-available-checked"></i></li>
													<li><i class="icons-bus-female-chair-available-checked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li class="last"><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-female-chair-available"></i></li>
													<li><i class="icons-bus-female-chair-available"></i></li>
													<li><i class="icons-bus-female-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li class="last"><i class="icons-bus-male-chair-booked"></i></li>
													<li class="centerSeat"><i class="icons-bus-male-chair-booked"></i></li>
													<li class="sleeperSeat"><i class="icons-bus-female-sleeper-booked"></i></li>
													<li class="sleeperSeat"><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li class="last"><i class="icons-bus-male-chair-booked"></i></li>
													<li class="sleeperSeatAvl"><i class="icons-bus-female-sleeper-available"></i></li>
													<li class="sleeperSeatAvl"><i class="icons-bus-male-sleeper-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li class="last"><i class="icons-bus-male-chair-booked"></i></li>
												</ul>
											</div>
		                				</div>
		                				<!-- // end here -->
		                			</div>
		                			<div class="selectPickPoint">
										<div class="tag textInput">
											<select>
												<option>Select Pickup point</option>
											</select>
										</div>
									</div>
									<div><button class="button fill hover" type="button">Continue</button></div>
		                		</div>
		                	</div>
		                	<!-- // end here -->
		                	
		                	<!-- // start here -->
		                	<div class="rightData">
		                		<div class="fareBreakUp">
									<div class="busSeatsBox">
										<div class="seatsIcons">
											<div class="iconsBox">
												<i class="icons-bus-male-chair-available-checked"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-female-chair-available"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-male-sleeper-available"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-female-sleeper-available"></i>
											</div>
										</div>
										<div class="seatsSection">
											<div class="textBox">Available Seat</div>
											<div class="textBox">Reserved for ladies</div>
											<div class="textBox">Available Sleeper</div>
											<div class="textBox">Sleeper Reserved for ladies</div>
										</div>
									</div>
									<div class="baseFareDivBus">
										<div>
											<span>Seat Number</span>
											<span>25, 26, 28</span>
										</div>
										<div>
											<span>Base Fare</span>
											<span>₹ 1,500</span>
										</div>
										<div>
											<span>Service Tax</span>
											<span>NA</span>
										</div>
									</div>
									<div class="fareTotal">
										<span>Amount</span>
										<span><i>₹</i> 29,874.00</span>
									</div>
									<div class="cancelPolicies">
										Cancellation policies
									</div>
								</div>
		                	</div>
		                	<!-- // end here -->
	                	</div>
	                	<div class="socialActivity">
	                		<span>Save to Trips</span>
	                		<span>Pin</span>
	                		<span>Share</span>
	                		<span>Print</span>
	                	</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="bookingDataMain">
			<div class="flightBookingTabs normalBorder">
				<!-- // start here -->
				<div class="tabSeperator">
					<div class="busBookingTabs resultboxdiv">
						<div class="busBookingData">
							<div class="busCompany">
								<div class="busName">Yash Yatra Tour Organiser Mumbai</div>
								<div class="busClass">Mercedes Multi-Axle Semi-sleeper (2+2)</div>
							</div>
							<div class="pickupPoints">
								<div class="timings">02:05</div>
								<div class="points">Pickup points</div>
							</div>
							<div class="busDuration">02h 30m</div>
							<div class="dropPoints">
								<div class="timings">04:35</div>
								<div class="points">Drop points</div>
							</div>
							<div class="busSeats">
								<div class="seatLeft">13 left</div>
								<div class="windowLeft">Window: 1</div>
							</div>
							<div class="busStarRatings">
								<div class="busStar">Stars</div>
								<div class="busReviews">18 Reviews</div>
							</div>
							<div class="ticketPrice">₹ 1,330</div>
							<div class="busBookButtons">
								<button class="button line" type="button">View Seats</button>
							</div>

							<div class="busMore">
								<span>
									<i class="icons-more-verticle"></i>
								</span>
							</div>
						</div>
					</div>

					<div class="resultdetailbox">
	                	<div class="hiddenDataDiv">
		                	<!-- // start here -->
		                	<div class="leftData">
		                		<div class="busOnlySeatsLayout">
		                			<div class="titleText">Photos & Videos of Mecedes Multi-Axle Semi-sleeper (2+2)</div>
		                			<div class="bookSeatsLayoutSeats">
		                				<div class="deckLableSeats">
		                					<span>
		                						<i class="icons-bus-stering"></i>
		                					</span>
		                				</div>
		                				<!-- // start here -->
		                				<div class="deckSeats">
		                					<div class="busOnlySeats">
												<ul>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li class="last"><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li class="last"><i class="icons-bus-male-chair-available"></i></li>
													<li class="centerSeat"><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li class="last"><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li class="last"><i class="icons-bus-male-chair-available"></i></li>
												</ul>
											</div>
		                				</div>
		                				<!-- // end here -->
		                			</div>
		                			<div class="selectPickPoint">
										<div class="tag textInput">
											<select>
												<option>Select Pickup point</option>
											</select>
										</div>
									</div>
									<div><button class="button fill hover" type="button">Continue</button></div>
		                		</div>
		                	</div>
		                	<!-- // end here -->
		                	
		                	<!-- // start here -->
		                	<div class="rightData">
		                		<div class="fareBreakUp">
									<div class="busSeatsBox">
										<div class="seatsIcons">
											<div class="iconsBox">
												<i class="icons-bus-male-chair-available-checked"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-female-chair-available"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-male-sleeper-available"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-female-sleeper-available"></i>
											</div>
										</div>
										<div class="seatsSection">
											<div class="textBox">Available Seat</div>
											<div class="textBox">Reserved for ladies</div>
											<div class="textBox">Available Sleeper</div>
											<div class="textBox">Sleeper Reserved for ladies</div>
										</div>
									</div>
									<div class="baseFareDivBus">
										<div>
											<span>Seat Number</span>
											<span>25, 26, 28</span>
										</div>
										<div>
											<span>Base Fare</span>
											<span>₹ 1,500</span>
										</div>
										<div>
											<span>Service Tax</span>
											<span>NA</span>
										</div>
									</div>
									<div class="fareTotal">
										<span>Amount</span>
										<span><i>₹</i> 29,874.00</span>
									</div>
									<div class="cancelPolicies">
										Cancellation policies
									</div>
								</div>
		                	</div>
		                	<!-- // end here -->
	                	</div>
	                	<div class="socialActivity">
	                		<span>Save to Trips</span>
	                		<span>Pin</span>
	                		<span>Share</span>
	                		<span>Print</span>
	                	</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="bookingDataMain">
			<div class="flightBookingTabs normalBorder">
				<!-- // start here -->
				<div class="tabSeperator">
					<div class="busBookingTabs resultboxdiv">
						<div class="busBookingData">
							<div class="busCompany">
								<div class="busName">Yash Yatra Tour Organiser Mumbai</div>
								<div class="busClass">Mercedes Multi-Axle Semi-sleeper (2+2)</div>
							</div>
							<div class="pickupPoints">
								<div class="timings">02:05</div>
								<div class="points">Pickup points</div>
							</div>
							<div class="busDuration">02h 30m</div>
							<div class="dropPoints">
								<div class="timings">04:35</div>
								<div class="points">Drop points</div>
							</div>
							<div class="busSeats">
								<div class="seatLeft">13 left</div>
								<div class="windowLeft">Window: 1</div>
							</div>
							<div class="busStarRatings">
								<div class="busStar">Stars</div>
								<div class="busReviews">18 Reviews</div>
							</div>
							<div class="ticketPrice">₹ 1,330</div>
							<div class="busBookButtons">
								<button class="button line" type="button">View Seats</button>
							</div>

							<div class="busMore">
								<span>
									<i class="icons-more-verticle"></i>
								</span>
							</div>
						</div>
					</div>

					<div class="resultdetailbox">
	                	<div class="hiddenDataDiv">
		                	<!-- // start here -->
		                	<div class="leftData">
		                		<div class="busOnlySleeperLayout">
		                			<div class="titleText">Photos & Videos of Mecedes Multi-Axle Semi-sleeper (2+2)</div>
		                			<div class="bookSeatsLayoutSleeperSeats layoutMargin">
		                				<div class="deckLableSleeperSeats">
		                					<span>
		                						<!-- // <i class="icons-bus-stering"></i> -->
		                						<i class="verticleUpper">U<br>p<br>p<br>e<br>r</i>
		                					</span>
		                				</div>
		                				<!-- // start here -->
		                				<div class="deckSleeperSeats">
		                					<div class="busOnlySleeperSeats">
												<ul>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li class="last"><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li class="last"><i class="icons-bus-male-sleeper-available"></i></li>
													<li class="centerSeat"><i class="icons-bus-male-verticle-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li class="last"><i class="icons-bus-male-sleeper-booked"></i></li>
												</ul>
											</div>
		                				</div>
		                				<!-- // end here -->
		                			</div>
		                			<div class="bookSeatsLayoutSleeperSeats">
		                				<div class="deckLableSleeperSeats">
		                					<span>
		                						<i class="icons-bus-stering"></i>
		                						<i class="verticleLower">l<br>o<br>w<br>e<br>r</i>
		                					</span>
		                				</div>
		                				<!-- // start here -->
		                				<div class="deckSleeperSeats">
		                					<div class="busOnlySleeperSeats">
												<ul>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li class="last"><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li class="last"><i class="icons-bus-male-sleeper-available"></i></li>
													<!-- // <li class="centerSeat"><i class="icons-bus-male-verticle-sleeper-booked"></i></li> -->
													<ul class="midSep">
														<li><i class="icons-bus-male-sleeper-available"></i></li>
														<li><i class="icons-bus-male-sleeper-booked"></i></li>
														<li><i class="icons-bus-male-sleeper-booked"></i></li>
														<li><i class="icons-bus-male-sleeper-booked"></i></li>
														<li><i class="icons-bus-male-sleeper-available"></i></li>
														<li class="last"><i class="icons-bus-male-sleeper-booked"></i></li>
													</ul>
												</ul>
											</div>
		                				</div>
		                				<!-- // end here -->
		                			</div>
		                			<div class="selectPickPoint">
										<div class="tag textInput">
											<select>
												<option>Select Pickup point</option>
											</select>
										</div>
									</div>
									<div><button class="button fill hover" type="button">Continue</button></div>
		                		</div>
		                	</div>
		                	<!-- // end here -->
		                	
		                	<!-- // start here -->
		                	<div class="rightData">
		                		<div class="fareBreakUp">
									<div class="busSeatsBox">
										<div class="seatsIcons">
											<div class="iconsBox">
												<i class="icons-bus-male-chair-available-checked"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-female-chair-available"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-male-sleeper-available"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-female-sleeper-available"></i>
											</div>
										</div>
										<div class="seatsSection">
											<div class="textBox">Available Seat</div>
											<div class="textBox">Reserved for ladies</div>
											<div class="textBox">Available Sleeper</div>
											<div class="textBox">Sleeper Reserved for ladies</div>
										</div>
									</div>
									<div class="baseFareDivBus">
										<div>
											<span>Seat Number</span>
											<span>25, 26, 28</span>
										</div>
										<div>
											<span>Base Fare</span>
											<span>₹ 1,500</span>
										</div>
										<div>
											<span>Service Tax</span>
											<span>NA</span>
										</div>
									</div>
									<div class="fareTotal">
										<span>Amount</span>
										<span><i>₹</i> 29,874.00</span>
									</div>
									<div class="cancelPolicies">
										Cancellation policies
									</div>
								</div>
		                	</div>
		                	<!-- // end here -->
	                	</div>
	                	<div class="socialActivity">
	                		<span>Save to Trips</span>
	                		<span>Pin</span>
	                		<span>Share</span>
	                		<span>Print</span>
	                	</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="bookingDataMain">
			<div class="flightBookingTabs normalBorder">
				<!-- // start here -->
				<div class="tabSeperator">
					<div class="busBookingTabs resultboxdiv">
						<div class="busBookingData">
							<div class="busCompany">
								<div class="busName">Yash Yatra Tour Organiser Mumbai</div>
								<div class="busClass">Mercedes Multi-Axle Semi-sleeper (2+2)</div>
							</div>
							<div class="pickupPoints">
								<div class="timings">02:05</div>
								<div class="points">Pickup points</div>
							</div>
							<div class="busDuration">02h 30m</div>
							<div class="dropPoints">
								<div class="timings">04:35</div>
								<div class="points">Drop points</div>
							</div>
							<div class="busSeats">
								<div class="seatLeft">13 left</div>
								<div class="windowLeft">Window: 1</div>
							</div>
							<div class="busStarRatings">
								<div class="busStar">Stars</div>
								<div class="busReviews">18 Reviews</div>
							</div>
							<div class="ticketPrice">₹ 1,330</div>
							<div class="busBookButtons">
								<button class="button line" type="button">View Seats</button>
							</div>

							<div class="busMore">
								<span>
									<i class="icons-more-verticle"></i>
								</span>
							</div>
						</div>
					</div>

					<div class="resultdetailbox">
	                	<div class="hiddenDataDiv">
		                	<!-- // start here -->
		                	<div class="leftData">
		                		<div class="busSeatsLayout">
		                			<div class="titleText">Photos & Videos of Mecedes Multi-Axle Semi-sleeper (2+2)</div>
		                			<div class="bookSeatsLayout">
		                				<div class="deckLable">
		                					<span>
		                						<i class="icons-bus-stering"></i>
		                					</span>
		                				</div>
		                				<!-- // start here -->
		                				<div class="deck">
		                					<div class="busSemiSleeper">
												<ul>
													<li><i class="icons-bus-female-chair-available"></i></li>
													<li><i class="icons-bus-female-chair-available"></i></li>
													<li><i class="icons-bus-female-chair-available-checked"></i></li>
													<li><i class="icons-bus-female-chair-available-checked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li class="last"><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-female-chair-available"></i></li>
													<li><i class="icons-bus-female-chair-available"></i></li>
													<li><i class="icons-bus-female-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li class="last"><i class="icons-bus-male-chair-booked"></i></li>
													<li class="centerSeat"><i class="icons-bus-male-chair-booked"></i></li>
													<li class="sleeperSeat"><i class="icons-bus-female-sleeper-booked"></i></li>
													<li class="sleeperSeat"><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li class="last"><i class="icons-bus-male-chair-booked"></i></li>
													<li class="sleeperSeatAvl"><i class="icons-bus-female-sleeper-available"></i></li>
													<li class="sleeperSeatAvl"><i class="icons-bus-male-sleeper-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li class="last"><i class="icons-bus-male-chair-booked"></i></li>
												</ul>
											</div>
		                				</div>
		                				<!-- // end here -->
		                			</div>
		                			<div class="selectPickPoint">
										<div class="tag textInput">
											<select>
												<option>Select Pickup point</option>
											</select>
										</div>
									</div>
									<div><button class="button fill hover" type="button">Continue</button></div>
		                		</div>
		                	</div>
		                	<!-- // end here -->
		                	
		                	<!-- // start here -->
		                	<div class="rightData">
		                		<div class="fareBreakUp">
									<div class="busSeatsBox">
										<div class="seatsIcons">
											<div class="iconsBox">
												<i class="icons-bus-male-chair-available-checked"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-female-chair-available"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-male-sleeper-available"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-female-sleeper-available"></i>
											</div>
										</div>
										<div class="seatsSection">
											<div class="textBox">Available Seat</div>
											<div class="textBox">Reserved for ladies</div>
											<div class="textBox">Available Sleeper</div>
											<div class="textBox">Sleeper Reserved for ladies</div>
										</div>
									</div>
									<div class="baseFareDivBus">
										<div>
											<span>Seat Number</span>
											<span>25, 26, 28</span>
										</div>
										<div>
											<span>Base Fare</span>
											<span>₹ 1,500</span>
										</div>
										<div>
											<span>Service Tax</span>
											<span>NA</span>
										</div>
									</div>
									<div class="fareTotal">
										<span>Amount</span>
										<span><i>₹</i> 29,874.00</span>
									</div>
									<div class="cancelPolicies">
										Cancellation policies
									</div>
								</div>
		                	</div>
		                	<!-- // end here -->
	                	</div>
	                	<div class="socialActivity">
	                		<span>Save to Trips</span>
	                		<span>Pin</span>
	                		<span>Share</span>
	                		<span>Print</span>
	                	</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="bookingDataMain">
			<div class="flightBookingTabs normalBorder">
				<!-- // start here -->
				<div class="tabSeperator">
					<div class="busBookingTabs resultboxdiv">
						<div class="busBookingData">
							<div class="busCompany">
								<div class="busName">Yash Yatra Tour Organiser Mumbai</div>
								<div class="busClass">Mercedes Multi-Axle Semi-sleeper (2+2)</div>
							</div>
							<div class="pickupPoints">
								<div class="timings">02:05</div>
								<div class="points">Pickup points</div>
							</div>
							<div class="busDuration">02h 30m</div>
							<div class="dropPoints">
								<div class="timings">04:35</div>
								<div class="points">Drop points</div>
							</div>
							<div class="busSeats">
								<div class="seatLeft">13 left</div>
								<div class="windowLeft">Window: 1</div>
							</div>
							<div class="busStarRatings">
								<div class="busStar">Stars</div>
								<div class="busReviews">18 Reviews</div>
							</div>
							<div class="ticketPrice">₹ 1,330</div>
							<div class="busBookButtons">
								<button class="button line" type="button">View Seats</button>
							</div>

							<div class="busMore">
								<span>
									<i class="icons-more-verticle"></i>
								</span>
							</div>
						</div>
					</div>

					<div class="resultdetailbox">
	                	<div class="hiddenDataDiv">
		                	<!-- // start here -->
		                	<div class="leftData">
		                		<div class="busOnlySeatsLayout">
		                			<div class="titleText">Photos & Videos of Mecedes Multi-Axle Semi-sleeper (2+2)</div>
		                			<div class="bookSeatsLayoutSeats">
		                				<div class="deckLableSeats">
		                					<span>
		                						<i class="icons-bus-stering"></i>
		                					</span>
		                				</div>
		                				<!-- // start here -->
		                				<div class="deckSeats">
		                					<div class="busOnlySeats">
												<ul>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li class="last"><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li class="last"><i class="icons-bus-male-chair-available"></i></li>
													<li class="centerSeat"><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li class="last"><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-booked"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li><i class="icons-bus-male-chair-available"></i></li>
													<li class="last"><i class="icons-bus-male-chair-available"></i></li>
												</ul>
											</div>
		                				</div>
		                				<!-- // end here -->
		                			</div>
		                			<div class="selectPickPoint">
										<div class="tag textInput">
											<select>
												<option>Select Pickup point</option>
											</select>
										</div>
									</div>
									<div><button class="button fill hover" type="button">Continue</button></div>
		                		</div>
		                	</div>
		                	<!-- // end here -->
		                	
		                	<!-- // start here -->
		                	<div class="rightData">
		                		<div class="fareBreakUp">
									<div class="busSeatsBox">
										<div class="seatsIcons">
											<div class="iconsBox">
												<i class="icons-bus-male-chair-available-checked"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-female-chair-available"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-male-sleeper-available"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-female-sleeper-available"></i>
											</div>
										</div>
										<div class="seatsSection">
											<div class="textBox">Available Seat</div>
											<div class="textBox">Reserved for ladies</div>
											<div class="textBox">Available Sleeper</div>
											<div class="textBox">Sleeper Reserved for ladies</div>
										</div>
									</div>
									<div class="baseFareDivBus">
										<div>
											<span>Seat Number</span>
											<span>25, 26, 28</span>
										</div>
										<div>
											<span>Base Fare</span>
											<span>₹ 1,500</span>
										</div>
										<div>
											<span>Service Tax</span>
											<span>NA</span>
										</div>
									</div>
									<div class="fareTotal">
										<span>Amount</span>
										<span><i>₹</i> 29,874.00</span>
									</div>
									<div class="cancelPolicies">
										Cancellation policies
									</div>
								</div>
		                	</div>
		                	<!-- // end here -->
	                	</div>
	                	<div class="socialActivity">
	                		<span>Save to Trips</span>
	                		<span>Pin</span>
	                		<span>Share</span>
	                		<span>Print</span>
	                	</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="bookingDataMain">
			<div class="flightBookingTabs normalBorder">
				<!-- // start here -->
				<div class="tabSeperator">
					<div class="busBookingTabs resultboxdiv">
						<div class="busBookingData">
							<div class="busCompany">
								<div class="busName">Yash Yatra Tour Organiser Mumbai</div>
								<div class="busClass">Mercedes Multi-Axle Semi-sleeper (2+2)</div>
							</div>
							<div class="pickupPoints">
								<div class="timings">02:05</div>
								<div class="points">Pickup points</div>
							</div>
							<div class="busDuration">02h 30m</div>
							<div class="dropPoints">
								<div class="timings">04:35</div>
								<div class="points">Drop points</div>
							</div>
							<div class="busSeats">
								<div class="seatLeft">13 left</div>
								<div class="windowLeft">Window: 1</div>
							</div>
							<div class="busStarRatings">
								<div class="busStar">Stars</div>
								<div class="busReviews">18 Reviews</div>
							</div>
							<div class="ticketPrice">₹ 1,330</div>
							<div class="busBookButtons">
								<button class="button line" type="button">View Seats</button>
							</div>

							<div class="busMore">
								<span>
									<i class="icons-more-verticle"></i>
								</span>
							</div>
						</div>
					</div>

					<div class="resultdetailbox">
	                	<div class="hiddenDataDiv">
		                	<!-- // start here -->
		                	<div class="leftData">
		                		<div class="busOnlySleeperLayout">
		                			<div class="titleText">Photos & Videos of Mecedes Multi-Axle Semi-sleeper (2+2)</div>
		                			<div class="bookSeatsLayoutSleeperSeats layoutMargin">
		                				<div class="deckLableSleeperSeats">
		                					<span>
		                						<!-- // <i class="icons-bus-stering"></i> -->
		                						<i class="verticleUpper">U<br>p<br>p<br>e<br>r</i>
		                					</span>
		                				</div>
		                				<!-- // start here -->
		                				<div class="deckSleeperSeats">
		                					<div class="busOnlySleeperSeats">
												<ul>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li class="last"><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li class="last"><i class="icons-bus-male-sleeper-available"></i></li>
													<li class="centerSeat"><i class="icons-bus-male-verticle-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li class="last"><i class="icons-bus-male-sleeper-booked"></i></li>
												</ul>
											</div>
		                				</div>
		                				<!-- // end here -->
		                			</div>
		                			<div class="bookSeatsLayoutSleeperSeats">
		                				<div class="deckLableSleeperSeats">
		                					<span>
		                						<i class="icons-bus-stering"></i>
		                						<i class="verticleLower">l<br>o<br>w<br>e<br>r</i>
		                					</span>
		                				</div>
		                				<!-- // start here -->
		                				<div class="deckSleeperSeats">
		                					<div class="busOnlySleeperSeats">
												<ul>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li class="last"><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-booked"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li><i class="icons-bus-male-sleeper-available"></i></li>
													<li class="last"><i class="icons-bus-male-sleeper-available"></i></li>
													<!-- // <li class="centerSeat"><i class="icons-bus-male-verticle-sleeper-booked"></i></li> -->
													<ul class="midSep">
														<li><i class="icons-bus-male-sleeper-available"></i></li>
														<li><i class="icons-bus-male-sleeper-booked"></i></li>
														<li><i class="icons-bus-male-sleeper-booked"></i></li>
														<li><i class="icons-bus-male-sleeper-booked"></i></li>
														<li><i class="icons-bus-male-sleeper-available"></i></li>
														<li class="last"><i class="icons-bus-male-sleeper-booked"></i></li>
													</ul>
												</ul>
											</div>
		                				</div>
		                				<!-- // end here -->
		                			</div>
		                			<div class="selectPickPoint">
										<div class="tag textInput">
											<select>
												<option>Select Pickup point</option>
											</select>
										</div>
									</div>
									<div><button class="button fill hover" type="button">Continue</button></div>
		                		</div>
		                	</div>
		                	<!-- // end here -->
		                	
		                	<!-- // start here -->
		                	<div class="rightData">
		                		<div class="fareBreakUp">
									<div class="busSeatsBox">
										<div class="seatsIcons">
											<div class="iconsBox">
												<i class="icons-bus-male-chair-available-checked"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-female-chair-available"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-male-sleeper-available"></i>
											</div>
											<div class="iconsBox">
												<i class="icons-bus-female-sleeper-available"></i>
											</div>
										</div>
										<div class="seatsSection">
											<div class="textBox">Available Seat</div>
											<div class="textBox">Reserved for ladies</div>
											<div class="textBox">Available Sleeper</div>
											<div class="textBox">Sleeper Reserved for ladies</div>
										</div>
									</div>
									<div class="baseFareDivBus">
										<div>
											<span>Seat Number</span>
											<span>25, 26, 28</span>
										</div>
										<div>
											<span>Base Fare</span>
											<span>₹ 1,500</span>
										</div>
										<div>
											<span>Service Tax</span>
											<span>NA</span>
										</div>
									</div>
									<div class="fareTotal">
										<span>Amount</span>
										<span><i>₹</i> 29,874.00</span>
									</div>
									<div class="cancelPolicies">
										Cancellation policies
									</div>
								</div>
		                	</div>
		                	<!-- // end here -->
	                	</div>
	                	<div class="socialActivity">
	                		<span>Save to Trips</span>
	                		<span>Pin</span>
	                		<span>Share</span>
	                		<span>Print</span>
	                	</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
		</div>
		<!-- // end here -->
	</div>
	<!-- // end here -->
</div>

