<include src='includes/header.html' data={} />

<div class="stepsHeading">Quick cab booking</div>
<div class="containWrapper recieptsWrapPadding">
	<div class="cabsReceipt">
		<div class="bookCabBanner">
			<a href="#"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/cab/cabbanner.png" width="100%"></a>
		</div>

		<div class="receiptMainDiv">
			<div class="receiptBox">
				<ul class="tabs-titles">
				    <li class="current">To Mumbai Airport</li>
				    <li>To New Delhi Airport</li>
				</ul>
				<ul class="tabs-contents">
				    <li>
				        <div class="toContent">
				        	<div class="topHdBar">
				        		<div class="hdByLine">Book a cab to Mumbai Airport at NO EXTRA CHARGE!</div>
				        		<div class="poweredBy">Powered by</div>
				        		<div class="cabLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/cab/logo/easycabs.png"></div>
				        	</div>
				        	<div class="viewTarrif">View Tariff details for EasyCabs in Mumbai</div>
				        	<!-- // start here -->
				        	<div class="cabFareSummaryBox">
				        		<div class="cabFareSummaryTable">
									<div class="topHdRow">
										<div class="leftInfo">
											<div class="particularsHd">Particulars</div>
										</div>
										<div class="centerInfo">
											<div class="dayTimeHd">Day Time</div>
											<div class="timeInfo">5:00 A.M. to Midnight</div>
										</div>
										<div class="rightInfo">
											<div class="dayTimeHd">Night Time</div>
											<div class="timeInfo">Midnight to 5:00 A.M.</div>
										</div>
									</div>
									<div class="summaryData">
										<div class="leftInfo">
											<span>First KM</span>
										</div>
										<div class="centerInfo">₹ 27.00</div>
										<div class="rightInfo">₹ 33.75</div>
									</div>
									<div class="summaryData">
										<div class="leftInfo">
											<span>Rate after 1st KM</span>
										</div>
										<div class="centerInfo">₹ 20.00 / km</div>
										<div class="rightInfo">₹ 25.00 / km</div>
									</div>
									<div class="summaryData">
										<div class="leftInfo">
											<span>Waiting Charges (Calibrated in Meter)</span>
										</div>
										<div class="centerInfo">₹ 2.00 / min</div>
										<div class="rightInfo">₹ 2.50 / min</div>
									</div>
									<div class="summaryData">
										<div class="leftInfo">
											<span>Cancelation Charges</span>
										</div>
										<div class="centerInfo">NIL</div>
										<div class="rightInfo">NIL</div>
									</div>
									<div class="summaryData bottomNone">
										<div class="leftInfo">
											<span>Luggage Charges</span>
										</div>
										<div class="centerInfo">NIL</div>
										<div class="rightInfo">NIL</div>
									</div>
								</div>
				        	</div>
				        	<!-- // end here -->
				        	<div class="recFormMainDiv">
				        		<div class="recform">
				        			<label>Number of Cabs</label>
				        			<input type="number" class="numberInput numberCab" placeholder="1" name="quantity" min="1" max="5">
				        			<span>1 Cab can accommodate 4 people</span>
				        		</div>
				        		<div class="recform">
				        			<label>Pick-up Time</label>
				        			<div class="pickUpInput">
				        				<div class="tag textInput il">
											<input type="text">
											<div class="icon-left">
												<i><i class="icons-clock"></i> </i>
											</div>
										</div>
				        			</div>
				        			<span>Your flight departs from Mumbai at 06:20 A.M.</span>
				        		</div>
				        		<div class="recform">
				        			<label>Pick-up Address</label>
				        			<div class="enterAreaInput">
				        				<div class="tag textInput">
											<input type="text">
										</div>
				        			</div>
				        			<div class="enterAreaSelect">
				        				<div class="tag textInput">
											<select>
												<option>Select Area</option>
											</select>
										</div>
				        			</div>
				        		</div>
				        		<div class="recform">
				        			<label></label>
				        			<div class="textAreaInput">
				        				<div class="tag textInput">
											<textarea class="textHeight"></textarea>
										</div>
				        			</div>
				        		</div>
				        		<div class="recform">
				        			<label>Email Address</label>
				        			<div class="emailInput">
				        				<div class="tag textInput">
											<input type="text">
										</div>
				        			</div>
				        		</div>
				        		<div class="recform">
				        			<label>Mobile Number</label>
				        			<div class="mobileInput">
				        				<div class="tag textInput">
											<input type="text">
										</div>
				        			</div>
				        		</div>
				        		<div class="recform">
				        			<label></label>
				        			<div class="confirmButton">
				        				<button class="button fill" type="button">CONFIRM BOOKING</button>
				        			</div>
				        			<span><i>Skip</i> ( I don’t want a Cab to Mumbai Airport)</span>
				        		</div>
				        	</div>
				        </div>
				    </li>
				    <li>
				        <div class="toContent">
				        	<div class="topHdBar">
				        		<div class="hdByLine">Book a cab to Mumbai Airport at NO EXTRA CHARGE!1</div>
				        		<div class="poweredBy">Powered by1</div>
				        	</div>
				        	<div class="viewTarrif">View Tariff details for EasyCabs in Mumbai1</div>
				        </div>
				    </li>
				</ul>
			</div>
		</div>
	</div>
</div>
