<include src='includes/header.html' data={} />
<div class="containWrapper">
	<div class="dashboard">
		<h3 class="test-hd">Hi <b>Thomas</b>, are you good to go !</h3>
		
		<!-- // start here -->
		<div class="dashboard-left-data">
			
			<div class="dash-mybooking-hd-box">
				<div class="mybooking-hd-text">My Bookings</div>
				<div class="mybooking-fliter-sort">
					<span>Filter</span>
					<span>Sort</span>
				</div>
			</div>
			
			<!-- // start here -->
			<div class="dash-upcoming-box">
				<span>Upcoming Bookings</span>
				<span>
					<i class="icons-down-small-arrow"></i>
				</span>
			</div>
			<!-- // end here -->
			
			<!-- // start here -->
			<div class="dash-flight-details-box">
				
				<!-- // start here -->
				<div class="flight-book-info-tabs">
					<div class="dash-flight-details-tab">
						<div class="date-week-sec">
							<div class="date-div">28</div>
							<div class="week-div">Jun</div>
						</div>
						
						<div class="booking-trav-icon">
							<i class="icons-flight-medium-blue flights-ico-margin"></i>
						</div>
						
						<div class="dest-place-sec">
							<div class="dest-names">Mumbai → Dubai</div>
							<div class="flying-status">You are flying</div>
						</div>
						
						<div class="booking-id-date-sec">
							<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
						</div>
						
						<div class="status-labels-sec"></div>
					</div>
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="flight-book-info-tabs">
					<div class="dash-flight-details-tab">
						<div class="date-week-sec">
							<div class="date-div">29</div>
							<div class="week-div">Jun</div>
						</div>
						
						<div class="booking-trav-icon">
							<i class="icons-flight-medium-blue flights-ico-margin"></i>
						</div>
						
						<div class="dest-place-sec">
							<div class="dest-names">New York → Paris</div>
							<div class="flying-status">You are flying</div>
						</div>
						
						<div class="booking-id-date-sec">
							<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
						</div>
						
						<div class="status-labels-sec">
							<div class="status-label-div">
								<label class="label-status inprocess-label-bg">Add On - In Proccess</label>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="flight-book-info-tabs">
					<div class="dash-flight-details-tab">
						<div class="date-week-sec">
							<div class="date-div">01</div>
							<div class="week-div">Jul</div>
						</div>
						
						<div class="booking-trav-icon">
							<i class="icons-flight-medium-blue flights-ico-margin"></i>
						</div>
						
						<div class="dest-place-sec">
							<div class="dest-names"><b>New York →</b> Paris → New York</div>
							<div class="flying-status">You and Thomus will return back</div>
						</div>
						
						<div class="booking-id-date-sec">
							<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
						</div>
						
						<div class="status-labels-sec">
							<div class="status-label-div">
								<label class="label-status canc-succ-label-bg">Cancellation - Succesful</label>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="flight-book-info-tabs">
					<div class="dash-flight-details-tab">
						<div class="date-week-sec">
							<div class="date-div">08</div>
							<div class="week-div">Jul</div>
						</div>
						
						<div class="booking-trav-icon">
							<i class="icons-flight-medium-blue flights-ico-margin"></i>
						</div>
						
						<div class="dest-place-sec">
							<div class="dest-names">NYC → PAR → LON → MOW → BOM → NYC</div>
							<div class="flying-status">You are flying</div>
						</div>
						
						<div class="booking-id-date-sec">
							<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
						</div>
						
						<div class="status-labels-sec">
							<div class="status-label-div">
								<label class="label-status reschedule-label-bg">Rescheduling - Action Required</label>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="flight-book-info-tabs">
					<div class="dash-flight-details-tab">
						<div class="date-week-sec">
							<div class="date-div">27</div>
							<div class="week-div">Jul</div>
						</div>
						
						<div class="booking-trav-icon">
							<i class="icons-flight-medium-blue flights-ico-margin"></i>
						</div>
						
						<div class="dest-place-sec">
							<div class="dest-names">Sofitel Dubai Jumeirah Beach</div>
							<div class="flying-status">2 adults staying</div>
						</div>
						
						<div class="booking-id-date-sec">
							<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
						</div>
						
						<div class="status-labels-sec"></div>
					</div>
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="flight-book-info-tabs">
					<div class="dash-flight-details-tab">
						<div class="date-week-sec">
							<div class="date-div">05</div>
							<div class="week-div">Aug</div>
						</div>
						
						<div class="booking-trav-icon">
							<i class="icons-flight-medium-blue flights-ico-margin"></i>
						</div>
						
						<div class="dest-place-sec">
							<div class="dest-names">4x4 Dubai Desert Safari, Dubai, UAE</div>
							<div class="flying-status">You are flying</div>
						</div>
						
						<div class="booking-id-date-sec">
							<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
						</div>
						
						<div class="status-labels-sec"></div>
					</div>
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="flight-book-info-tabs">
					<div class="dash-flight-details-tab">
						<div class="date-week-sec">
							<div class="date-div">08</div>
							<div class="week-div">Sep</div>
						</div>
						
						<div class="booking-trav-icon">
							<i class="icons-flight-medium-blue flights-ico-margin"></i>
						</div>
						
						<div class="dest-place-sec">
							<div class="dest-names">Mumbai → Hyderabad</div>
							<div class="flying-status">You are flying</div>
						</div>
						
						<div class="booking-id-date-sec">
							<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
						</div>
						
						<div class="status-labels-sec"></div>
					</div>
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="dash-flight-details-tab">
					<div class="date-week-sec">
						<div class="date-div">08</div>
						<div class="week-div">Sep</div>
					</div>
					
					<div class="booking-trav-icon">
						<i class="icons-flight-medium-blue flights-ico-margin"></i>
					</div>
					
					<div class="dest-place-sec">
						<div class="dest-names">Toyota Etios or similar</div>
						<div class="flying-status">You are riding with Luvkesh	</div>
					</div>
					
					<div class="booking-id-date-sec">
						<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
					</div>
					
					<div class="status-labels-sec"></div>
				</div>
				<!-- // end here -->
				
			</div>
			<!-- // end here -->
			
			
			<!-- // start here -->
			<div class="dash-upcoming-box">
				<span>Completed / Canceled Bookings</span>
				<span>
					<i class="icons-down-small-arrow"></i>
				</span>
			</div>
			<!-- // end here -->
			
			
			<!-- // start here -->
			<div class="dash-flight-details-box-gray">
				
				<!-- // start here -->
				<div class="flight-book-info-tabs">
					<div class="dash-flight-details--gray-tab">
						<div class="date-week-sec">
							<div class="date-div">28</div>
							<div class="week-div">Jun</div>
						</div>
						
						<div class="booking-trav-icon">
							<i class="icons-flight-medium-gray flights-ico-margin"></i>
						</div>
						
						<div class="dest-place-sec">
							<div class="dest-names">Mumbai → Dubai</div>
							<div class="flying-status">You are flying</div>
						</div>
						
						<div class="booking-id-date-sec">
							<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
						</div>
						
						<div class="status-labels-sec"></div>
					</div>
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="flight-book-info-tabs">
					<div class="dash-flight-details--gray-tab">
						<div class="date-week-sec">
							<div class="date-div">29</div>
							<div class="week-div">Jun</div>
						</div>
						
						<div class="booking-trav-icon">
							<i class="icons-flight-medium-gray flights-ico-margin"></i>
						</div>
						
						<div class="dest-place-sec">
							<div class="dest-names">New York → Paris</div>
							<div class="flying-status">You are flying</div>
						</div>
						
						<div class="booking-id-date-sec">
							<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
						</div>
						
						<div class="status-labels-sec"></div>
					</div>
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="flight-book-info-tabs">
					<div class="dash-flight-details--gray-tab">
						<div class="date-week-sec">
							<div class="date-div">01</div>
							<div class="week-div">Jul</div>
						</div>
						
						<div class="booking-trav-icon">
							<i class="icons-flight-medium-gray flights-ico-margin"></i>
						</div>
						
						<div class="dest-place-sec">
							<div class="dest-names">New York → Paris → New York</div>
							<div class="flying-status">You are flying</div>
						</div>
						
						<div class="booking-id-date-sec">
							<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
						</div>
						
						<div class="status-labels-sec"></div>
					</div>
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="flight-book-info-tabs">
					<div class="dash-flight-details--gray-tab">
						<div class="date-week-sec">
							<div class="date-div">08</div>
							<div class="week-div">Jul</div>
						</div>
						
						<div class="booking-trav-icon">
							<i class="icons-flight-medium-gray flights-ico-margin"></i>
						</div>
						
						<div class="dest-place-sec">
							<div class="dest-names">NYC → PAR → LON → MOW → BOM → NYC</div>
							<div class="flying-status">You are flying</div>
						</div>
						
						<div class="booking-id-date-sec">
							<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
						</div>
						
						<div class="status-labels-sec"></div>
					</div>
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="flight-book-info-tabs">
					<div class="dash-flight-details--gray-tab">
						<div class="date-week-sec">
							<div class="date-div">27</div>
							<div class="week-div">Jul</div>
						</div>
						
						<div class="booking-trav-icon">
							<i class="icons-flight-medium-gray flights-ico-margin"></i>
						</div>
						
						<div class="dest-place-sec">
							<div class="dest-names">New York → Paris → New York</div>
							<div class="flying-status">You are flying</div>
						</div>
						
						<div class="booking-id-date-sec">
							<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
						</div>
						
						<div class="status-labels-sec"></div>
					</div>
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="flight-book-info-tabs">
					<div class="dash-flight-details--gray-tab">
						<div class="date-week-sec">
							<div class="date-div">05</div>
							<div class="week-div">Aug</div>
						</div>
						
						<div class="booking-trav-icon">
							<i class="icons-flight-medium-gray flights-ico-margin"></i>
						</div>
						
						<div class="dest-place-sec">
							<div class="dest-names">New York → Paris → New York</div>
							<div class="flying-status">You are flying</div>
						</div>
						
						<div class="booking-id-date-sec">
							<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
						</div>
						
						<div class="status-labels-sec"></div>
					</div>
				</div>
				<!-- // end here -->
				
				<!-- // start here -->
				<div class="dash-flight-details--gray-tab">
					<div class="date-week-sec">
						<div class="date-div">08</div>
						<div class="week-div">Aug</div>
					</div>
					
					<div class="booking-trav-icon">
						<i class="icons-flight-medium-gray flights-ico-margin"></i>
					</div>
					
					<div class="dest-place-sec">
						<div class="dest-names">New York → Paris → New York</div>
						<div class="flying-status">You are flying</div>
					</div>
					
					<div class="booking-id-date-sec">
						<div class="booking-id-date-pro">
								<span>Booking ID :</span>
								<span>23242525</span>
							</div>
							<div class="booking-id-date-pro">
								<span>Booking Date :</span>
								<span>23/12/2012</span>
							</div>
					</div>
					
					<div class="status-labels-sec"></div>
				</div>
				<!-- // end here -->
				
			</div>
			<!-- // end here -->
			
		</div>
		<!-- // end here -->
		
		<!-- // start here -->
		<div class="dashboard-right-data">
		
			<!-- // start here -->
			<div class="dash-widgets-main-div">
				<div class="dashboard-wallet-box">
					<div class="dash-wallet-top">
						<div class="wallet-name">Wallet </div>
						<div class="wallet-amt"><i>₹</i> 1,20,000 </div>
					</div>
					
					<div class="dash-wallet-payment-button">
						<div class="payment-amt">&nbsp;</div>
						<div class="payment-button">
							<button class="button fill" type="button">Add Payment</button>
						</div>
					</div>
					
					<div class="dash-wallet-hist-voucher">
						<div class="tran-history">Transaction History</div>
						<div class="redeem-voucher">Redeem Voucher</div>
					</div>
					
					<div class="dash-wallet-alert-on-off">
						<div class="balance-alert">Balance Alert</div>
						<div class="on-off">On/Off</div>
					</div>
				</div>
			</div>
			<!-- // end here -->
			
			
			<!-- // start here -->
			<div class="dash-widgets-main-div">
				<div class="dash-profile-pref-box">
					<h3>Profile &amp;  Prefferences</h3>
					<div class="profile-comp-status">
						<span style="width: 20%;">20% completed</span>
					</div>
					
					<div class="allinfo-percent">
						<span>+20%</span>
						<span>Enable Quickbook</span>
					</div>
					<div class="allinfo-percent">
						<span>+5%</span>
						<span>Add personal details</span>
					</div>
					<div class="allinfo-percent">
						<span>+25%</span>
						<span>Add travel preferences</span>
					</div>
					<div class="allinfo-percent">
						<span>+10%</span>
						<span>Add travellers</span>
					</div>
				</div>
			</div>
			<!-- // end here -->
			
			<!-- // start here -->
			<div class="dash-widgets-main-div">
				<div class="activities-boxes">
					<div class="dash-activities-tabs">
						<div class="cases-box">
							<span><i class="icons-cases"></i></span>
							<span>Cases</span>
						</div>
					</div>
				</div>
				
				<div class="activities-boxes-right">
					<div class="dash-activities-tabs">
						<div class="cumminities-box">
							<span><i class="icons-communities"></i></span>
							<span>Communities</span>
						</div>
					</div>
				</div>
			</div>
			<!-- // end here -->
			
			<!-- // start here -->
			<div class="dash-widgets-main-div">
				<div class="activities-boxes">
					<div class="dash-activities-tabs">
						<div class="gift-cards-box">
							<span><i class="icons-gift-card"></i></span>
							<span>Send <br>Gift Cards</span>
						</div>
					</div>
				</div>
				
				<div class="activities-boxes-right">
					<div class="dash-activities-tabs">
						<div class="green-message-box">
							<span><i class="icons-green-message"></i></span>
						</div>
					</div>
				</div>
			</div>
			<!-- // end here -->
			
			
			
		</div>
		<!-- // end here -->
	</div>
</div>