<include src='includes/header.html' data={} />

<!-- //content-wrapper start here -->

<div>
	this is Example 2 page
	
		<hr/>
	<a href="example" >Normal Navigation, Relative to Browser URL</a>
	<pre>
		&lt;a href="example" &gt;Normal Navigation&lt;/a&gt;
	</pre>
	<hr/>
	<a jqrouter href="mockup/example" >Advanced Navigation, Relative to App Context(aertrip/web/)</a>
	<pre>
		&lt;a jqrouter href="mockup/example" &gt; Advanced Navigation &lt;/a&gt;
	</pre>
	

</div>