<include src='includes/header.html' data={} />

<!-- //content-wrapper start here -->

<div>
	this is Example 1 page
	<hr/>
	<a href="example2" >Normal Navigation, Relative to Browser URL</a>
	<pre>
		&lt;a href="example2" &gt;Normal Navigation&lt;/a&gt;
	</pre>
	<hr/>
	<a jqrouter href="mockup/example2" >Advanced Navigation, Relative to App Context(aertrip/web/)</a>
	<pre>
		&lt;a jqrouter href="mockup/example2" &gt; Advanced Navigation &lt;/a&gt;
	</pre>
	
	
</div>