<include src='includes/header.html' data={} />

<!-- // start here -->
<div class="searchBarMain">
	<div class="searchBar">
		<!-- // start here -->
		<div class="formBar formBarTop">
			<!-- // start here -->
			<div class="left-single-search-bar">
				<div class="formLocation">
					<div class="toWidth">
						<div class="tag textInput il ir">
							<input type="text" placeholder="Origin">
							<div class="icon-left">
								<i><i class="icons-location"></i> </i>
							</div>
							<div class="icon-right">
							 <i><i class="icons-plus"></i> </i>
							</div>
						</div>
					</div>
					 <div class="interchange">
						<i class="icons-interchange"></i>
					</div>
					<div class="toWidth">
						<div class="tag textInput il ir">
							<input type="text" placeholder="Destination">
							<div class="icon-left">
								<i><i class="icons-destination"></i> </i>
							</div>
							<div class="icon-right">
							 <i><i class="icons-plus"></i> </i>
							</div>
						</div>
					</div> 
				</div>
				<div class="formCalender">
					<div class="calDiv">
						<div class="tag textInput il ir">
							<input type="text" placeholder="Departing">
							<div class="icon-left">
								<i><i class="icons-calendar"></i> </i>
							</div>
						</div>
					</div>
					<div class="calDiv">
						<div class="tag textInput il ir">
							<input type="text" placeholder="Returning">
							<div class="icon-left">
								<i><i class="icons-calendar"></i> </i>
							</div>
							<div class="icon-right">
							 	<i><i class="icons-close"></i> </i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="right-single-search-bar">
				<div class="formGuest">
					<div class="dropdownDiv">
						<div class="tag textInput il dropdown flightPessengerCount" data-fieldtype="flightPessengerCount">
							<input type="text" placeholder="1 Adult">
							<div class="icon-left">
								<i><i class="icons-customer"></i> </i>
							</div>
							<ul class="ui-flightCountBox">
								<li><span class="label">Adults</span><span class="plus">+</span><span class="input"><input type="text" class="Adults" value="0"></span><span class="minus">-</span></li>
								<li><span class="label">Children</span><span class="plus">+</span><span class="input"><input type="text" class="Children" value="0"></span><span class="minus">-</span></li>
								<li><span class="label">Infants</span><span class="plus">+</span><span class="input"><input type="text" class="Infants" value="0"></span><span class="minus">-</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="formButton">
					<div class="buttonDiv">
						<button class="button fill" type="button">Search Flights</button>
					</div>
				</div>
			</div>
			<!-- // end here -->
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="formBar formBarBot">
			<div class="textDiv">
				<div class="regularNav">
					<a href="#" title="">Regular</a>/
					<a href="#" title="">Multicity</a>
				</div>
				<div class="regularNav">
					<label>Class:</label>
					<span>Economy</span>
				</div>
				<div class="regularNav">
					<input type="checkbox" id="test1">
					<label for="test1">Non-stop flights only</label>
				</div>
				<div class="regularNav">
					<div class="recentSearches">
						<i class="icons-search"></i>Recent searches
					</div>
				</div>
			</div>
		</div>
		<!-- // end here -->
	</div>
</div>
<!-- // end here -->

<div class="containWrapper">
	<!-- // start here -->
	<div class="leftBar flights flightsReturns">
		<div class="flightFilter">
			<span><i>13 of 150</i> flights </span>
			<span>Clear filters</span>
		</div>
		<!-- // <div class="viewFilters">
			//<span><input type="radio" id="test12"><label for="test12">List View</label></span>
			//<span><input type="radio" id="test13"><label for="test13">Timeline</label></span>
		//</div> -->
		<div class="listViewType">
			<span class="listView">List View</span><span class="listView selected">Timeline</span>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Price</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Stops</div>
			<div class="filterContain">
				<div class="stopsCheckbox">
					<input type="checkbox" id="test2"> <label for="test2">0</label>
				</div>
				<div class="stopsCheckbox">
					<input type="checkbox" id="test3"> <label for="test3">1</label>
				</div>
				<div class="stopsCheckbox">
					<input type="checkbox" id="test4"> <label for="test4">2</label>
				</div>
				<div class="stopsCheckbox">
					<input type="checkbox" id="test5"> <label for="test5">3+</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Fairs</div>
			<div class="filterContain">
				<div class="stopsCheckbox">
					<input type="checkbox" id="test6"> <label for="test6">Refundable Fares only</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Airlines <i>Select all</i></div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test7"> <label for="test7">Air India</label><i>Only</i>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test8"> <label for="test8">Go Air</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test9"> <label for="test9">IndiGo</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test10"> <label for="test10">Jet Airways</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test11"> <label for="test11">JetKonnect</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test12"> <label for="test12">SpiceJet</label>
				</div>
				<div class="aerlineCheckbox">
					<span>Show All</span>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Departure Time</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Landing Time</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Maximum Duration</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Airports</div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<span class="cityHd">Mumbai</span>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test17"> <label for="test17">BOM: Chhatrapati Shivaji…</label>
				</div>
			</div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<span class="cityHd">Delhi</span>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test18"> <label for="test18">DEL: Indira Gandhi Inter…</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Layover Airports <i>Select all</i></div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test19"> <label for="test19">Kolkata (CCU)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test20"> <label for="test20">Ahmedabad (AMD)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test21"> <label for="test21">Agra (AGR)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test22"> <label for="test22">Jaipur (JAI)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test23"> <label for="test23">Nagpur (NAG)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test24"> <label for="test24">Pune (PNQ)</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Layover Duration</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Flight Quality <i>Select all</i></div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test25"> <label for="test25">Remove Red-Eye Flights</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test26"> <label for="test26">Remove Change Terminal Flights</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test27"> <label for="test27">Remove Change Airport Flights</label>
				</div>
			</div>
		</div>
	</div>
	<!-- // end here -->

	<!-- // start here -->
	<div class="rightBar flights flightsReturns flightsTimelineView">
		<div class="rightSectionHd">
			<div class="airlineHd">Airline</div>
			<div class="departsHd">Depart</div>
			<div class="departsHd">Arrive</div>
			<div class="durationHd">Duration</div>
			<div class="priceHd">Price <i class="icons-green-up-arrow"></i></div>
		</div>

		<div class="timelineContainer">
			<div class="leftContain">
				<div>
					<div class="takeOffSign">Take off</div>
					<div class="dragLeftBar"></div>
				</div>
				<div class="topTimelineBox">
					<div class="timelineHours">
						<div class="firstTimeView">
							<span>3:00</span>
							<span>3:00</span>
						</div>
						<div class="otherTimeView">
							<span>6:00</span>
							<span>6:00</span>
						</div>
						<div class="otherTimeView">
							<span>9:00</span>
							<span>9:00</span>
						</div>
						<div class="otherTimeView">
							<span>12:00</span>
							<span>12:00</span>
						</div>
						<div class="otherTimeView">
							<span>15:00</span>
							<span>15:00</span>
						</div>
						<div class="otherTimeView">
							<span>18:00</span>
							<span>18:00</span>
						</div>
						<div class="otherTimeView">
							<span>21:00</span>
							<span>21:00</span>
						</div>
					</div>
				</div>
				<!-- // start here -->
				<div class="timelineTab">
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
				</div>
				<!-- // end here -->
				<div class="flightsKJetConnect">
					JetKonnect
				</div>

				<!-- // start here -->
				<div class="timelineTab">
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
				</div>
				<!-- // end here -->
				<div class="flightsSpiceJet">
					Spicejet
				</div>

				<!-- // start here -->
				<div class="timelineTab">
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
				</div>
				<!-- // end here -->
				<div class="flightsJetAirways">
					Jet Airways 
				</div>


				<!-- // start here -->
				<div class="timelineTab">
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
				</div>
				<!-- // end here -->
				<div class="flightsAirIndia">
					Air India 
				</div>

				<!-- // start here -->
				<div class="timelineTab">
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
				</div>
				<!-- // end here -->
				<div class="flightsMerge">
					<span class="gA">GA</span><span class="lhr">LHR</span><span class="gA">GA</span>
				</div>

				<!-- // start here -->
				<div class="timelineTab">
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
				</div>
				<!-- // end here -->
				<div class="flightsIndigo">
					IndiGo 
				</div>

				<!-- // start here -->
				<div class="timelineTab">
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
				</div>
				<!-- // end here -->
				<div class="flightsSpiceJet">
					Spicejet
				</div>

				<div class="timeLineIndLogo">GoAir</div>
				<!-- // start here -->
				<div class="timelineTab">
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
					<div class="timeDurationTab"></div>
				</div>
				<!-- // end here -->

				<div class="timeLineIndTab">
					<div class="flightBookingTabs borderNone">
						<div class="bookingData">
							<div class="resultIndicatorBar indicatorTimeLine">
								<div class="grayBar">
									<div class="timeSession"></div>
									<div class="timeSession"></div>
									<div class="timeSession"></div>
									<div class="timeSession"></div>
									<div class="timeSession"></div>
									<div class="timeSession"></div>
									<div class="timeSession"></div>
								</div>

								<div class="cirlceBar">
									<div class="circle circleGray" style="margin: 0 0 0 25%;"></div>
									<div class="circle circleGray" style="margin: 0 0 0 31%;"></div>	
									<div class="circle circleGray" style="margin: 0 0 0 37%;"></div>	
									<div class="circle circleGray" style="margin: 0 0 0 41%;"></div>	
									<div class="circle circleGray" style="margin: 0 0 0 48.7%;"></div>	
									<div class="circle circleGray circleOverlay" style="margin: 0 0 0 50.1%;"></div>	
									<div class="circle circleGray" style="margin: 0 0 0 52.9%;"></div>	
									<div class="circle circleGray" style="margin: 0 0 0 56.6%;"></div>	
									<div class="circle circleGreen" style="margin: 0 0 0 61.7%;"></div>
									<div class="circle circleGray circleOverlay" style="margin: 0 0 0 63.2%;"></div>
									<div class="circle circleGray" style="margin: 0 0 0 72%;"></div>
									<div class="circle circleGray circleOverlay" style="margin: 0 0 0 73.5%;"></div>
									<div class="circle circleGray" style="margin: 0 0 0 78%;"></div>
									<div class="circle circleGray" style="margin: 0 0 0 80.5%;"></div>
									<div class="circle circleGray" style="margin: 0 0 0 86%;"></div>		
								</div>
								
								<!-- // <div class="timingBar">
									//<div class="firstTimingText">00:00</div>
									//<div class="timingsText">3:00</div>
									//<div class="timingsText">6:00</div>
									//<div class="timingsText">9:00</div>
									//<div class="timingsText">12:00</div>
									//<div class="timingsText">15:00</div>
									//<div class="timingsText">18:00</div>
									//<div class="secondLastTimingText">21:00</div>
									//<div class="lastTimingText">24:00</div>
								//</div> -->
							</div>
						</div>
					</div>
				</div>
				<div>
					<div class="landingSign">Landing</div>
					<div class="dragRightBar"></div>
				</div>
			</div>

			<!-- // start  here -->
			<div class="rightContain">
				<div class="topDestName">
					<span>Mumbai <br>New York</span>
				</div>

				<!-- // start here -->
				<div class="dataTab resultboxdiv">
					<div class="amtDiv">₹ 5,23,548</div>
					<div class="buttDiv"><button class="button line" type="button">Book</button></div>
					<div class="moreDiv">
						<span>
							<i class="icons-more-verticle"></i>
						</span>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="resultdetailbox">
					<div class="hiddMainData">
		               	<div class="hiddenDataDiv">
			               	<!-- // start here -->
			               	<div class="leftData">
					                <!-- // start here -->
					                <div>
			                			<div class="flightData">
			                				<div class="destinationDetails">
												<div class="destinationData">
													<div class="companyDetails1">
														<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
														<div class="nameClass">
															<div class="name">GoAir</div>
															<div class="class">S2-4061</div>
															<div class="class">Economy</div>
														</div>
														<div class="ratingBar">
															<div class="greenBar" style="width: 60%;"></div>
															<div class="yellowBar" style="width: 32%;"></div>
															<div class="redBar" style="width: 8%;"></div>
														</div>
													</div>
													<div class="destinationToDiv1">
														<div class="toName">
															<span class="icon"><i class="icons-airplane-takeoff"></i></span>
															<span class="place">BOM</span>
															<span class="time">06:20</span>
														</div>
														<div class="toDate">23 Oct 2013</div>
														<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
													</div>
													<div class="durationDiv">
														<div class="duration"><i class="icons-time"></i>2h 15 m</div>
														<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
													</div>
													<div class="destinationFromDiv">
														<div class="toName">
															<span class="time">08:35</span>
															<span class="place">BBI</span>
															<span class="icon"><i class="icons-airplane-landing"></i></span>
														</div>
														<div class="toDate">23 Oct 2013</div>
														<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
													</div>
												</div>
												<div class="layOver">
													<div class="left1"></div>
													<div class="center">Layover: 30m</div>
													<div class="right1"></div>
												</div>
											</div>
			                			</div>
			                			<div class="flightData">
			                				<div class="destinationDetails">
												<div class="destinationData">
													<div class="companyDetails1">
														<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
														<div class="nameClass">
															<div class="name">GoAir</div>
															<div class="class">S2-4061</div>
															<div class="class">Economy</div>
														</div>
														<div class="ratingBar">
															<div class="greenBar" style="width: 60%;"></div>
															<div class="yellowBar" style="width: 32%;"></div>
															<div class="redBar" style="width: 8%;"></div>
														</div>
													</div>
													<div class="destinationToDiv1">
														<div class="toName">
															<span class="icon"><i class="icons-airplane-takeoff"></i></span>
															<span class="place">BBI</span>
															<span class="time">09:05</span>
														</div>
														<div class="toDate">23 Oct 2013</div>
														<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
													</div>
													<div class="durationDiv">
														<div class="duration"><i class="icons-time"></i>2h 15 m</div>
														<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
													</div>
													<div class="destinationFromDiv">
														<div class="toName">
															<span class="time">09:55</span>
															<span class="place">CCU</span>
															<span class="icon"><i class="icons-airplane-landing"></i></span>
														</div>
														<div class="toDate">23 Oct 2013</div>
														<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
													</div>
												</div>
												<div class="layOver">
													<div class="left1"></div>
													<div class="center">Layover: 30m</div>
													<div class="right1"></div>
												</div>
											</div>
			                			</div>
			                			<div class="flightData">
			                				<div class="destinationDetails">
												<div class="destinationData">
													<div class="companyDetails1">
														<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
														<div class="nameClass">
															<div class="name">GoAir</div>
															<div class="class">S2-4061</div>
															<div class="class">Economy</div>
														</div>
														<div class="ratingBar">
															<div class="greenBar" style="width: 60%;"></div>
															<div class="yellowBar" style="width: 32%;"></div>
															<div class="redBar" style="width: 8%;"></div>
														</div>
													</div>
													<div class="destinationToDiv1">
														<div class="toName">
															<span class="icon"><i class="icons-airplane-takeoff"></i></span>
															<span class="place">BOM</span>
															<span class="time">06:20</span>
														</div>
														<div class="toDate">23 Oct 2013</div>
														<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
													</div>
													<div class="durationDiv">
														<div class="duration"><i class="icons-time"></i>2h 15 m</div>
														<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
													</div>
													<div class="destinationFromDiv">
														<div class="toName">
															<span class="time">08:35</span>
															<span class="place">BBI</span>
															<span class="icon"><i class="icons-airplane-landing"></i></span>
														</div>
														<div class="toDate">23 Oct 2013</div>
														<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
													</div>
												</div>
												<div class="layOver">
													<div class="left1"></div>
													<div class="center">Layover: 30m</div>
													<div class="right1"></div>
												</div>
											</div>
			                			</div>
			                			<div class="flightData">
			                				<div class="destinationDetails">
												<div class="destinationData">
													<div class="companyDetails1">
														<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
														<div class="nameClass">
															<div class="name">GoAir</div>
															<div class="class">S2-4061</div>
															<div class="class">Economy</div>
														</div>
														<div class="ratingBar">
															<div class="greenBar" style="width: 60%;"></div>
															<div class="yellowBar" style="width: 32%;"></div>
															<div class="redBar" style="width: 8%;"></div>
														</div>
													</div>
													<div class="destinationToDiv1">
														<div class="toName">
															<span class="icon"><i class="icons-airplane-takeoff"></i></span>
															<span class="place">BBI</span>
															<span class="time">09:05</span>
														</div>
														<div class="toDate">23 Oct 2013</div>
														<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
													</div>
													<div class="durationDiv">
														<div class="duration"><i class="icons-time"></i>2h 15 m</div>
														<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
													</div>
													<div class="destinationFromDiv">
														<div class="toName">
															<span class="time">09:55</span>
															<span class="place">CCU</span>
															<span class="icon"><i class="icons-airplane-landing"></i></span>
														</div>
														<div class="toDate">23 Oct 2013</div>
														<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
													</div>
												</div>
											</div>
			                			</div>
			                		</div>
			                		<!-- // end here -->
			               	</div>
			               	<!-- // end here -->
			                	
			               	<!-- // start here -->
			               	<div class="rightData">
			                		<div class="fareBreakUp">
										<div class="breakUpHd">Fare Breakup</div>
										<div class="baseFareDiv">
											<span>Base fare</span>
											<span>₹ 22,089.00</span>
										</div>
										<div class="taxFees">
											<span>Taxes &amp; fees</span>
											<span>₹ 33,502.00</span>
										</div>
										<div class="otherFees">
											<span>Airline fuel charge</span>
											<span>₹ 3,502.00</span>
										</div>
										<div class="otherFees">
											<span>Psgr. Svc. Fee</span>
											<span>₹ 429.00</span>
										</div>
										<div class="otherFees">
											<span>Airport Dev. Fee</span>
											<span>₹ 2,588.00</span>
										</div>
										<div class="otherFees">
											<span>Govt. Service Tax</span>
											<span>₹ 1,266.00</span>
										</div>
										<div class="fareTotal">
											<span>Total</span>
											<span>₹ 29,874.00</span>
										</div>
										<div class="breakUpHd">REFUND POLICY</div>
										<div class="baseFareDiv">
											<span>Cancellation fee</span>
											<span>₹ 5,985.00 / pax</span>
										</div>
										<div class="baseFareDiv">
											<span>Flight change fee</span>
											<span>₹ 5,827.00 / pax</span>
										</div>
									</div>
			               	</div>
			               	<!-- // end here -->
		               	</div>
		             	<div class="socialActivity">
		               		<span>Save to Trips</span>
		               		<span>Pin</span>
		               		<span>Share</span>
		               		<span>Print</span>
		               	</div>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="dataTab">
					<div class="amtDiv">₹ 5,23,548</div>
					<div class="buttDiv"><button class="button line" type="button">Book</button></div>
					<div class="moreDiv">
						<span>
							<i class="icons-more-verticle"></i>
						</span>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="dataTab">
					<div class="amtDiv">₹ 5,23,548</div>
					<div class="buttDiv"><button class="button line" type="button">Book</button></div>
					<div class="moreDiv">
						<span>
							<i class="icons-more-verticle"></i>
						</span>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="dataTab">
					<div class="amtDiv">₹ 5,23,548</div>
					<div class="buttDiv"><button class="button line" type="button">Book</button></div>
					<div class="moreDiv">
						<span>
							<i class="icons-more-verticle"></i>
						</span>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="dataTab">
					<div class="amtDiv">₹ 5,23,548</div>
					<div class="buttDiv"><button class="button line" type="button">Book</button></div>
					<div class="moreDiv">
						<span>
							<i class="icons-more-verticle"></i>
						</span>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="dataTab">
					<div class="amtDiv">₹ 5,23,548</div>
					<div class="buttDiv"><button class="button line" type="button">Book</button></div>
					<div class="moreDiv">
						<span>
							<i class="icons-more-verticle"></i>
						</span>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="dataTab">
					<div class="amtDiv">₹ 5,23,548</div>
					<div class="buttDiv"><button class="button line" type="button">Book</button></div>
					<div class="moreDiv">
						<span>
							<i class="icons-more-verticle"></i>
						</span>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="dataTab">
					<div class="amtDiv">₹ 5,23,548</div>
					<div class="buttDiv"><button class="button line" type="button">Book</button></div>
					<div class="moreDiv">
						<span>
							<i class="icons-more-verticle"></i>
						</span>
					</div>
				</div>
				<!-- // end here -->
			</div>
			<!-- // end here -->
		</div>
	</div>
	<!-- // end here -->
</div>
