
<include src='includes/header.html' data={} />

<!-- // start here -->
<div class="searchBarMain">
	<div class="searchBar">
		<!-- // start here -->
		<div class="formBar formBarTop">
			<!-- // start here -->
			<div class="left-single-search-bar">
				<div class="formLocation">
					<div class="toWidth">
						<div class="tag textInput il ir">
							<input type="text" placeholder="Origin">
							<div class="icon-left">
								<i><i class="icons-location"></i> </i>
							</div>
							<div class="icon-right">
							 <i><i class="icons-plus"></i> </i>
							</div>
						</div>
					</div>
					 <div class="interchange">
						<i class="icons-interchange"></i>
					</div>
					<div class="toWidth">
						<div class="tag textInput il ir">
							<input type="text" placeholder="Destination">
							<div class="icon-left">
								<i><i class="icons-destination"></i> </i>
							</div>
							<div class="icon-right">
							 <i><i class="icons-plus"></i> </i>
							</div>
						</div>
					</div> 
				</div>
				<div class="formCalender">
					<div class="calDiv">
						<div class="tag textInput il ir">
							<input type="text" placeholder="Departing">
							<div class="icon-left">
								<i><i class="icons-calendar"></i> </i>
							</div>
						</div>
					</div>
					<div class="calDiv">
						<div class="tag textInput il ir">
							<input type="text" placeholder="Returning">
							<div class="icon-left">
								<i><i class="icons-calendar"></i> </i>
							</div>
							<div class="icon-right">
							 	<i><i class="icons-close"></i> </i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="right-single-search-bar">
				<div class="formGuest">
					<div class="dropdownDiv">
						<div class="tag textInput il dropdown flightPessengerCount" data-fieldtype="flightPessengerCount">
							<input type="text" placeholder="1 Adult">
							<div class="icon-left">
								<i><i class="icons-customer"></i> </i>
							</div>
							<ul class="ui-flightCountBox">
								<li><span class="label">Adults</span><span class="plus">+</span><span class="input"><input type="text" class="Adults" value="0"></span><span class="minus">-</span></li>
								<li><span class="label">Children</span><span class="plus">+</span><span class="input"><input type="text" class="Children" value="0"></span><span class="minus">-</span></li>
								<li><span class="label">Infants</span><span class="plus">+</span><span class="input"><input type="text" class="Infants" value="0"></span><span class="minus">-</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="formButton">
					<div class="buttonDiv">
						<button class="button fill" type="button">Search Flights</button>
					</div>
				</div>
			</div>
			<!-- // end here -->
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="formBar formBarBot">
			<div class="textDiv">
				<div class="regularNav">
					<a href="#" title="">Regular</a>/
					<a href="#" title="">Multicity</a>
				</div>
				<div class="regularNav">
					<label>Class:</label>
					<span>Economy</span>
				</div>
				<div class="regularNav">
					<input type="checkbox" id="test1">
					<label for="test1">Non-stop flights only</label>
				</div>
				<div class="regularNav">
					<div class="recentSearches">
						<i class="icons-search"></i>Recent searches
					</div>
				</div>
			</div>
		</div>
		<!-- // end here -->
	</div>
</div>
<!-- // end here -->

<div class="containWrapper">
	<!-- // start here -->
	<div class="leftBar flights flightsReturns">
		<div class="flightFilter">
			<span><i>13 of 150</i> flights </span>
			<span>Clear filters</span>
		</div>

		<div class="paginationFilters">
			<ul class="pagination">
				<li class="selected">1</li>
				<li>2</li>
			</ul>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Price</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Stops</div>
			<div class="filterContain">
				<div class="stopsCheckbox">
					<input type="checkbox" id="test2"> <label for="test2">0</label>
				</div>
				<div class="stopsCheckbox">
					<input type="checkbox" id="test3"> <label for="test3">1</label>
				</div>
				<div class="stopsCheckbox">
					<input type="checkbox" id="test4"> <label for="test4">2</label>
				</div>
				<div class="stopsCheckbox">
					<input type="checkbox" id="test5"> <label for="test5">3+</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Fairs</div>
			<div class="filterContain">
				<div class="stopsCheckbox">
					<input type="checkbox" id="test6"> <label for="test6">Refundable Fares only</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Airlines <i>Select all</i></div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test7"> <label for="test7">Air India</label><i>Only</i>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test8"> <label for="test8">Go Air</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test9"> <label for="test9">IndiGo</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test10"> <label for="test10">Jet Airways</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test11"> <label for="test11">JetKonnect</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test12"> <label for="test12">SpiceJet</label>
				</div>
				<div class="aerlineCheckbox">
					<span>Show All</span>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Departure Time</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Landing Time</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Maximum Duration</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Airports</div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<span class="cityHd">Mumbai</span>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test17"> <label for="test17">BOM: Chhatrapati Shivaji…</label>
				</div>
			</div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<span class="cityHd">Delhi</span>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test18"> <label for="test18">DEL: Indira Gandhi Inter…</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Layover Airports <i>Select all</i></div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test19"> <label for="test19">Kolkata (CCU)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test20"> <label for="test20">Ahmedabad (AMD)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test21"> <label for="test21">Agra (AGR)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test22"> <label for="test22">Jaipur (JAI)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test23"> <label for="test23">Nagpur (NAG)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test24"> <label for="test24">Pune (PNQ)</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Layover Duration</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Flight Quality <i>Select all</i></div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test25"> <label for="test25">Remove Red-Eye Flights</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test26"> <label for="test26">Remove Change Terminal Flights</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test27"> <label for="test27">Remove Change Airport Flights</label>
				</div>
			</div>
		</div>
	</div>
	<!-- // end here -->

	<!-- // start here -->
	<div class="rightBar flights flightsReturns">
		
		<div class="roundDiscount">
			<b>Round trip discounts:</b> Get discounted round fares on the following airlines
		</div>

		<!-- // start here -->
		<div class="flightsReturnDataTab">
			<div class="flightReturnsDetails">
				<div class="airlinesTab">
					<ul>
						<li class="activeTab">All Airlines</li>
						<li>
							<div><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/companyLogos/goLogo.png"></div>
							<div>
								<span class="ticketPrice">₹ 12,548</span>
								<span class="savePrice">SAVE ₹ 5,548</span>
							</div>
						</li>
						<li>
							<div><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/companyLogos/spicejetLogo.png"></div>
							<div>
								<span class="ticketPrice">₹ 12,548</span>
								<span class="savePrice">SAVE ₹ 5,548</span>
							</div>
						</li>
						<li>
							<div><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/companyLogos/goLogo.png"></div>
							<div>
								<span class="ticketPrice">₹ 12,548</span>
								<span class="savePrice">SAVE ₹ 5,548</span>
							</div>
						</li>
						<li>
							<div><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/companyLogos/spicejetLogo.png"></div>
							<div>
								<span class="ticketPrice">₹ 12,548</span>
								<span class="savePrice">SAVE ₹ 5,548</span>
							</div>
						</li>
						<li>
							<div><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/companyLogos/goLogo.png"></div>
							<div>
								<span class="ticketPrice">₹ 12,548</span>
								<span class="savePrice">SAVE ₹ 5,548</span>
							</div>
						</li>
						<li>
							<div><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/companyLogos/spicejetLogo.png"></div>
							<div>
								<span class="ticketPrice">₹ 12,548</span>
								<span class="savePrice">SAVE ₹ 5,548</span>
							</div>
						</li>
					</ul>
				</div>
				<div class="airlinesDetails">
					<div class="firstFlight">
						<div class="number">
							<ul class="pagination">
								<li class="selected">1</li>
							</ul>
						</div>
						<div class="companyLogo">
							<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png">
						</div>
						<div class="destinationText">
							<span class="stnsDetails"><i>BOM</i> 02:05 - 04:35 <i>DEL</i></span>
							<span class="stopsDuration">GoAir, 2 Stops, <i class="icons-time"></i> 2h 15 m</span>
						</div>
					</div>

					<div class="returnFlight">
						<div class="number">
							<ul class="pagination">
								<li>2</li>
							</ul>
						</div>
						<div class="companyLogo">
							<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png">
						</div>
						<div class="destinationText">
							<span class="stnsDetails"><i>BOM</i> 06:20 - 08:35 <i>DEL</i></span>
							<span class="stopsDuration">GoAir, 2 Stops, <i class="icons-time"></i> 2h 15 m</span>
						</div>
					</div>
					<div class="priceBookMore">
						<div class="priceTotal"><i>₹</i> 12,10,535</div>
						<div class="clickButton">
							<button class="button fill" type="button">Book</button>
						</div>
						<div class="returnMore">
							<i class="icons-more-verticle"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- // end here -->

		<div class="allFlightsTiming">
			<div class="departureFlights">
				<div class="flightsHeadings">
					<div class="number">
						<ul class="pagination">
							<li class="selected">1</li>
						</ul>
					</div>
					<div class="depHd">Departure Flight</div>
					<div class="depDate">13 Oct 2013</div>
				</div>
				<div class="sectionBox">
					<div class="airlineHeading">Airline</div>
					<div class="departHeading">Depart</div>
					<div class="arriveHeading">Arrive</div>
					<div class="durationHeading">Duration</div>
					<div class="priceHeading">Price<i class="icons-green-up-arrow"></i></div>
				</div>
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="flightsReturnsDepartureTab greenBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsDepartTime">02:05</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="flightsReturnsDepartureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsDepartTime">02:05</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="hdk">HKD</div>
								<div class="hdkPrice">12,10,535</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="flightsReturnsDepartureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsDepartTime">02:05</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="onlyPrice"><i>₹</i> 10,535</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="flightsReturnsDepartureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsDepartTime">02:05</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="onlyPrice"><i>₹</i> 10,535</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="flightsReturnsDepartureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsDepartTime">02:05</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="onlyPrice"><i>₹</i> 10,535</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="flightsReturnsDepartureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsDepartTime">02:05</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="onlyPrice"><i>₹</i> 10,535</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
			</div>

			<div class="returnFlights">
				<div class="flightsHeadings">
					<div class="number">
						<ul class="pagination">
							<li>2</li>
						</ul>
					</div>
					<div class="depHd">Return Flight</div>
					<div class="depDate">13 Oct 2013</div>
				</div>
				<div class="sectionBox">
					<div class="airlineHeading">Airline</div>
					<div class="departHeading">Depart</div>
					<div class="arriveHeading">Arrive</div>
					<div class="durationHeading">Duration</div>
					<div class="priceHeading">Price<i class="icons-green-down-arrow"></i></div>
				</div>
				<!-- // start here -->
				<div class="returnDetailsBox">
					<div class="flightsReturnsDepartureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsDepartTime">02:05</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="onlyPrice"><i>₹</i> 5,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="returnDetailsBox">
					<div class="flightsReturnsDepartureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsDepartTime">02:05</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="hdk">HKD</div>
								<div class="hdkPrice">12,10,535</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="returnDetailsBox">
					<div class="flightsReturnsDepartureTab greenBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsDepartTime">02:05</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="onlyPrice"><i>₹</i> 5,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="returnDetailsBox">
					<div class="flightsReturnsDepartureTab whiteBg">
					<div class="departureTabMain">
						<div class="flightsCompanyInfo">
							<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							<div class="companyName">GoAir</div>
						</div>
						<div class="flightsDepartTime">02:05</div>
						<div class="flightsArriveTime">04:35</div>
						<div class="flightsDurationTime">
							<div class="durationTime">02h 30m</div>
							<div class="destination">BOM → DEL</div>
						</div>
						<div class="flightsPrice">
							<div class="onlyPrice"><i>₹</i> 5,548</div>
						</div>
					</div>
					<div class="departureLayover">
						<div class="layoverTime">Layover: 35m</div>
						<div class="layoverSep"></div>
					</div>
					<div class="departureTabMain">
						<div class="flightsCompanyInfo">
							<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							<div class="companyName">GoAir</div>
						</div>
						<div class="flightsDepartTime">02:05</div>
						<div class="flightsArriveTime">04:35</div>
						<div class="flightsDurationTime">
							<div class="durationTime">02h 30m</div>
							<div class="destination">BOM → DEL</div>
						</div>
					</div>
				</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="returnDetailsBox">
					<div class="flightsReturnsDepartureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsDepartTime">02:05</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="onlyPrice"><i>₹</i> 5,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
		</div>
		
	</div>
	<!-- // end here -->
</div>

