<include src='includes/header.html' data={} />
<!-- // start here -->
<div class="searchBarMain">
	<div class="searchBar">
		<!-- // start here -->
		<div class="formBar formBarTop">
			<!-- // start here -->
			<div class="left-single-search-bar">
				<div class="formLocation">
					<div class="toWidth">
						<div class="tag textInput il ir">
							<input type="text" placeholder="Origin">
							<div class="icon-left">
								<i><i class="icons-location"></i> </i>
							</div>
							<div class="icon-right">
							 <i><i class="icons-plus"></i> </i>
							</div>
						</div>
					</div>
					 <div class="interchange">
						<i class="icons-interchange"></i>
					</div>
					<div class="toWidth">
						<div class="tag textInput il ir">
							<input type="text" placeholder="Destination">
							<div class="icon-left">
								<i><i class="icons-destination"></i> </i>
							</div>
							<div class="icon-right">
							 <i><i class="icons-plus"></i> </i>
							</div>
						</div>
					</div> 
				</div>
				<div class="formCalender">
					<div class="calDiv">
						<div class="tag textInput il ir">
							<input type="text" placeholder="Departing">
							<div class="icon-left">
								<i><i class="icons-calendar"></i> </i>
							</div>
						</div>
					</div>
					<div class="calDiv">
						<div class="tag textInput il ir">
							<input type="text" placeholder="Returning">
							<div class="icon-left">
								<i><i class="icons-calendar"></i> </i>
							</div>
							<div class="icon-right">
							 	<i><i class="icons-close"></i> </i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="right-single-search-bar">
				<div class="formGuest">
					<div class="dropdownDiv">
						<div class="tag textInput il dropdown flightPessengerCount" data-fieldtype="flightPessengerCount">
							<input type="text" placeholder="1 Adult">
							<div class="icon-left">
								<i><i class="icons-customer"></i> </i>
							</div>
							<ul class="ui-flightCountBox">
								<li><span class="label">Adults</span><span class="plus">+</span><span class="input"><input type="text" class="Adults" value="0"></span><span class="minus">-</span></li>
								<li><span class="label">Children</span><span class="plus">+</span><span class="input"><input type="text" class="Children" value="0"></span><span class="minus">-</span></li>
								<li><span class="label">Infants</span><span class="plus">+</span><span class="input"><input type="text" class="Infants" value="0"></span><span class="minus">-</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="formButton">
					<div class="buttonDiv">
						<button class="button fill" type="button">Search Flights</button>
					</div>
				</div>
			</div>
			<!-- // end here -->
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="formBar formBarBot">
			<div class="textDiv">
				<div class="regularNav">
					<a href="#" title="">Regular</a>/
					<a href="#" title="">Multicity</a>
				</div>
				<div class="regularNav">
					<label>Class:</label>
					<span>Economy</span>
				</div>
				<div class="regularNav">
					<input type="checkbox" id="test1">
					<label for="test1">Non-stop flights only</label>
				</div>
				<div class="regularNav">
					<div class="recentSearches">
						<i class="icons-search"></i>Recent searches
					</div>
				</div>
			</div>
		</div>
		<!-- // end here -->
	</div>
</div>
<!-- // end here -->

<div class="containWrapper">
	<!-- // start here -->
	<div class="leftBar flights">
		<div class="flightFilter">
			<span><i>13 of 150</i> flights </span>
			<span>Clear filters</span>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Price</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Stops</div>
			<div class="filterContain">
				<div class="stopsCheckbox">
					<input type="checkbox" id="test2"> <label for="test2">0</label>
				</div>
				<div class="stopsCheckbox">
					<input type="checkbox" id="test3"> <label for="test3">1</label>
				</div>
				<div class="stopsCheckbox">
					<input type="checkbox" id="test4"> <label for="test4">2</label>
				</div>
				<div class="stopsCheckbox">
					<input type="checkbox" id="test5"> <label for="test5">3+</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Fairs</div>
			<div class="filterContain">
				<div class="stopsCheckbox">
					<input type="checkbox" id="test6"> <label for="test6">Refundable Fares only</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Airlines <i>Select all</i></div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test7"> <label for="test7">Air India</label><i>Only</i>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test8"> <label for="test8">Go Air</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test9"> <label for="test9">IndiGo</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test10"> <label for="test10">Jet Airways</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test11"> <label for="test11">JetKonnect</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test12"> <label for="test12">SpiceJet</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test13"> <label for="test13">JetKonnect</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test14"> <label for="test14">JetKonnect</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test15"> <label for="test15">JetKonnect</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test16"> <label for="test16">JetKonnect</label>
				</div>
				<div class="aerlineCheckbox">
					<span>Show All</span>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Departure Time</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Landing Time</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Maximum Duration</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Airports</div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<span class="cityHd">Mumbai</span>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test17"> <label for="test17">BOM: Chhatrapati Shivaji…</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test18"> <label for="test18">DEL: Indira Gandhi Inter…</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Layover Airports <i>Select all</i></div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test19"> <label for="test19">Kolkata (CCU)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test20"> <label for="test20">Ahmedabad (AMD)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test21"> <label for="test21">Agra (AGR)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test22"> <label for="test22">Jaipur (JAI)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test23"> <label for="test23">Nagpur (NAG)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test24"> <label for="test24">Pune (PNQ)</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Layover Duration</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Flight Quality <i>Select all</i></div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test25"> <label for="test25">Remove Red-Eye Flights</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test26"> <label for="test26">Remove Change Terminal Flights</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test27"> <label for="test27">Remove Change Airport Flights</label>
				</div>
			</div>
		</div>
	</div>
	<!-- // end here -->

	<!-- // start here -->
	<div class="rightBar flights flightsInternational">
		<div class="rightSectionHd">
			<div class="airlineHd">Airline</div>
			<div class="departsHd">Depart</div>
			<div class="departsHd">Arrive</div>
			<div class="durationHd">Duration</div>
			<div class="priceHd">Price<i class="icons-green-up-arrow"></i></div>
		</div>

		<!-- // start here -->
		<div class="bookingDataMain">
			<div class="flightBookingTabs normalBorder">
				<!-- // start here -->
				<div class="tabSeperator">
					<div class="resultboxdiv">
						<div class="bookingData internationalTabPadd">
							<div class="companyInfo">
								<div class="logo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="name">GoAir</div>
							</div>
							<div class="destinationTime">
								<div class="time">06:10</div>
								<div class="destination">BOM → KWI → JFK</div>
							</div>
							<div class="destinationTime">
								<div class="time">15:35</div>
								<div class="destination"></div>
							</div>
							<div class="duration">
								<div class="durationTime">19h 55m</div>
								<div class="durationStop">1 stop</div>
							</div>
							<div class="only">
								<div class="numberBox"><span>1</span></div>
								<div class="onlyText">Only</div>
							</div>
							<div class="icons">
								<span>
									<i class="icons-switch-airport"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-eye"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-short-lay"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-long-lay"></i>
								</span>
							</div>
							<div class="price">
								<span></span>
								<span class="inPrice"><i>₹</i> 5,548</span>
							</div>
							<div class="bookButton">
								<button class="button line" type="button">Book</button>
							</div>
							<div class="more">
								<span>
									<i class="icons-more-verticle"></i>
								</span>
							</div>
						</div>
						<div class="bookingData internationalTabPadd1">
							<div class="companyInfo">&nbsp;</div>
							<div class="destinationTime">
								<div class="time">21:00</div>
								<div class="destination">BOM → KWI → JFK</div>
							</div>
							<div class="destinationTime">
								<div class="time">04:50 <i>25 Oct</i></div>
								<div class="destination"></div>
							</div>
							<div class="duration">
								<div class="durationTime">02h 30m</div>
								<div class="durationStop">1 stop</div>
							</div>
							<div class="only">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="price">
								
							</div>
							<div class="optionsDivInt">
								<div class="opNumberInt">+13</div>
								<div class="opTextInt">options at same price</div>
							</div>
						</div>
					</div>

					<div class="resultdetailbox">
	                	<div class="hiddenDataDiv">
		                	<!-- // start here -->
		                	<div class="leftData">
		                		<div class="internationalDestHd">Mumbai → New York  <i>18 Oct 2013</i></div>
				                <!-- // start here -->
				                <div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">BOM</span>
														<span class="time">06:20</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">08:35</span>
														<span class="place">AUH</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
											</div>
											<div class="layOver">
												<div class="left1"></div>
												<div class="center">Layover: 30m</div>
												<div class="right1"></div>
											</div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">AUH</span>
														<span class="time">09:05</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">09:55</span>
														<span class="place">JFK</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
												</div>
											</div>
											<div class="internationalDestHd">New York → Mumbai  <i>18 Oct 2013</i></div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">JFK</span>
														<span class="time">06:20</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">08:35</span>
														<span class="place">AUH</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
											</div>
											<div class="layOver">
												<div class="left1"></div>
												<div class="center">Layover: 30m</div>
												<div class="right1"></div>
											</div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">AUH</span>
														<span class="time">09:05</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">09:55</span>
														<span class="place">BOM</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
												</div>
											</div>
										</div>
		                			</div>
		                		</div>
		                		<!-- // end here -->
		                	</div>
		                	<!-- // end here -->
		                	
		                	<!-- // start here -->
		                	<div class="rightData">
		                		<div class="fareBreakUp">
									<div class="breakUpHd">Fare Breakup</div>
									<div class="baseFareDiv">
										<span>Base fare</span>
										<span>₹ 22,089.00</span>
									</div>
									<div class="taxFees">
										<span>Taxes &amp; fees</span>
										<span>₹ 33,502.00</span>
									</div>
									<div class="discountDiv">
										<span>Discounts</span>
										<span>(₹ 848.00)</span>
									</div>
									<div class="fareTotal">
										<span>Total</span>
										<span><i>₹</i> 29,874.00</span>
									</div>
									<div class="breakUpHd">REFUND POLICY</div>
									<div class="baseFareDiv">
										<span>Flight change fee</span>
										<span>₹ 10,000.00 / pax</span>
									</div>
									<div class="note">
										NOTE: Cancelation & Flight change fees are only indicative.
									</div>
								</div>
		                	</div>
		                	<!-- // end here -->
	                	</div>
	                	<div class="socialActivity">
	                		<span>Save to My Cart</span>
	                		<span>Pin</span>
	                		<span>Share</span>
	                		<span>Print</span>
	                	</div>
					</div>
				</div>
				<!-- // end here -->				
			</div>
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="bookingDataMain">
			<div class="flightBookingTabs normalBorder">
				<!-- // start here -->
				<div class="tabSeperator">
					<div class="resultboxdiv">
						<div class="bookingData internationalTabPadd">
							<div class="companyInfo">
								<div class="logo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="name">GoAir</div>
							</div>
							<div class="destinationTime">
								<div class="time">06:10</div>
								<div class="destination">BOM → KWI → JFK</div>
							</div>
							<div class="destinationTime">
								<div class="time">15:35</div>
								<div class="destination"></div>
							</div>
							<div class="duration">
								<div class="durationTime">19h 55m</div>
								<div class="durationStop">1 stop</div>
							</div>
							<div class="only">
								<div class="numberBox"><span>1</span></div>
								<div class="onlyText">Only</div>
							</div>
							<div class="icons">
								<span>
									<i class="icons-switch-airport"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-eye"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-short-lay"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-long-lay"></i>
								</span>
							</div>
							<div class="price">
								<span></span>
								<span class="inPrice"><i>₹</i> 5,548</span>
							</div>
							<div class="bookButton">
								<button class="button line" type="button">Book</button>
							</div>
							<div class="more">
								<span>
									<i class="icons-more-verticle"></i>
								</span>
							</div>
						</div>
						<div class="bookingData internationalTabPadd1">
							<div class="companyInfo">&nbsp;</div>
							<div class="destinationTime">
								<div class="time">21:00</div>
								<div class="destination">BOM → KWI → JFK</div>
							</div>
							<div class="destinationTime">
								<div class="time">04:50 <i>25 Oct</i></div>
								<div class="destination"></div>
							</div>
							<div class="duration">
								<div class="durationTime">02h 30m</div>
								<div class="durationStop">1 stop</div>
							</div>
							<div class="only">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="price">
								
							</div>
							<div class="optionsDivInt">
								<div class="opNumberInt">+13</div>
								<div class="opTextInt">options at same price</div>
							</div>
						</div>
					</div>

					<div class="resultdetailbox">
	                	<div class="hiddenDataDiv">
		                	<!-- // start here -->
		                	<div class="leftData">
		                		<div class="internationalDestHd">Mumbai → New York  <i>18 Oct 2013</i></div>
				                <!-- // start here -->
				                <div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">BOM</span>
														<span class="time">06:20</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">08:35</span>
														<span class="place">AUH</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
											</div>
											<div class="layOver">
												<div class="left1"></div>
												<div class="center">Layover: 30m</div>
												<div class="right1"></div>
											</div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">AUH</span>
														<span class="time">09:05</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">09:55</span>
														<span class="place">JFK</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
												</div>
											</div>
											<div class="internationalDestHd">New York → Mumbai  <i>18 Oct 2013</i></div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">JFK</span>
														<span class="time">06:20</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">08:35</span>
														<span class="place">AUH</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
											</div>
											<div class="layOver">
												<div class="left1"></div>
												<div class="center">Layover: 30m</div>
												<div class="right1"></div>
											</div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">AUH</span>
														<span class="time">09:05</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">09:55</span>
														<span class="place">BOM</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
												</div>
											</div>
										</div>
		                			</div>
		                		</div>
		                		<!-- // end here -->
		                	</div>
		                	<!-- // end here -->
		                	
		                	<!-- // start here -->
		                	<div class="rightData">
		                		<div class="fareBreakUp">
									<div class="breakUpHd">Fare Breakup</div>
									<div class="baseFareDiv">
										<span>Base fare</span>
										<span>₹ 22,089.00</span>
									</div>
									<div class="taxFees">
										<span>Taxes &amp; fees</span>
										<span>₹ 33,502.00</span>
									</div>
									<div class="discountDiv">
										<span>Discounts</span>
										<span>(₹ 848.00)</span>
									</div>
									<div class="fareTotal">
										<span>Total</span>
										<span><i>₹</i> 29,874.00</span>
									</div>
									<div class="breakUpHd">REFUND POLICY</div>
									<div class="baseFareDiv">
										<span>Flight change fee</span>
										<span>₹ 10,000.00 / pax</span>
									</div>
									<div class="note">
										NOTE: Cancelation & Flight change fees are only indicative.
									</div>
								</div>
		                	</div>
		                	<!-- // end here -->
	                	</div>
	                	<div class="socialActivity">
	                		<span>Save to My Cart</span>
	                		<span>Pin</span>
	                		<span>Share</span>
	                		<span>Print</span>
	                	</div>
					</div>
				</div>
				<!-- // end here -->				
			</div>
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="bookingDataMain">
			<div class="flightBookingTabs normalBorder">
				<!-- // start here -->
				<div class="tabSeperator">
					<div class="resultboxdiv">
						<div class="bookingData internationalTabPadd">
							<div class="companyInfo">
								<div class="logo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="name">GoAir</div>
							</div>
							<div class="destinationTime">
								<div class="time">06:10</div>
								<div class="destination">BOM → KWI → JFK</div>
							</div>
							<div class="destinationTime">
								<div class="time">15:35</div>
								<div class="destination"></div>
							</div>
							<div class="duration">
								<div class="durationTime">19h 55m</div>
								<div class="durationStop">1 stop</div>
							</div>
							<div class="only">
								<div class="numberBox"><span>1</span></div>
								<div class="onlyText">Only</div>
							</div>
							<div class="icons">
								<span>
									<i class="icons-switch-airport"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-eye"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-short-lay"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-long-lay"></i>
								</span>
							</div>
							<div class="price">
								<span></span>
								<span class="inPrice"><i>₹</i> 5,548</span>
							</div>
							<div class="bookButton">
								<button class="button line" type="button">Book</button>
							</div>
							<div class="more">
								<span>
									<i class="icons-more-verticle"></i>
								</span>
							</div>
						</div>
						<div class="bookingData internationalTabPadd1">
							<div class="companyInfo">&nbsp;</div>
							<div class="destinationTime">
								<div class="time">21:00</div>
								<div class="destination">BOM → KWI → JFK</div>
							</div>
							<div class="destinationTime">
								<div class="time">04:50 <i>25 Oct</i></div>
								<div class="destination"></div>
							</div>
							<div class="duration">
								<div class="durationTime">02h 30m</div>
								<div class="durationStop">1 stop</div>
							</div>
							<div class="only">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="price">
								
							</div>
							<div class="optionsDivInt">
								<div class="opNumberInt">+13</div>
								<div class="opTextInt">options at same price</div>
							</div>
						</div>
					</div>

					<div class="resultdetailbox">
	                	<div class="hiddenDataDiv">
		                	<!-- // start here -->
		                	<div class="leftData">
		                		<div class="internationalDestHd">Mumbai → New York  <i>18 Oct 2013</i></div>
				                <!-- // start here -->
				                <div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">BOM</span>
														<span class="time">06:20</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">08:35</span>
														<span class="place">AUH</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
											</div>
											<div class="layOver">
												<div class="left1"></div>
												<div class="center">Layover: 30m</div>
												<div class="right1"></div>
											</div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">AUH</span>
														<span class="time">09:05</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">09:55</span>
														<span class="place">JFK</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
												</div>
											</div>
											<div class="internationalDestHd">New York → Mumbai  <i>18 Oct 2013</i></div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">JFK</span>
														<span class="time">06:20</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">08:35</span>
														<span class="place">AUH</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
											</div>
											<div class="layOver">
												<div class="left1"></div>
												<div class="center">Layover: 30m</div>
												<div class="right1"></div>
											</div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">AUH</span>
														<span class="time">09:05</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">09:55</span>
														<span class="place">BOM</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
												</div>
											</div>
										</div>
		                			</div>
		                		</div>
		                		<!-- // end here -->
		                	</div>
		                	<!-- // end here -->
		                	
		                	<!-- // start here -->
		                	<div class="rightData">
		                		<div class="fareBreakUp">
									<div class="breakUpHd">Fare Breakup</div>
									<div class="baseFareDiv">
										<span>Base fare</span>
										<span>₹ 22,089.00</span>
									</div>
									<div class="taxFees">
										<span>Taxes &amp; fees</span>
										<span>₹ 33,502.00</span>
									</div>
									<div class="discountDiv">
										<span>Discounts</span>
										<span>(₹ 848.00)</span>
									</div>
									<div class="fareTotal">
										<span>Total</span>
										<span><i>₹</i> 29,874.00</span>
									</div>
									<div class="breakUpHd">REFUND POLICY</div>
									<div class="baseFareDiv">
										<span>Flight change fee</span>
										<span>₹ 10,000.00 / pax</span>
									</div>
									<div class="note">
										NOTE: Cancelation & Flight change fees are only indicative.
									</div>
								</div>
		                	</div>
		                	<!-- // end here -->
	                	</div>
	                	<div class="socialActivity">
	                		<span>Save to My Cart</span>
	                		<span>Pin</span>
	                		<span>Share</span>
	                		<span>Print</span>
	                	</div>
					</div>
				</div>
				<!-- // end here -->				
			</div>
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="bookingDataMain">
			<div class="flightBookingTabs normalBorder">
				<!-- // start here -->
				<div class="tabSeperator">
					<div class="resultboxdiv">
						<div class="bookingData internationalTabPadd">
							<div class="companyInfo">
								<div class="logo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="name">GoAir</div>
							</div>
							<div class="destinationTime">
								<div class="time">06:10</div>
								<div class="destination">BOM → KWI → JFK</div>
							</div>
							<div class="destinationTime">
								<div class="time">15:35</div>
								<div class="destination"></div>
							</div>
							<div class="duration">
								<div class="durationTime">19h 55m</div>
								<div class="durationStop">1 stop</div>
							</div>
							<div class="only">
								<div class="numberBox"><span>1</span></div>
								<div class="onlyText">Only</div>
							</div>
							<div class="icons">
								<span>
									<i class="icons-switch-airport"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-eye"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-short-lay"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-long-lay"></i>
								</span>
							</div>
							<div class="price">
								<span></span>
								<span class="inPrice"><i>₹</i> 5,548</span>
							</div>
							<div class="bookButton">
								<button class="button line" type="button">Book</button>
							</div>
							<div class="more">
								<span>
									<i class="icons-more-verticle"></i>
								</span>
							</div>
						</div>
						<div class="bookingData internationalTabPadd1">
							<div class="companyInfo">&nbsp;</div>
							<div class="destinationTime">
								<div class="time">21:00</div>
								<div class="destination">BOM → KWI → JFK</div>
							</div>
							<div class="destinationTime">
								<div class="time">04:50 <i>25 Oct</i></div>
								<div class="destination"></div>
							</div>
							<div class="duration">
								<div class="durationTime">02h 30m</div>
								<div class="durationStop">1 stop</div>
							</div>
							<div class="only">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="price">
								
							</div>
							<div class="optionsDivInt">
								<div class="opNumberInt">+13</div>
								<div class="opTextInt">options at same price</div>
							</div>
						</div>
					</div>

					<div class="resultdetailbox">
	                	<div class="hiddenDataDiv">
		                	<!-- // start here -->
		                	<div class="leftData">
		                		<div class="internationalDestHd">Mumbai → New York  <i>18 Oct 2013</i></div>
				                <!-- // start here -->
				                <div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">BOM</span>
														<span class="time">06:20</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">08:35</span>
														<span class="place">AUH</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
											</div>
											<div class="layOver">
												<div class="left1"></div>
												<div class="center">Layover: 30m</div>
												<div class="right1"></div>
											</div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">AUH</span>
														<span class="time">09:05</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">09:55</span>
														<span class="place">JFK</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
												</div>
											</div>
											<div class="internationalDestHd">New York → Mumbai  <i>18 Oct 2013</i></div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">JFK</span>
														<span class="time">06:20</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">08:35</span>
														<span class="place">AUH</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
											</div>
											<div class="layOver">
												<div class="left1"></div>
												<div class="center">Layover: 30m</div>
												<div class="right1"></div>
											</div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">AUH</span>
														<span class="time">09:05</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">09:55</span>
														<span class="place">BOM</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
												</div>
											</div>
										</div>
		                			</div>
		                		</div>
		                		<!-- // end here -->
		                	</div>
		                	<!-- // end here -->
		                	
		                	<!-- // start here -->
		                	<div class="rightData">
		                		<div class="fareBreakUp">
									<div class="breakUpHd">Fare Breakup</div>
									<div class="baseFareDiv">
										<span>Base fare</span>
										<span>₹ 22,089.00</span>
									</div>
									<div class="taxFees">
										<span>Taxes &amp; fees</span>
										<span>₹ 33,502.00</span>
									</div>
									<div class="discountDiv">
										<span>Discounts</span>
										<span>(₹ 848.00)</span>
									</div>
									<div class="fareTotal">
										<span>Total</span>
										<span><i>₹</i> 29,874.00</span>
									</div>
									<div class="breakUpHd">REFUND POLICY</div>
									<div class="baseFareDiv">
										<span>Flight change fee</span>
										<span>₹ 10,000.00 / pax</span>
									</div>
									<div class="note">
										NOTE: Cancelation & Flight change fees are only indicative.
									</div>
								</div>
		                	</div>
		                	<!-- // end here -->
	                	</div>
	                	<div class="socialActivity">
	                		<span>Save to My Cart</span>
	                		<span>Pin</span>
	                		<span>Share</span>
	                		<span>Print</span>
	                	</div>
					</div>
				</div>
				<!-- // end here -->				
			</div>
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="bookingDataMain">
			<div class="flightBookingTabs normalBorder">
				<!-- // start here -->
				<div class="tabSeperator">
					<div class="resultboxdiv">
						<div class="bookingData internationalTabPadd">
							<div class="companyInfo">
								<div class="logo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="name">GoAir</div>
							</div>
							<div class="destinationTime">
								<div class="time">06:10</div>
								<div class="destination">BOM → KWI → JFK</div>
							</div>
							<div class="destinationTime">
								<div class="time">15:35</div>
								<div class="destination"></div>
							</div>
							<div class="duration">
								<div class="durationTime">19h 55m</div>
								<div class="durationStop">1 stop</div>
							</div>
							<div class="only">
								<div class="numberBox"><span>1</span></div>
								<div class="onlyText">Only</div>
							</div>
							<div class="icons">
								<span>
									<i class="icons-switch-airport"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-eye"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-short-lay"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-long-lay"></i>
								</span>
							</div>
							<div class="price">
								<span></span>
								<span class="inPrice"><i>₹</i> 5,548</span>
							</div>
							<div class="bookButton">
								<button class="button line" type="button">Book</button>
							</div>
							<div class="more">
								<span>
									<i class="icons-more-verticle"></i>
								</span>
							</div>
						</div>
						<div class="bookingData internationalTabPadd1">
							<div class="companyInfo">&nbsp;</div>
							<div class="destinationTime">
								<div class="time">21:00</div>
								<div class="destination">BOM → KWI → JFK</div>
							</div>
							<div class="destinationTime">
								<div class="time">04:50 <i>25 Oct</i></div>
								<div class="destination"></div>
							</div>
							<div class="duration">
								<div class="durationTime">02h 30m</div>
								<div class="durationStop">1 stop</div>
							</div>
							<div class="only">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="price">
								
							</div>
							<div class="optionsDivInt">
								<div class="opNumberInt">+13</div>
								<div class="opTextInt">options at same price</div>
							</div>
						</div>
					</div>

					<div class="resultdetailbox">
	                	<div class="hiddenDataDiv">
		                	<!-- // start here -->
		                	<div class="leftData">
		                		<div class="internationalDestHd">Mumbai → New York  <i>18 Oct 2013</i></div>
				                <!-- // start here -->
				                <div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">BOM</span>
														<span class="time">06:20</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">08:35</span>
														<span class="place">AUH</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
											</div>
											<div class="layOver">
												<div class="left1"></div>
												<div class="center">Layover: 30m</div>
												<div class="right1"></div>
											</div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">AUH</span>
														<span class="time">09:05</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">09:55</span>
														<span class="place">JFK</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
												</div>
											</div>
											<div class="internationalDestHd">New York → Mumbai  <i>18 Oct 2013</i></div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">JFK</span>
														<span class="time">06:20</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">08:35</span>
														<span class="place">AUH</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
											</div>
											<div class="layOver">
												<div class="left1"></div>
												<div class="center">Layover: 30m</div>
												<div class="right1"></div>
											</div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">AUH</span>
														<span class="time">09:05</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">09:55</span>
														<span class="place">BOM</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
												</div>
											</div>
										</div>
		                			</div>
		                		</div>
		                		<!-- // end here -->
		                	</div>
		                	<!-- // end here -->
		                	
		                	<!-- // start here -->
		                	<div class="rightData">
		                		<div class="fareBreakUp">
									<div class="breakUpHd">Fare Breakup</div>
									<div class="baseFareDiv">
										<span>Base fare</span>
										<span>₹ 22,089.00</span>
									</div>
									<div class="taxFees">
										<span>Taxes &amp; fees</span>
										<span>₹ 33,502.00</span>
									</div>
									<div class="discountDiv">
										<span>Discounts</span>
										<span>(₹ 848.00)</span>
									</div>
									<div class="fareTotal">
										<span>Total</span>
										<span><i>₹</i> 29,874.00</span>
									</div>
									<div class="breakUpHd">REFUND POLICY</div>
									<div class="baseFareDiv">
										<span>Flight change fee</span>
										<span>₹ 10,000.00 / pax</span>
									</div>
									<div class="note">
										NOTE: Cancelation & Flight change fees are only indicative.
									</div>
								</div>
		                	</div>
		                	<!-- // end here -->
	                	</div>
	                	<div class="socialActivity">
	                		<span>Save to My Cart</span>
	                		<span>Pin</span>
	                		<span>Share</span>
	                		<span>Print</span>
	                	</div>
					</div>
				</div>
				<!-- // end here -->				
			</div>
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="bookingDataMain">
			<div class="flightBookingTabs normalBorder">
				<!-- // start here -->
				<div class="tabSeperator">
					<div class="resultboxdiv">
						<div class="bookingData internationalTabPadd">
							<div class="companyInfo">
								<div class="logo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="name">GoAir</div>
							</div>
							<div class="destinationTime">
								<div class="time">06:10</div>
								<div class="destination">BOM → KWI → JFK</div>
							</div>
							<div class="destinationTime">
								<div class="time">15:35</div>
								<div class="destination"></div>
							</div>
							<div class="duration">
								<div class="durationTime">19h 55m</div>
								<div class="durationStop">1 stop</div>
							</div>
							<div class="only">
								<div class="numberBox"><span>1</span></div>
								<div class="onlyText">Only</div>
							</div>
							<div class="icons">
								<span>
									<i class="icons-switch-airport"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-eye"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-short-lay"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-long-lay"></i>
								</span>
							</div>
							<div class="price">
								<span></span>
								<span class="inPrice"><i>₹</i> 5,548</span>
							</div>
							<div class="bookButton">
								<button class="button line" type="button">Book</button>
							</div>
							<div class="more">
								<span>
									<i class="icons-more-verticle"></i>
								</span>
							</div>
						</div>
						<div class="bookingData internationalTabPadd1">
							<div class="companyInfo">&nbsp;</div>
							<div class="destinationTime">
								<div class="time">21:00</div>
								<div class="destination">BOM → KWI → JFK</div>
							</div>
							<div class="destinationTime">
								<div class="time">04:50 <i>25 Oct</i></div>
								<div class="destination"></div>
							</div>
							<div class="duration">
								<div class="durationTime">02h 30m</div>
								<div class="durationStop">1 stop</div>
							</div>
							<div class="only">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="price">
								
							</div>
							<div class="optionsDivInt">
								<div class="opNumberInt">+13</div>
								<div class="opTextInt">options at same price</div>
							</div>
						</div>
					</div>

					<div class="resultdetailbox">
	                	<div class="hiddenDataDiv">
		                	<!-- // start here -->
		                	<div class="leftData">
		                		<div class="internationalDestHd">Mumbai → New York  <i>18 Oct 2013</i></div>
				                <!-- // start here -->
				                <div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">BOM</span>
														<span class="time">06:20</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">08:35</span>
														<span class="place">AUH</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
											</div>
											<div class="layOver">
												<div class="left1"></div>
												<div class="center">Layover: 30m</div>
												<div class="right1"></div>
											</div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">AUH</span>
														<span class="time">09:05</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">09:55</span>
														<span class="place">JFK</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
												</div>
											</div>
											<div class="internationalDestHd">New York → Mumbai  <i>18 Oct 2013</i></div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">JFK</span>
														<span class="time">06:20</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">08:35</span>
														<span class="place">AUH</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
											</div>
											<div class="layOver">
												<div class="left1"></div>
												<div class="center">Layover: 30m</div>
												<div class="right1"></div>
											</div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">AUH</span>
														<span class="time">09:05</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">09:55</span>
														<span class="place">BOM</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
												</div>
											</div>
										</div>
		                			</div>
		                		</div>
		                		<!-- // end here -->
		                	</div>
		                	<!-- // end here -->
		                	
		                	<!-- // start here -->
		                	<div class="rightData">
		                		<div class="fareBreakUp">
									<div class="breakUpHd">Fare Breakup</div>
									<div class="baseFareDiv">
										<span>Base fare</span>
										<span>₹ 22,089.00</span>
									</div>
									<div class="taxFees">
										<span>Taxes &amp; fees</span>
										<span>₹ 33,502.00</span>
									</div>
									<div class="discountDiv">
										<span>Discounts</span>
										<span>(₹ 848.00)</span>
									</div>
									<div class="fareTotal">
										<span>Total</span>
										<span><i>₹</i> 29,874.00</span>
									</div>
									<div class="breakUpHd">REFUND POLICY</div>
									<div class="baseFareDiv">
										<span>Flight change fee</span>
										<span>₹ 10,000.00 / pax</span>
									</div>
									<div class="note">
										NOTE: Cancelation & Flight change fees are only indicative.
									</div>
								</div>
		                	</div>
		                	<!-- // end here -->
	                	</div>
	                	<div class="socialActivity">
	                		<span>Save to My Cart</span>
	                		<span>Pin</span>
	                		<span>Share</span>
	                		<span>Print</span>
	                	</div>
					</div>
				</div>
				<!-- // end here -->				
			</div>
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="bookingDataMain">
			<div class="flightBookingTabs normalBorder">
				<!-- // start here -->
				<div class="tabSeperator">
					<div class="resultboxdiv">
						<div class="bookingData internationalTabPadd">
							<div class="companyInfo">
								<div class="logo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
								<div class="name">GoAir</div>
							</div>
							<div class="destinationTime">
								<div class="time">06:10</div>
								<div class="destination">BOM → KWI → JFK</div>
							</div>
							<div class="destinationTime">
								<div class="time">15:35</div>
								<div class="destination"></div>
							</div>
							<div class="duration">
								<div class="durationTime">19h 55m</div>
								<div class="durationStop">1 stop</div>
							</div>
							<div class="only">
								<div class="numberBox"><span>1</span></div>
								<div class="onlyText">Only</div>
							</div>
							<div class="icons">
								<span>
									<i class="icons-switch-airport"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-eye"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-short-lay"></i>
								</span>
							</div>
							<div class="icons">
								<span>
									<i class="icons-long-lay"></i>
								</span>
							</div>
							<div class="price">
								<span></span>
								<span class="inPrice"><i>₹</i> 5,548</span>
							</div>
							<div class="bookButton">
								<button class="button line" type="button">Book</button>
							</div>
							<div class="more">
								<span>
									<i class="icons-more-verticle"></i>
								</span>
							</div>
						</div>
						<div class="bookingData internationalTabPadd1">
							<div class="companyInfo">&nbsp;</div>
							<div class="destinationTime">
								<div class="time">21:00</div>
								<div class="destination">BOM → KWI → JFK</div>
							</div>
							<div class="destinationTime">
								<div class="time">04:50 <i>25 Oct</i></div>
								<div class="destination"></div>
							</div>
							<div class="duration">
								<div class="durationTime">02h 30m</div>
								<div class="durationStop">1 stop</div>
							</div>
							<div class="only">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="icons">
								
							</div>
							<div class="price">
								
							</div>
							<div class="optionsDivInt">
								<div class="opNumberInt">+13</div>
								<div class="opTextInt">options at same price</div>
							</div>
						</div>
					</div>

					<div class="resultdetailbox">
	                	<div class="hiddenDataDiv">
		                	<!-- // start here -->
		                	<div class="leftData">
		                		<div class="internationalDestHd">Mumbai → New York  <i>18 Oct 2013</i></div>
				                <!-- // start here -->
				                <div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">BOM</span>
														<span class="time">06:20</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">08:35</span>
														<span class="place">AUH</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
											</div>
											<div class="layOver">
												<div class="left1"></div>
												<div class="center">Layover: 30m</div>
												<div class="right1"></div>
											</div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">AUH</span>
														<span class="time">09:05</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">09:55</span>
														<span class="place">JFK</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
												</div>
											</div>
											<div class="internationalDestHd">New York → Mumbai  <i>18 Oct 2013</i></div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">JFK</span>
														<span class="time">06:20</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">08:35</span>
														<span class="place">AUH</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
											</div>
											<div class="layOver">
												<div class="left1"></div>
												<div class="center">Layover: 30m</div>
												<div class="right1"></div>
											</div>
										</div>
		                			</div>
		                			<div class="flightData">
		                				<div class="destinationDetails">
											<div class="destinationData">
												<div class="companyDetails1">
													<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
													<div class="nameClass">
														<div class="name">GoAir</div>
														<div class="class">S2-4061</div>
														<div class="class">Economy</div>
													</div>
													<div class="ratingBar">
														<div class="greenBar" style="width: 60%;"></div>
														<div class="yellowBar" style="width: 32%;"></div>
														<div class="redBar" style="width: 8%;"></div>
													</div>
												</div>
												<div class="destinationToDiv1">
													<div class="toName">
														<span class="icon"><i class="icons-airplane-takeoff"></i></span>
														<span class="place">AUH</span>
														<span class="time">09:05</span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
												</div>
												<div class="durationDiv">
													<div class="duration"><i class="icons-time"></i>2h 15 m</div>
													<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
												</div>
												<div class="destinationFromDiv">
													<div class="toName">
														<span class="time">09:55</span>
														<span class="place">BOM</span>
														<span class="icon"><i class="icons-airplane-landing"></i></span>
													</div>
													<div class="toDate">23 Oct 2013</div>
													<div class="toAddress">Netaji Subhas Chandra Bose Airport, Kolkata</div>
												</div>
											</div>
										</div>
		                			</div>
		                		</div>
		                		<!-- // end here -->
		                	</div>
		                	<!-- // end here -->
		                	
		                	<!-- // start here -->
		                	<div class="rightData">
		                		<div class="fareBreakUp">
									<div class="breakUpHd">Fare Breakup</div>
									<div class="baseFareDiv">
										<span>Base fare</span>
										<span>₹ 22,089.00</span>
									</div>
									<div class="taxFees">
										<span>Taxes &amp; fees</span>
										<span>₹ 33,502.00</span>
									</div>
									<div class="discountDiv">
										<span>Discounts</span>
										<span>(₹ 848.00)</span>
									</div>
									<div class="fareTotal">
										<span>Total</span>
										<span><i>₹</i> 29,874.00</span>
									</div>
									<div class="breakUpHd">REFUND POLICY</div>
									<div class="baseFareDiv">
										<span>Flight change fee</span>
										<span>₹ 10,000.00 / pax</span>
									</div>
									<div class="note">
										NOTE: Cancelation & Flight change fees are only indicative.
									</div>
								</div>
		                	</div>
		                	<!-- // end here -->
	                	</div>
	                	<div class="socialActivity">
	                		<span>Save to My Cart</span>
	                		<span>Pin</span>
	                		<span>Share</span>
	                		<span>Print</span>
	                	</div>
					</div>
				</div>
				<!-- // end here -->				
			</div>
		</div>
		<!-- // end here -->

	</div>
	<!-- // end here -->
</div>

