<include src='includes/header.html' data={} />

<div class="stepsHeading">Animation Coming Soon...</div>
<div class="containWrapper recieptsWrapPadding">
	<div class="flightsReceipt">
		<div class="flightRecCont">
			<div class="recLeftCont">
				<!-- // start here -->
				<div class="dataBox">
					<div class="paraDiv">
						<span><b class="bookid">Your booking id is 999999999999. All details will be sent to your email.</b></span>
						<span>Thank you for booking with Aertrip. Use the above booking id in all future communication with Aertrip.</span>
					</div>
					<div class="paraDiv">
						<span><i>IMPORTANT NOTE:</i> <b class="impNote">Your e-ticket will be delivered to your inbox within 2 (two) hours from now.<br> If you do not receive your e-ticket please check your junk / spam folder or email us @ talk@Aertrip.com</b></span>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="dataBox">
					<h3>Your itinerary</h3>
					<div class="locationHd">
						<span>Mumbai → New Delhi <i>| 3 Stops</i></span>
						<span>Details</span>
					</div>
					<div class="flightLocDetails">
						<div class="destinationDetails">
							<div class="destinationData">
								<div class="companyDetails">
									<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
									<div class="nameClass">
										<div class="name">GoAir</div>
										<div class="class">S2-4061</div>
										<div class="class">Economy</div>
									</div>
								</div>
								<div class="destinationToDiv">
									<div class="toName">
										<span class="icon"><i class="icons-airplane-takeoff"></i></span>
										<span class="place">BOM</span>
										<span class="time">06:20</span>
									</div>
									<div class="toDate">23 Oct 2013</div>
									<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
								</div>
								<div class="durationDiv">
									<div class="duration"><i class="icons-time"></i>2h 15 m</div>
									<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
								</div>
								<div class="destinationFromDiv">
									<div class="toName">
										<span class="time">08:35</span>
										<span class="place">BBI</span>
										<span class="icon"><i class="icons-airplane-landing"></i></span>
									</div>
									<div class="toDate">23 Oct 2013</div>
									<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
								</div>
							</div>
							<div class="layOver">
								<div class="left"></div>
								<div class="center">Layover: 30m</div>
								<div class="right"></div>
							</div>
						</div>

						<div class="destinationDetails">
							<div class="destinationData">
								<div class="companyDetails">
									<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
									<div class="nameClass">
										<div class="name">GoAir</div>
										<div class="class">S2-4061</div>
										<div class="class">Economy</div>
									</div>
								</div>
								<div class="destinationToDiv">
									<div class="toName">
										<span class="icon"><i class="icons-airplane-takeoff"></i></span>
										<span class="place">BOM</span>
										<span class="time">06:20</span>
									</div>
									<div class="toDate">23 Oct 2013</div>
									<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
								</div>
								<div class="durationDiv">
									<div class="duration"><i class="icons-time"></i>2h 15 m</div>
									<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
								</div>
								<div class="destinationFromDiv">
									<div class="toName">
										<span class="time">08:35</span>
										<span class="place">BBI</span>
										<span class="icon"><i class="icons-airplane-landing"></i></span>
									</div>
									<div class="toDate">23 Oct 2013</div>
									<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
								</div>
							</div>
							<div class="layOver">
								<div class="left"></div>
								<div class="center">Layover: 30m</div>
								<div class="right"></div>
							</div>
						</div>

						<div class="destinationDetails">
							<div class="destinationData">
								<div class="companyDetails">
									<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
									<div class="nameClass">
										<div class="name">GoAir</div>
										<div class="class">S2-4061</div>
										<div class="class">Economy</div>
									</div>
								</div>
								<div class="destinationToDiv">
									<div class="toName">
										<span class="icon"><i class="icons-airplane-takeoff"></i></span>
										<span class="place">BOM</span>
										<span class="time">06:20</span>
									</div>
									<div class="toDate">23 Oct 2013</div>
									<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
								</div>
								<div class="durationDiv">
									<div class="duration"><i class="icons-time"></i>2h 15 m</div>
									<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
								</div>
								<div class="destinationFromDiv">
									<div class="toName">
										<span class="time">08:35</span>
										<span class="place">BBI</span>
										<span class="icon"><i class="icons-airplane-landing"></i></span>
									</div>
									<div class="toDate">23 Oct 2013</div>
									<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
								</div>
							</div>
							<div class="layOver">
								<div class="left"></div>
								<div class="center">Layover: 30m</div>
								<div class="right"></div>
							</div>
						</div>

						<div class="destinationDetails">
							<div class="destinationData">
								<div class="companyDetails">
									<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
									<div class="nameClass">
										<div class="name">GoAir</div>
										<div class="class">S2-4061</div>
										<div class="class">Economy</div>
									</div>
								</div>
								<div class="destinationToDiv">
									<div class="toName">
										<span class="icon"><i class="icons-airplane-takeoff"></i></span>
										<span class="place">BOM</span>
										<span class="time">06:20</span>
									</div>
									<div class="toDate">23 Oct 2013</div>
									<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
								</div>
								<div class="durationDiv">
									<div class="duration"><i class="icons-time"></i>2h 15 m</div>
									<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
								</div>
								<div class="destinationFromDiv">
									<div class="toName">
										<span class="time">08:35</span>
										<span class="place">BBI</span>
										<span class="icon"><i class="icons-airplane-landing"></i></span>
									</div>
									<div class="toDate">23 Oct 2013</div>
									<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="dataBox">
					<h3>Travellers</h3>
					<div class="travellerBox">
						<ul>
							<li class="leftLi"><i class="icons-checkmark"></i>Mr. Thomas Frett</li>
							<li class="centerLi"><i class="icons-checkmark"></i>Itinerary emailed at thomasfrett@gmail.com</li>
							<li class="rightLi"><i class="icons-checkmark"></i>Already in travellers’ list</li>
							<li class="leftLi"><i class="icons-checkmark"></i>Mr. Thomas Frett</li>
							<li class="centerLi"><i class="icons-checkmark"></i>Email Itinerary</li>
							<li class="rightLi"><i class="icons-checkmark"></i>Added to travellers’ list </li>
						</ul>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="dataBox lastBox">
					<h3>Insurance</h3>
					<div class="insuranceBox"> 
						<ul>
							<li><i class="icons-checkmark"></i>This Trip has been insured by ICICI Lombard General Insurance. (Click here for policy details)</li>
						    <li><i class="icons-checkmark"></i>The policy will be emailed to you along with your e-ticket.</li>
							<li><i class="icons-checkmark"></i>For cancelation / reissue of this policy, please login to your Aertrip account > My Bookings</li>
						</ul>
					</div>
				</div>
				<!-- // end here -->
			</div>

			<div class="recRightCont">
				<div class="recCardDiv">
					<div class="paymentReceipt">
						<div class="paymentReceiptTop"></div>
						<div class="paymentReceiptMidData">
							<div class="container">
								<div class="detailsBox">
									<div class="cardTypeName">PAYMENT RECEIPT</div>
									<div class="outputDetials"><i class="icons-visa-receipts"></i></div>
								</div>
								<div class="detailsBox">
									<div class="nameDetials">CREDIT CARD</div>
									<div class="outputDetials">1234 xxxx xxxx 4321</div>
								</div>
								<div class="detailsBox">
									<div class="nameDetials">Total Charge</div>
									<div class="outputDetials">₹ 29,973.00</div>
								</div>
								<div class="detailsBox borderNone">
									<div class="nameDetials">FARE BREAK UP</div>
									<div class="outputDetials">
										<div class="fareBrkUp">
											<label>Base Fare</label>
											<span>₹ 22,089.00</span>
										</div>
										<div class="fareBrkUp">
											<label>Taxes & fees</label>
											<span>₹ 7,785.00</span>
										</div>
										<div class="fareBrkUp">
											<label>Discounts</label>
											<span>( ₹ 132.00 )</span>
										</div>
										<div class="fareBrkUp">
											<label>Insurance</label>
											<span>₹ 258.00</span>
										</div>
										<div class="fareBrkUp">
											<label>Convenience Fee</label>
											<span>₹ 630</span>
										</div>
										<div class="fareBrkUp">
											<label>Total</label>
											<span>₹ 30,630.00</span>
										</div>
									</div>
								</div>
								<div class="detailsBox borderNone">
									<div class="companyLogo"></div>
								</div>
							</div> 
						</div>
						<div class="paymentReceiptBottom"></div>
					</div>
				</div>
				<div class="printButton">
					<button class="button fill" type="button">Print your ticket & invoice</button>
				</div>
			</div>
		</div>
		<div class="bookCabBanner">
			<a href="#"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/cab/cabbanner.png" width="100%"></a>
		</div>
		<div class="recSocialCont">
			<!-- // start here -->
			<div class="leftSocial">
				<!-- // start here -->
				<div class="receiptHoverTabs">
					<div class="lineText">
						<h3>Let the know you’re coming</h3>
						<p>Go to social settings and connect to facebook<br> and change auto-post settings</p>
					</div>
					<div class="socailBoxFb">
						<div>
							<i class="icons-facebook-blue"></i>
							Share
						</div>
						<div>
							<i class="icons-facebook-white"></i>
							Share
						</div>
					</div>
					<div class="socailBoxTwitter">
						<div>
							<i class="icons-twitter-blue"></i>
							Tweet
						</div>
						<div>
							<i class="icons-twitter-white"></i>
							Tweet
						</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="rightSteps">
				<!-- // start here -->
				<div class="receiptHoverTabs">
					<div class="lineText1">
						<h3>Next Steps:</h3>
						<p>More in Delhi</p>
					</div>
					<div class="stepsBoxHotel">
						<div>
							<i class="icons-hotel-medium-green"></i>
							Hotel
						</div>
						<div>
							<i class="icons-hotel-medium-white"></i>
							Hotel
						</div>
					</div>
					<div class="stepsBoxActivity">
						<div>
							<i class="icons-activity-medium-green"></i>
							Activities
						</div>
						<div>
							<i class="icons-activity-medium-white"></i>
							Activities
						</div>
					</div>
					<div class="stepsBoxBus">
						<div>
							<i class="icons-bus-medium-green"></i>
							Car
						</div>
						<div>
							<i class="icons-bus-medium-white"></i>
							Car
						</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
			<!-- // end here -->
		</div>
	</div> 
</div>

