<include src='includes/header.html' data={} />

<!-- // start here -->
<div class="searchBarMain">
	<div class="searchBar">
		<!-- // start here -->
		<div class="formBar formBarTop" style="display: none;">
			<div class="formMultipleData">
				<div class="destinationData">
					<div class="destinationNumber">
						<ul class="pagination">
							<li class="selected">1</li>
						</ul>
					</div>
					<div class="destinationName">
						<span class="placeName">BOM → DEL</span>
						<span class="placeDate">13 Oct 2013</span>
					</div>
				</div>
				<div class="destinationData">
					<div class="destinationNumber">
						<ul class="pagination">
							<li>2</li>
						</ul>
					</div>
					<div class="destinationName">
						<span class="placeName">DEL → GOI</span>
						<span class="placeDate">16 Oct 2013</span>
					</div>
				</div>
				<div class="destinationData">
					<div class="destinationNumber">
						<ul class="pagination">
							<li>3</li>
						</ul>
					</div>
					<div class="destinationName">
						<span class="placeName">GOI → BLR</span>
						<span class="placeDate">19 Oct 2013</span>
					</div>
				</div>
				<div class="destinationData">
					<!-- // <div class="destinationNumber">
						//<ul class="pagination">
							//<li>4</li>
						//</ul>
					//</div>
					//<div class="destinationName">
						//<span class="placeName">BLR → DEL</span>
						//<span class="placeDate">21 Oct 2013</span>
					//</div> -->
				</div>
				<div class="destinationData1">
					<!-- // <div class="destinationNumber">
						//<ul class="pagination">
							//<li>5</li>
						//</ul>
					//</div>
					//<div class="destinationName">
						//<span class="placeName">DEL → BOM</span>
						//<span class="placeDate">16 Oct 2013</span>
					//</div> -->
				</div>
			</div>
			<div class="formGuest">
				<div class="adultOutput"><i class="icons-customer"></i>1 Adult</div>
			</div>
			<div class="formButton">
				<div class="buttonDiv">
					<button class="button fill" type="button">Modify Search</button>
				</div>
			</div>
		</div>
		<!-- // end here -->
		
		<div>
			<!-- // start here -->
			<div class="formBar formBarTop">
				<div class="left-single-search-bar">
					<div class="multiple-left-margin">
						<!-- // start here -->
						<div class="formLocation1">
							<div class="toWidth">
								<div class="tag textInput il ll">
									<div class="label-left">
										<i>1</i> <i><i class="icons-close-white"></i> </i>
									</div>
									<input type="text">
									<div class="icon-left">
										<i><i class="icons-location"></i> </i>
									</div>
								</div>
							</div>
							 <div class="interchange">
								<i class="icons-interchange"></i>
							</div>
							<div class="toWidth">
								<div class="tag textInput il ir">
									<input type="text" placeholder="Destination">
									<div class="icon-left">
										<i><i class="icons-destination"></i> </i>
									</div>
									<!-- // <div class="icon-right">
									 //<i><i class="icons-plus"></i> </i>
									//</div> -->
								</div>
							</div> 
						</div>
						<div class="singleCalender">
							<div class="calDiv">
								<div class="tag textInput il ir">
									<input type="text" placeholder="Departing">
									<div class="icon-left">
										<i><i class="icons-calendar"></i> </i>
									</div>
								</div>
							</div>
						</div>
						<!-- // edn here -->
					</div>

					<div>
						<!-- // start here -->
						<div class="formLocation1">
							<div class="toWidth">
								<div class="tag textInput il ll">
									<div class="label-left">
										<i>1</i> <i><i class="icons-close-white"></i> </i>
									</div>
									<input type="text">
									<div class="icon-left">
										<i><i class="icons-location"></i> </i>
									</div>
								</div>
							</div>
							 <div class="interchange">
								<i class="icons-interchange"></i>
							</div>
							<div class="toWidth">
								<div class="tag textInput il ir">
									<input type="text" placeholder="Destination">
									<div class="icon-left">
										<i><i class="icons-destination"></i> </i>
									</div>
									<!-- // <div class="icon-right">
									 //<i><i class="icons-plus"></i> </i>
									//</div> -->
								</div>
							</div> 
						</div>
						<div class="singleCalender">
							<div class="calDiv">
								<div class="tag textInput il ir">
									<input type="text" placeholder="Departing">
									<div class="icon-left">
										<i><i class="icons-calendar"></i> </i>
									</div>
								</div>
							</div>
						</div>
						<!-- // edn here -->
					</div>
				</div>

				<div class="right-single-search-bar">
					<div class="formGuest">
						<div class="dropdownDiv">
							<div class="tag textInput il dropdown flightPessengerCount" data-fieldtype="flightPessengerCount">
								<input type="text" placeholder="1 Adult">
								<div class="icon-left">
									<i><i class="icons-customer"></i> </i>
								</div>
								<ul class="ui-flightCountBox">
									<li><span class="label">Adults</span><span class="plus">+</span><span class="input"><input type="text" class="Adults" value="0"></span><span class="minus">-</span></li>
									<li><span class="label">Children</span><span class="plus">+</span><span class="input"><input type="text" class="Children" value="0"></span><span class="minus">-</span></li>
									<li><span class="label">Infants</span><span class="plus">+</span><span class="input"><input type="text" class="Infants" value="0"></span><span class="minus">-</span></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="formButton">
						<div class="buttonDiv">
							<button class="button fill" type="button">Modify Search</button>
						</div>
					</div>
				</div>
			</div>
			<!-- // end here -->
		</div>

		<div class="add-new-flight">+Add flight</div>

		<!-- // start here -->
		<div class="formBar formBarBot">
			<div class="textDiv">
				<div class="regularNav">
					<a href="#" title="">Regular</a>/
					<a href="#" title="">Multicity</a>
				</div>
				<div class="regularNav">
					<label>Class:</label>
					<span>Economy</span>
				</div>
				<div class="regularNav">
					<input type="checkbox" id="test2">
					<label for="test2">Non-stop flights only</label>
				</div>
				<div class="regularNav">
					<div class="recentSearches">
						<i class="icons-search"></i>Recent searches
					</div>
				</div>
				<div class="regularNav">
					<div class="showMore">
						Show More
					</div>
				</div>
			</div>
		</div>
		<!-- // end here -->
	</div>
</div>
<!-- // end here -->

<div class="containWrapper">
	<!-- // start here -->
	<div class="leftBar flights flightsReturns">
		<div class="flightFilter">
			<span><i>13 of 150</i> flights </span>
			<span>Clear filters</span>
		</div>

		<div class="paginationFilters">
			<ul class="pagination">
				<li class="selected">1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
				<li>5</li>
			</ul>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Price</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Stops</div>
			<div class="filterContain">
				<div class="stopsCheckbox">
					<input type="checkbox" id="test2"> <label for="test2">0</label>
				</div>
				<div class="stopsCheckbox">
					<input type="checkbox" id="test3"> <label for="test3">1</label>
				</div>
				<div class="stopsCheckbox">
					<input type="checkbox" id="test4"> <label for="test4">2</label>
				</div>
				<div class="stopsCheckbox">
					<input type="checkbox" id="test5"> <label for="test5">3+</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Fairs</div>
			<div class="filterContain">
				<div class="stopsCheckbox">
					<input type="checkbox" id="test6"> <label for="test6">Refundable Fares only</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Airlines <i>Select all</i></div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test7"> <label for="test7">Air India</label><i>Only</i>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test8"> <label for="test8">Go Air</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test9"> <label for="test9">IndiGo</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test10"> <label for="test10">Jet Airways</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test11"> <label for="test11">JetKonnect</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test12"> <label for="test12">SpiceJet</label>
				</div>
				<div class="aerlineCheckbox">
					<span>Show All</span>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Departure Time</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Landing Time</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Maximum Duration</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Airports</div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<span class="cityHd">Mumbai</span>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test17"> <label for="test17">BOM: Chhatrapati Shivaji…</label>
				</div>
			</div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<span class="cityHd">Delhi</span>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test18"> <label for="test18">DEL: Indira Gandhi Inter…</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Layover Airports <i>Select all</i></div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test19"> <label for="test19">Kolkata (CCU)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test20"> <label for="test20">Ahmedabad (AMD)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test21"> <label for="test21">Agra (AGR)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test22"> <label for="test22">Jaipur (JAI)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test23"> <label for="test23">Nagpur (NAG)</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test24"> <label for="test24">Pune (PNQ)</label>
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Layover Duration</div>
			<div class="filterContain">
				<div class="sliderMeter">
					<div class="fareRange"></div>
					<input type="text" readonly class="priceForm amount">
					<input type="text" readonly class="priceForm amount slider-sec-input">
				</div>
			</div>
		</div>

		<div class="commonFilters">
			<div class="filterHd active">Flight Quality <i>Select all</i></div>
			<div class="filterContain">
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test25"> <label for="test25">Remove Red-Eye Flights</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test26"> <label for="test26">Remove Change Terminal Flights</label>
				</div>
				<div class="aerlineCheckbox">
					<input type="checkbox" id="test27"> <label for="test27">Remove Change Airport Flights</label>
				</div>
			</div>
		</div>
	</div>
	<!-- // end here -->

	<!-- // start here -->
	<div class="rightBar flightsMultipleCity">
		
		<div class="MultipleFlightsMain">
			<!-- // start here -->
			<div class="flightsReturnDataTab nopadding">
					<div class="flightReturnsDetails">
						<div class="airlinesDetails">
							<div class="firstFlight doshedBorder">
								<div class="number">
									<ul class="pagination">
										<li class="selected">1</li>
									</ul>
								</div>
								<div class="companyLogo">
									<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png">
								</div>
								<div class="destinationText">
									<span class="stnsDetails"><i>BOM</i> 02:05 - 04:35 <i>DEL</i></span>
									<span class="stopsDuration">GoAir, 2 Stops, <i class="icons-time"></i> 2h 15 m</span>
								</div>
							</div>

							<div class="returnFlight doshedBorder">
								<div class="number">
									<ul class="pagination">
										<li>2</li>
									</ul>
								</div>
								<div class="companyLogo">
									<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png">
								</div>
								<div class="destinationText">
									<span class="stnsDetails"><i>BOM</i> 06:20 - 08:35 <i>DEL</i></span>
									<span class="stopsDuration">GoAir, 2 Stops, <i class="icons-time"></i> 2h 15 m</span>
								</div>
							</div>

							<div class="returnFlightLast doshedBorder">
								<div class="number">
									<ul class="pagination">
										<li>3</li>
									</ul>
								</div>
								<div class="companyLogo">
									<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png">
								</div>
								<div class="destinationText">
									<span class="stnsDetails"><i>BOM</i> 06:20 - 08:35 <i>DEL</i></span>
									<span class="stopsDuration">GoAir, 2 Stops, <i class="icons-time"></i> 2h 15 m</span>
								</div>
							</div>
						</div>
					</div>
			</div>
			<!-- // end here -->
			<!-- // start here -->
			<div class="flightsReturnDataTab nopadding">
				<div class="flightReturnsDetails">
					<div class="airlinesDetails">
						<div class="firstFlight">
							<div class="number">
								<ul class="pagination">
									<li>4</li>
								</ul>
							</div>
							<div class="companyLogo">
								<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png">
							</div>
							<div class="destinationText">
								<span class="stnsDetails"><i>BOM</i> 02:05 - 04:35 <i>DEL</i></span>
								<span class="stopsDuration">GoAir, 2 Stops, <i class="icons-time"></i> 2h 15 m</span>
							</div>
						</div>

						<div class="returnFlight">
							<div class="number">
								<ul class="pagination">
									<li>5</li>
								</ul>
							</div>
							<div class="companyLogo">
								<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png">
							</div>
							<div class="destinationText">
								<span class="stnsDetails"><i>BOM</i> 06:20 - 08:35 <i>DEL</i></span>
								<span class="stopsDuration">GoAir, 2 Stops, <i class="icons-time"></i> 2h 15 m</span>
							</div>
						</div>

						<div class="priceBookMore">
							<div class="priceTotal"><i>₹</i> 12,10,535</div>
							<div class="clickButton">
								<button class="button fill" type="button">Book</button>
							</div>
							<div class="returnMore">
								<i class="icons-more-verticle"></i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // end here -->
		</div>

		<div class="allFlightsTiming">
			<!-- // start here -->
			<div class="multiFlightsLeft">
				<div class="flightsHeadings">
					<div class="number">
						<ul class="pagination">
							<li class="selected">1</li>
						</ul>
					</div>
					<div class="depHd">Mumbai → Delhi</div>
					<div class="depDate">13 Oct 2013</div>
				</div>
				<div class="sectionBox">
					<div class="airlineHeading">Airline</div>
					<div class="departHeading">Depart</div>
					<div class="arriveHeading">Arrive</div>
					<div class="durationHeading">Duration</div>
					<div class="priceHeading">Price<i class="icons-green-up-arrow"></i></div>
				</div>
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab greenBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="multiFlightsCenter">
				<div class="flightsHeadings">
					<div class="number">
						<ul class="pagination">
							<li>2</li>
						</ul>
					</div>
					<div class="depHd">Delhi → Goa</div>
					<div class="depDate">13 Oct 2013</div>
				</div>
				<div class="sectionBox">
					<div class="airlineHeading">Airline</div>
					<div class="departHeading">Depart</div>
					<div class="arriveHeading">Arrive</div>
					<div class="durationHeading">Duration</div>
					<div class="priceHeading">Price<i class="icons-green-down-arrow"></i></div>
				</div>
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab greenBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
						<div class="departureLayover">
							<div class="layoverTime">Layover: 35m</div>
							<div class="layoverSep"></div>
						</div>
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="multiFlightsRight">
				<div class="flightsHeadings">
					<div class="number">
						<ul class="pagination">
							<li>3</li>
						</ul>
					</div>
					<div class="depHd">Goa → Bangalore</div>
					<div class="depDate">13 Oct 2013</div>
				</div>
				<div class="sectionBox">
					<div class="airlineHeading">Airline</div>
					<div class="departHeading">Depart</div>
					<div class="arriveHeading">Arrive</div>
					<div class="durationHeading">Duration</div>
					<div class="priceHeading">Price<i class="icons-green-up-arrow"></i></div>
				</div>
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab greenBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
						<div class="departureLayover">
							<div class="layoverTime">Layover: 35m</div>
							<div class="layoverSep"></div>
						</div>
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
						<div class="departureLayover">
							<div class="layoverTime">Layover: 35m</div>
							<div class="layoverSep"></div>
						</div>
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
				<!-- // start here -->
				<div class="departureDetailsBox">
					<div class="multipleFlightDepatureTab whiteBg">
						<div class="departureTabMain">
							<div class="flightsCompanyInfo">
								<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo-sm.png"></div>
							</div>
							<div class="flightsDepartTime">
								<div>02:05</div>
								<div class="companyName">GoAir</div>
							</div>
							<div class="flightsArriveTime">04:35</div>
							<div class="flightsDurationTime">
								<div class="durationTime">02h 30m</div>
								<div class="destination">BOM → DEL</div>
							</div>
							<div class="flightsPrice">
								<div class="discountPrice"><i>₹</i> 5,548</div>
								<div class="netPrice">₹ 6,548</div>
							</div>
						</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
			<!-- // end here -->
		</div>
		
	</div>
	<!-- // end here -->
</div>
