
<div class="header">
	<div class="logo">
		<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/logo.png">
	</div>
	<div class="navBar">
		<ul>
			<li class="activeTab"><i class="icons-flight flightT"></i>Flights</li>
			<li><i class="icons-flight-white flight"></i></li>

			<li class="activeTab none"><i class="icons-hotel flightT"></i>Hotels</li>
			<li><i class="icons-hotel-white hotel"></i></li>

			<li class="activeTab none"><i class="icons-activity flightT"></i>Activities</li>
			<li><i class="icons-activity-white activity"></i></li>

			<li class="activeTab none"><i class="icons-bus flightT"></i>Bus</li>
			<li><i class="icons-bus-white bus"></i></li>

			<li><i class="icons-more-white more"></i></li>
		</ul>
	</div>
	<div class="headerRightBar">
		<div class="country">IND</div>
		<div class="rsSign">₹</div>
		<div class="registerSignIn">
			<span>Register</span> /
			<span>SIGN IN</span>
		</div>
	</div>
</div>