<include src='includes/header.html' data={} />

<!-- // start here -->
<div class="searchBarMain">
	<div class="searchBar">
		<!-- // start here -->
		<div class="formBar formBarTop">
			<!-- // start here -->
			<div class="left-single-search-bar">
				<div class="formLocation">
					<div class="tag textInput il ir">
						<input type="text" placeholder="Origin">
						<div class="icon-left">
							<i><i class="icons-location"></i> </i>
						</div>
					</div>
				</div>
				<div class="formCalender">
					<div class="calDiv">
						<div class="tag textInput il ir">
							<input type="text" placeholder="Departing">
							<div class="icon-left">
								<i><i class="icons-cal-dep"></i> </i>
							</div>
						</div>
					</div>
					<div class="calDiv">
						<div class="tag textInput il ir">
							<input type="text" placeholder="Returning">
							<div class="icon-left">
								<i><i class="icons-cal-arr"></i> </i>
							</div>
							<div class="icon-right">
							 	<i><i class="icons-close"></i> </i>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="right-single-search-bar">
				<div class="formGuest">
					<div class="dropdownDiv">
						<div class="tag textInput il dropdown flightPessengerCount" data-fieldtype="flightPessengerCount">
							<input type="text" placeholder="1 Adult">
							<div class="icon-left">
								<i><i class="icons-home"></i> </i>
							</div>
							<ul class="ui-flightCountBox">
								<li><span class="label">Adults</span><span class="plus">+</span><span class="input"><input type="text" class="Adults" value="0"></span><span class="minus">-</span></li>
								<li><span class="label">Children</span><span class="plus">+</span><span class="input"><input type="text" class="Children" value="0"></span><span class="minus">-</span></li>
								<li><span class="label">Infants</span><span class="plus">+</span><span class="input"><input type="text" class="Infants" value="0"></span><span class="minus">-</span></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="formButton">
					<div class="buttonDiv">
						<button class="button fill" type="button">Search Hotel</button>
					</div>
				</div>
			</div>
			<!-- // end here -->
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="formBar formBarBot">
			<div class="textDiv">
				<div class="regularNav">
					<div class="recentSearches">
						<i class="icons-gold-star-sm"></i>Stars
					</div>
				</div>
				<div class="regularNav">
					<div class="recentSearches">
						<i class="icons-rating-full"></i>Trip Advisor ratings
					</div>
				</div>
				<div class="regularNav">
					<div class="recentSearches">
						<div class="price">
							<i class="icons-down-small-arrow"></i>Price per night
						</div>
					</div>
				</div>
				<div class="regularNav">
					<div class="recentSearches">
						<div class="show-only">
							<i class="icons-down-small-arrow"></i>Show only
						</div>
					</div>
				</div>
				<div class="regularNav">
					<div class="recentSearches">
						<div class="neighbour">
							<i class="icons-down-small-arrow"></i>Neighbourhood
						</div>
					</div>
				</div>
				<div class="regularNav">
					<div class="recentSearches">
						<div class="ammenities">
							<i class="icons-down-small-arrow"></i>Amenities
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- // end here -->
	</div>
</div>
<!-- // end here -->

<!-- // start here -->
<div class="containWrapper">
	<div class="hotel-result">

		<!-- // start here -->
		<div class="hotel-filters">
			<span>Sort by:</span>
			<span>Price</span>
			<span>Stars</span>
			<span>Reviews</span>
			<span>Best Sellers</span>
			<span>Name</span>
			<span>Distance</span>
		</div>
		<!-- // end here -->

		<!-- // start here -->
		<div class="hotel-leftBar">

			<!-- // start here -->
			<div class="hotel-search-box">
				<div class="tag textInput il">
					<input type="text" placeholder="Search hotel name or landmark">
					<div class="icon-left">
						<i><i class="icons-search"></i> </i>
					</div>
				</div>
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="hotel-types-box">
				<div class="photosListbox">
					<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/test.png" width="100%" height="100%">
					<figcaption>
						<div class="numberBox">1</div>
		               	<div class="hotelName">
							<div>
								<h3>ITC Grand Central</h3>
								<span>7<i class="icons-gold-star-sm"></i></span>
							</div>
							<div class="startIcon"></div>
						</div>
						<div class="hotelPrice">₹ 65,000</div>
					</figcaption>
				</div>
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="hotel-types-box">
				<div class="photosListbox">
					<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/test.png" width="100%" height="100%">
					<figcaption>
						<div class="numberBox">1</div>
		               	<div class="hotelName">
							<div>
								<h3>ITC Grand Central</h3>
								<span>7<i class="icons-gold-star-sm"></i></span>
							</div>
							<div class="startIcon"></div>
						</div>
						<div class="hotelPrice">₹ 65,000</div>
					</figcaption>
				</div>
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="hotel-types-box">
				<div class="photosListbox">
					<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/test.png" width="100%" height="100%">
					<figcaption>
						<div class="numberBox">1</div>
		               	<div class="hotelName">
							<div>
								<h3>ITC Grand Central</h3>
								<span>7<i class="icons-gold-star-sm"></i></span>
							</div>
							<div class="startIcon"></div>
						</div>
						<div class="hotelPrice">₹ 65,000</div>
					</figcaption>
				</div>
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="hotel-types-box">
				<div class="photosListbox">
					<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/test.png" width="100%" height="100%">
					<figcaption>
						<div class="numberBox">1</div>
		               	<div class="hotelName">
							<div>
								<h3>ITC Grand Central</h3>
								<span>7<i class="icons-gold-star-sm"></i></span>
							</div>
							<div class="startIcon"></div>
						</div>
						<div class="hotelPrice">₹ 65,000</div>
					</figcaption>
				</div>
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="hotel-types-box">
				<div class="photosListbox">
					<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/test.png" width="100%" height="100%">
					<figcaption>
						<div class="numberBox">1</div>
		               	<div class="hotelName">
							<div>
								<h3>ITC Grand Central</h3>
								<span>7<i class="icons-gold-star-sm"></i></span>
							</div>
							<div class="startIcon"></div>
						</div>
						<div class="hotelPrice">₹ 65,000</div>
					</figcaption>
				</div>
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="hotel-types-box">
				<div class="photosListbox">
					<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/test.png" width="100%" height="100%">
					<figcaption>
						<div class="numberBox">1</div>
		               	<div class="hotelName">
							<div>
								<h3>ITC Grand Central</h3>
								<span>7<i class="icons-gold-star-sm"></i></span>
							</div>
							<div class="startIcon"></div>
						</div>
						<div class="hotelPrice">₹ 65,000</div>
					</figcaption>
				</div>
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="hotel-types-box">
				<div class="photosListbox">
					<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/test.png" width="100%" height="100%">
					<figcaption>
						<div class="numberBox">1</div>
		               	<div class="hotelName">
							<div>
								<h3>ITC Grand Central</h3>
								<span>7<i class="icons-gold-star-sm"></i></span>
							</div>
							<div class="startIcon"></div>
						</div>
						<div class="hotelPrice">₹ 65,000</div>
					</figcaption>
				</div>
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="hotel-types-box">
				<div class="photosListbox">
					<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/test.png" width="100%" height="100%">
					<figcaption>
						<div class="numberBox">1</div>
		               	<div class="hotelName">
							<div>
								<h3>ITC Grand Central</h3>
								<span>7<i class="icons-gold-star-sm"></i></span>
							</div>
							<div class="startIcon"></div>
						</div>
						<div class="hotelPrice">₹ 65,000</div>
					</figcaption>
				</div>
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="hotel-types-box">
				<div class="photosListbox">
					<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/test.png" width="100%" height="100%">
					<figcaption>
						<div class="numberBox">1</div>
		               	<div class="hotelName">
							<div>
								<h3>ITC Grand Central</h3>
								<span>7<i class="icons-gold-star-sm"></i></span>
							</div>
							<div class="startIcon"></div>
						</div>
						<div class="hotelPrice">₹ 65,000</div>
					</figcaption>
				</div>
			</div>
			<!-- // end here -->

		</div>
		<!-- // end here -->




		<!-- // start here -->
		<div class="hotel-rightBar">
			<!--// <img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/map.png" width="100%" height="100%"> -->
		</div>
		<!-- // end here -->

	</div>
</div>
<!-- // end here -->


