<include src='includes/header.html' data={} />

<div class="stepsHeading">Animation Coming Soon...</div>
<div class="containWrapper recieptsWrapPadding">
	<div class="flightsReceipt">
		<div class="flightRecCont">
			<div class="recLeftCont">
				<!-- // start here -->
				<div class="dataBox">
					<div class="paraDiv">
						<span><b class="bookid">Your booking id is 999999999999. All details will be sent to your email.</b></span>
						<span>Thank you for booking with Aertrip. Use the above booking id in all future communication with Aertrip.</span>
					</div>
				</div>
				<!-- // end here -->

				<!-- // start here -->
				<div class="dataBox">
					<h3>Your itinerary</h3>
					<div class="hotel-name">
						<span>ITC Grand Central,</span>
						<span>Mumbai India</span>
						<span>| 4 rooms for 2 nights</span>
					</div>
					<!-- // start here -->
					<div class="hotel-info">
						<div class="checkout-info">
							<div class="check-in">
								<span>Check In</span>
								<span>13 Oct</span>
								<span>Mon, 2 pm</span>
							</div>
							<div class="hotel-nights"><i class="night-moon"></i>2 Nights</div>
							<div class="check-out">
								<span>Check In</span>
								<span>13 Oct</span>
								<span>Mon, 2 pm</span>
							</div>
						</div>

						<div class="hotel-address">
							287, Dr Babasaheb Ambedkar Rd,<br /> Parel, Mumbai, Maharashtra 400012, India
						</div>
					</div>
					<!-- // end here -->

					<!-- // start here -->
					<div class="hotel-room-info">
						<h4>Room 1</h4>
						<div class="room-ammenities">
							<div class="room-picture">
								<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/modules/hotel/rooms/room1.png">
							</div>
							<div class="room-amen-info">
								<div class="ament-hd">Quad (Family Suite)</div>
								<div class="ament-text-data">
									Includes: Breakfast. Rate Includes 24 Hrs WI-FI (512 kbps for 2 devices).<br /> Additional Tax of 17.42 Pct Applies.
								</div>
								<div class="ament-hd">Guest</div>
								<div class="ament-text-data">2 Adults, 1 Child</div>
							</div>
						</div>
					</div>
					<!-- // end here -->

					<!-- // start here -->
					<div class="hotel-room-info">
						<h4>Room 2</h4>
						<div class="room-ammenities">
							<div class="room-picture">
								<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/modules/hotel/rooms/room2.png">
							</div>
							<div class="room-amen-info">
								<div class="ament-hd">Triple (Family Suite)</div>
								<div class="ament-text-data">
								Includes: Breakfast. Rate Includes Buffet Breakfast At The Coffee Shop & 24 Hrs WI-FI<br />(512 kbps for 2 devices). Additional 17.42 Pct Tax Applies On Offered Room Rate & 12.5 Vat<br /> Applies On Buffet Breakfast.
								</div>
								<div class="ament-hd">Guest</div>
								<div class="ament-text-data">2 Adults, 1 Child</div>
							</div>
						</div>
					</div>
					<!-- // end here -->

					<!-- // start here -->
					<div class="hotel-room-info">
						<h4>Room 3</h4>
						<div class="room-ammenities">
							<div class="room-picture">
								<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/modules/hotel/rooms/room1.png">
							</div>
							<div class="room-amen-info">
								<div class="ament-hd">Triple (Family Suite)</div>
								<div class="ament-text-data">
									Includes: Breakfast. Rate Includes Buffet Breakfast At The Coffee Shop & 24 Hrs WI-FI<br />(512 kbps for 2 devices). Additional 17.42 Pct Tax Applies On Offered Room Rate & 12.5 Vat<br /> Applies On Buffet Breakfast.
								</div>
								<div class="ament-hd">Guest</div>
								<div class="ament-text-data">2 Adults, 1 Child</div>
							</div>
						</div>
					</div>
					<!-- // end here -->
				</div>
				<!-- // end here -->
			</div>

			<div class="recRightCont">
				<div class="recCardDiv">
					<div class="paymentReceipt">
						<div class="paymentReceiptTop"></div>
						<div class="paymentReceiptMidData">
							<div class="container">
								<div class="detailsBox">
									<div class="cardTypeName">PAYMENT RECEIPT</div>
									<div class="outputDetials"><i class="icons-visa-receipts"></i></div>
								</div>
								<div class="detailsBox">
									<div class="nameDetials">CREDIT CARD</div>
									<div class="outputDetials">1234 xxxx xxxx 4321</div>
								</div>
								<div class="detailsBox">
									<div class="nameDetials">Total Charge</div>
									<div class="outputDetials">₹ 70,000.00</div>
								</div>
								<div class="detailsBox borderNone">
									<div class="nameDetials">FARE BREAK UP</div>
									<div class="outputDetials">
										<div class="fareBrkUp">
											<label>Room Fare</label>
											<span>₹ 22,089.00</span>
										</div>

										<div class="fareBrkUp">
											<label>Taxes & fees</label>
											<span>₹ 7,785.00</span>
										</div>
										<div class="fareBrkUp">
											<label>Discounts</label>
											<span>( ₹ 132.00 )</span>
										</div>
										<div class="fareBrkUp">
											<label>Insurance</label>
											<span>₹ 258.00</span>
										</div>
										<div class="fareBrkUp">
											<label>Convenience Fee</label>
											<span>₹ 630</span>
										</div>
										<div class="fareBrkUp">
											<label>Total</label>
											<span>₹ 30,630.00</span>
										</div>
									</div>
								</div>
								<div class="detailsBox borderNone">
									<div class="companyLogo"></div>
								</div>
							</div> 
						</div>
						<div class="paymentReceiptBottom"></div>
					</div>
				</div>
				<div class="printButton">
					<button class="button fill" type="button">Print your ticket & invoice</button>
				</div>
			</div>
		</div>
		<div class="bookCabBanner">
			<a href="#"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/common/cab/cabbanner.png" width="100%"></a>
		</div>
		<div class="recSocialCont">
			<!-- // start here -->
			<div class="leftSocial">
				<!-- // start here -->
				<div class="receiptHoverTabs">
					<div class="lineText">
						<h3>Let the know youâ€™re coming</h3>
						<p>Go to social settings and connect to facebook<br> and change auto-post settings</p>
					</div>
					<div class="socailBoxFb">
						<div>
							<i class="icons-facebook-blue"></i>
							Share
						</div>
						<div>
							<i class="icons-facebook-white"></i>
							Share
						</div>
					</div>
					<div class="socailBoxTwitter">
						<div>
							<i class="icons-twitter-blue"></i>
							Tweet
						</div>
						<div>
							<i class="icons-twitter-white"></i>
							Tweet
						</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
			<!-- // end here -->

			<!-- // start here -->
			<div class="rightSteps">
				<!-- // start here -->
				<div class="receiptHoverTabs">
					<div class="lineText1">
						<h3>Next Steps:</h3>
						<p>More in Delhi</p>
					</div>
					<div class="stepsBoxHotel">
						<div>
							<i class="icons-hotel-medium-green"></i>
							Hotel
						</div>
						<div>
							<i class="icons-hotel-medium-white"></i>
							Hotel
						</div>
					</div>
					<div class="stepsBoxActivity">
						<div>
							<i class="icons-activity-medium-green"></i>
							Activities
						</div>
						<div>
							<i class="icons-activity-medium-white"></i>
							Activities
						</div>
					</div>
					<div class="stepsBoxBus">
						<div>
							<i class="icons-bus-medium-green"></i>
							Car
						</div>
						<div>
							<i class="icons-bus-medium-white"></i>
							Car
						</div>
					</div>
				</div>
				<!-- // end here -->
			</div>
			<!-- // end here -->
		</div>
	</div> 
</div>

