<include src='includes/header.html' data={} />

<div class="stepsHeading">Book in <i>five</i> simple steps</div>
<div class="containWrapper payCartWrapPadding">
	<div class="collTab">
		<ul class="accordion_example marginTab">
			<div class="roundedGreenBox">
				<li>
					<div class="headingBar tabHd">
						<span>1</span>
						<h3>Itinerary</h3> 
					</div>
				</li>
				<li>
					<div class="contentBar tabContent tabContentIten">
	                	<div class="iteneraryDetails">
	                		<!-- // start here -->
	                		<div class="leftData">
	                			<div class="locationHd">
	                				<h3>Mumbai → New Delhi</h3>
	                				<span>| 3 Stops</span>
	                			</div>
	                			<div class="flightData">
	                				<div class="destinationDetails">
										<div class="destinationData">
											<div class="companyDetails">
												<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
												<div class="nameClass">
													<div class="name">GoAir</div>
													<div class="class">S2-4061</div>
													<div class="class">Economy</div>
												</div>
											</div>
											<div class="destinationToDiv">
												<div class="toName">
													<span class="icon"><i class="icons-airplane-takeoff"></i></span>
													<span class="place">BOM</span>
													<span class="time">06:20</span>
												</div>
												<div class="toDate">23 Oct 2013</div>
												<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
											</div>
											<div class="durationDiv">
												<div class="duration"><i class="icons-time"></i>2h 15 m</div>
												<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
											</div>
											<div class="destinationFromDiv">
												<div class="toName">
													<span class="time">08:35</span>
													<span class="place">BBI</span>
													<span class="icon"><i class="icons-airplane-landing"></i></span>
												</div>
												<div class="toDate">23 Oct 2013</div>
												<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
											</div>
										</div>
										<div class="layOver">
											<div class="left"></div>
											<div class="center">Layover: 30m</div>
											<div class="right"></div>
										</div>
									</div>
	                			</div>
	                			<div class="flightData">
	                				<div class="destinationDetails">
										<div class="destinationData">
											<div class="companyDetails">
												<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
												<div class="nameClass">
													<div class="name">GoAir</div>
													<div class="class">S2-4061</div>
													<div class="class">Economy</div>
												</div>
											</div>
											<div class="destinationToDiv">
												<div class="toName">
													<span class="icon"><i class="icons-airplane-takeoff"></i></span>
													<span class="place">BOM</span>
													<span class="time">06:20</span>
												</div>
												<div class="toDate">23 Oct 2013</div>
												<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
											</div>
											<div class="durationDiv">
												<div class="duration"><i class="icons-time"></i>2h 15 m</div>
												<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
											</div>
											<div class="destinationFromDiv">
												<div class="toName">
													<span class="time">08:35</span>
													<span class="place">BBI</span>
													<span class="icon"><i class="icons-airplane-landing"></i></span>
												</div>
												<div class="toDate">23 Oct 2013</div>
												<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
											</div>
										</div>
										<div class="layOver">
											<div class="left"></div>
											<div class="center">Layover: 30m</div>
											<div class="right"></div>
										</div>
									</div>
	                			</div>
	                			<div class="flightData">
	                				<div class="destinationDetails">
										<div class="destinationData">
											<div class="companyDetails">
												<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
												<div class="nameClass">
													<div class="name">GoAir</div>
													<div class="class">S2-4061</div>
													<div class="class">Economy</div>
												</div>
											</div>
											<div class="destinationToDiv">
												<div class="toName">
													<span class="icon"><i class="icons-airplane-takeoff"></i></span>
													<span class="place">BOM</span>
													<span class="time">06:20</span>
												</div>
												<div class="toDate">23 Oct 2013</div>
												<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
											</div>
											<div class="durationDiv">
												<div class="duration"><i class="icons-time"></i>2h 15 m</div>
												<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
											</div>
											<div class="destinationFromDiv">
												<div class="toName">
													<span class="time">08:35</span>
													<span class="place">BBI</span>
													<span class="icon"><i class="icons-airplane-landing"></i></span>
												</div>
												<div class="toDate">23 Oct 2013</div>
												<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
											</div>
										</div>
										<div class="layOver">
											<div class="left"></div>
											<div class="center">Layover: 30m</div>
											<div class="right"></div>
										</div>
									</div>
	                			</div>
	                			<div class="flightData">
	                				<div class="destinationDetails">
										<div class="destinationData">
											<div class="companyDetails">
												<div class="companyLogo"><img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/goLogo.png"></div>
												<div class="nameClass">
													<div class="name">GoAir</div>
													<div class="class">S2-4061</div>
													<div class="class">Economy</div>
												</div>
											</div>
											<div class="destinationToDiv">
												<div class="toName">
													<span class="icon"><i class="icons-airplane-takeoff"></i></span>
													<span class="place">BOM</span>
													<span class="time">06:20</span>
												</div>
												<div class="toDate">23 Oct 2013</div>
												<div class="toAddress">Chhatrapati Shivaji Airport, Mumbai, Terminal 1B</div>
											</div>
											<div class="durationDiv">
												<div class="duration"><i class="icons-time"></i>2h 15 m</div>
												<div class="airbus"><i class="icons-air-element"></i>Airbus 330-300</div>
											</div>
											<div class="destinationFromDiv">
												<div class="toName">
													<span class="time">08:35</span>
													<span class="place">BBI</span>
													<span class="icon"><i class="icons-airplane-landing"></i></span>
												</div>
												<div class="toDate">23 Oct 2013</div>
												<div class="toAddress">Biju Patnaik, Bhubaneswar</div>
											</div>
										</div>
									</div>
	                			</div>
	                		</div>
	                		<!-- // end here -->
	                		<!-- // start here -->
	                		<div class="rightData">
	                			<div class="fareBreakUp">
									<div class="breakUpHd">Fare Breakup</div>
									<div class="baseFareDiv">
										<span>Base fare</span>
										<span>₹ 22,089.00</span>
									</div>
									<div class="taxFees">
										<span>Taxes & fees</span>
										<span>₹ 33,502.00</span>
									</div>
									<div class="otherFees">
										<span>Airline fuel charge</span>
										<span>₹ 3,502.00</span>
									</div>
									<div class="otherFees">
										<span>Psgr. Svc. Fee</span>
										<span>₹ 429.00</span>
									</div>
									<div class="otherFees">
										<span>Airport Dev. Fee</span>
										<span>₹ 2,588.00</span>
									</div>
									<div class="otherFees">
										<span>Govt. Service Tax</span>
										<span>₹ 1,266.00</span>
									</div>
									<div class="fareTotal">
										<span>Total</span>
										<span>₹ 29,874.00</span>
									</div>
									<div class="breakUpHd">REFUND POLICY</div>
									<div class="baseFareDiv">
										<span>Cancellation fee</span>
										<span>₹ 5,985.00 / pax</span>
									</div>
									<div class="baseFareDiv">
										<span>Flight change fee</span>
										<span>₹ 5,827.00 / pax</span>
									</div>
								</div>
	                		</div>
	                		<!-- // end here -->
	                	</div>
					</div>
				</li>
			</div>
		</ul>

		<ul class="accordion_example marginTab">
			<div class="roundedGrayBox">
				<li>
					<div class="headingBar tabHd">
						<span>2</span>
						<h3>Register / Sign In</h3> 
					</div>
				</li>
				<li>
					<div class="contentBar tabContent">
						<div class="logInDetails">
		                	<div class="logInDiv">
		                		<div class="formDiv">
			                		<label>EMAIL ADDRESS</label>
			                		<div class="tag textInput inputWidth">
										<input type="text">
									</div>
								</div>
								<div class="formDiv">
			                		<label>PASSWORD</label>
			                		<div class="tag textInput inputWidth">
										<input type="text">
									</div>
								</div>
								<div class="formDiv">
									<input type="checkbox" id="test1"> <label for="test1">Don’t have Aertrip account</label>
								</div>
								<div class="formDiv">
									<button class="button fill" type="button" disabled="disabled">Continue</button>
								</div>
		                	</div>
		                	<div class="orDiv">
		                		<div class="topSepration"></div>
		                		<div class="or">or</div>
		                		<div class="bottomSepration"></div>
		                	</div>
		                	<div class="socialDiv">
		                		<div>
		                			<div class="social-fb-buttons">
										<span class="social-icon"><i class="icons-facebook-white-sm"></i></span>
										<span class="social-text">Sign In with Facebook</span>
									</div>
		                		</div>
		                		<div>
		                			<div class="social-google-buttons">
										<span class="social-icon-google"><i class="icons-google-white-sm"></i></span>
										<span class="social-text">Sign In with Google+</span>
									</div>
		                		</div>
		                		<div>
		                			<div class="social-twitter-buttons">
										<span class="social-icon-twitter"><i class="icons-twitter-white-sm"></i></span>
										<span class="social-text">Sign In with twitter</span>
									</div>
		                		</div>
		                		<div>
		                			<div class="social-linkedin-buttons">
										<span class="social-icon-linkedin"><i class="icons-linkedin-white-sm"></i></span>
										<span class="social-text">Sign In with LinkedIn</span>
									</div>
		                		</div>
		                	</div>
		                </div>
					</div>
				</li>
			</div>
		</ul>

		<ul class="accordion_example marginTab">
			<div class="roundedGrayBox">
				<li>
					<div class="headingBar tabHd">
						<span>3</span>
						<h3>TRAVELLER DETAILS</h3> 
					</div>
				</li>
				<li>
					<div class="contentBar tabContent">
	                	<!-- // start here -->
	                	<div class="travellerDetails">
	                		<div class="adultBar">
	                			<label>Adult 1</label>
	                			<div class="formDiv">
		                			<div class="tag textInput selectWidth">
										<select>
											<option>Title</option>
											<option>Mr.</option>
											<option>Mrs.</option>
										</select>
									</div>
								</div>
								<div class="formDiv">
		                			<div class="tag textInput inputWidth">
										<input type="text" placeholder="First Name">
									</div>
								</div>
								<div class="formDiv">
		                			<div class="tag textInput inputWidth">
										<input type="text" placeholder="Last Name">
									</div>
								</div>
	                		</div>
	                		<div class="adultBar">
	                			<label>Adult 2</label>
	                			<div class="formDiv">
		                			<div class="tag textInput selectWidth">
										<select>
											<option>Title</option>
											<option>Mr.</option>
											<option>Mrs.</option>
										</select>
									</div>
								</div>
								<div class="formDiv">
		                			<div class="tag textInput inputWidth">
										<input type="text" placeholder="First Name">
									</div>
								</div>
								<div class="formDiv">
		                			<div class="tag textInput inputWidth">
										<input type="text" placeholder="Last Name">
									</div>
								</div>
	                		</div>
	                		<div class="adultBar">
	                			<label>Child 1</label>
	                			<div class="formDiv">
		                			<div class="tag textInput selectWidth">
										<select>
											<option>Title</option>
											<option>Mr.</option>
											<option>Mrs.</option>
										</select>
									</div>
								</div>
								<div class="formDiv">
		                			<div class="tag textInput inputWidth">
										<input type="text" placeholder="First Name">
									</div>
								</div>
								<div class="formDiv">
		                			<div class="tag textInput inputWidth">
										<input type="text" placeholder="Last Name">
									</div>
								</div>
	                		</div>
	                		<div class="adultBar adultBarDob">
	                			<label class="dob-label">Date of Birth</label>
	                			<div class="formDiv">
		                			<div class="tag textInput dayWidth">
										<select>
											<option>Day</option>
										</select>
									</div>
								</div>
								<div class="formDiv">
		                			<div class="tag textInput monthWidth">
										<select>
											<option>December</option>
										</select>
									</div>
								</div>
								<div class="formDiv">
		                			<div class="tag textInput yearWidth">
										<select>
											<option>Year</option>
										</select>
									</div>
								</div>
	                		</div>
	                		<div class="adultBar">
	                			<div class="frequentText">Add frequent flyer number & meal preference</div>
	                		</div>
	                	</div>
	                	<!-- // end here -->

	                	<!-- // start here -->
	                	<div class="travellerDetails">
	                		<div class="travellerContent">
	                			<div class="dobDiv withoutPadding">
	                				<label>Mobile Number</label>
	                				<div class="formDiv">
			                			<div class="tag textInput mobileWidth">
											<input type="text">
										</div>
										<div class="mobile-text">Your mobile number will be used only for sending flight related communication.</div>
									</div>
	                			</div>
	                		</div>
	                	</div>
	                	<!-- // end here -->

	                	<!-- // start here -->
	                	<div class="travellerDetails travellerDetailsLast">
	                		<div class="travellerContent">
	                			<div class="dobDiv withoutPadding">
	                				<div class="formDiv">
			                			<button class="button fill" type="button">Continue</button>
									</div>
	                			</div>
	                		</div>
	                	</div>
	                	<!-- // end here -->
					</div>
				</li>
			</div>
		</ul>

		<ul class="accordion_example marginTab">
			<div class="roundedGrayBox">
				<li>
					<div class="headingBar tabHd">
						<span>4</span>
						<h3>COUPON CODES / Insurance</h3> 
					</div>
				</li>
				<li>
					<div class="contentBar tabContent">
	                	<div class="couponsCode">
	                		<!-- // start here -->
	                		<div class="applyCoupons">
	                			<div class="formDiv">
		                			<div class="tag textInput couponCodeWidth">
										<input type="text" placeholder="Enter Coupon Code (If Any)">
									</div>
								</div>
								<div class="formDiv">
									<button class="button line" type="button">Apply Coupon</button>
								</div>
								<div class="orFollowings">Or select coupons from followings</div>
	                		</div>
	                		<!-- // end here -->

	                		<div class="typesCoupons">
	                			<!-- // start here -->
	                			<div class="saveCouponsDiv">
	                				<div>
		                				<div class="saveCouponWidget">
		                					<div class="codeCoupon">AERFLY20</div>
		                					<div class="saveRs">Save  <i>₹ 1000</i></div>
		                				</div>
	                				</div>
	                				<div class="saveCouponText">
		                				*20% off on minimum purchase of
										Rs. 999.0 Valid till 20th March, 2015
									</div>
	                			</div>
	                			<!-- // end here -->

	                			<!-- // start here -->
	                			<div class="saveCouponsDiv">
	                				<div>
		                				<div class="saveCouponWidget xWhite">
		                					<div class="codeCoupon">AERFLY25</div>
		                					<div class="saveRs">Save  <i>₹ 850</i></div>
		                				</div>
	                				</div>
	                				<div class="saveCouponText">
		                				*15% off on minimum purchase of
										Rs. 999.0 Valid till 20th March, 2015
									</div>
	                			</div>
	                			<!-- // end here -->

	                			<!-- // start here -->
	                			<div class="saveCouponsDiv">
	                				<div>
		                				<div class="saveCouponWidget xWhite">
		                					<div class="codeCoupon">AERFLY10</div>
		                					<div class="saveRs">Save  <i>₹ 600</i></div>
		                				</div>
	                				</div>
	                				<div class="saveCouponText">
		                				*10% off on minimum purchase of
										Rs. 999.0 Valid till 20th March, 2015
									</div>
	                			</div>
	                			<!-- // end here -->
	                		</div>

	                		<div class="typesCoupons">
								<input type="checkbox" id="test2"><label for="test2" class="bankLable">Insure this trip with ICICI Lombard Travel Insurance for 1 Child, 1 Adult, 1 Infant</label>
								<div class="perPassenger">₹ 99.00 per passenger <a href="#">(View benefits)</a></div>
	                		</div>

	                		<div class="typesCoupons">
								<div class="noteCoupon"><i>Note:</i> Your selection may change the total amount displayed to the right of your itinerary</div>
	                		</div>

	                		<div class="typesCoupons couponsCodeLast">
								<button class="button fill" type="button">Continue</button>
	                		</div>
	                	</div>
					</div>
				</li>
			</div>
		</ul>

		<ul class="accordion_example marginTab">
			<div class="roundedGrayBox">
				<li>
					<div class="headingBar tabHd">
						<span>5</span>
						<h3>SECURE PAYMENT</h3> 
					</div>
				</li>
				<li>
					<div class="contentBar tabContent">
	                	<div class="pay-full-payment">
	                		<div class="radio-div">
								<input type="radio" id="test22" checked="checked"> <label for="test22">Pay full amount</label>
	                		</div>
	                		<div class="amount-div">₹ 64,245</div>
	                	</div>
	                	<div class="pay-partial-amount">
	                		<div class="radio-div">
								<input type="radio" id="test23"> <label for="test23">Pay partial amount</label>
	                		</div>
	                		<div class="amount-form">
	                			<div class="tag textInput">
									<input type="text" placeholder="₹ 34,245">
								</div>
	                		</div>
	                	</div>
	                	<!-- // start here -->
	                	<div class="payment-opt-main-div">
	                		<ul class="tabs-titles">
							    <li class="current">Wallet</li>
							    <li>Net Banking</li>
							    <li>Stored Credit Card</li>
							    <li>Credit or Debit Card</li>
							    <li>AMEX ezeClick</li>
							    <li>Pay Pal</li>
							    <li>Cash Card</li>
							    <li>on EMI</li>
							</ul>
							<ul class="tabs-contents">
							    <!-- //wallet start here -->
							    <li>
							        <div class="wallet-tab">
							        	<!-- // start here -->
							        	<div class="wallet-amt-details">
							        		<div class="avl-credits">
							        			<div class="credits-text">Available Credits:</div>
							        			<div class="credits-amt"><i>₹</i> 45,202.00</div>
							        		</div>
							        		<div class="minus-eqaul-mark">
							        			<i class="icons-payment-minus"></i>
							        		</div>
							        		<div class="avl-credits">
							        			<div class="credits-text">Total Amount Payble</div>
							        			<div class="credits-amt"><i>₹</i> 29,874.00</div>
							        		</div>
							        		<div class="minus-eqaul-mark">
							        			<i class="icons-payment-equal"></i>
							        		</div>
							        		<div class="avl-credits">
							        			<div class="credits-text">Credit Left</div>
							        			<div class="credits-amt"><i>₹</i> 13,202.00</div>
							        		</div>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-tran-pass-details">
							        		<div class="tran-pass-text">Transaction Password</div>
							        		<div class="tran-pass-input">
								        		<div class="tag textInput">
													<input type="text" placeholder="Enter transaction password">
												</div>
							        		</div>
							        		<div class="question-circle">?</div>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-policy-label">
											<input type="checkbox" id="test25"> <label for="test25">I understand and agree to the rules and restrictions of this fare, <i>Booking policy</i> and the <i>Terms & Conditions</i> of Aertrip.</label>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-make-payment">
							        		<div class="payment-button">
							        			<button class="button fill" type="button">Make Payment</button>
							        		</div>
							        		<div class="payment-total">Total</div>
							        		<div class="payment-amt"><i>₹</i> 29,854.00</div>
							        	</div>
							        	<!-- // end here -->
							        </div>
							    </li>
							    <!-- //wallet end here -->

							    <!-- //netbanking start here -->
							    <li>
							    	<!-- // start here -->
							        <div class="conv-fee-tran">
							        	A convenience fee of 1.6% is applicable on this transaction.
							        </div>
							        <!-- // end here -->
							        <div class="wallet-tab">						        	
							        	<!-- // start here -->
							        	<div class="net-select-bank">
							        		<div class="tag textInput">
												<select>
													<option>Select Bank</option>
												</select>
											</div>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-policy-label">
											<input type="checkbox" id="test26"> <label for="test26">I understand and agree to the rules and restrictions of this fare, <i>Booking policy</i> and the <i>Terms & Conditions</i> of Aertrip.</label>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-make-payment">
							        		<div class="payment-button">
							        			<button class="button fill" type="button">Make Payment</button>
							        		</div>
							        		<div class="payment-total">Total</div>
							        		<div class="payment-amt"><i>₹</i> 29,854.00</div>
							        	</div>
							        	<!-- // end here -->
							        </div>
							    </li>
							    <!-- //netbanking end here -->

							    <!-- //store creditcard start here -->
							    <li>
							    	<!-- // start here -->
							        <div class="conv-fee-tran">
							        	A convenience fee of 1.6% is applicable on this transaction.
							        </div>
							        <!-- // end here -->
							        <div class="wallet-tab">						        	
							        	<!-- // start here -->
							        	<div class="store-card-box">
							        		<div class="card-radio-box">
												<input type="radio" id="test27" checked="checked"> <label for="test27"></label>
							        		</div>
							        		<div class="card-icon"><i class="icons-visa-lg"></i></div>
							        		<div class="card-num-name">
							        			<div class="card-number">4213-XXXXXXXX-1234</div>
							        			<div class="card-name">State Bank of India</div>
							        		</div>
							        		<div class="card-cvv-input">
							        			<div class="tag textInput">
													<input type="text" placeholder="CVV">
												</div>
							        		</div>
							        		<div class="card-delete">Delete</div>
							        	</div>
							        	<!-- // end here -->
							        	<!-- // start here -->
							        	<div class="store-card-box">
							        		<div class="card-radio-box">
												<input type="radio" id="test28"> <label for="test28"></label>
							        		</div>
							        		<div class="card-icon"><i class="icons-visa-lg"></i></div>
							        		<div class="card-num-name">
							        			<div class="card-number">4213-XXXXXXXX-1234</div>
							        			<div class="card-name">State Bank of India</div>
							        		</div>
							        		<div class="card-cvv-input">
							        			<div class="tag textInput">
													<input type="text" placeholder="CVV">
												</div>
							        		</div>
							        		<div class="card-delete">Delete</div>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-policy-label">
											<input type="checkbox" id="test29"> <label for="test29">I understand and agree to the rules and restrictions of this fare, <i>Booking policy</i> and the <i>Terms & Conditions</i> of Aertrip.</label>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-make-payment">
							        		<div class="payment-button">
							        			<button class="button fill" type="button">Make Payment</button>
							        		</div>
							        		<div class="payment-total">Total</div>
							        		<div class="payment-amt"><i>₹</i> 29,854.00</div>
							        	</div>
							        	<!-- // end here -->
							        </div>
							    </li>
							    <!-- //store creditcard end here -->

							    <!-- //credit debit card start here -->
							    <li>
							    	<!-- // start here -->
							        <div class="conv-fee-tran">
							        	A convenience fee of 1.6% is applicable on this transaction.
							        </div>
							        <!-- // end here -->
							        <div class="wallet-tab">						        	
							        	<!-- // start here -->
							        	<div class="card-details">
											<div class="cards-pay-details">
												<div class="cards-left-details">
													<h3>Payment Details</h3>
													<div class="card-num-det">
														<label>Card Number</label>
														<div class="tag textInput ir">
															<input type="text">
															<div class="icon-right visa-margin">
																<i><i class="icons-visa-sm"></i> </i>
															</div>
														</div>
													</div>
													<div class="card-other-det">
														<div class="name-on-card">
															<label>Name on card</label>
															<div class="tag textInput">
																<input type="text">
															</div>
														</div>
														<div class="card-expiry">
															<label>Expiry</label>
															<div class="tag textInput">
																<select>
																	<option>Month</option>
															</select>
															</div>
														</div>
														<div class="card-year">
															<label>&nbsp;</label>
															<div class="tag textInput">
																<select>
																	<option>Year</option>
															</select>
															</div>
														</div>
													</div>
												</div>
												<div class="cards-right-details">
													<div class="card-cvv">
														<label>CVV</label>
														<div class="tag textInput">
															<input type="text" placeholder="XXX">
														</div>
													</div>
												</div>
											</div>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="emi-light-text">
											<input type="checkbox" id="test30"> <label for="test30">Save card details and make it available as stored card in future, <i>more</i>.</label>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-policy-label">
											<input type="checkbox" id="test31"> <label for="test31">I understand and agree to the rules and restrictions of this fare, <i>Booking policy</i> and the <i>Terms & Conditions</i> of Aertrip.</label>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-make-payment">
							        		<div class="payment-button">
							        			<button class="button fill" type="button">Make Payment</button>
							        		</div>
							        		<div class="payment-total">Total</div>
							        		<div class="payment-amt"><i>₹</i> 29,854.00</div>
							        	</div>
							        	<!-- // end here -->
							        </div>
							    </li>
							    <!-- //credit debit card end here -->

							    <!-- //amex start here -->
							    <li>
							    	<!-- // start here -->
							        <div class="conv-fee-tran">
							        	A convenience fee of 4.1% is applicable on this transaction.
							        </div>
							        <!-- // end here -->
							        <div class="wallet-tab">
							        	<!-- // start here -->
							        	<div class="amex-ezeclick">
							        		<span><i class="icons-ezeclick"></i></span>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="amex-ezeclick">
							        		<h4>One ID is all it takes.</h4>
							        		<h4>Exclusively for American Express Card members.</h4>
							        		<p>
							        			ezeClick provides American Express Card members with an easy and fast method to complete their online purchase. All you need to do is create a unique ID - a one-time process. You will not have to refer to your card plastic for any future online transactions. You need to simply enter the ezeClick User ID. The transaction process is fast, safe and secure. Also, you get to Sync multiple American Express Cards to this account.
							        		</p>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-policy-label">
											<input type="checkbox" id="test32"> <label for="test32">I understand and agree to the rules and restrictions of this fare, <i>Booking policy</i> and the <i>Terms & Conditions</i> of Aertrip.</label>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-make-payment">
							        		<div class="payment-button">
							        			<button class="button fill" type="button">Make Payment</button>
							        		</div>
							        		<div class="payment-total">Total</div>
							        		<div class="payment-amt"><i>₹</i> 29,854.00</div>
							        	</div>
							        	<!-- // end here -->
							        </div>
							    </li>
							    <!-- //amex end here -->

							    <!-- //paypal start here -->
							    <li>
							    	<!-- // start here -->
							        <div class="conv-fee-tran">
							        	A convenience fee  of (3.9% of total amount + ₹ 20.00) is applicable on this transaction.
							        </div>
							        <!-- // end here -->
							        <div class="wallet-tab">
							        	<!-- // start here -->
							        	<div class="wallet-policy-label">
											<input type="checkbox" id="test35"> <label for="test35">I understand and agree to the rules and restrictions of this fare, <i>Booking policy</i> and the <i>Terms & Conditions</i> of Aertrip.</label>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-make-payment">
							        		<div class="payment-button">
							        			<i class="icons-paypal"></i>
							        		</div>
							        		<div class="payment-total">Total</div>
							        		<div class="payment-amt"><i>₹</i> 29,854.00</div>
							        	</div>
							        	<!-- // end here -->
							        </div>
							    </li>
							    <!-- //paypal end here -->

							    <!-- //cashcard start here -->
							    <li>
							    	<!-- // start here -->
							        <div class="conv-fee-tran">
							        	A convenience fee of 4.1% is applicable on this transaction.
							        </div>
							        <!-- // end here -->
							        <div class="wallet-tab">
							        	<!-- // start here -->
							        	<div class="amex-ezeclick">
							        		<p>
							        			* The selected payment option is non-encashable. The refund for an order purchased using the selected payment option will be done only to your Wallet.
							        		</p>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-policy-label">
											<input type="checkbox" id="test36"> <label for="test36">I understand and agree to the rules and restrictions of this fare, <i>Booking policy</i> and the <i>Terms & Conditions</i> of Aertrip.</label>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-make-payment">
							        		<div class="payment-button">
							        			<button class="button fill" type="button">Make Payment</button>
							        		</div>
							        		<div class="payment-total">Total</div>
							        		<div class="payment-amt"><i>₹</i> 29,854.00</div>
							        	</div>
							        	<!-- // end here -->
							        </div>
							    </li>
							    <!-- //cashcard end here -->
							    
							    <!-- //emi start here -->
							    <li>
							    	<!-- // start here -->
							        <div class="conv-fee-tran">
							        	A convenience fee of 1.0% is applicable on this transaction.
							        </div>
							        <!-- // end here -->
							        <div class="wallet-tab">
							        	<!-- // start here -->
							        	<div class="net-select-bank">
							        		<div class="tag textInput">
												<select>
													<option>Select Bank</option>
												</select>
											</div>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="emi-months">
							        		<div class="months-div">
							        			<span>3 Months</span>
												<span>₹ 7,413 / month</span>
							        		</div>
							        		<div class="months-div">
							        			<span>3 Months</span>
												<span>₹ 7,413 / month</span>
							        		</div>
							        		<div class="month-div-last">
							        			<span>3 Months</span>
												<span>₹ 7,413 / month</span>
							        		</div>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="card-details">
											<div class="cards-pay-details">
												<div class="cards-left-details">
													<h3>Payment Details</h3>
													<div class="card-num-det">
														<label>Card Number</label>
														<div class="tag textInput ir">
															<input type="text">
															<div class="icon-right visa-margin">
																<i><i class="icons-visa-sm"></i> </i>
															</div>
														</div>
													</div>
													<div class="card-other-det">
														<div class="name-on-card">
															<label>Name on card</label>
															<div class="tag textInput">
																<input type="text">
															</div>
														</div>
														<div class="card-expiry">
															<label>Expiry</label>
															<div class="tag textInput">
																<select>
																	<option>Month</option>
															</select>
															</div>
														</div>
														<div class="card-year">
															<label>&nbsp;</label>
															<div class="tag textInput">
																<select>
																	<option>Year</option>
															</select>
															</div>
														</div>
													</div>
												</div>
												<div class="cards-right-details">
													<div class="card-cvv">
														<label>CVV</label>
														<div class="tag textInput">
															<input type="text" placeholder="XXX">
														</div>
													</div>
												</div>
											</div>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="emi-light-text">
											<input type="checkbox" id="test33"> <label for="test33">Save card details and make it available as stored card in future, <i>more</i>.</label>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="emi-light-text">
											<b>Important:</b> An additional ₹ 450.00 (Bank Processing Fee) will be charged by the bank only on the first EMI.
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-policy-label">
											<input type="checkbox" id="test34"> <label for="test34">I understand and agree to the rules and restrictions of this fare, <i>Booking policy</i> and the <i>Terms & Conditions</i> of Aertrip.</label>
							        	</div>
							        	<!-- // end here -->

							        	<!-- // start here -->
							        	<div class="wallet-make-payment">
							        		<div class="payment-button">
							        			<button class="button fill" type="button">Make Payment</button>
							        		</div>
							        		<div class="payment-total">Total</div>
							        		<div class="payment-amt"><i>₹</i> 29,854.00</div>
							        	</div>
							        	<!-- // end here -->
							        </div>
							    </li>
							    <!-- //emi end here -->
							</ul>
	                	</div>
	                	<!-- // end here -->
					</div>
				</li>
			</div>
		</ul>
	</div>
</div>
