<h1>Sitemap</h1>

<ul>
     <li><a  href="#" target="_blank">Activities</a></li>
    <ul>
        <li><a href="activitiesHome/activities" target="_blank">activities Home</a></li>
        <li><a href="activitiesResult" target="_blank">activities Result</a></li>
        <li><a  href="activities-acknowledgement" target="_blank">Reciept</a></li>
        <li><a  href="activitiescart/activities" target="_blank">checkout</a></li>
    </ul>
    <li><a  href="flightHome/flights" target="_blank">Flight</a></li>
    <ul>
        <li><a  href="flights" target="_blank">flight search</a></li>
        <li><a  href="flightsinternational/flights" target="_blank">flightsinternational</a></li>
        <li><a  href="flightsinternationalmultiple/flights" target="_blank">flightsinternationalmultiple</a></li>
        <li><a  href="flightsMultiple/flights" target="_blank">flightsMultiple</a></li>
        <li><a  href="flightsreceipts/flights" target="_blank">flightsreceipts</a></li>
        <li><a  href="flightsReturns/flights" target="_blank">flightsReturns</a></li>
        <li><a  href="flightstimelineview/flights" target="_blank">flightstimelineview</a></li>
        <li><a  href="paymentCart/flights" target="_blank">paymentCart</a></li>
        <li><a  href="acknowledgement/flights" target="_blank">acknowledgement</a></li>
    </ul>
    <li><a href="bus" target="_blank">bus</a></li>
    <ul>
        <li><a href="busreturn/bus" target="_blank">busreturn</a></li>
    </ul>

    <li><a href="#">CAB</a></li>
    <ul>
        <li><a href="cabsreceipts/checkout" target="_blank">cabsreceipts</a></li>
    </ul>
    <li><a href="#">dashboard</a></li>
    <ul>
        <li><a href="dashboard" target="_blank">dashboard</a></li>
        <li><a href="booking-details" target="_blank">dashboard booking details</a></li>
    </ul>
    <li><a href="#">Hotel</a></li>
    <ul>
        <li><a href="hotelHome/hotel" target="_blank">Homepage</a></li>
        <li><a  href="hotel-acknowledgement" target="_blank">receipt</a></li>
        <li><a href="hotel-result" target="_blank">result</a></li>
    </ul>
    <li><a href="#">Support</a></li>
    <ul>
        <li><a href="supportCases" target="_blank">Supportcases</a></li>
    </ul>
    <li><a href="#">Resources</a></li>
    <ul>
        <li><a href="all-receipts-widgets" target="_blank">all-receipts-widgets</a></li>
        <li><a href="dropdowns" target="_blank">dropdowns</a></li>
        <li><a href="stylesheet_icon" target="_blank">stylesheet_icon</a></li>
        <li><a href="stylesheet" target="_blank">stylesheet</a></li>
        <li><a href="stylesheetWidgets" target="_blank">stylesheetWidgets</a></li>
    </ul>
</ul>