
<h1>Stylesheet</h1>

<h2>Icon</h2>
<div class="iconWrapper">
	<div class="icon icons-star-gray"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-night-moon"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-cloudy-weather"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-sunny-weather"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-cases"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-communities"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-gift-card"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-green-message"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-accounts"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-activity"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-activity-white"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-activity-medium-white"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-activity-medium-green"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-adult-disabled"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-adult-selected"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-adult"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-aero-right"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-aertrip"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-air-condition"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-air-element"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-airplane-landing"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-airplane-takeoff"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-american-lg"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-american-sm"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-beer"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-bus-female-chair-available-checked"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-bus-female-chair-available"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-bus-female-chair-booked"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-bus-female-sleeper-available"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-bus-female-sleeper-booked-checked"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-bus-female-sleeper-booked"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-bus-male-chair-available"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-bus-male-chair-available-checked"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-bus-male-chair-booked"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-bus-male-sleeper-available"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-bus-male-sleeper-booked"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-bus-male-sleeper-checked"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-bus-male-verticle-sleeper-available"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-bus-male-verticle-sleeper-booked"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-bus-male-verticle-sleeper-checked"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-bus"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-bus-white"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-bus-medium-white"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-bus-medium-green"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-business"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-cal-arr"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-cal-dep"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-calendar"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-check-in"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-checkbox-checked"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-checkbox"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-checkmark"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-child"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-children-disaled"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-children-selected"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-children"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-close"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-coffee"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-current-location"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-dashboard"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-domain"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-dumbbell"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-eye"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-facebook-blue"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-facebook-white"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-flight"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-flight-sm-light"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-flight-white"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-flight-medium-white"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-flight-medium-green"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-flight-medium-blue"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-flight-medium-gray"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-car-medium-green"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-car-medium-white"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-texi-medium-green"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-texi-medium-white"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-truck-medium-green"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-truck-medium-white"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-train-medium-green"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-train-medium-white"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-cruise-medium-green"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-cruise-medium-white"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-ferry-medium-green"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-ferry-medium-white"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-gold-star-lg"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-gold-star-sm"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-heart-lg"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-heart-sm"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-help"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-home"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-hotel"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-hotel-white"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-hotel-medium-green"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-hotel-medium-white"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-indicator"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-infant"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-info"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-info-gray"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-movable"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-attachment"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-note"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-upload"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-smile"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-interchange"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-left-aero"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-location"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-destination"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-long-lay"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-maestro-lg"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-maestro-sm"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-man"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-marker"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-mastercard-lg"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-mastercard-sm"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-message"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-more"></div>
</div>
 <div class="iconWrapper">
	<div class="icon icons-more-white"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-more-verticle"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-picture"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-plus"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-profile"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-radio-checked"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-radio"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-rating-full"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-ratings-blank"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-ratings-half"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-rute"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-search"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-settings"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-shop"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-short-lay"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-spoon"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-star-green"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-swimming"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-switch-airport"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-switch-plane"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-switch-terminal"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-time"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-twitter-blue"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-twitter-white"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-up"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-visa-lg"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-visa-sm"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-visa-receipts"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-wallet"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-wifi"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-woman"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-plus-light-gray"></div>
</div>
  <div class="iconWrapper">
	<div class="icon icons-minus-light-gray"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-payment-minus"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-payment-equal"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-close-white"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-Resize"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-customer"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-private"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-facebook-white-sm"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-google-white-sm"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-twitter-white-sm"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-linkedin-white-sm"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-goair"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-tabs-left-arrow"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-downArrow"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-bus-stering"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-green-up-arrow"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-green-down-arrow"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-white-up-arrow"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-white-down-arrow"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-down-small-arrow"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-right-down-small-arrow"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-up-small-arrow"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-clock"></div>
</div>
<div class="iconWrapper">
	<div class="icon icons-ezeclick"></div>
</div>
<div class="iconWrapper" style="margin: 0 0 0 140px;">
	<div class="icon icons-paypal"></div>
</div>