<h1>Stylesheet</h1>

	<h3>Text Input</h3>
	<div class="table">

		<div class="row">
			<div class="cell">Editable</div>
			<div class="cell">Disabled</div>
			<div class="cell">Focus</div>
			<div class="cell">error</div>
			<div class="cell">warning</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="tag textInput" style="width: 200px;">
					<input type="text">
				</div>
			</div>

			<div class="cell">
				<div class="tag textInput disabled" style="width: 200px;">
					<input type="text" readonly="readonly">
				</div>
			</div>

			<div class="cell">
				<div class="tag textInput focus" style="width: 200px;">
					<input type="text">
				</div>
			</div>
			<div class="cell">
				<div class="tag textInput error" style="width: 200px;">
					<input type="text">
				</div>
			</div>
			<div class="cell">
				<div class="tag textInput warning" style="width: 200px;">
					<input type="text">
				</div>
			</div>
		</div>


		<h3>TextArea</h3>
		<div class="row">
			<div class="cell">Editable</div>
			<div class="cell">Disabled</div>
			<div class="cell">Focus</div>
			<div class="cell">error</div>
			<div class="cell">warning</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="tag textInput" style="width: 200px;">
					<textarea ></textarea>
				</div>
			</div>

			<div class="cell">
				<div class="tag textInput disabled" style="width: 200px;">
					<textarea readonly="readonly" ></textarea>
				</div>
			</div>

			<div class="cell">
				<div class="tag textInput focus" style="width: 200px;">
					<textarea ></textarea>
				</div>
			</div>
			<div class="cell">
				<div class="tag textInput error" style="width: 200px;">
				<textarea ></textarea>
				</div>
			</div>
			<div class="cell">
				<div class="tag textInput warning" style="width: 200px;">
				<textarea ></textarea>
				</div>
			</div>
		</div>

		<h3>Number Input</h3>
		<div class="row">
			<div class="cell">
				<div>
					<input type="number" class="numberInput"  placeholder="1" name="quantity" min="1" max="5">
				</div>
			</div>
		</div>

		<h3>Select Menu</h3>
		<div class="row">
			<div class="cell">Editable</div>
			<div class="cell">Disabled</div>
			<div class="cell">Focus</div>
			<div class="cell">error</div>
			<div class="cell">warning</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="tag textInput" style="width: 200px;">
					<select>
						<option>Title</option>
						<option>Mr.</option>
						<option>Mrs.</option>
					</select>
				</div>
			</div>

			<div class="cell">
				<div class="tag textInput disabled" style="width: 200px;">
					<select disabled="disabled">
						<option>Title</option>
						<option>Mr.</option>
						<option>Mrs.</option>
					</select>
				</div>
			</div>

			<div class="cell">
				<div class="tag textInput focus" style="width: 200px;">
					<select>
						<option>Title</option>
						<option>Mr.</option>
						<option>Mrs.</option>
					</select>
				</div>
			</div>
			<div class="cell">
				<div class="tag textInput error" style="width: 200px;">
					<select>
						<option>Title</option>
						<option>Mr.</option>
						<option>Mrs.</option>
					</select>
				</div>
			</div>
			<div class="cell">
				<div class="tag textInput warning" style="width: 200px;">
					<select>
						<option>Title</option>
						<option>Mr.</option>
						<option>Mrs.</option>
					</select>
				</div>
			</div>
		</div>

		<h3>Input with icon</h3>
		<div class="row">
			<div class="cell">Left Icon</div>
			<div class="cell">Right Icon</div>
			<div class="cell">Two Icon</div>
			<div class="cell">Disabled</div>
			<div class="cell">Error</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="tag textInput il" style="width: 200px;">
					<input type="text">
					<div class="icon-left">
						<i><i class="icons-location"></i> </i>
					</div>
				</div>
			</div>

			<div class="cell">
				<div class="tag textInput ir" style="width: 200px;">
					<input type="text">
					<div class="icon-right">
						<i><i class="icons-plus"></i> </i>
					</div>
				</div>
			</div>

			<div class="cell">
				<div class="tag textInput il ir" style="width: 200px;">
					<input type="text">
					<div class="icon-left">
						<i><i class="icons-location"></i> </i>
					</div>
					<div class="icon-right">
						<i><i class="icons-plus"></i> </i>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="tag textInput disabled il ir" style="width: 200px;">
					<input type="text" readonly="readonly">
					<div class="icon-left">
						<i><i class="icons-location"></i> </i>
					</div>
					<div class="icon-right">
						<i><i class="icons-plus"></i> </i>
					</div>
				</div>
			</div>
			<div class="cell">
				<div class="tag textInput error il ir" style="width: 200px;">
					<input type="text">
					<div class="icon-left">
						<i><i class="icons-location"></i> </i>
					</div>
					<div class="icon-right">
						<i><i class="icons-plus"></i> </i>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="tag textInput il ll" style="width: 200px;">
					<div class="label-left">
						<i>4</i> <i><i class="icons-close-white"></i> </i>
					</div>
					<input type="text">
					<div class="icon-left">
						<i><i class="icons-location"></i> </i>
					</div>
				</div>
			</div>

			<div class="cell">
				<div class="tag textInput ir" style="width: 200px;">
					<input type="text">
					<div class="icon-right">
						<i><i class="icons-plus"></i> </i>
					</div>
				</div>
			</div>
		</div>


		<h3>Button Filled</h3>
		<div class="row">
			<div class="cell">Defalut</div>
			<div class="cell">Hover</div>
			<div class="cell">Disabled</div>
		</div>
		<div class="row">
			<div class="cell">
				<button class="button fill" type="button">Button</button>
			</div>
			<div class="cell">
				<button class="button fill hover" type="button">Button</button>
			</div>
			<div class="cell">
				<button class="button fill" type="button" disabled="disabled">Button</button>
			</div>
		</div>

		<h3>Button line</h3>
		<div class="row">
			<div class="cell">Defalut</div>
			<div class="cell">Hover</div>
			<div class="cell">Disabled</div>
		</div>
		<div class="row">
			<div class="cell">
				<button class="button line" type="button">Button</button>
			</div>
			<div class="cell">
				<button class="button line hover" type="button">Button</button>
			</div>
			<div class="cell">
				<button class="button line" type="button" disabled="disabled">Button</button>
			</div>
		</div>

		<h3>Button Text</h3>
		<div class="row">
			<div class="cell">Defalut</div>
			<div class="cell">Hover</div>
			<div class="cell">Disabled</div>
		</div>
		<div class="row">
			<div class="cell">
				<button class="button text" type="button">Button</button>
			</div>
			<div class="cell">
				<button class="button text hover" type="button">Button</button>
			</div>
			<div class="cell">
				<button class="button text" type="button" disabled="disabled">Button</button>
			</div>
		</div>

		<h3>Check Box</h3>
		<div class="row">
			<div class="cell">Not Selected</div>
			<div class="cell">Selected</div>
			<div class="cell">Disabled</div>
		</div>
		<div class="row">
			<div class="cell">
				<input type="checkbox" id="test1" /> <label for="test1">Checkbox</label>
			</div>
			<div class="cell">
				<input type="checkbox" id="test2" checked="checked" /> <label
					for="test2">Checked</label>
			</div>
			<div class="cell">
				<input type="checkbox" id="test3" checked="checked"
					disabled="disabled" /> <label for="test3">Green</label>
			</div>
		</div>

		<h3>Radio</h3>
		<div class="row">
			<div class="cell">Not Selected</div>
			<div class="cell">Selected</div>
			<div class="cell">Disabled</div>
		</div>
		<div class="row">
			<div class="cell">
				<input type="radio" id="test12" /> <label for="test12">Checkbox</label>
			</div>
			<div class="cell">
				<input type="radio" id="test22" checked="checked" /> <label
					for="test22">Checked</label>
			</div>
			<div class="cell">
				<input type="radio" id="test32" checked="checked"
					disabled="disabled" /> <label for="test32">Green</label>
			</div>
		</div>


		<h3>Map</h3>
		<div class="row">
			<div class="cell">Zoom in out</div>
			<div class="cell">Close</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="zoom-in-out">
					<div class="in"></div>
					<div class="out"></div>
				</div>
			</div>
			<div class="cell">
				<div class="resize"></div>
			</div>
		</div>

		<h3>Pagination</h3>
		<div class="row">
			<div class="cell">Normal State</div>
			<div class="cell">Selected</div>
		</div>
		<div class="row">
			<div class="cell">
				<ul class="pagination">
					<li>1</li>
					<li>2</li>
					<li>3</li>
				</ul>
			</div>
			<div class="cell">
				<ul class="pagination">
					<li>1</li>
					<li class="selected">2</li>
					<li>3</li>
				</ul>
			</div>
		</div>

		<h3>Photo</h3>
		<div class="row">
			<div class="cell">Normal State</div>
			<div class="cell">Hover State</div>
			<div class="cell">After Click State</div>
		</div>
		<div class="row">
			<div class="cell">
				<div style="width: 300px;">
					<div class="photosListbox">
						<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/test.png">
						<figcaption>
							<div class="numberBox">1</div>
		                	<div class="hotelName">
								<div>
									<h3>ITC Grand Central</h3>
									<span>7<i class="icons-gold-star-sm"></i></span>
								</div>
								<div class="startIcon"></div>
							</div>
							<div class="hotelPrice">₹ 65,000</div>
						</figcaption>
					</div>
				</div>
			</div>
			<div class="cell">
				<div style="width: 300px;">
					<div class="photosListbox">
						<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/test.png">
						<figcaption class="hover">
							<div class="numberBox">1</div>
		                	<div class="hotelName">
								<div>
									<h3>ITC Grand Central</h3>
									<span>7<i class="icons-gold-star-sm"></i></span>
								</div>
								<div class="startIcon"></div>
							</div>
							<div class="hotelPrice">₹ 65,000</div>
						</figcaption>
					</div>
				</div>
			</div>
			<div class="cell">
				<div style="width: 300px;">
					<div class="photosListbox">
						<img src="{{CONTEXT_PATH}}resources/scss/skin/blackNwhite/img/photos/test.png">
						<figcaption class="selected">
							<div class="numberBox">1</div>
		                	<div class="hotelName">
								<div>
									<h3>ITC Grand Central</h3>
									<span>7<i class="icons-gold-star-sm"></i></span>
								</div>
								<div class="startIcon"></div>
							</div>
							<div class="hotelPrice">₹ 65,000</div>
						</figcaption>
					</div>
				</div>
			</div>
		</div>


		<h3>Lebels</h3>
		<div class="row">
			<div class="cell">Next Day Arrival</div>
			<div class="cell">Non Refundable Fare</div>
			<div class="cell">Showing 20 best hotels</div>
			<div class="cell">Add On - In Proccess</div>
			<div class="cell">Cancellation - Succesful</div>
			<div class="cell">Rescheduling - Action Required</div>
		</div>
		<div class="row">
			<div class="cell">
				<div>
					<label class="labels arrivalLabelBg">Next Day Arrival</label>
				</div>
			</div>
			<div class="cell">
				<div>
					<label class="labels refundableLabelBg">Non Refundable Fare</label>
				</div>
			</div>
			<div class="cell">
				<div>
					<label class="labelsShowings showingLabelBg">Showing 20 best hotels</label>
				</div>
			</div>
			<div class="cell">
				<div>
					<label class="label-status inprocess-label-bg">Add On - In Proccess</label>
				</div>
			</div>
			<div class="cell">
				<div>
					<label class="label-status canc-succ-label-bg">Cancellation - Succesful</label>
				</div>
			</div>
			<div class="cell">
				<div>
					<label class="label-status reschedule-label-bg">Rescheduling - Action Required</label>
				</div>
			</div>
		</div>

		<h3>Backgrounds</h3>
		<div class="row">
			<div class="cell">
				<div class="squareWhiteBox">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="squareNormalWhiteBox">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="squareBlackBox">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="squareTransBox">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="squareGreenBox">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="roundedGreenBox">
					<div class="headingBar"></div>
					<div class="contentBar" style="height:75px;"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="roundedGrayBox">
					<div class="headingBar"></div>
					<div class="contentBar" style="height:75px;"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="roundedGreenBox">
					<div class="headingBar"></div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="roundedGrayBox">
					<div class="headingBar"></div>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="cell">Social</div>
		</div>
		<div class="row">
			<div class="cell">
				<div class="social-fb-buttons" style="width: 210px;">
					<span class="social-icon"><i class="icons-facebook-white-sm"></i></span>
					<span class="social-text">Login with Facebook</span>
				</div>
			</div>
			<div class="cell">
				<div class="social-google-buttons" style="width: 195px;">
					<span class="social-icon-google"><i class="icons-google-white-sm"></i></span>
					<span class="social-text">Login with Google</span>
				</div>
			</div>
			<div class="cell">
				<div class="social-twitter-buttons" style="width: 195px;">
					<span class="social-icon-twitter"><i class="icons-twitter-white-sm"></i></span>
					<span class="social-text">Sign In with twitter</span>
				</div>
			</div>
			<div class="cell">
				<div class="social-linkedin-buttons" style="width: 195px;">
					<span class="social-icon-linkedin"><i class="icons-linkedin-white-sm"></i></span>
					<span class="social-text">Sign In with LinkedIn</span>
				</div>
			</div>
		</div>


		<h3>Coupons</h3>
		<div class="row">
			<div class="cell">
				<div class="saveCouponWidget xWhite">
	                <div class="codeCoupon">AERFLY25</div>
	                <div class="saveRs">Save  <i>₹ 850</i></div>
	           	</div>
			</div>
		</div>

		<h3>Pinned</h3>
		<div class="row">
			<div class="cell">
				<div class="pinned pinnedBg">
					<div class="skew">Pinned</div>
				</div>
			</div>
			<div class="cell">
				<div class="pinned bestBg">
					<div class="skew">Best</div>
				</div>
			</div>
			<div class="cell">
				<div class="pinned cheapestBg">
					<div class="skew">Cheapest</div>
				</div>
			</div>
			<div class="cell">
				<div class="pinned fastestBg">
					<div class="skew">Fastest</div>
				</div>
			</div>
		</div>

	</div>
	<!-- //Table END -->
