<include src='includes/header.html' data={} />

<div class="support_Cases">

	<div class="supportTopmain">

    <div class="contact_text">
      
        <b>Contact Customer Support </b>
     
    </div>
    
      <div class="tab_here">
    
       <button>Cases</button>
       <button>Search</button>
    
    
    </div>
    
    
     </div>
 


	

	
	<div class="cases_header">
	
	    
	    Cases
	
	
	</div>
    
     <div class="body_content">
        
        
        <div class="online_book1">
           <div class="plain1">
               
               <img src="#" class="img-plane">
            
                  <i class="icon-plane"></i>
               
           </div>


           <div class="online_1">
                 Online
                 <br />
                Booking
           </div>
           
            <div class="mum_del1">
               <b> Mumbai-Delhi return </b>
              <div class="case_status1">
                    Case Status: 
                    <span style="color:#0FF">Open</span>
              </div>
             
             
            </div>
           
           <div class="req_time1">
               <div class="req_time_top1">
              Requested on Mon, 7 Oct2013 09:15
              </div>
       
              <div class="closed_req_time1">
              Closed on Mon, 7 Oct2013 09:15
              </div>
           </div>
           
           <div class="ravi_head1">
               <div class="head_img1">
                 
                  <img src="#" class="img-plane">
                  
                  <i class="icon-headphones"></i>
               </div>
               <div class="head_text1">
                  Ravi Shatry
               </div>
              
           </div>
           
           <div class="bar_code1">
             
               <img src="#">
           
           </div>
        </div>
        
     
        
        
             <div class="online_book2">
           <div class="plain2">
               
               <img src="#" class="img-plane">
            
                  <i class="icon-plane"></i>
               
           </div>


           <div class="online_2">
                 Online
                 <br />
                Booking
           </div>
           
            <div class="mum_del2">
               <b> Mumbai-Delhi return </b>
              <div class="case_status2">
                    Case Status: 
                    <span style="color:#0FF">Open</span>
              </div>
             
             
            </div>
           
           <div class="req_time2">
               <div class="req_time_top2">
              Requested on Mon, 7 Oct2013 09:15
              </div>
       
              <div class="closed_req_time2">
              Closed on Mon, 7 Oct2013 09:15
              </div>
           </div>
           
           <div class="ravi_head2">
               <div class="head_img2">
                 
                  <img src="#" class="img-plane">
                  
                  <i class="icon-headphones"></i>
               </div>
               <div class="head_text2">
                  Ravi Shatry
               </div>
              
           </div>
           
           <div class="bar_code2">
             
               <img src="#">
           
           </div>
        </div>
        
        
        
        
        
      
        <div class="leftCont">
        
           <div class="left_top">
           <div class="book_voucher">
           Associated booking ID: <b>R-1314-90032114125</b> 
          <br />
            Associated Voucher ID: <b>R-1314-90032114125</b> 
          </div>
          
          
         
          <div class="bvid_bookingStatus">
          <div class="bv_id">
          
           Reference case ID : <b>001293035968</b>
        </div>
           </br>
          <div class="booking_status">
            Task status: <b>Booked</b>
           
           </div>
           </div>
           
               <div class="head_phone">
                  <img src="#">
               </div>
           
           </div>
       
       
           
      
           
           <div class="full_phoneSupport">
              
              <div class="call_miss">
                
                <img src="#">
                 
              </div>
              
              <div class="miss_phone_text">
                 
                 <div class="phone_head">
                  <b>Phone Support</b>
                 </div>
                 
                 <div class="phone_num">
                 
                  +91 98-33-456676
                 
                 </div>
                 
                 
                
              
              </div>
              
               <div class="date_time">
                   <div class="date">
                     Mon, 7 Oct 2013 / 09:15
                   </div>
                   
                   <div class="time">
                     Duration:15 mins
                   
                   </div>
              
              </div>
              
           
 </div>
        
                 <div class="cancel_flight_book">
              
              <div class="msg_img">
                
                <img src="#">
                 
              </div>
              
              <div class="cancel_bar">
                 
                 <div class="cancel_head">
                 <b> Cancellation of flight booking </b>
                 </div>
                 
                 <div class="cancel_info">
                 
                  Contrary to popular belief, Lorem losum is not simply
                 
                 </div>
                 
                 
                
              
              </div>
              
               <div class="date_time_cancel">
                   <div class="cance_date">
                     Mon, 7 Oct 2013 / 09:15
                   </div>
                   
                   <div class="cancel_time">
                     
                     attach image
                     <img src="#"> 
                   
                   </div>
              
              </div>
              
           
 </div>
 
        
        
        
                 <div class="flight_search1">
              
              <div class="flight_icon1">
                
                <img src="#">
                 
              </div>
              
              <div class="flight_search_text1">
                 
                 <div class="flight_search_head1">
               
                 Fligth <b>-> Fligth Search</b>
               
                 </div>
                 
                 <div class="flight_info1">
                 
                 Contrary to popular belief, lorem lpsum is not simply
                 
                 </div>
                 
                 
                
              
              </div>
              
               <div class="flight_date_time1">
                   <div class="flight_date1">
                     Mon, 7 Oct 2013 / 09:15
                   </div>
                   
                   <div class="flight_time1">
                     Duration:15 mins
                   
                   </div>
              
              </div>
              
           
 </div>
        
        
        
        
        
       
        
        
        
        
                 <div class="flight_search2">
              
              <div class="flight_icon2">
                
                <img src="#">
                 
              </div>
              
              <div class="flight_search_text2">
                 
                 <div class="flight_search_head2">
               
                 Fligth <b> -> Fligth Search</b>
               
                 </div>
                 
                 <div class="flight_info2">
                 
                 Contrary to popular belief, lorem lpsum is not simply
                 
                 </div>
                 
                 
                
              
              </div>
              
               <div class="flight_date_time2">
                   <div class="flight_date2">
                     Mon, 7 Oct 2013 / 09:15
                   </div>
                   
                   <div class="flight_time2">
                     Duration:15 mins
                   
                   </div>
              
              </div>
              
           
 </div>
        
        
      
    
    
          <div class="cancel_flight_book2">
              
              <div class="msg_img2">
                
                <img src="#">
                 
              </div>
              
              <div class="cancel_bar2">
                 
                 <div class="cancel_head2">
                <b>  Cancellation of flight booking </b>
                 </div>
                 
                 <div class="cancel_info2">
                 
                  Contrary to popular belief, Lorem losum is not simply
                 
                 </div>
                 
                 
                
              
              </div>
              
               <div class="date_time_cancel2">
                   <div class="cance_date2">
                     Mon, 7 Oct 2013 / 09:15
                   </div>
                   
                   <div class="cancel_time2">
                     
                     attach icon
                     <img src="#"> 
                   
                   </div>
              
              </div>
              
           
 </div>
 
    
    
    
    
    
    
                 <div class="flight_search3">
              
              <div class="flight_icon3">
                
                <img src="#">
                 
              </div>
              
              <div class="flight_search_text3">
                 
                 <div class="flight_search_head3">
               
                 Fligth <b>-> Fligth Search</b>
               
                 </div>
                 
                 <div class="flight_info3">
                 
                 Contrary to popular belief, lorem lpsum is not simply
                 
                 </div>
                 
                 
                
              
              </div>
              
               <div class="flight_date_time3">
                   <div class="flight_date3">
                     Mon, 7 Oct 2013 / 09:15
                   </div>
                   
                   <div class="flight_time3">
                     Duration:15 mins
                   
                   </div>
              
              </div>
              
           
 </div>
        
        
    
    
   
    </div>
        
        
        <div class="right_Cont">
        
        <div class="right_top">
           <div class="subject_search">
          Subject: <b>Flight -> Flight Search</b> 
          <br />
            Other cases: <b> 001293035968, 001293035968</b> 
          </div>
          
          
         
          <div class="date_time_num">
          <div class="date_to_chat">
          
            Monday, 7 Oct 20013 /09:15 <b>001293035968</b>
        </div>
           <br>
          <div class="chat_with">
             by Vishwanath Anand
           
           </div>
           </div>
           
              
           
           </div>
        
        
        <div class="chat_work">
         
         <div class="user1">
             <div class="user1_text">
            
            
            some text chating going on between both the user
           
             This text is just a demo thanks 
       
             </div>
             
             <div class="user1_date">
               
                 11:10 AM
             
             </div>
             
             
             
         </div>
         
         <div class="user2">
         
             <div class="user2_text">
             some text chating going on between both the user
             this text is just a demo thanks    
             </div>
             
             <div class="user2_date">
               
                 11:10 AM
             
             </div>
         
         
         </div>
         
         
        <div class="user1_chat">
         
             <div class="user1_text1">
             some text chating going on between both the user
             this text is just a demo thanks    
             </div>
             
             <div class="user1_date1">
               
                 11:10 AM
             
             </div>
         
         
         
         
         </div>
         
         <div class="user2_chat">
         
                 <div class="user2_text2">
             some text chating going on between both the user
             this text is just a demo thanks    
             </div>
             
             <div class="user2_date2">
               
                 11:10 AM
             
             </div>
         
             
         
         </div>
         
         <div class="user1_chat1">
         
                  <div class="user1_text_more">
             some text chating going on between both the user
             this text is just a demo thanks    
             </div>
             
             <div class="user1_date_more">
               
                 11:10 AM
             
             </div>
         
         
         
         
         </div>
         
         
         <div class="user2_chat1">
             
                 <div class="user2_text_more">
             some text chating going on between both the user
             this text is just a demo thanks    
             </div>
             
             <div class="user2_date_more">
               
                 11:10 AM
             
             </div>
         
             
             
         
         </div>

        
        </div>
        
        
        
        
        </div>
        
     
     
     </div>
     
   
   



</div>



<div class="fotter">
   
   Aertrip demo  with the cases page fotter

</div>
