.border-box{
	@include box-sizing(border-box);
}
.cl, .cl:after{
	clear: both;
	content: ""
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.dn{
	display: none;
}
.table{
	display: table;
	.row{
		display: table-row;
		.cell{
			display: table-cell;
			padding: 5px;
			font-size:14px;
		}
	}
}


@-webkit-keyframes imageAnimation {0% {opacity: 0;-webkit-animation-timing-function: ease-in; -moz-animation-timing-function: ease-in; -ms-animation-timing-function: ease-in; -o-animation-timing-function: ease-in; animation-timing-function: ease-in;}8.333333333333332% {opacity: 1;}16.666666666666664% {opacity: 1;}21.666666666666664% {opacity: 0; -webkit-animation-timing-function: ease-out; -moz-animation-timing-function: ease-out; -ms-animation-timing-function: ease-out; -o-animation-timing-function: ease-out; animation-timing-function: ease-out;}100% { opacity: 0; }} @-moz-keyframes imageAnimation {0% {opacity: 0;-webkit-animation-timing-function: ease-in; -moz-animation-timing-function: ease-in; -ms-animation-timing-function: ease-in; -o-animation-timing-function: ease-in; animation-timing-function: ease-in;}8.333333333333332% {opacity: 1;}16.666666666666664% {opacity: 1;}21.666666666666664% {opacity: 0; -webkit-animation-timing-function: ease-out; -moz-animation-timing-function: ease-out; -ms-animation-timing-function: ease-out; -o-animation-timing-function: ease-out; animation-timing-function: ease-out;}100% { opacity: 0; }} @-ms-keyframes imageAnimation {0% {opacity: 0;-webkit-animation-timing-function: ease-in; -moz-animation-timing-function: ease-in; -ms-animation-timing-function: ease-in; -o-animation-timing-function: ease-in; animation-timing-function: ease-in;}8.333333333333332% {opacity: 1;}16.666666666666664% {opacity: 1;}21.666666666666664% {opacity: 0; -webkit-animation-timing-function: ease-out; -moz-animation-timing-function: ease-out; -ms-animation-timing-function: ease-out; -o-animation-timing-function: ease-out; animation-timing-function: ease-out;}100% { opacity: 0; }} @-o-keyframes imageAnimation {0% {opacity: 0;-webkit-animation-timing-function: ease-in; -moz-animation-timing-function: ease-in; -ms-animation-timing-function: ease-in; -o-animation-timing-function: ease-in; animation-timing-function: ease-in;}8.333333333333332% {opacity: 1;}16.666666666666664% {opacity: 1;}21.666666666666664% {opacity: 0; -webkit-animation-timing-function: ease-out; -moz-animation-timing-function: ease-out; -ms-animation-timing-function: ease-out; -o-animation-timing-function: ease-out; animation-timing-function: ease-out;}100% { opacity: 0; }} @keyframes imageAnimation {0% {opacity: 0;-webkit-animation-timing-function: ease-in; -moz-animation-timing-function: ease-in; -ms-animation-timing-function: ease-in; -o-animation-timing-function: ease-in; animation-timing-function: ease-in;}8.333333333333332% {opacity: 1;}16.666666666666664% {opacity: 1;}21.666666666666664% {opacity: 0; -webkit-animation-timing-function: ease-out; -moz-animation-timing-function: ease-out; -ms-animation-timing-function: ease-out; -o-animation-timing-function: ease-out; animation-timing-function: ease-out;}100% { opacity: 0; }} @-webkit-keyframes titleAnimation {0% { opacity: 0; }8.333333333333332% { opacity: 1; }16.666666666666664% { opacity: 1; }19.166666666666664% { opacity: 0;  }100% { opacity: 0; }} @-moz-keyframes titleAnimation {0% { opacity: 0; }8.333333333333332% { opacity: 1; }16.666666666666664% { opacity: 1; }19.166666666666664% { opacity: 0;  }100% { opacity: 0; }} @-ms-keyframes titleAnimation {0% { opacity: 0; }8.333333333333332% { opacity: 1; }16.666666666666664% { opacity: 1; }19.166666666666664% { opacity: 0;  }100% { opacity: 0; }} @-o-keyframes titleAnimation {0% { opacity: 0; }8.333333333333332% { opacity: 1; }16.666666666666664% { opacity: 1; }19.166666666666664% { opacity: 0;  }100% { opacity: 0; }} @keyframes titleAnimation {0% { opacity: 0; }8.333333333333332% { opacity: 1; }16.666666666666664% { opacity: 1; }19.166666666666664% { opacity: 0;  }100% { opacity: 0; }}.sm-slider,.sm-slider:after { margin: 0;padding: 0;list-style: none;position: fixed;width: 100%;height: 100%;top: 0px;left: 0px;z-index: -1; }.sm-slider:after { content: '';background: transparent url(scss/skin/blackNwhite/img/common/bgslider/pattern.png) repeat top left;z-index: 0; }.sm-slider li span { width: 100%;height: 100%;position: absolute;top: 0px;left: 0px;color: transparent;background-size: cover;background-position: 50% 50%;background-repeat: none;opacity: 0;z-index: 0;-webkit-animation: imageAnimation 36s linear infinite 0s; -moz-animation: imageAnimation 36s linear infinite 0s; -ms-animation: imageAnimation 36s linear infinite 0s; -o-animation: imageAnimation 36s linear infinite 0s; animation: imageAnimation 36s linear infinite 0s; }.sm-slider li div { z-index: 1000;position: absolute;bottom: 30px;left: 0px;width: 100%;text-align: center;opacity: 0;color: #fff;-webkit-animation: titleAnimation 36s linear infinite 0s; -moz-animation: titleAnimation 36s linear infinite 0s; -ms-animation: titleAnimation 36s linear infinite 0s; -o-animation: titleAnimation 36s linear infinite 0s; animation: titleAnimation 36s linear infinite 0s; }.sm-slider li:nth-child(1) span { background-image: url('scss/skin/blackNwhite/img/common/bgslider/1.jpg');-webkit-animation-delay: 0s; -moz-animation-delay: 0s; -ms-animation-delay: 0s; -o-animation-delay: 0s; animation-delay: 0s; } .sm-slider li:nth-child(1) div { -webkit-animation-delay: 0s; -moz-animation-delay: 0s; -ms-animation-delay: 0s; -o-animation-delay: 0s; animation-delay: 0s; }.sm-slider li:nth-child(2) span { background-image: url('scss/skin/blackNwhite/img/common/bgslider/2.jpg');-webkit-animation-delay: 6s; -moz-animation-delay: 6s; -ms-animation-delay: 6s; -o-animation-delay: 6s; animation-delay: 6s; } .sm-slider li:nth-child(2) div { -webkit-animation-delay: 6s; -moz-animation-delay: 6s; -ms-animation-delay: 6s; -o-animation-delay: 6s; animation-delay: 6s; }.sm-slider li:nth-child(3) span { background-image: url('scss/skin/blackNwhite/img/common/bgslider/3.jpg');-webkit-animation-delay: 12s; -moz-animation-delay: 12s; -ms-animation-delay: 12s; -o-animation-delay: 12s; animation-delay: 12s; } .sm-slider li:nth-child(3) div { -webkit-animation-delay: 12s; -moz-animation-delay: 12s; -ms-animation-delay: 12s; -o-animation-delay: 12s; animation-delay: 12s; }.sm-slider li:nth-child(4) span { background-image: url('scss/skin/blackNwhite/img/common/bgslider/4.jpg');-webkit-animation-delay: 18s; -moz-animation-delay: 18s; -ms-animation-delay: 18s; -o-animation-delay: 18s; animation-delay: 18s; } .sm-slider li:nth-child(4) div { -webkit-animation-delay: 18s; -moz-animation-delay: 18s; -ms-animation-delay: 18s; -o-animation-delay: 18s; animation-delay: 18s; }.sm-slider li:nth-child(5) span { background-image: url('scss/skin/blackNwhite/img/common/bgslider/5.jpg');-webkit-animation-delay: 24s; -moz-animation-delay: 24s; -ms-animation-delay: 24s; -o-animation-delay: 24s; animation-delay: 24s; } .sm-slider li:nth-child(5) div { -webkit-animation-delay: 24s; -moz-animation-delay: 24s; -ms-animation-delay: 24s; -o-animation-delay: 24s; animation-delay: 24s; }.sm-slider li:nth-child(6) span { background-image: url('scss/skin/blackNwhite/img/common/bgslider/6.jpg');-webkit-animation-delay: 30s; -moz-animation-delay: 30s; -ms-animation-delay: 30s; -o-animation-delay: 30s; animation-delay: 30s; } .sm-slider li:nth-child(6) div { -webkit-animation-delay: 30s; -moz-animation-delay: 30s; -ms-animation-delay: 30s; -o-animation-delay: 30s; animation-delay: 30s; }